﻿@{
    Layout = null;
    ViewBag.Title = "RealtimeLocation";
}
<div class="modal fade" id="modal_IsLocate_detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width:99%!important" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chi tiết điểm dừng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body" id="Show_map_Islocate_Realtime">

            </div>
        </div>
    </div>
</div>
