﻿@using LMS.Common.Helper;
@{
    //ViewData["Title"] = "Danh sách book nợ";
    var bookDebtStatus = Enum.GetValues(typeof(LMS.Common.Constants.BookDebt_Status)).Cast<LMS.Common.Constants.BookDebt_Status>();
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Danh sách book nợ
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <a href="#" class="btn btn-primary btn-elevate" title="Thêm mới" data-toggle="modal" data-target="#modal_create_bookDebt" onclick="bookDebt.ResetModal()">
                    <i class="la la-plus"></i>
                    Thêm mới
                </a>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right">
                <div class="row align-items-center">
                    <div class="col-xl-12 kt-margin-b-10">
                        <div class="row align-items-center">
                            <input type="hidden" id="ip-page-current" name="pagecurrent" value="1" />
                            <input type="hidden" id="ip-top" name="top" value="25" />
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile" style="max-width:250px">
                                <label><b>Tìm kiếm</b></label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="book nợ" id="txt_search">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile" style="max-width:200px">
                                <label><b>Trạng thái</b></label>
                                <select class="form-control kt-select2" id="sl_search_status">
                                    <option value="@((int)LMS.Common.Constants.StatusCommon.SearchAll)">
                                        Tất cả
                                    </option>
                                    @foreach (var item in bookDebtStatus)
                                    {
                                        <option value="@((int)item)">
                                            @item.GetDescription()
                                        </option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile  kt-margin-t-25">
                                <button href="#" class="btn btn-info m-btn kt-btn--air" id="btnGetData">
                                    <span>
                                        Tìm kiếm
                                    </span>
                                </button>

                                <div class="d-md-none kt--margin-bottom-10"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="grid">
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>

    </div>
</div>
<partial name="~/Views/BookDebt/partials/CreateBookDebt.cshtml" />
@section Scripts {
 <script src="~/scripts/bookdebt/bookDebt.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
@*<script src="~/assets/js/pages/crud/forms/widgets/bootstrap-switch.js" type="text/javascript"></script>*@
@*<script src="~/scripts/meta/bindSelect.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>*@
<script>
      $(document).ready(function () {
         bookDebt.Init();
         bookDebt.SaveBookDebt();
    });
</script>
}
