﻿
@{
    ViewData["Title"] = "Lịch sử nạp tiền";
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Danh sách nạp tiền
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right">
                <div class="row align-items-center">
                    <div class="col-xl-12 kt-margin-b-10">
                        <div class="row align-items-center">
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <b><label>Từ ngày</label></b>
                                <div class="input-group date">
                                    <input type="text" class="form-control kt_datepicker" id="fromDate" autocomplete="off" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <b><label>Đến ngày</label></b>
                                <div class="input-group date">
                                    <input type="text" class="form-control kt_datepicker" id="toDate" autocomplete="off" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <label><b>Tìm kiếm</b></label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Mã HĐ, SĐT, CMT, Họ tên" id="txt_search">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-5 kt-margin-b-20-tablet-and-mobile  kt-margin-t-25">
                                <button class="btn btn-info m-btn kt-btn--air" id="btnGetData">
                                    <span>
                                        Tìm kiếm
                                    </span>
                                </button>
                                <button type="button" class="btn btn-success" onclick="rechargeHistory.ExportExcelHistory()">
                                    <i class="fa fa-file-excel"></i> Lịch Sử Nạp Tiền
                                </button>
                                <button type="button" class="btn btn-success" onclick="rechargeHistory.ExportExcelPayment()">
                                    <i class="fa fa-file-excel"></i> Lịch Sử Gạch Nợ
                                </button>
                                <div class="d-md-none kt--margin-bottom-10"></div>
                                @*<button class="btn btn-success m-btn kt-btn--air" onclick="rechargeHistory.ImportExcelStatus()">
            <span>
                Import excel
            </span>
        </button>
        <input type="file" id="upload-status" name="upload-status" style="display:none" />*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="dv_result">

                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>

    </div>
</div>
@section Scripts {
    <script src="~/static/scripts/sms/rechargeHistory.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
}


