﻿@{
    ViewData["Title"] = "Quản lý cấp phê duyệt book nợ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__head kt-portlet__head--lg">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon">
                        <i class="kt-font-brand flaticon2-line-chart"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        Quản lý cấp phê duyệt book nợ
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-portlet__body">
                    <!--begin: Search Form -->
                    <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                        <form>
                            <div class="form-group m-form__group row ">
                                <label for="example-text-input" class="col-lg-3  col-form-label font-weight-bold">
                                    Danh sách quản lý cấp phê duyệt book nợ
                                </label>
                                <div class="col-lg-4">
                                    <div id="kt_tree_employees">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group m-form__group row ">
                                <label for="example-text-input" class="col-lg-3  col-form-label font-weight-bold">

                                </label>
                                <div class="col-lg-4">
                                    <button class="btn btn-info m-btn kt-btn--air" id="btn_save_setting">
                                        <span>
                                            Lưu
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--end: Search Form -->
                </div>
            </div>
        </div>
    </div>
</div>
<link href="~/assets/plugins/custom/jstree/jstree.bundle.css" rel="stylesheet" />
@section Scripts {
<script src="~/js/jstree.min.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/scripts/approvalLevelBookDebt/configurationApprovalLevelBookDebt.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/scripts/meta/bindSelect.min.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script>
    $(document).ready(function () {
        $(".kt-select2").select2({
            placeholder: "Chọn giá trị"
        });
        configurationApprovalLevelBookDebt.init();
    });
</script>
}
