﻿@using LMS.Common.Helper
@{
    ViewData["Title"] = "Compare dữ liệu";
    var lstType = Enum.GetValues(typeof(LMS.Common.Constants.LogCompare_MainType)).Cast<LMS.Common.Constants.LogCompare_MainType>();
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Báo cáo compare dữ liệu
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right">
                <div class="row align-items-center">
                    <div class="col-xl-12 kt-margin-b-10">
                        <div class="row align-items-center">
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <label><b>Ngày</b></label>
                                <div class="input-group ">
                                    <input type="text" class="form-control kt_datepicker" id="datetimeSearch" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile" style="max-width:200px">
                                <label><b>Loại</b></label>
                                <select class="form-control kt-select2" name="sl_search_MainType" id="sl_search_MainType">
                                    <option value="@((int)LMS.Common.Constants.StatusCommon.Default)">
                                        Tất cả
                                    </option>
                                    @foreach (var item in lstType)
                                    {
                                        <option value="@((int)item)">
                                            @item.GetDescription()
                                        </option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile  kt-margin-t-25">
                                <button href="#" class="btn btn-info m-btn kt-btn--air" id="btnGetData">
                                    <span>
                                        Tìm kiếm
                                    </span>
                                </button>
                                <div class="d-md-none kt--margin-bottom-10"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="dv_result_list">

                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/scripts/libraryConfig/datepicker-vi.js"></script>
    <script src="~/scripts/logCompare/summaryCompare.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    <script>
        $(document).ready(function () {
            summaryCompare.Init();
        });
    </script>
}
