﻿
@{
    ViewData["Title"] = "Phân quyền group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Phân quyền nhóm
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                <form>
                    <div class="form-group m-form__group row">
                        <label for="example-text-input" class="col-lg-3 col-form-label font-weight-bold">
                           Nhóm <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-4">
                            <select class="form-control kt-select2" id="sl_search_group" name="sl_search_group" style="width:100%"></select>
                        </div>
                    </div>
                    <div class="form-group m-form__group row ">
                        <label for="example-text-input" class="col-lg-3  col-form-label font-weight-bold">
                            Chức năng
                        </label>
                        <div class="col-lg-4">
                            <div id="kt_tree_permission">

                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--end: Search Form -->
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/scripts/groupPermission/permission.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    <script src="~/js/jstree.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            groupPermission.init();
        });
    </script>
}
<style>
    .jstree-default .jstree-icon {
        color: #ffb822 !important;
    }
</style>

