﻿@using LMS.Common.Helper
@{
    Layout = null;
    var lstPosition = Enum.GetValues(typeof(LMS.Common.Constants.UserDepartment_PositionID)).Cast<LMS.Common.Constants.UserDepartment_PositionID>();
}
<style>
 .select2-results__option:hover {
    background: #8c98d5!important;
    color: #fff!important;
}
</style>

<div class="modal fade" id="modal_add_edit" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="headerId"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="kt-form kt-form--label-right">
                <div class="modal-body">
                    <input type="hidden" id="hdd_Id" value="0" />
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                            User Name
                        </label>
                        <div class="col-lg-9 col-sm-8 col-8">
                            <input class="form-control" type="text" id="UserName" name="UserName" placeholder="Nhập User Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                            Password
                        </label>
                        <div class="col-lg-9 col-sm-8 col-8">
                            <input class="form-control" type="password" id="Password" name="Password" placeholder="Nhập Password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                            Họ và tên
                        </label>
                        <div class="col-lg-9 col-sm-8 col-8">
                            <input class="form-control" type="text" id="FullName" name="FullName" placeholder="Nhập họ và tên">
                        </div>
                    </div>
                    <div class="form-group row">
                    </div>
                    <div id="departmentGroup_repeat">
                        <div data-repeater-list="" id="dv_department_group">
                            <div class="row form-group" data-repeater-item>
                                <label class="col-form-label col-lg-3 col-sm-4 col-4">
                                    Phòng ban
                                </label>
                                <div class="col-lg-3 col-sm-4 col-4">
                                    <select class="form-control kt-select2 DepartmentID" name="DepartmentID" style="width:100%" onchange="user.loadDepartmentChild(this.value,this.name.replace('][DepartmentID]','').replace('[',''));">
                                    </select>
                                </div>
                                <div class="col-lg-3 col-sm-4 col-4">
                                    <select class="form-control kt-select2 ChildDepartmentID" name="ChildDepartmentID" style="width:100%">
                                    </select>
                                </div>
                                <div class="col-lg-2 col-sm-4 col-4">
                                    <select class="form-control kt-select2" name="PositionID" style="width:100%">
                                        @foreach (var item in lstPosition)
                                        {
                                            <option value="@((int)item)">@item.GetDescription()</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-lg-1">
                                    <a href="javascript:;" data-repeater-delete="" class="btn btn-danger btn-icon">
                                        <i class="la la-remove"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3"></div>
                            <div class="col">
                                <div data-repeater-create="" onclick="user.initFormRepeat()" class="btn btn-sm btn-warning">
                                    <span>
                                        <i class="la la-plus"></i>
                                        <span>Thêm phòng ban</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                            Email
                        </label>
                        <div class="col-lg-9 col-sm-8 col-8">
                            <input class="form-control" type="text" id="Email" name="Email" placeholder="Nhập email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                            Nhóm
                        </label>
                        <div class="col-lg-9 col-sm-8 col-8">
                            <select class="form-control m-select2" id="LstUserGroup" multiple name="LstUserGroup" style="width:100%;">
                                <option></option>
                                <option value="AK">
                                    Alaska
                                </option>
                                <option value="HI">
                                    Hawaii
                                </option>
                            </select>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="kt_switch_2" class="col-form-label col-lg-3 col-sm-4 col-4" style="margin-top:5px;">Hoạt động</label>
                        <div class="kt-radio-inline col-lg-9 col-sm-8 col-8 pl-2">
                            <input data-switch="true" type="checkbox" checked="checked" id="kt_switch_2">
                        </div>
                    </div>
                </div>
                <div class="modal-footer row">
                    <div class="col-3">
                    </div>
                    <div class="col-9">
                        <button type="button" class="btn btn-primary" id="btn_save"><i class="fa fa-save"></i>Thêm mới</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
