﻿
@{
    ViewData["Title"] = "Danh sách gửi SMS";
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Danh sách gửi SMS
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right">
                <div class="row align-items-center">
                    <div class="col-xl-12 kt-margin-b-10">
                        <div class="row align-items-center">
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <b><label>Từ ngày</label></b>
                                <div class="input-group date">
                                    <input type="text" class="form-control kt_datepicker" id="fromDate" autocomplete="off" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <b><label>Đến ngày</label></b>
                                <div class="input-group date">
                                    <input type="text" class="form-control kt_datepicker" id="toDate" autocomplete="off" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <label style="min-width: 100px"><b>Trạng thái</b></label>
                                <select class="form-control kt-select2" name="sl_statusId" id="sl_statusId">
                                    <option value="-111" selected>Tất cả</option>
                                    <option value="0">Chờ xử lý</option>
                                    <option value="1">Gửi thành công</option>
                                    <option value="2">Gửi thất bại</option>
                                </select>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <label style="min-width: 100px"><b>Số điện thoại gửi</b></label>
                                <select class="form-control kt-select2" name="sl_phoneSend" id="sl_phoneSend">
                                    <option value="0" selected>Tất cả</option>
                                    <option value="0967997366">0967997366</option>
                                    <option value="0961300103">0961300103</option>
                                </select>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile  kt-margin-t-25">
                                <button class="btn btn-info m-btn kt-btn--air" id="btnGetData">
                                    <span>
                                        Tìm kiếm
                                    </span>
                                </button>
                                <div class="d-md-none kt--margin-bottom-10"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="dv_result">

                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/static/scripts/excel/sendSMS.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
}
