﻿
@{
    ViewData["Title"] = "Bồi thường bảo hiểm";
    var groupInsuranType = FrontEnd.Common.Helpers.EnumHelpers.GetValues<LMS.Common.Constants.Insurance_PartnerCode>().ToList();
    var groupInsuranStatus = FrontEnd.Common.Helpers.EnumHelpers.GetValues<LMS.Common.Constants.Loan_StatusSendInsurance>().ToList();
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    @ViewData["Title"]
                </h3>
            </div>
        </div>
        <!--begin:: Widgets/Stats-->
        <!--end:: Widgets/Stats-->
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right">
                <div class="row align-items-center">
                    <div class="col-xl-12 kt-margin-b-10">
                        <div class="row align-items-center">
                            <input type="hidden" id="ip-page-current" name="pagecurrent" value="1" />
                            <input type="hidden" id="ip-top" name="top" value="25" />
                            <div class="col-md-3 col-lg-3 kt-margin-b-20-tablet-and-mobile">
                                <label><b>Mã HĐ</b></label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Tìm theo Mã HĐ" id="txt_search">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 kt-margin-b-20-tablet-and-mobile">
                                <label><b>Tên khách hàng</b></label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Tìm theo Tên KH" id="txt_search_customerName">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 kt-margin-b-20-tablet-and-mobile">
                                <label><b>Bảo hiểm</b></label>
                                <select class="form-control kt-select2" name="sl_search_insurance" id="sl_search_insurance">
                                    <option value="-111">
                                        Tất cả
                                    </option>
                                    @if (groupInsuranType != null && groupInsuranType.Count > 0)
                                    {
                                        foreach (var insuranceStatus in groupInsuranType)
                                        {
                                            <option value="@insuranceStatus.Key">
                                                @insuranceStatus.Value
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-3 col-lg-3 kt-margin-b-20-tablet-and-mobile">
                                <label><b>Nhà đầu tư</b></label>
                                <select class="form-control" name="sl_search_lenderID" id="sl_search_lenderID">
                                </select>
                            </div>
                            <div class="col-md-3 col-lg-3 kt-margin-b-20-tablet-and-mobile">
                                <label><b>Trạng thái</b></label>
                                <select class="form-control kt-select2" name="sl_search_status" id="sl_search_status">
                                    <option value="-111">
                                        Tất cả
                                    </option>
                                    @if (groupInsuranStatus != null && groupInsuranStatus.Count > 0)
                                    {
                                        foreach (var insurance in groupInsuranStatus)
                                        {
                                            <option value="@insurance.Key">
                                                @insurance.Value
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-3 col-lg-3 kt-margin-b-20-tablet-and-mobile">
                                <label><b>Từ ngày</b></label>
                                <div class="input-group ">
                                    <input type="text" class="form-control kt_datepicker" id="fromDate" autocomplete="off" value="@DateTime.Now.AddDays(-7).ToString("dd/MM/yyyy")" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 kt-margin-b-20-tablet-and-mobile">
                                <label><b>Đến ngày</b></label>
                                <div class="input-group ">
                                    <input type="text" class="form-control kt_datepicker" id="toDate" autocomplete="off" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 kt-margin-b-20-tablet-and-mobile  kt-margin-t-25">
                                <button href="#" class="btn btn-info m-btn kt-btn--air" id="btnGetData" onclick="Indemnify.GridRefresh()">
                                    <span>
                                        Tìm kiếm
                                    </span>
                                </button>
                                <button href="#" class="btn btn-success m-btn kt-btn--air" onclick="Indemnify.excelData()">
                                    <span>
                                        <i class="fa fa-file-excel"></i>
                                        Excel tổng
                                    </span>
                                </button>
                                <button href="#" class="btn btn-success m-btn kt-btn--air" onclick="Indemnify.excelDataTemplate()">
                                    <span>
                                        <i class="fa fa-file-download"></i>
                                        Excel mẫu chuyển trạng thái
                                    </span>
                                </button>
                                <a class="btn btn-info kt-btn kt-btn--air" style="color:white" onclick="$('#tem_upload').val('');$('#tem_upload').click();">
                                    <i class="fa fa-file-upload"></i>Upload Excel trạng thái
                                </a>
                                <input type="file" id="tem_upload" name="upload" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" style="display:none">
                                <div class="d-md-none kt--margin-bottom-10"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 kt-margin-b-10">
                        <div id="dv_result">
                        </div>
                    </div>
                    </div>
                </div>
            <!--end: Search Form -->
        </div>

    </div>
</div>
<partial name="~/Views/Indemnify/_partial/HistoryComment.cshtml" />
<partial name="~/Views/Indemnify/_partial/_change_status.cshtml" />


@section scripts {
    <script src="~/scripts/indemnify/indemnify.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    <script src="/assets/ckeditor/ckeditor.js"></script>
    <script src="~/assets/ExcelToJSON/xlsx.full.min.js"></script>
    <script>
        var editor = CKEDITOR.replace('txtNote', {
            customConfig: '/assets/ckeditor/config.js',
        });
    </script>
}

