﻿@{
    Layout = null;
}
<div class="modal fade" id="modal_create_ApprovalLevelBookDebt" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="headerId">Book nợ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="kt-form kt-form--label-right">
                <div class="modal-body">
                    <input type="hidden" id="hdd_ApprovalLevelBookDebtID" value="0" />
                    <div class="row">
                        <div class="form-group col-lg-12 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Cấp phê duyệt<span class="kt-font-danger">*</span>
                            </label>
                            <div class="col-lg-5 col-sm-5 col-5">
                                <input class="form-control" type="text" id="txt_ApprovalLevelBookDebtName" name="txt_ApprovalLevelBookDebtName" placeholder="cấp phê duyệt">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Số lượng duyệt
                            </label>
                            <div class="col-lg-5 col-sm-5 col-5">
                                <div class="kt-radio-inline">
                                    <label class="kt-radio">
                                        <input type="radio" checked name="txt_all_accept" value="0"> 1 Người duyệt
                                        <span></span>
                                    </label>
                                    <label class="kt-radio">
                                        <input type="radio" name="txt_all_accept" value="1"> Tất cả duyệt
                                        <span></span>
                                    </label>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Trạng thái
                            </label>
                            <div class="col-lg-5 col-sm-5 col-5">
                                <div class="kt-radio-inline">
                                    <label class="kt-radio">
                                        <input type="radio" checked name="txt_Status" value="1"> Hoạt động
                                        <span></span>
                                    </label>
                                    <label class="kt-radio">
                                        <input type="radio" name="txt_Status" value="0"> Dừng
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer row">
                    <div class="col-3">
                    </div>
                    <div class="col-9" style="text-align: right;">
                        <button type="button" class="btn btn-primary" id="btn_save_ApprovalLevelBookDebt"><i class="fa fa-save"></i>Lưu</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


