﻿@{
    Layout = null;
}
<div class="kt-portlet__head" style="padding-left:0px!important">
    <div class="kt-portlet__head-label">
        <span class="kt-portlet__head-icon kt-hide">
            <i class="la la-gear"></i>
        </span>
        <h3 class="kt-portlet__head-title">
            <i class="fa fa-edit"></i><b> Thay đổi số điện thoại</b>
        </h3>
    </div>
</div>
<div class="kt-portlet__body">
    <div style="padding:0 !important">
        <div class="form-group m-form__group row">
            <label class="col-form-label col-lg-3 col-sm-12">
                Số điện thoại <span style="color:red">*</span>
            </label>
            <div class="col-lg-5 col-xl-5">
                <input type="text" class="form-control" id="txt_phone_thayDoiSdt">
            </div>
        </div>
        <div class="form-group m-form__group row">
            <label class="col-form-label col-lg-3 col-sm-12">
                Ghi chú
            </label>
            <div class="col-lg-9 col-sm-12">
                <textarea class="form-control" id="txt_Note_thayDoiSdt"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="kt-portlet__foot padding-footer">
    <div class="kt-form__actions">
        <div class="row">
            <div class="col-xl-3 col-sm-3">
            </div>
            <div class="col-xl-7 col-sm-8" style="padding-left: 20px;">
                <button id="btn_save_ThayDoiSdt" class="btn btn-brand btn-elevate kt-login__btn-primary" onclick="thayDoiSdt.Save_ThayDoiSdt()">Lưu</button>
            </div>
        </div>
    </div>
</div>
<div class="kt-portlet__head" style="padding-left:0px!important;border-bottom:none;">
    <div class="kt-portlet__head-label">
        <span class="kt-portlet__head-icon kt-hide">
            <i class="la la-gear"></i>
        </span>
        <h3 class="kt-portlet__head-title">
            <i class="flaticon-clipboard"></i><b> Lịch sử thay đổi số điện thoại</b>
        </h3>
    </div>
</div>
<!--begin::Section-->
<div class="kt-section">
    <div class="kt-form kt-form--label-right">
        <div class="col-lg-12">
            <div id="Table_ThayDoiSdt">
            </div>
        </div>
    </div>
</div>
