﻿@{
    Layout = null;
}
<style>
    .alignRight {
        text-align: right;
    }

    .alignLeft {
        text-align: left;
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="loanDetailId">
            Chi tiết HĐ HD-000063 - Khách hàng: Hải Phạm
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
    </div>
    <div class="modal-body">
        <div class="kt-portlet">
            <div class="kt-form kt-form--label-right">
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="col-xl-6 col-md-6">
                            <div class="form-group form-group-xs row">
                                <label class="col-4 col-form-label">Tên khách hàng:</label>
                                <div class="col-8">
                                    <span class="form-control-plaintext kt-font-bolder" id="CustomerName"></span>
                                </div>
                            </div>
                            <div class="form-group form-group-xs row">
                                <label class="col-4 col-form-label">Số tiền vay gốc:</label>
                                <div class="col-8">
                                    <span class="form-control-plaintext kt-font-bolder" id="TotalMoneyDisbursement"></span>
                                </div>
                            </div>
                            <div class="form-group form-group-xs row">
                                <label class="col-4 col-form-label">Số tiền gốc còn lại:</label>
                                <div class="col-8">
                                    <span class="form-control-plaintext"><span class="kt-font-bolder" id="TotalMoneyCurrent"> </span> </span>
                                </div>
                            </div>
                            <div class="form-group form-group-xs row">
                                <label class="col-4 col-form-label">Gói sản phẩm:</label>
                                <div class="col-8">
                                    <span class="form-control-plaintext kt-font-bolder" id="ProductName"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="form-group form-group-xs row">
                                <label class="col-4 col-form-label">Số dư:</label>
                                <div class="col-8">
                                    <span class="form-control-plaintext kt-font-bolder" id="CustomerTotalMoney"></span>
                                </div>
                            </div>
                            <div class="form-group form-group-xs row">
                                <label class="col-4 col-form-label">Hình thức vay:</label>
                                <div class="col-8">
                                    <span class="form-control-plaintext kt-font-bolder" id="RateTypeName"></span>
                                </div>
                            </div>
                            <div class="form-group form-group-xs row">
                                <label class="col-4 col-form-label">Ngày bắt đầu tính lãi:</label>
                                <div class="col-8">
                                    <span class="form-control-plaintext kt-font-bolder" id="FromDate"></span>
                                </div>
                            </div>
                            <div class="form-group form-group-xs row">
                                <label class="col-4 col-form-label">Ngày kết thúc tính lãi:</label>
                                <div class="col-8">
                                    <span class="form-control-plaintext kt-font-bolder" id="ToDate"> </span>
                                </div>
                            </div>
                            <div class="form-group form-group-xs row">
                                <label class="col-4 col-form-label">Link GCN Cho Vay:</label>
                                <div class="col-8">
                                    <span class="form-control-plaintext kt-font-bolder">
                                        <a href="#" id="linkGCNChoVay">
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group form-group-xs row">
                                <label class="col-4 col-form-label">Link GCN Vay:</label>
                                <div class="col-8">
                                    <span class="form-control-plaintext kt-font-bolder">
                                        <a href="#" id="linkGCNVay">
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
</div>

