﻿@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var AdminUrl = Configuration["AppSettings:AdminUrl"]; 
    var CookieName = FrontEnd.Common.Helpers.Constants.STATIC_USERMODEL;
    Layout = null;
}
<!DOCTYPE html>

<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 4 & Angular 8
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">

<!-- begin::Head -->
<head>
    <base href="../../../">
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="Login page">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">

    <!--end::Fonts -->
    <!--begin::Page Custom Styles(used by this page) -->
    <link href="assets/css/pages/login/login-3.css" rel="stylesheet" type="text/css" />

    <!--end::Page Custom Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="@AdminUrl/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="@AdminUrl/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />

    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <link href="@AdminUrl/assets/css/skins/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="@AdminUrl/assets/css/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="@AdminUrl/assets/css/skins/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="@AdminUrl/assets/css/skins/aside/dark.css" rel="stylesheet" type="text/css" />

    <!--end::Layout Skins -->
    <link rel="shortcut icon" href="~/assets/media/logos/favicon.ico" />
    <script type="text/javascript">

        var ApiUrl = '@Configuration["Configuration:ApiUrl"]';
        var LoginUrl = '@Configuration["AppSettings:Login"]';
        var  STATIC_USERMODEL = '@CookieName';
    </script>
</head>

<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

    <!-- begin:: Page -->
    @RenderBody()
    <!-- end:: Page -->
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#5d78ff",
                    "dark": "#282a3c",
                    "light": "#ffffff",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": [
                        "#c5cbe3",
                        "#a1a8c3",
                        "#3d4465",
                        "#3e4466"
                    ],
                    "shape": [
                        "#f0f3ff",
                        "#d9dffa",
                        "#afb4d4",
                        "#646c9a"
                    ]
                }
            }
        };
    </script>

    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="@AdminUrl/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
    <script src="@AdminUrl/assets/js/scripts.bundle.js" type="text/javascript"></script>
    <script src="~/js/jquery-github/jquery.md5.js"></script>
    <script src="~/js/jquery.cookie.js"></script>
    <script src="@AdminUrl/kendoUi/js/kendo.all.min.js"></script>
    <script src="@AdminUrl/kendoUi/js/jszip.min.js"></script>

    <!--end::Page Scripts -->
    <script src="~/scripts/Lib.js"></script>
    <script src="~/scripts/Login/loginJs.js"></script>
    <!--end::Global Theme Bundle -->
    <!--begin::Page Scripts(used by this page) -->
    <!--end::Page Scripts -->
    @RenderSection("Scripts", required: false)
</body>

<!-- end::Body -->
</html>

<script> 
    jQuery(document).ready(function () {
        STATIC_USERMODEL = '@CookieName';
        LoginJs.init();
    });
</script>