﻿@{
    Layout = null;
}
<div class="kt-portlet__head" style="padding-left:0px!important">
    <div class="kt-portlet__head-label">
        <span class="kt-portlet__head-icon kt-hide">
            <i class="la la-gear"></i>
        </span>
        <h3 class="kt-portlet__head-title">
            <i class="flaticon-clipboard"></i><b> Dự thu</b>
        </h3>
    </div>
</div>
<div class="kt-portlet__body">
    <div style="padding:0 !important">
        <div class="form-group m-form__group row">
            <label class="col-form-label col-lg-3 col-sm-12">
                Số tiền (Nợ Xấu)
            </label>
            <div class="col-lg-9 col-md-9 col-sm-12">
                <input type="text" class="form-control" id="txt_money_noXau" value="0">
            </div>
        </div>
        <div class="form-group m-form__group row" style="padding-bottom: 0px;">
            <label class="col-form-label col-lg-3 col-sm-12">
                Số kỳ dự thu (Nợ Tốt)
            </label>
            <div class="col-lg-9 col-md-12 col-sm-12">
                <select class="form-control kt-select2" id="sl_SoKy" tabindex="-1" style="width:100%">
                    <option value="0">Vui lòng chọn số kỳ tự thu</option>     
                    <option value="1">1 kỳ</option>     
                    <option value="2">2 kỳ</option>     
                    <option value="3">3 kỳ</option>     
                    <option value="-1">Tất toán</option>     
                </select>
            </div>
        </div>
        <div class="form-group m-form__group row">
            <label class="col-form-label col-lg-3 col-sm-12">
                Thời gian dự thu
            </label>
            <div class="col-lg-9 col-md-9 col-sm-12">
                <input type="text" class="form-control" id="fromDate" autocomplete="off" value="@DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")" />
            </div>
        </div>
    </div>
</div>
<div class="kt-portlet__foot padding-footer">
    <div class="kt-form__actions">
        <div class="row">
            <div class="col-xl-3 col-sm-3">
            </div>
            <div class="col-xl-7 col-sm-8" style="padding-left: 20px;">
                <button id="btn_save_DuThu" class="btn btn-brand btn-elevate kt-login__btn-primary" onclick="duThu.Save_DuThu()">Lưu</button>
            </div>
        </div>
    </div>
</div>
<div class="kt-portlet__head" style="padding-left:0px!important;border-bottom:none;">
    <div class="kt-portlet__head-label">
        <span class="kt-portlet__head-icon kt-hide">
            <i class="la la-gear"></i>
        </span>
        <h3 class="kt-portlet__head-title">
            <i class="flaticon-clipboard"></i><b> Danh sách dự thu</b>
        </h3>
    </div>
</div>
<!--begin::Section-->
<div class="kt-section">
    <div class="kt-form kt-form--label-right">
        <div class="col-lg-12">
            <div id="Table_DuThu">
            </div>
        </div>
    </div>
</div>
