﻿@{
    Layout = null;
}
<div class="kt-portlet__body" id="resetTab" style="padding:0 !important">
    <div class="form-group m-form__group row" style="padding-bottom: 0px;">
        <label class="col-form-label col-lg-3 col-sm-12">
            Trường hợp
        </label>
        <div class="col-lg-9 col-md-12 col-sm-12">
            <select class="form-control kt-select2" id="sl_case_sms" tabindex="-1" style="width:100%">
            </select>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-form-label col-lg-3 col-sm-12">
            Nội dung
            <a href="#" onclick="sms.CopyToClipboard()"><i class="fa fa-copy"></i></a>
        </label>
        <div class="col-lg-9 col-md-9 col-sm-12">
            <textarea class="form-control" id="txt_note_sms" rows="4" disabled></textarea>
        </div>
    </div>
    <div class="form-group m-form__group row" style="display:none" id="form_content_linkAnh">
        <label class="col-form-label col-lg-3 col-sm-12">
            Nhập Link Ảnh
        </label>
        <div class="col-lg-9 col-md-9 col-sm-12">
            <input type="text" class="form-control" id="txt_content_linkAnh" name="txt_content_linkAnh">
        </div>
    </div>
    <div class="form-group m-form__group row" style="padding-bottom: 0px;">
        <label class="col-form-label col-lg-3 col-sm-12">
            Số gửi
        </label>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <select class="form-control kt-select2" id="txt_phoneSend" tabindex="-1" style="width:100%">
                <option value="0967997366">0967997366</option>
            </select>
        </div>
        <label class="col-form-label col-lg-1 col-sm-12">
            Số nhận
        </label>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <select class="form-control kt-select2" id="txt_phoneReceived" name="txt_phoneReceived" tabindex="-1" style="width:100%">
            </select>
        </div>
    </div>
    <div class="form-group m-form__group row" style="display:none" id="form_inputPhoneReceived">
        <label class="col-form-label col-lg-3 col-sm-12">
            Nhập số điện thoại nhận
        </label>
        <div class="col-lg-9 col-md-9 col-sm-12">
            <input type="text" class="form-control" id="txt_inputPhoneReceived" name="txt_inputPhoneReceived">
        </div>
    </div>
</div>
<div>
    <div class="kt-form__actions">
        <div class="row">
            <div class="col-xl-3 col-sm-3">
            </div>
            <div class="col-xl-7 col-sm-8">
                <button id="btn_save_sms" class="btn btn-brand btn-elevate kt-login__btn-info" onclick="sms.Save_sms()">Gửi</button>
            </div>
        </div>
    </div>
</div>

