﻿@using LMS.Common.Helper;
@{
    ViewData["Title"] = "Danh sách đơn đặt cọc";
    var lstStatus = Enum.GetValues(typeof(LMS.Common.Constants.PaymentScheduleDepositMoney_Status)).Cast<LMS.Common.Constants.PaymentScheduleDepositMoney_Status>();
}
<style>
    a:hover {
        color: #5867dd;
    }

    /*a {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            colo            r:blue
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        }*/
</style>
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    @ViewData["Title"]
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-section">
                <div class="kt-section__content">
                    <div class="row">
                        <div class="col-md-2 kt-margin-b-20-tablet-and-mobile" style="max-width:300px">
                            <label><b>Mã TC</b></label>
                            <div class="kt-input-icon kt-input-icon--left">
                                <input type="text" class="form-control" placeholder="Mã TC" id="txt_search_code">
                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                    <span><i class="la la-search"></i></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2 kt-margin-b-20-tablet-and-mobile" style="max-width:300px">
                            <label><b>Tên KH</b></label>
                            <div class="kt-input-icon kt-input-icon--left">
                                <input type="text" class="form-control" placeholder="Tên KH" id="txt_search_customerName">
                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                    <span><i class="la la-search"></i></span>
                                </span>
                            </div>
                        </div>

                        <div class="col-md-1 kt-margin-b-20-tablet-and-mobile" style="min-width:150px">
                            <label><b>Từ ngày</b></label>
                            <div class="kt-input-icon kt-input-icon--left">
                                <input type="text" class="form-control kt_datepicker" id="txt_search_fromDate" />
                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                    <span><i class="fa fa-calendar"></i></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-1 kt-margin-b-20-tablet-and-mobile" style="min-width:150px">
                            <label><b>Đến ngày</b></label>
                            <div class="kt-input-icon kt-input-icon--left">
                                <input type="text" class="form-control kt_datepicker" id="txt_search_toDate" />
                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                    <span><i class="fa fa-calendar"></i></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                            <label><b>Nhà đầu tư</b></label>
                            <select class="form-control" name="sl_search_lenderID" id="sl_search_lenderID">
                            </select>
                        </div>

                        <div class="col-md-2 kt-margin-b-20-tablet-and-mobile" style="max-width:300px">
                            <label><b>Trạng thái</b></label>
                            <select class="form-control kt-select2" id="sl_search_status">
                                @foreach (var item in lstStatus.Where(x => x != LMS.Common.Constants.PaymentScheduleDepositMoney_Status.Cancel))
                                {
                                    <option value="@((int)item)">
                                        @item.GetDescription()
                                    </option>
                                }
                            </select>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label style="padding-top: 12px;"></label>
                                <div class="input-group date">
                                    <button href="#" class="btn btn-info m-btn kt-btn--air" id="btnGetData">
                                        <span>
                                            Tìm kiếm
                                        </span>
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <a class="btn btn-success kt-btn kt-btn--air" style="color:white" title="Xuất excel" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="fa fa-file-excel"></i> Xuất excel
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                                <a style="cursor:pointer" class="dropdown-item" title="Khách hàng hủy" onclick="deposit.ExportExcel(1001)"><i class="fa fa-file-excel"></i> Danh sách</a>
                                <a style="cursor:pointer" class="dropdown-item" title="Khách hàng hủy" onclick="deposit.ExportExcel(1002)"><i class="fa fa-file-excel"></i> BM01</a>
                                <a style="cursor:pointer" class="dropdown-item" title="Khách hàng hủy" onclick="deposit.DownLoadFileExcel()"><i class="fa fa-file-excel"></i> Mẫu chuyển trạng thái</a>
                            </div>
                            <a class="btn btn-info kt-btn kt-btn--air" style="color:white" onclick="$('#tem_upload').val('');$('#tem_upload').click();">
                                <i class="fa fa-file-upload"></i>Upload Excel trạng thái
                            </a>
                            <input type="file" id="tem_upload" name="upload" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" style="display:none">
                        </div>

                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <div class="kt-section">
                <div class="kt-section__content">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="grid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="~/Views/Loan/_partial/HistoryCommentDeposit.cshtml" />
<!--end::Modal-->
@section Scripts {
<script src="~/assets/ExcelToJSON/xlsx.full.min.js"></script>
<script src="~/scripts/loanLender/deposit.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="/assets/ckeditor/ckeditor.js"></script>
<script>
     $(document).ready(function () {
        deposit.init();
    });
       var editor = CKEDITOR.replace('txtNote_deposit', {
            customConfig: '/assets/ckeditor/config.js',
        });
</script>
}
