﻿@{
    Layout = null;
}
<style>
    .alignRight {
        text-align: right;
    }

    .alignLeft {
        text-align: left;
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">
            <span id="modalLoanDetailId"></span>
            @*<input type="hidden" id="hdd_loanDetalID" value="0" />*@
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>


    </div>
    <div class="modal-body">
        <div class="kt-portlet">
            <div class="kt-portlet__body">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_tabs_1_1" onclick="loan.InitDetailLoan()">
                            <i class="la la-exclamation-triangle"></i> Tổng hợp
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_tabs_1_2" onclick="loan.GetDataImagesLos()">
                            <i class="la la-photo"></i> Chứng từ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_tabs_1_3" onclick="loan.GetHistoryComment()">
                            <i class="la la-list"></i>Lịch sử xét duyệt
                        </a>
                    </li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
                        <partial name="~/Views/Loan/Detail/_partialDetailTabTongHop.cshtml" />
                    </div>
                    <div class="tab-pane" id="kt_tabs_1_2" role="tabpanel">
                        <partial name="~/Views/Loan/Detail/_partialDetailTabChungTu.cshtml" />
                    </div>
                    <div class="tab-pane" id="kt_tabs_1_3" role="tabpanel">
                        <partial name="~/Views/Loan/Detail/_partialDetailTabLichSuXetDuyet.cshtml" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

