﻿@{
    ViewData["Title"] = "Chờ duyệt vay";
}
<style>
    a:hover {
        color: #5867dd;
    }

    /*a {
        color:blue
    }*/
</style>
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    @ViewData["Title"]
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-section">
                <div class="kt-section__content">
                    <div class="row">
                        <input type="hidden" id="ip-page-current" name="pagecurrent" value="1" />
                        <input type="hidden" id="ip-top" name="top" value="25" />
                        @*<div class="col-md-3 kt-margin-b-20-tablet-and-mobile" style="max-width:300px">
                            <label><b>Tên khách hàng</b></label>
                            <div class="kt-input-icon kt-input-icon--left">
                                <input type="text" class="form-control" placeholder="Tên khách hàng" id="txt_search">
                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                    <span><i class="la la-search"></i></span>
                                </span>
                            </div>
                        </div>*@
                        <div class="col-md-3 kt-margin-b-20-tablet-and-mobile" style="max-width:300px">
                            <label><b>Trạng thái</b></label>
                            <select class="form-control kt-select2" id="sl_search_statusLender">
                                <option value="1">
                                    Tất cả
                                </option>
                                <option value="2">
                                    Chờ đẩy cho Lender
                                </option>
                                <option value="3">
                                    Chờ kế toán giải ngân
                                </option>
                                <option value="4">
                                    Chờ Lender giải ngân
                                </option>
                                <option value="5">
                                    Chờ hệ thống giải ngân
                                </option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label style="padding-top: 12px;"></label>
                                <div class="input-group date">
                                    <button href="#" class="btn btn-info m-btn kt-btn--air" id="btnGetData" onclick="loan.GridRefresh()">
                                        <span>
                                            Tìm kiếm
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <div class="kt-section">
                <div class="kt-section__content">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="grid">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="~/Views/Loan/_partial/HistoryComment.cshtml" />
<partial name="~/Views/Loan/_partial/ReturnLoan.cshtml" />
<partial name="~/Views/Loan/_partial/PushLoanForLender.cshtml" />
<partial name="~/Views/Loan/_partial/RutHS.cshtml" />

<!--begin::Modal-->
<div class="modal fade" id="modalFadeId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" id="modalFadeBody">
    </div>
</div>

<!--end::Modal-->
<link href="~/css/slideShow.css" rel="stylesheet" />
@section Scripts {
    <script src="~/scripts/loanLender/loan.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    <script src="/assets/ckeditor/ckeditor.js"></script>
    <script src="~/js/SlideShow/jQueryRotate.js"></script>
    <script src="~/js/SlideShow/SlideShow.js"></script>
    <script src="~/js/SlideShow/jquery.transit.js"></script>

    <script>
        //var editor = CKEDITOR.replace('txtNote', {
        //    customConfig: '/assets/ckeditor/config.js',
        //});
    </script>
}
