﻿
@{
    Layout = null;
}

<div class="modal fade" id="modal_pushLoanForLender" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title_partial_pushLoanForLender"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="hdd_partial_pushLoanForLenderID" value="0" />
                    <div class="kt-portlet__body">
                        <div class="form-group ">
                            <div class="kt-input-icon kt-input-icon--left">
                                <select class="form-control" id="sl_partial_pushLoanForLender" style="width:100%">
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnExitPushLoan">Đóng</button>
                <button type="button" class="btn btn-primary" id="btn_save_returnLoan" onclick="loan.Save_PushLoanForLender()">Đẩy cho đối tác</button>
            </div>
        </div>
    </div>
</div>