﻿@{
    Layout = null;
}

<div class="modal fade" id="modal_cannel_CollaboratorLender" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="headerId">Hủy NĐT : <b><span id="title_cannel"></span></b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="kt-form kt-form--label-right">
                <div class="modal-body">
                    <input type="hidden" id="hdd_CollaboratorLenderID" value="0" />
                    <div class="row">
                        <div class="form-group col-lg-12 row">
                            <label class="col-form-label col-lg-2 col-sm-4 col-2">
                              Lý do hủy
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <div class="input-group ">
                                    <textarea  class="form-control" id="txt_reasonCannnel" name="txt_reasonCannnel" rows="4" cols="50"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer row">
                    <div class="col-3">
                    </div>
                    <div class="col-9" style="text-align: right;">
                        <button type="button" class="btn btn-primary" id="btn_cannel"><i class="fa fa-save"></i>Hủy</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


