﻿<div class="kt-header__topbar">
    <div class="kt-header__topbar-item kt-header__topbar-item--user">
        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px,0px">
            <div class="kt-header__topbar-user">
                <span class="kt-header__topbar-welcome kt-hidden-mobile">Hi,</span>
                <span class="kt-header__topbar-username kt-hidden-mobile" id="_UserFullNameId"></span>
                <img class="kt-hidden" alt="Pic" src="~/static/assets/media/users/300_25.jpg" />

                <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                <span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold" id="_UserFullNameShortId">S</span>
            </div>
        </div>
        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">

            <!--begin: Head -->
            <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" style="background-image: url(/assets/media/misc/bg-1.jpg)">
                <div class="kt-user-card__avatar">
                    <img class="kt-hidden" alt="Pic" src="~/static/assets/media/users/300_25.jpg" />

                    <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                    <span class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success" id="_UserFullNameShort2Id">S</span>
                </div>
                <div class="kt-user-card__name" id="lbl_header_fullname">
                </div>
                <div class="kt-user-card__badge">
                    <span class="btn btn-success btn-sm btn-bold btn-font-md"></span>
                </div>
            </div>

            <!--end: Head -->
            <!--begin: Navigation -->
            <div class="kt-notification">
                <a href="javascript:;" class="kt-notification__item" onclick="baseCommon.ChangePassWord()">
                    <div class="kt-notification__item-icon">
                        <i class="flaticon2-hourglass kt-font-brand"></i>
                    </div>
                    <div class="kt-notification__item-details">
                        <div class="kt-notification__item-title kt-font-bold">
                            Đổi mật khẩu
                        </div>
                        <div class="kt-notification__item-time">
                            Thay đổi mật khẩu mới
                        </div>
                    </div>
                </a>
                <a href="/User/ChangePassword?t=1" class="kt-notification__item">
                    <div class="kt-notification__item-icon">
                        <i class="fa fa-phone kt-font-brand"></i>
                    </div>
                    <div class="kt-notification__item-details">
                        <div class="kt-notification__item-title kt-font-bold">
                            Cấu hình gọi điện
                        </div>
                        <div class="kt-notification__item-time">
                            Thay đổi cấu hình gọi điện
                        </div>
                    </div>
                </a>
                <div class="kt-notification__custom kt-space-between">
                    <a href="~/logout.html" class="btn btn-label btn-label-brand btn-sm btn-bold">Đăng xuất</a>

                </div>
            </div>

            <!--end: Navigation -->
        </div>
    </div>

    <!--end: User Bar -->
</div>