﻿@using LMS.Common;
@{
    ViewData["Title"] = "Báo cáo thu tiền theo nhóm nợ";
    var enumProduct_Type = FrontEnd.Common.Helpers.EnumHelpers.GetValues<LMS.Common.Constants.Product_Type>().ToList();
    var enumDebtType = FrontEnd.Common.Helpers.EnumHelpers.GetValues<LMS.Common.Constants.THN_DPD>().ToList();
    DateTime fromDate = DateTime.Now;
}
<style>
    .k-floatwrap {
        display: none;
    }
</style>
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Báo cáo thu tiền theo nhóm nợ
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right">
                <div class="row align-items-center">
                    <div class="col-xl-12 kt-margin-b-10">
                        <div class="row align-items-center">
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <b><label>Thời gian</label></b>
                                @*<div class="input-group date">
                                    <input class="form-control" type="month" value="@DateTime.Now.ToString("yyyy-MM")" id="txt_date">
                                    </div>*@
                                <select class="form-control kt-select2" name="sl_MonthYear" id="sl_MonthYear">
                                    @for (int i = 0; i < 24; i++)
                                    {
                                        if (i == 0)
                                        {
                                            <option value="@fromDate.AddMonths(i*(-1)).ToString("yyyyMM")" selected>Tháng @fromDate.AddMonths(i * (-1)).ToString("MM/yyyy")</option>
                                        }
                                        else
                                        {
                                            <option value="@fromDate.AddMonths(i*(-1)).ToString("yyyyMM")">Tháng @fromDate.AddMonths(i * (-1)).ToString("MM/yyyy")</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <label style="min-width: 100px"><b>Nhóm nợ</b></label>
                                <select class="form-control kt-select2" name="sl_DebtType" id="sl_DebtType">
                                    <option selected value="-111">Tất cả</option>
                                    @foreach (var item in enumDebtType)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <label style="min-width: 100px"><b>Gói sản phẩm</b></label>
                                <select class="form-control kt-select2" name="sl_ProductType" id="sl_ProductType">
                                    <option selected value="-111">Tất cả</option>
                                    @foreach (var item in enumProduct_Type)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <label style="min-width: 100px"><b>Tỉnh thành</b></label>
                                <select class="form-control kt-select2" name="sl_City" id="sl_City">
                                </select>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile  kt-margin-t-25">
                                <button class="btn btn-info m-btn kt-btn--air" id="btnGetData">
                                    <span>
                                        Tìm kiếm
                                    </span>
                                </button>
                                <div class="d-md-none kt--margin-bottom-10"></div>
                                <button class="btn btn-success m-btn kt-btn--air" onclick="reportByDebtGroup.ExportExcel()">
                                    <i class="fa fa-file-import"></i>
                                    <span>
                                        Xuất excel
                                    </span>
                                </button>
                                <input type="file" id="upload-status" name="upload-status" style="display: none" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="dv_result">
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>

    </div>
</div>
@section Scripts {
<script src="~/static/scripts/report/reportByDebtGroup.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/static/scripts/xlsx.full.min.js"></script>
}


