﻿@using LMS.Common;
@{
    ViewData["Title"] = "Báo cáo kế hoạch ngày";
}
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Báo cáo kế hoạch ngày
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right">
                <div class="row align-items-center">
                    <div class="col-xl-12 kt-margin-b-10">
                        <div class="row align-items-center">
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <b><label>Từ ngày</label></b>
                                <div class="input-group date">
                                    <input type="text" class="form-control kt_datepicker" value="@DateTime.Now.ToString("dd/MM/yyyy")" id="fromDate" autocomplete="off" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                              <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <b><label>Đến ngày</label></b>
                                <div class="input-group date">
                                    <input type="text" class="form-control kt_datepicker" value="@DateTime.Now.ToString("dd/MM/yyyy")" id="toDate" autocomplete="off" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <label style="min-width: 100px"><b>Lọc theo kế hoạch ngày</b></label>
                                <select class="form-control kt-select2" name="sl_Type" id="sl_Type">
                                    <option selected value="1">Ngày lên kế hoạch, ngày kết thúc</option>
                                    <option value="2">Lọc theo ngày thực hiện</option>
                                </select>
                            </div>
                             <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <label style="min-width: 100px"><b>Trạng thái đơn</b></label>
                                <select class="form-control kt-select2" name="sl_StatusLoan" id="sl_StatusLoan">
                                    <option value="-111">Tất cả</option>
                                    <option value="0">Chưa xử lý</option>
                                    <option value="1">Đã xử lý</option>
                                </select>
                            </div>
                            <div class="col-md-1 kt-margin-b-20-tablet-and-mobile">
                                <label style="min-width: 100px"><b>Trưởng phòng</b></label>
                                <select class="form-control kt-select2" name="sl_Manager" id="sl_Manager">
                                    <option selected value="-111">Tất cả</option>
                                </select>
                            </div>
                            <div class="col-md-1 kt-margin-b-20-tablet-and-mobile">
                                <label style="min-width: 100px"><b>Trưởng nhóm</b></label>
                                <select class="form-control kt-select2" name="sl_TeamLead" id="sl_TeamLead">
                                      <option value="-111">Tất cả</option>
                                </select>
                            </div>
                            <div class="col-md-1 kt-margin-b-20-tablet-and-mobile">
                                <label style="min-width: 100px"><b>Nhân viên</b></label>
                                <select class="form-control kt-select2" name="sl_Staff" id="sl_Staff">
                                      <option value="-111">Tất cả</option>
                                </select>
                            </div>
                           
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile  kt-margin-t-25">
                                <button class="btn btn-info m-btn kt-btn--air" id="btnGetData">
                                    <span>
                                        Tìm kiếm
                                    </span>
                                </button>
                                <div class="d-md-none kt--margin-bottom-10"></div>
                                <button class="btn btn-success m-btn kt-btn--air" onclick="reportDayPlan.ExportExcel()">
                                    <i class="fa fa-file-import"></i>
                                    <span>
                                        Xuất excel
                                    </span>
                                </button>
                                <input type="file" id="upload-status" name="upload-status" style="display: none" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                     <div class="col-md-2">
                     </div>
                    <div class="col-md-5">
                       <table>
                           <th> <h3>Tổng số đơn: <span id="txt_TotalLoan"></span></h3></th>
                           <th><h3>Đã xử lý: <span id="txt_LoanProcess" ></span></h3></th>
                           <th> <h3>Chưa xử lý: <span id="txt_LoanNotProcess"></span></h3></th>
                       </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="dv_result">
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>
    </div>
</div>
@section Scripts {
<script src="~/static/scripts/report/reportDayPlan.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/static/scripts/xlsx.full.min.js"></script>
}


