﻿
@{
    Layout = null;
}
<style>
    .k-state-selected {
        background-color: lightcoral !important;
    }

    .imgViewer {
        max-height: inherit;
    }

    .header_line_200 {
        position: relative;
        margin: 0 0 10px 0;
        font-style: italic;
    }

        .header_line_200:before {
            content: "";
            display: block;
            position: absolute;
            left: 260px;
            right: 20px;
            bottom: 8px;
            border-top: 1px solid #e8ecef;
        }

    .alignRight {
        text-align: end;
    }
</style>
<div class="modal fade" id="ModalInvoice" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="VerifyInvoiceHeaderId" style="font-weight:bold;"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="createInvoice.CustomerInfo_Clear()">
                </button>
            </div>
            <div class="modal-body">
                <!--begin::modal-body-->
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <!--begin::Thông tin khách hàng-->
                        <div id="CustomerDiv" style="display:none;">
                            <div class="header_line_200"><h4><i class="fa fa-info-circle"></i> Thông tin khách hàng</h4></div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Tìm khách hàng:</label>
                                <div class="col-lg-3">
                                    <input type="text" class="form-control" id="CustomerKeySearch" value="001084004137" placeholder="Nhập tên KH, CMT, SĐT">
                                </div>
                                <label class="col-form-label"> </label>
                                <div class="col-lg-3">
                                    <button href="#" class="btn btn-info m-btn kt-btn--air" id="btnGetCustomer" onclick="verifyInvoice.FindCustomer()">
                                        <span>
                                            Tìm kiếm
                                        </span>
                                    </button>
                                </div>

                            </div>
                            <div class="form-group row Class_Invoice_Customer">
                                <div class="col-md-12">
                                    <div id="GridCustomer_Verify">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row SelectecdCustomer_div">
                            <!--begin::Thông tin khách hàng đã chọn-->
                            <div class="col-md-12 col-xl-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-sm-12 col-form-label alignRight">Tên khách hàng: </label>
                                    <div class="col-md-8 col-sm-12">
                                        <label class="form-control-plaintext kt-font-bolder" id="Invoice_CustomerName"></label>
                                        <input type="hidden" id="CustomerID">
                                        <input type="hidden" id="LoanID">
                                        <input type="hidden" id="OwnerShopID">
                                        <input type="hidden" id="LoanCreditIDOfPartner">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xl-6">
                            </div>
                            <!--end::Thông tin khách hàng-->
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xl-6">
                                <div class="form-group row">
                                    <label for="TransactionMoney" class="col-md-4 col-sm-12 col-form-label alignRight">Số tiền: </label>
                                    <div class="col-md-8 col-sm-12">
                                        <label class="col-form-label" id="TransactionMoney"></label>
                                        <input type="hidden" id="TransactionMoney_hdd" value="0">
                                        <input type="hidden" id="InvoiceID">
                                        <input type="hidden" id="TotalMoney">
                                        <input type="hidden" id="CustomerID">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xl-6">
                                <div class="form-group row">
                                    <label for="TransactionDate" class="col-md-4 col-sm-12 col-form-label alignRight">Ngày giao dịch: </label>
                                    <div class="col-8">
                                        <div class="input-group ">
                                            <label class="col-form-label" id="TransactionDate"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--begin::Thông tin chứng từ-->
                        <!--begin::Thông tin phiếu-->
                        <div class="row">
                            <div class="col-md-12 col-xl-6">
                                @*<div class="form-group row">
                                    <label for="TransactionMoney" class="col-md-4 col-sm-12 col-form-label alignRight">Số tiền: </label>
                                    <div class="col-md-8 col-sm-12">
                                        <label class="col-form-label" id="TransactionMoney"></label>
                                        <input type="hidden" id="TransactionMoney_hdd" value="0">
                                        <input type="hidden" id="InvoiceID">
                                        <input type="hidden" id="TotalMoney">
                                        <input type="hidden" id="CustomerID">
                                    </div>
                                </div>*@
                                <div class="form-group row">
                                    <label for="StatusName" class="col-md-4 col-sm-12 col-form-label alignRight">Trạng thái: </label>
                                    <div class="col-md-8 col-sm-12">
                                        <label class="col-form-label" id="StatusName"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xl-6">
                                <div style="display:none;" class="form-group row" id="BankCardID_div">
                                    <label for="Verify_BankCardID" class="col-md-4 col-sm-12 col-form-label alignRight">Thẻ ngân hàng: </label>
                                    <div class="col-md-8 col-sm-12">
                                        <input class="form-control" id="Verify_BankCardID" style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="form-group row" id="DestinationName_div">
                                    <label for="DestinationName" class="col-md-4 col-sm-12 col-form-label alignRight">Thẻ ngân hàng: </label>
                                    <div class="col-md-8 col-sm-12">
                                        <label class="col-form-label" id="DestinationName"></label>
                                    </div>
                                </div>
                                <div class="form-group row" style="display:none;">
                                    <label for="UserNameCreate" class="col-md-4 col-sm-12 col-form-label alignRight">Người tạo phiếu: </label>
                                    <div class="col-md-8 col-sm-12">
                                        <input class="form-control" type="text" id="UserNameCreate" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="Description" class="col-2 col-form-label alignRight">Diễn giải: </label>
                                    <div class="col-10">
                                        <label class="col-form-label" id="Description"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row Note_Verify">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="Note_Verify" class="col-2 col-form-label alignRight">Ghi chú: </label>
                                    <div class="col-10">
                                        <textarea class="form-control" cols="3" id="Note_Verify"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Thông tin phiếu treo-->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#TabLichsu" id="tab_paymentschedule" onclick="verifyInvoice.InitGridLichSu()">
                                    <i class="la la-cloud-download"></i>  Lịch sử
                                    <i id="LichSuLoading" class="kt-spinner kt-spinner--sm kt-spinner--success" style="display:none;"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#TabImage" onclick="verifyInvoice.InitTabImage()">
                                    <i class="la la-university"></i> Ảnh <i id="ImageLoading" style="display:none;" class="kt-spinner kt-spinner--sm kt-spinner--success"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="TabLichsu" role="tabpanel">
                                <partial name="~/Views/VerifyInvoice/Detail/_partialDetailTabLichsu.cshtml" />
                            </div>
                            <div class="tab-pane active" id="TabImage" role="tabpanel">
                                <partial name="~/Views/VerifyInvoice/Detail/_partialDetailTabImage.cshtml" />
                            </div>
                        </div>
                        <!--end::Thông tin chứng từ-->
                    </div>
                </div>
                <!--end::modal-body-->
            </div>
            <div class="modal-footer row">
                <div class="col-12" style="text-align: right;">
                    <button class="btn btn-primary" style="display:none;" id="btn_VerifyInvoiceConsiderCustomer_invoice"><i class="flaticon2-circle-vol-2"></i> Xác minh</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="verifyInvoice.CustomerInfo_Clear()"><i class="flaticon-close"></i> Đóng </button>
                </div>
            </div>
        </div>
    </div>
</div>
