﻿@using FrontEnd.Common.Helpers
@{
    Layout = null;
    var Menu_AppIDs = Enum.GetValues(typeof(LMS.Common.Constants.Menu_AppID)).Cast<LMS.Common.Constants.Menu_AppID>();
}

<div class="modal fade" id="modal_edit_department" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="header_edit_department"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="kt-form kt-form--label-right">
                <div class="modal-body">
                    <input type="hidden" name="DepartmentID" id="hdd_edit_departmentID" value="0" />
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                            Tên phòng ban
                        </label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            <input class="form-control" type="text" id="txt_edit_deparment" name="DepartmentName" placeholder="Nhập phòng ban">
                        </div>
                    </div>
                    <div class="form-group row" id="menu_ParentID">
                        <label for="ParentID" class="col-lg-3 col-sm-4 col-4 col-form-label">Phòng ban cha<span style="color:red">*</span></label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            <select class="form-control kt-select2 sl_ParentID" id="ParentID" name="ParentID" style="width:100%">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" id="menu_ParentID">
                        <label for="AppID" class="col-lg-3 col-sm-4 col-4 col-form-label"> Phân hệ <span style="color:red">*</span></label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            <select class="form-control kt-select2 sl_AppID" id="AppID" name="AppID" style="width:100%">
                                @foreach (var item in Menu_AppIDs)
                                {
                                    <option value="@((int)item)">@item.GetDescription()</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txt_company_creatE_Code" class="col-form-label col-lg-3 col-sm-4 col-4" style="margin-top:5px;">Hoạt động</label>
                        <div class="kt-radio-inline col-lg-6 col-sm-8 col-8 pl-2" style="margin-left:5px;">
                            <input data-switch="true" type="checkbox" checked="checked" id="kt_switch_2">
                        </div>
                    </div>
                </div>
                <div class="modal-footer ">
                    <div class="col-3">
                    </div>
                    <div class="col-9">
                        <button type="button" class="btn btn-primary" id="btn_save_department"><i class="fa fa-save"></i>Thêm mới</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>