﻿@{
    Layout = null;
}
<style>
    .k-state-selected {
        background-color: lightcoral !important;
    }

    .imgViewer {
        max-height: inherit;
    }

    .header_line_200 {
        position: relative;
        margin: 0 0 10px 0;
        font-style: italic;
    }

        .header_line_200:before {
            content: "";
            display: block;
            position: absolute;
            left: 260px;
            right: 20px;
            bottom: 8px;
            border-top: 1px solid #e8ecef;
        }

    .alignRight {
        text-align: end;
    }
</style>
<div class="modal fade" id="model_DebtRestructuringLoan" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lb_update_profile_title" style="font-weight:bold;">Thêm mới đơn cấu trúc khoản vay</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
   
                <div class="modal-body">
                    <!--begin::modal-body-->
                    <div class="kt-portlet">
                        <div class="kt-portlet__body">
                            <div class="row SelectecdCustomer_div">
                                <input type="hidden" value="0" id="hd_DebtRestructuringLoanID">
                                <div class="col-md-12 col-xl-6">
                                    <div class="form-group row">
                                        <label class="col-md-4 col-sm-12 col-form-label">Mã TC <span style="color:red">*</span> </label>
                                        <div class="col-md-8 col-sm-12">
                                            <input type="text" class="form-control" id="txt_loanContract" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <b>Ảnh request xin ngoại lệ thành công</b> <br />
                                </div>
                                <div class="col-lg-12" id="dvUpload">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::modal-body-->
                </div>
                <div class="modal-footer row">
                    <div class="col-12" style="text-align: right;">
                        <button class="btn btn-primary" id="btn_updateProfile"><i class="flaticon2-circle-vol-2"></i> Lưu</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="flaticon-close"></i> Đóng </button>
                    </div>
                </div>
            
        </div>
    </div>
</div>
