﻿@{
    Layout = null;
}
<style>
    .k-state-selected {
        background-color: lightcoral !important;
    }

    .imgViewer {
        max-height: inherit;
    }

    .header_line_200 {
        position: relative;
        margin: 0 0 10px 0;
        font-style: italic;
    }

        .header_line_200:before {
            content: "";
            display: block;
            position: absolute;
            left: 260px;
            right: 20px;
            bottom: 8px;
            border-top: 1px solid #e8ecef;
        }

    .alignRight {
        text-align: end;
    }

    .font-bold {
        font-weight: bold;
    }

    .txt-right {
        text-align: right
    }
</style>
<div class="modal fade" id="details_profile" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lb_title_details" style="font-weight:bold;"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <!--begin::modal-body-->
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <div class="row">
                            <div class="col-md-12 col-xl-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-sm-12 col-form-label">Mã TC: </label>
                                    <div class="col-md-8 col-sm-12">
                                        <label class="col-form-label" id="txt_details_ContractCode"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xl-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-sm-12 col-form-label alignRight">Người tạo: </label>
                                    <div class="col-8">
                                        <div class="input-group ">
                                            <label class="col-form-label" id="txt_details_CreateBy"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                   <div class="row">
                            <div class="col-md-12 col-xl-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-sm-12 col-form-label">Gói sản phẩm: </label>
                                    <div class="col-md-8 col-sm-12">
                                        <label class="col-form-label" id="txt_details_Product"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xl-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-sm-12 col-form-label alignRight">POP BOM: </label>
                                    <div class="col-8">
                                        <div class="input-group ">
                                            <label class="col-form-label" id="txt_details_POPBOM"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#TabMGLImg" id="tab_MGL">
                                    <i class="fa fa-file-image"></i>Ảnh base request
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#TabLichSu" onclick="list.ShowHistory()">
                                    <i class="fa fa-file-image"></i> Lịch sử
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="TabMGLImg" role="tabpanel">
                                <div class="row">
                                    <div class="m-accordion m-accordion--default m-accordion--solid col-md-3" id="m_accordion_5" role="tablist">
                                    </div>
                                    <div class="col-md-12 " style="background-color:#f2f3f8" id="div-lst-img-mgl">
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="TabLichSu" role="tabpanel">
                                <div class="row">
                                    <div id="dv_result_lichsu">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::modal-body-->
            </div>
            <div class="modal-footer row">
                <div class="col-12" style="text-align: right;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="flaticon-close"></i> Đóng </button>
                </div>
            </div>
        </div>
    </div>
</div>
