﻿
@{
    Layout = null;
}
<div class="modal fade" id="ModalOther" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateInvoiceHeaderId" style="font-weight:bold;"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="createInvoice.CustomerInfo_Clear()">
                </button>
            </div>
            <div class="modal-body">
                <!--begin::modal-body-->
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <!--begin::Thông tin phiếu--> 
                        <div class="header_line_458" style=" margin-top: 15px;"><h3><i class="fab fa-wpforms"></i> <span id="Customer_Invoice_Form">Điền thông tin phiếu thu của khách hàng</span></h3></div>
                        <div class="row"> 
                            <div class="col-md-12 col-xl-12">
                                <div class="form-group row">
                                    <label for="BankCardID" class="col-4 col-form-label">Thẻ ngân hàng</label>
                                    <div class="col-8">
                                        <select class="form-control kt-select2" id="Invoice_BankCardID" style="width:100%;">
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="TotalMoney" class="col-4 col-form-label">Số tiền</label>
                                    <div class="col-8">
                                        <input class="form-control" type="text" id="Invoice_TotalMoney" value="0">
                                        <input class="form-control" type="hidden" id="Invoice_TotalMoney_hdd" value="0">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="StrTransactionDate" class="col-4 col-form-label">Ngày giao dịch</label>
                                    <div class="col-8">
                                        <div class="input-group ">
                                            <input type="text" class="form-control kt_datetimepicker" id="Invoice_StrTransactionDate" autocomplete="off" />
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="la la-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="Note" class="col-2 col-form-label">Nội dung</label>
                                    <div class="col-10">
                                        <textarea class="form-control" cols="3" id="Note"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::modal-body-->
            </div>
            <div class="modal-footer row">
                <div class="col-12" style="text-align:right;">
                    <button type="button" class="btn btn-primary" id="btn_save" onclick="createInvoice.SaveInvoice()"><i class="fa fa-save"></i>Thêm mới</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="createInvoice.CustomerInfo_Clear()">Đóng </button>
                </div>
            </div>
        </div>
    </div>
</div>
