﻿
@{
    Layout = null;
} 
<style>
    #grid > table {
        table-layout: fixed;
    }
    .header_line_200 {
        position: relative;
        margin:0 0 10px 0;
        font-style:italic;
    }

        .header_line_200:before {
            content: "";
            display: block;
            position: absolute;
            left: 260px;
            right: 20px;
            bottom: 8px;
            border-top: 1px solid #e8ecef;
        }
    .header_line_458 {
        position: relative;
        margin: 0 0 10px 0;
        font-style: italic;
    }

        .header_line_458:before {
            content: "";
            display: block;
            position: absolute;
            left: 458px;
            right: 20px;
            bottom: 8px;
            border-top: 1px solid #e8ecef;
        }
    .k-state-selected {
        background-color: rgb(239 149 63 / 60%) !important;
    }
    .k-dropdown-wrap {
        padding: 5px 0 0 0 !important;
    }
</style>
<div class="modal fade" id="ModalCreateInvoice" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateInvoiceHeaderId" style="font-weight:bold;"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"  onclick="createInvoice.CustomerInfo_Clear()">
                </button>
            </div>
            <div class="modal-body">
                <!--begin::modal-body-->
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <input type="hidden" id="hdd_confirm_ticketID" value="0"/>
                        <!--begin::Thông tin khách hàng-->
                        <div class="header_line_200 Class_Invoice_Customer"><h3><i class="fa fa-info-circle"></i> Thông tin khách hàng</h3></div>
                        <div class="form-group row Class_Invoice_Customer">
                            <label class="col-lg-2 col-form-label">Tìm khách hàng:</label>
                            <div class="col-lg-3">
                                <input type="text" class="form-control" id="CustomerKeySearch" value="001084004137" placeholder="Nhập tên KH, CMT, SĐT">
                            </div>
                            <label class="col-form-label"> </label>
                            <div class="col-lg-3">
                                <button href="#" class="btn btn-info m-btn kt-btn--air" id="btnGetCustomer" onclick="createInvoice.GetCustomer()">
                                    <span>
                                        Tìm kiếm
                                    </span>
                                </button>
                            </div>

                        </div>
                        <div class="form-group row Class_Invoice_Customer">
                            <div class="col-md-12" >
                                <div id="lstCustomer">

                                </div>
                            </div>
                        </div>
                        <!--begin::Thông tin khách hàng-->
                        <!--begin::Thông tin Lender-->
                        <div class="header_line_200 Class_Invoice_Lender"><h3><i class="fa fa-info-circle"></i> Thông tin hợp đồng</h3></div>
                        <div class="form-group row Class_Invoice_Lender">
                            <label class="col-lg-2 col-form-label">Tìm mã hợp đồng lender:</label>
                            <div class="col-lg-3">
                                <select class="form-control" id="Invoice_LenderID" style="width:100%;">
                                </select>
                            </div>
                        </div>
                        <div class="form-group row Class_Invoice_SearchInvoiceAdvanceSlipLender" style="display:none;">
                            <div class="col-md-12">
                                <div id="SearchInvoiceAdvanceSlipLender">

                                </div>
                            </div>
                        </div>
                        <!--begin::Thông tin khách hàng-->
                        <div class="header_line_458" style=" margin-top: 15px;"><h3><i class="fab fa-wpforms"></i> <span id="Customer_Invoice_Form">Điền thông tin phiếu thu của khách hàng</span></h3></div>
                        <div class="row">
                            <!--begin::Thông tin khách hàng-->
                            <div class="col-md-12 col-xl-6  Class_Invoice_Customer">
                                <div class="form-group row">
                                    <label for="ContactCode" class="col-md-4 col-sm-12 col-form-label">Mã hợp đồng</label>
                                    <div class="col-md-8 col-sm-12">
                                        <input class="form-control" type="text" id="Invoice_ContactCode" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="CustomerName" class="col-md-4 col-sm-12 col-form-label">Tên khách hàng</label>
                                    <div class="col-md-8 col-sm-12">
                                        <input class="form-control" type="text" id="Invoice_CustomerName" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="OwnerShopName" class="col-md-4 col-sm-12 col-form-label">Khách hàng ở cửa hàng</label>
                                    <div class="col-md-8 col-sm-12">
                                        <input class="form-control" type="text" id="Invoice_OwnerShopName" readonly>
                                    </div>
                                </div>
                            </div>
                            <!--end::Thông tin khách hàng-->
                            <!--begin::Thông tin lender-->
                            <div class="col-md-12 col-xl-6  Class_Invoice_Lender">
                                <div class="form-group row">
                                    <label for="Invoice_LenderCode" class="col-md-4 col-sm-12 col-form-label">Mã hợp đồng lender</label>
                                    <div class="col-md-8 col-sm-12">
                                        <input class="form-control" type="text" id="Invoice_LenderCode" readonly>
                                    </div>
                                </div>
                                <div class="form-group row" style="display:none;">
                                    <label for="Invoice_LenderName" class="col-md-4 col-sm-12 col-form-label">Họ và tên</label>
                                    <div class="col-md-8 col-sm-12">
                                        <input class="form-control" type="text" id="Invoice_LenderName" readonly>
                                    </div>
                                </div>
                            </div>
                            <!--end::Thông tin lender-->

                            <div class="col-md-12 col-xl-6" id="Common_Form">
                                <div class="form-group row Class_Invoice_ReceiptOnBehalfShop" style="display:none;">
                                    <label for="Invoice_ShopID" class="col-4 col-form-label" id="lable_Invoice_ShopID">Cửa hàng thu hộ</label>
                                    <div class="col-8">
                                        <input class="form-control" id="Invoice_ShopID" style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Invoice_BankCardID" class="col-4 col-form-label" id="lable_Invoice_BankCardID">Thẻ ngân hàng</label>
                                    <div class="col-8">
                                        <input class="form-control" id="Invoice_BankCardID" style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="form-group row class_Invoice_ToBankCardID" style="display:none;">
                                    <label for="Invoice_ToBankCardID" class="col-4 col-form-label">Thẻ ngân hàng thu</label>
                                    <div class="col-8">
                                        <input class="form-control" id="Invoice_ToBankCardID" style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="form-group row class_Invoice_Payee" style="display:none;">
                                    <label for="Invoice_Payee" class="col-4 col-form-label">Phí</label>
                                    <div class="col-8">
                                        <input class="form-control" id="Invoice_Payee" style="width: 100%;" />
                                    </div>
                                </div>
                                <div class="form-group row class_Invoice_MoneyFee" style="display:none;">
                                    <label for="TotalMoney" class="col-4 col-form-label">Tiền phí</label>
                                    <div class="col-8">
                                        <input class="form-control" type="text" id="Invoice_MoneyFee" value="0">
                                        <input class="form-control" type="hidden" id="Invoice_MoneyFee_hdd" value="0">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="TotalMoney" class="col-4 col-form-label">Số tiền</label>
                                    <div class="col-8">
                                        <input class="form-control" type="text" id="Invoice_TotalMoney" value="0">
                                        <input class="form-control" type="hidden" id="Invoice_TotalMoney_hdd" value="0">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="StrTransactionDate" class="col-4 col-form-label">Ngày giao dịch</label>
                                    <div class="col-8">
                                        <div class="input-group ">
                                            <input type="text" class="form-control kt_datetimepicker" id="Invoice_StrTransactionDate" autocomplete="off" />
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="la la-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="Note" class="col-2 col-form-label">Nội dung</label>
                                    <div class="col-10">
                                        <textarea class="form-control" cols="3" id="Note"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row class_Invoice_PreviewInvoice" style="display:none;">
                            <div class="col-md-12">
                                <div id="PreviewInvoice"></div>
                            </div>
                        </div>
                    </div> 
                </div> 
                <!--end::modal-body-->
            </div>
            <div class="modal-footer row"> 
                <div class="col-12" style="text-align:right;">
                    <button class="btn btn-primary" id="btn_save_invoice" onclick="createInvoice.SaveInvoice()"><i class="fa fa-save"></i>Thêm mới</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="createInvoice.CustomerInfo_Clear()">Đóng </button>
                </div>
            </div>
        </div>
    </div>
</div>
