﻿
@{
    Layout = null;
}


<div class="modal fade" id="modal_add_edit" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="headerId"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="kt-form kt-form--label-right">
                <div class="modal-body">
                    <input type="hidden" id="hdd_Id" value="0" />
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                            Tên Group
                        </label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            <input class="form-control" type="text" id="txt_edit" name="GroupName" placeholder="Nhập tên group">
                        </div>
                    </div> 
                    <div class="form-group row">
                        <label for="kt_switch_2" class="col-form-label col-lg-3 col-sm-4 col-4" style="margin-top:5px;">Hoạt động</label>
                        <div class="kt-radio-inline col-lg-6 col-sm-8 col-8 pl-2">
                            <input data-switch="true" type="checkbox" checked="checked" id="kt_switch_2">
                        </div>
                    </div>
                </div>
                <div class="modal-footer row">
                    <div class="col-3">

                    </div>
                    <div class="col-9">
                        <button type="button" class="btn btn-primary" id="btn_save"><i class="fa fa-save"></i>Thêm mới</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
