﻿
@{
    Layout = null;
}
<div class="modal fade show" id="modal_groupPermission" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Phân quyền API cho nhóm quyền <b id="lblGroupName"> </b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseModalAPIOfGroup" style="cursor:pointer">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button> 
            </div>
            <div class="modal-body" style="padding:10px"> 
                <div class="row align-items-center">
                    <div class="col-xl-12 kt-margin-b-10">
                        <div class="row align-items-center"> 
                            <div class="col-md-4">
                                <label><b>Tên Group</b></label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Tìm theo tên" id="GeneralSearch">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label><b>Trạng thái</b></label>
                                <select class="form-control kt-select2" id="IsHasPermission" style="width:100%;">
                                    <option value="100">
                                        Tất cả
                                    </option>
                                    <option value="1">
                                        Đã phân quyền
                                    </option>
                                    <option value="0">
                                        Chưa phân quyền
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <button href="#" class="btn btn-info m-btn kt-btn--air" id="btnGetData" onclick="addOrEdit.SavePermissionsToGroup()" style="margin-top: 22px;">
                                    <i class="fa fa-sign-in"></i>
                                    <span>
                                        Lưu phân quyền
                                    </span>
                                </button>
                                <button class="btn btn-success btn-icon btn-circle kt-spinner kt-spinner--center kt-spinner--sm kt-spinner--light" id="Seaching"></button>
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="groupPermission_grid">

                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>
