﻿
@{
    Layout = null;
}
<div class="modal fade show" id="modal_groupMenu" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Phân quyền Menu cho nhóm quyền <b id="lblGroupName_Menu"> </b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseModalAPIOfGroup" style="cursor:pointer">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="modal-body" style="padding:10px">
                <div class="row align-items-center">
                    <div class="col-xl-12 kt-margin-b-10">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <label><b>Phân hệ</b></label>
                                <select class="form-control kt-select2" id="AppID" style="width:100%;">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 kt-margin-b-10">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <label><b>Menu</b></label>
                                <div id="kt_tree_permission">

                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div> 