﻿
@{
    Layout = null;
}

<div class="modal fade" id="model_holdMoneyCustomer" role="dialog" aria-modal="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><b>Đề xuất Hold tiền</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="kt-form kt-form--label-right">
                <input type="hidden" id="hdd_customerID" value="0" />
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-form-label col-4 col-lg-2 col-xl-2">
                            Tìm khách hàng <span style="color:red">*</span>
                        </label>
                        <div class="col-lg-3 col-sm-8 col-8">
                            <input class="form-control" type="text" id="txt_contactCode" placeholder="Tìm theo tên KH, mã HĐ" autocomplete="off">
                        </div>
                        <div class="col-lg-3">
                            <button href="#" class="btn btn-info m-btn kt-btn--air" id="btnGetCustomer" onclick="hold.GetCustomer()">
                                <span>
                                    Tìm kiếm
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 col-lg-12 col-xl-12">
                            <div id="lstCustomer">

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4 col-lg-2 col-xl-2">
                            Mã HĐ
                        </label>
                        <div class="col-8 col-lg-5 col-xl-4">
                            <input class="form-control" type="text" id="txt_maHD" placeholder="Mã HĐ" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4 col-lg-2 col-xl-2">
                            Tên khách hàng
                        </label>
                        <div class="col-8 col-lg-5 col-xl-4">
                            <input class="form-control" type="text" id="txt_customerName" placeholder="Tên khách hàng" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4 col-lg-2 col-xl-2">
                            Số tiền Hold <span style="color:red">*</span>
                        </label>
                        <div class="col-8 col-lg-5 col-xl-4">
                            <input class="form-control" type="text" id="txt_moneyHold" placeholder="Nhập số tiền" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4 col-lg-2 col-xl-2">
                            Lý do Hold <span style="color:red">*</span>
                        </label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            <textarea class="form-control" id="txt_reasonHold"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" id="btn_closeHoleMoney">Đóng</button>
                <button class="btn btn-success" id="btn_holdMoneyCustomer" onclick="hold.Save_HoldMoneyCustomer()">Đề xuất</button>
            </div>
        </div>
    </div>
</div>