﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Trang chủ
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div id="link_aff"></div>
        </div>
    </div>
</div>
@section Scripts {
<script src="~/scripts/home/index.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>

<script>
    $(document).ready(function () {
        home.init();
    });
</script>
}


