﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<base href="../../../">
	<meta charset="utf-8">
	<title>Metronic | Error Page - 6</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!--begin::Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">

	<!--end::Fonts -->
	<!--begin::Page Custom Styles(used by this page) -->
	<link href="~/assets/css/pages/error/error-6.css" rel="stylesheet" type="text/css">

	<!--end::Page Custom Styles -->
	<!--begin::Global Theme Styles(used by all pages) -->
	<link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css">
	<link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css">

	<!--end::Global Theme Styles -->
	<!--begin::Layout Skins(used by all pages) -->
	<link href="~/assets/css/skins/header/base/light.css" rel="stylesheet" type="text/css">
	<link href="~/assets/css/skins/header/menu/light.css" rel="stylesheet" type="text/css">
	<link href="~/assets/css/skins/brand/dark.css" rel="stylesheet" type="text/css">
	<link href="~/assets/css/skins/aside/dark.css" rel="stylesheet" type="text/css">

	<!--end::Layout Skins -->
	<link rel="shortcut icon" href="~/assets/media/logos/favicon.ico">
</head>
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed">

	<!-- begin:: Page -->
	<div class="kt-grid kt-grid--ver kt-grid--root">
		<div class="kt-grid__item kt-grid__item--fluid kt-grid  kt-error-v6" style="background-image: url(../assets/media/error/bg6.jpg);">
			<div class="kt-error_container">
				<div class="kt-error_subtitle kt-font-light">
					<h1>Xin lỗi...</h1>
				</div>
				<p class="kt-error_description kt-font-light">
					Tính năng đang phát triển !.<br>
				</p>
			</div>
		</div>
	</div>

	<!-- end:: Page -->
	<!-- begin::Global Config(global config for global JS sciprts) -->
	<script>
		var KTAppOptions = {
			"colors": {
				"state": {
					"brand": "#5d78ff",
					"dark": "#282a3c",
					"light": "#ffffff",
					"primary": "#5867dd",
					"success": "#34bfa3",
					"info": "#36a3f7",
					"warning": "#ffb822",
					"danger": "#fd3995"
				},
				"base": {
					"label": [
						"#c5cbe3",
						"#a1a8c3",
						"#3d4465",
						"#3e4466"
					],
					"shape": [
						"#f0f3ff",
						"#d9dffa",
						"#afb4d4",
						"#646c9a"
					]
				}
			}
		};
	</script>

	<!-- end::Global Config -->
	<!--begin::Global Theme Bundle(used by all pages) -->
	@*<script src="assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>*@
	<script src="~/assets/plugins/global/plugins.bundle.js"></script>
	@*<script src="assets/js/scripts.bundle.js" type="text/javascript"></script>*@
	<script src="~/assets/js/scripts.bundle.js"></script>

	<!--end::Global Theme Bundle -->
	<!-- end::Body -->
</body>
</html>
