﻿
@{
    Layout = null;
}
<style>
    .imgClass{
        width:100% !important;
    }
</style>
    <div class="row">

        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="header_line_200"><h4><i class="flaticon2-image-file"></i>  Quản lý hình ảnh  </h4></div>
                    <button type="button" class="btn btn-bold btn-label-brand btn-sm" id="btnBrowserImage" onclick="verifyInvoice.OpenChooseFile()">
                        <i class="flaticon2-plus"></i> Upload Ảnh
                    </button>
                    <input type="file" name="fileUploadFile" id="fileUploadFile" multiple style="display: none;" accept="image/*" onchange="verifyInvoice.UploadFile();" />
                </div>
            </div>
            <div class="row" id="images">
                
            </div> 
        </div>
    </div>
 