﻿
@{
    Layout = null;
}

<div class="modal fade" id="modal_autoDisbursement" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title_partial_autoDisbursement"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="hdd_partial_autoDisbursementID" value="0" />
                    <input type="hidden" id="hdd_partial_autoDisbursementFullName" value="" />
                    <div class="kt-portlet__body">
                        <div class="form-group ">
                            <label>Ghi chú:</label>
                            <div class="kt-input-icon kt-input-icon--right">
                                <textarea class="form-control" id="partial_note_autoDisbursement"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnExit_autoDisbursement">Đóng</button>
                <button type="button" class="btn btn-primary" id="btn_save_autoDisbursement" onclick="disbursement.Save_AutoDisbursement()">Xác nhận</button>
            </div>
        </div>
    </div>
</div>