﻿
@{
    Layout = null;
}

<div class="modal fade" id="modal_edit_loanLender" role="dialog" aria-hidden="true" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><b>Nhật ký</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="kt-form kt-form--label-right">
                <input type="hidden" id="hdd_loanlenderID" value="0" />
                <div class="modal-body">
                    @*<div class="form-group form-group-last">
                        <textarea class="form-control" rows="3" id="txtNote"></textarea>
                    </div>*@
                    <div class="form-group ">
                        <label>Ghi chú:</label>
                        <div class="kt-input-icon kt-input-icon--right">
                            <textarea class="form-control" rows="5" id="txtNote"></textarea>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" id="btn_save_comment" onclick="disbursement.Save_CommentLenderLOS()">Lưu</button>
                </div>
                <div class="modal-content">
                    <div class="modal-header" style="border-bottom: none; padding-bottom:0px">
                        <h5><i class="fa fa-list-ul"></i> Lịch sử</h5>
                    </div>
                    <div class="modal-body">
                        <div class="kt-portlet__body">
                            <!--begin::Section-->
                            <div class="kt-section">
                                <div class="kt-section__content">
                                    <div class="col-lg-12">
                                        <div id="HistoryCommentTable">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Section-->
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
