﻿
@{
    Layout = null;
}

<div class="modal fade" id="modal_returnLoan" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title_partial_returnLoan"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="hdd_partial_returnLoanID" value="0" />
                    <input type="hidden" id="hdd_partial_returnLoanFullName" value="" />
                    <div class="kt-portlet__body">
                        @*<div class="form-group ">
                            <label>Lý do chi tiết:</label>
                            <div class="kt-input-icon kt-input-icon--left">
                                <select class="form-control kt-select2" id="sl_partial_reason" style="width:100%">
                                    <option value="0">Chọn một lý do</option>
                                    <option value="9">Đại lý không duyệt ngoại tỉnh</option>
                                    <option value="10">Đại lý không duyệt gia đình nhân thân phức tạp</option>
                                    <option value="11">Đại lý không duyệt vì xa quá</option>
                                    <option value="12">Đại lý không duyệt vì ở thuê</option>
                                    <option value="13">Đại lý không duyệt vì nhà chung cư</option>
                                    <option value="78">Hồ sơ không đạt chuẩn</option>
                                    <option value="79">Khách hàng không cư trú tại địa chỉ khai báo</option>
                                    <option value="80">Không thẩm định được nhà</option>
                                    <option value="81">Không thẩm định được công ty</option>
                                    <option value="93">Không hợp khẩu vị đại lý</option>
                                    <option value="94">Nhận thấy khách hàng không đủ khả năng chi trả khoản vay</option>
                                    <option value="27">Lý do khác</option>
                                </select>
                            </div>
                        </div>*@
                        <div class="form-group ">
                            <label>Ghi chú:</label>
                            <div class="kt-input-icon kt-input-icon--right">
                                <textarea class="form-control" id="partial_note"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnExit">Đóng</button>
                <button type="button" class="btn btn-primary" id="btn_save_returnLoan" onclick="disbursement.Save_ReturnLoan()">Xác nhận</button>
            </div>
        </div>
    </div>
</div>