﻿
@{
    Layout = null;
}
 
<div class="modal fade" id="modal_add_edit" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="headerId"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="kt-form kt-form--label-right">
                <div class="modal-body">
                    <input type="hidden" id="hdd_invoiceId" value="0" /> 
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                            Đối tượng thu/chi
                        </label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            <input class="form-control" type="text" id="SourceName_" name="SourceName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                            Cửa hàng
                        </label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            <input class="form-control" type="text" id="ShopID_" name="ShopID">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                            Trạng thái
                        </label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            <input class="form-control" type="text" id="Status_" name="Status">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                            Người tạo
                        </label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            <input class="form-control" type="text" id="UserNameCreate_" name="UserNameCreate" placeholder="Người tạo">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                            Ngày tạo
                        </label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            <input class="form-control" type="text" id="CreateDate_" name="CreateDate" placeholder="Ngày tạo">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                            Diễn giải
                        </label>
                        <div class="col-lg-9 col-sm-8 col-8">
                            <textarea class="form-control" readonly="" rows="5" id="Description" name="Description"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer row">
                    <div class="col-9">

                    </div>
                    <div class="col-3">
                        <button type="button" style="display:none;" class="btn btn-primary" id="btn_save"><i class="fa fa-save"></i>Thêm mới</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
