﻿
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var AdminUrl = Configuration["AppSettings:AdminUrl"];
    var CookieName = FrontEnd.Common.Helpers.Constants.STATIC_USERMODEL;
}
<!DOCTYPE html>
<html lang="en">

<!-- begin::Head -->
<head>
    <base href="">
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="Updates and statistics">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @* <meta name="viewport" content="width=@(isMobile?"1400px":"device-width")">*@

    <!--begin::Fonts -->
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">*@
    <link href="~/assets/plugins/custom/jstree/jstree.bundle.css" rel="stylesheet" />
    <!--end::Fonts -->
    <!--begin::Page Vendors Styles(used by this page) -->
    <link href="~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />

    <!--end::Page Vendors Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <environment include="Development">
        <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />

        <link href="~/assets/css/skins/aside/dark.css" rel="stylesheet" type="text/css" />
        <link href="~/assets/css/skins/brand/dark.css" rel="stylesheet" type="text/css" />
    </environment>
    <environment exclude="Development">
        <link href="@AdminUrl/assets/plugins/global/plugins.bundle.min.css" rel="stylesheet" type="text/css" />
        <link href="@AdminUrl/assets/css/style.bundle.min.css" rel="stylesheet" type="text/css" />

        <link href="@AdminUrl/assets/css/skins/aside/dark.min.css" rel="stylesheet" type="text/css" />
        <link href="@AdminUrl/assets/css/skins/brand/dark.min.css" rel="stylesheet" type="text/css" />
    </environment>
    <link href="~/assets/css/skins/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="~/css/customize.css" rel="stylesheet" />

    <link href="~/kendoUi/styles/lms.css" rel="stylesheet" />
    @*đánh giá bằng sao css*@
    <link href="~/css/ratestar.css" rel="stylesheet" />
    <!--end::Layout Skins -->
    @*<link rel="shortcut icon" href="~/img/logo.png" />*@
    <link rel="shortcut icon" href="~/assets/media/logos/favicon.ico" type="image/x-icon" />
    <!-- Start of  Zendesk Widget script -->
    @*<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=4c0f4594-939a-4897-a115-28917de074c9"></script>*@
    <!-- End of  Zendesk Widget script -->
<script type="text/javascript"> 
        var ApiUrl = '@Configuration["Configuration:ApiUrl"]';
        var LoginUrl = '@Configuration["AppSettings:Login"]';
        var  STATIC_USERMODEL = '@CookieName';
</script>
</head>

<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-aside--enabled kt-aside--fixed kt-page--loading" style="font-family:Verdana">
    <input type="hidden" id="hdd_userLogin_UserID" value="1" />
    <!-- begin:: Page -->
    <!-- begin:: Header Mobile -->
    <partial name="~/Views/Shared/partials/_header/_base_mobile.cshtml" />

    <!-- end:: Header Mobile -->
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

            <!-- begin:: Aside -->
            <!-- Uncomment this to display the close button of the panel
            <button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
            -->
            <div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">

                <!-- begin:: Aside -->
                <partial name="~/Views/Shared/partials/_aside/_brand.cshtml" />

                <!-- end:: Aside -->
                <!-- begin:: Aside Menu
                <partial name="~/Views/Shared/partials/_aside/_menu.cshtml" />-->

                @await Component.InvokeAsync("Menu")
                <!-- end:: Aside Menu -->
            </div>

            <!-- end:: Aside -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">

                <!-- begin:: Header -->
                <div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">

                    <!-- begin:: Header Menu -->
                    <!-- Uncomment this to display the close button of the panel
                    <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
                    -->
                    <partial name="~/Views/Shared/partials/_header/_menu.cshtml" />

                    <!-- end:: Header Menu -->
                    <!-- begin:: Header Topbar -->
                    <partial name="~/Views/Shared/partials/_header/topbar/_base.cshtml" />

                    <!-- end:: Header Topbar -->
                </div>

                <!-- end:: Header -->
                <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
                    @RenderBody()
                </div>

                <!-- begin:: Footer -->
                <partial name="~/Views/Shared/partials/_footer/_base.cshtml" />

                <!-- end:: Footer -->
            </div>
        </div>
    </div>
    <!-- end:: Page -->
    <!-- begin::Quick Panel -->
    <partial name="~/Views/Shared/partials/_quick_panel.cshtml" />

    <!-- end::Quick Panel -->
    <!-- begin::Scrolltop -->
    <div id="kt_scrolltop" class="kt-scrolltop">
        <i class="fa fa-arrow-up"></i>
    </div>

    <!-- end::Scrolltop -->
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#5d78ff",
                    "dark": "#282a3c",
                    "light": "#ffffff",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": [
                        "#c5cbe3",
                        "#a1a8c3",
                        "#3d4465",
                        "#3e4466"
                    ],
                    "shape": [
                        "#f0f3ff",
                        "#d9dffa",
                        "#afb4d4",
                        "#646c9a"
                    ]
                }
            }
        };
    </script>
    <style>
        html, body {
            font-size: 12px !important;
        }
    </style>

    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->
   
    <environment include="Development">
        <script src="~/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
        <script src="~/assets/js/scripts.bundle.js" type="text/javascript"></script>
        <script src="~/scripts/configDatatable/translate.js"></script>
        <script src="~/assets/js/pages/crud/forms/widgets/bootstrap-datepicker.js"></script>
        <script src="~/scripts/Lib.js"></script>
        <script src="~/js/jquery.cookie.js"></script>
        <script src="~/js/baseCommon.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
        <script src="~/assets/js/global/components/base/datatable/core.datatable.js"></script>
        <script src="~/scripts/libraryConfig/datepicker-vi.js"></script>

        <script src="~/kendoUi/js/jszip.min.js"></script>
        <script src="~/kendoUi/js/kendo.all.min.js"></script>
        <script src="~/scripts/enum/constant.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    </environment>
    <environment exclude="Development">
        <script src="@AdminUrl/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
        <script src="@AdminUrl/assets/js/scripts.bundle.js" type="text/javascript"></script>
        <script src="~/scripts/configDatatable/translate.js"></script>
        <script src="~/assets/js/pages/crud/forms/widgets/bootstrap-datepicker.js"></script>
        <script src="~/scripts/Lib.js"></script>
        <script src="~/js/jquery.cookie.js"></script>
        <script src="~/js/baseCommon.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
        <script src="~/assets/js/global/components/base/datatable/core.datatable.js"></script>
        <script src="~/scripts/libraryConfig/datepicker-vi.js"></script>
         
        <script src="@AdminUrl/kendoUi/js/jszip.min.js"></script>
        <script src="@AdminUrl/kendoUi/js/kendo.all.min.js"></script>
        <script src="~/scripts/enum/constant.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
         
    </environment>

    <!--end::Page Scripts -->
    @RenderSection("Scripts", required: false)
</body>

<!-- end::Body -->
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $(".kt-select2").select2({
            placeholder: "Chọn giá trị"
        });
        $("input").attr("autocomplete", "off");
    });
</script>