﻿
@{
    Layout = null; 
}
<div class="modal fade" id="modal_add_edit_menu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm mới</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="kt-form kt-form--label-right">
                <input type="hidden" id="hdd_AppID" value="0" />
                <input type="hidden" id="hdd_MenuID" value="0" />
                <input type="hidden" id="hdd_ParentID" value="0" />
                <div class="modal-body">
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <label for="AppID" class="col-lg-3 col-sm-4 col-4 col-form-label">Phân hệ <span style="color:red">*</span></label>
                            <div class="col-lg-6 col-sm-8 col-8">
                                <select class="form-control kt-select2" id="AppID" name="Menu_AppID" style="width:100%">
                                    <option value="0">
                                        Chọn phân hệ
                                    </option> 
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="TypeMenu" class="col-lg-3 col-sm-4 col-4 col-form-label">Loại menu <span style="color:red">*</span></label>
                            <div class="col-lg-6 col-sm-8 col-8">
                                <select class="form-control kt-select2" id="TypeMenu" name="TypeMenu" style="width:100%">
                                    <option value="1"> Menu cha</option>
                                    <option value="2"> Menu con</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-search-input" class="col-lg-3 col-sm-4 col-4 col-form-label">Tên menu <span style="color:red">*</span></label>
                            <div class="col-lg-6 col-sm-8 col-8">
                                <input class="form-control" type="text" id="txt_menu_name" placeholder="Nhập tên menu">
                            </div>
                        </div>
                        <div class="form-group row" id="menu_ParentID" style="display:none;">
                            <label for="ParentID" class="col-lg-3 col-sm-4 col-4 col-form-label">Menu cha<span style="color:red">*</span></label>
                            <div class="col-lg-6 col-sm-8 col-8">
                                <select class="form-control kt-select2" id="ParentID" name="ParentID" style="width:100%">
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-search-input" class="col-lg-3 col-sm-4 col-4 col-form-label">Controller <span style="color:red">*</span></label>
                            <div class="col-lg-6 col-sm-8 col-8">
                                <input class="form-control" type="text" id="txt_menu_controller" placeholder="Nhập tên Controller">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-search-input" class="col-lg-3 col-sm-4 col-4 col-form-label">Action</label>
                            <div class="col-lg-6 col-sm-8 col-8">
                                <input class="form-control" type="text" id="txt_menu_action" placeholder="Nhập tên Action">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-search-input" class="col-lg-3 col-sm-4 col-4 col-form-label">Icon</label>
                            <div class="col-lg-6 col-sm-8 col-8">
                                <input class="form-control" type="text" id="txt_menu_icon" placeholder="Nhập Icon">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-search-input" class="col-lg-3 col-sm-4 col-4 col-form-label">Thứ tự hiển thị <span style="color:red">*</span></label>
                            <div class="col-lg-6 col-sm-8 col-8">
                                <input class="form-control" type="text" id="txt_menu_position" placeholder="Nhập thứ tự">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-search-input" class="col-lg-3 col-sm-4 col-4 col-form-label">Ghi chú</label>
                            <div class="col-lg-6 col-sm-8 col-8">
                                <input class="form-control" type="text" id="txt_menu_description" placeholder="Nhập ghi chú">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="IsMenu" class="col-form-label col-lg-3 col-sm-4 col-4" style="margin-top:5px;">Is Menu</label>
                            <div class="kt-radio-inline col-lg-6 col-sm-8 col-8 pl-2">
                                <input data-switch="true" type="checkbox" checked="checked" id="IsMenu">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-sm-4 col-4 col-form-label">Trạng thái <span style="color:red">*</span></label>
                            <div class="col-lg-6 col-sm-8 col-8">
                                <div class="kt-checkbox-inline">
                                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--success">
                                        <input type="radio" name="status_menu" value="1" checked> Hoạt động
                                        <span></span>
                                    </label>
                                    <label class="kt-checkbox kt-checkbox--solid kt-checkbox--danger">
                                        <input type="radio" name="status_menu" value="0"> Ngừng hoạt động
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_exit_menu">Đóng lại</button>
                <button type="button" class="btn btn-primary" id="btn_save_menu" onclick="menu.save_AddOrUpdate()">Lưu lại</button>
            </div>
        </div>
    </div>
</div>
