﻿@{
    ViewData["Title"] = "Danh sách cấu hình MGLP";
}
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Cấu hình tài khoản với cấp phê duyệt
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right">
                <div class="row align-items-center">
                    <div class="col-xl-12 kt-margin-b-10">
                        <div class="row align-items-center">
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <label style="min-width: 100px"><b>Tài khoản</b></label>
                                <input type="text" class="form-control" id="txt_search_username" placeholder="Tìm theo tên tài khoản" />
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <label style="min-width: 100px"><b>CẤP PHÊ DUYỆT</b></label>
                                <select class="form-control kt-select2 sl_approvalLevelBookDebtID" id="sl_search_ApprovalLevelBookDebtID">
                                    <option value="-111" selected>Tất cả</option>
                                </select>
                            </div>
                            <div class="col-md-6 kt-margin-b-20-tablet-and-mobile  kt-margin-t-25">
                                <button class="btn btn-info m-btn kt-btn--air" id="btnGetData">
                                    <span>
                                        Tìm kiếm
                                    </span>
                                </button>
                                <button class="btn btn-success m-btn kt-btn--air" data-toggle="modal" onclick="configUser.loadInfoModal()" data-target="#model_create_config_user">
                                    <i class="fa fa-file-medical"></i>
                                    Thêm mới cấu hình
                                </button>
                                <div class="d-md-none kt--margin-bottom-10"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="dv_result_user_config">
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>

    </div>
</div>
<partial name="~/Views/MGL/partial/_create_config_user.cshtml" />
@section Scripts {
    <script src="~/scripts/mgl/configUser.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    <script src="~/scripts/meta/bindSelect.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    <script>
        $(document).ready(function () {
            configUser.init();
            meta.loadapprovalLevelBookDebtSelect('sl_approvalLevelBookDebtID', 0, 1);
            meta.loadapprovalLevelBookDebtSelect('sl_create_approvalLevelBookDebtID', 1, 1);
        });
    </script>
}

