﻿@{
    ViewData["Title"] = "Danh sách cấu hình MGLP";
}
<style>
    th {
        vertical-align: middle !important;
        text-align: center;
        font-weight: 700 !important;
    }


    thead {
        /*background: #5578eb;
        color: white*/
    }

    td {
        text-align: center;
    }
</style>
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Danh sách cấu hình MGLP
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right">
                <div class="row align-items-center">
                    <div class="col-xl-12 kt-margin-b-10">
                        <div class="row align-items-center">
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <label style="min-width: 100px"><b>Book nợ</b></label>
                                <select class="form-control kt-select2 sl_bookDebtID" id="sl_search_BookDebtID">
                                    <option value="-111" selected>Tất cả</option>
                                </select>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <label style="min-width: 100px"><b>CẤP PHÊ DUYỆT</b></label>
                                <select class="form-control kt-select2 sl_approvalLevelBookDebtID" id="sl_search_ApprovalLevelBookDebtID">
                                    <option value="-111" selected>Tất cả</option>
                                </select>
                            </div>
                            <div class="col-md-6 kt-margin-b-20-tablet-and-mobile  kt-margin-t-25">
                                <button class="btn btn-info m-btn kt-btn--air" id="btnGetData">
                                    <span>
                                        Tìm kiếm
                                    </span>
                                </button>
                                <button class="btn btn-success m-btn kt-btn--air" data-toggle="modal" data-target="#model_createSetting">
                                    <i class="fa fa-file-medical"></i>
                                    Cấu hình nợ
                                </button>
                                <button class="btn btn-success m-btn kt-btn--air" data-toggle="modal" data-target="#model_createSetting_totalMoney">
                                    <i class="fa fa-file-medical"></i>
                                    Cấu hình tổng tiền tối đa
                                </button>
                                <div class="d-md-none kt--margin-bottom-10"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="dv_result_setting">
                            @*<table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">BOOK NỢ</th>
                                            <th rowspan="2" style="text-align:left">CẤU PHẦN NỢ ĐƯỢC MIỄN GIẢM</th>
                                            <th colspan="3">CẤP PHÊ DUYỆT</th>
                                        </tr>
                                        <tr>
                                            <th>TP XLN</th>
                                            <th>
                                                GĐ XLN
                                            </th>
                                            <th>BOM bao gồm GĐ XLN, CEO</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th rowspan="5">NPL 2019 & 2020</th>
                                            <td class="kt-align-left">Phí tư vấn</td>
                                            <td>100% và không quá 2 triệu đồng</td>
                                            <td>100%</td>
                                            <td>100%</td>
                                        </tr>
                                        <tr>
                                            <td class="kt-align-left">Phí Dịch vụ</td>
                                            <td>100% và không quá 2 triệu đồng</td>
                                            <td>100%</td>
                                            <td>100%</td>
                                        </tr>
                                        <tr>
                                            <td class="kt-align-left">Phí phạt chậm trả</td>
                                            <td>100% và không quá 2 triệu đồng</td>
                                            <td>100%</td>
                                            <td>100%</td>
                                        </tr>
                                        <tr>
                                            <td class="kt-align-left">Phí tất toán trước hạn</td>
                                            <td>100% và không quá 2 triệu đồng</td>
                                            <td>100%</td>
                                            <td>100%</td>
                                        </tr>
                                        <tr>
                                            <td class="kt-align-left">Nợ cũ</td>
                                            <td>100% và không quá 2 triệu đồng</td>
                                            <td>100%</td>
                                            <td>100%</td>
                                        </tr>
                                    </tbody>
                                </table>*@
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>

    </div>
</div>
<partial name="~/Views/MGL/partial/_create_setting.cshtml" />
<partial name="~/Views/MGL/partial/_setting_totalMoney_month.cshtml" />
@section Scripts {
    <script src="~/scripts/mgl/setting.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    <script src="~/scripts/meta/bindSelect.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    <script>
        $(document).ready(function () {
            settingMGLP.loadData();
            meta.loadBookDebtSelect('sl_bookDebtID');
            meta.loadapprovalLevelBookDebtSelect('sl_approvalLevelBookDebtID');
            meta.loadapprovalLevelBookDebtSelect('sl_create_approvalLevelBookDebtID', 1);
            meta.loadBookDebtSelect('sl_create_bookDebtID', 1);
            settingMGLP.init();
        });
    </script>
}
