﻿@{
    Layout = null;
}
<!--begin::Modal-->
<div class="modal fade" id="modalFadeId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" id="modalFadeBody">

    </div>
</div>

<!--end::Modal-->