﻿@{
    Layout = null;
}
<style>
    .padding-footer {
        padding: 7px !important
    }
</style>
<div>
    <div class="row">
        <input type="hidden" id="hdd_donglaiTP" value="0" />
        <div class="col-xl-3">
        </div>
        <div class="col-xl-6">
            <div class="kt-section__body">
                <div class="form-group row">
                    <label class="col-lg-4 col-xl-4 col-form-label alignRight">Ngày thanh toán:</label>
                    <div class="col-lg-6 col-xl-6">
                        <input type="text" class="form-control" value="@DateTime.Now.ToString("dd-MM-yyyy")" disabled style="cursor:not-allowed">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 col-xl-4 col-form-label alignRight">Tiền gốc đề xuất:</label>
                    <div class="col-lg-6 col-xl-6">
                        <input type="text" class="form-control" id="donglai_MoneyOriginal">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 col-xl-4 col-form-label alignRight">Tiền lãi đề xuất:</label>
                    <div class="col-lg-6 col-xl-6">
                        <input type="text" class="form-control" id="donglai_MoneyInterest">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 col-xl-4 col-form-label alignRight">Tiền phạt trả chậm:</label>
                    <div class="col-lg-6 col-xl-6">
                        <input type="text" class="form-control" id="donglai_MoneyFineLate">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 col-xl-4 col-form-label alignRight">Phí tư vấn đề xuất:</label>
                    <div class="col-lg-6 col-xl-6">
                        <input type="text" class="form-control" id="donglai_MoneyConsultant">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 col-xl-4 col-form-label alignRight">Phí dịch vụ đề xuất:</label>
                    <div class="col-lg-6 col-xl-6">
                        <input type="text" class="form-control" id="donglai_MoneyService">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 col-xl-4 col-form-label alignRight">Ghi chú:</label>
                    <div class="col-lg-6 col-xl-6">
                        <textarea class="form-control" rows="5" id="donglai_Description"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__foot padding-footer">
        <div class="kt-form__actions">
            <div class="row">
                <div class="col-xl-5 col-sm-4">
                </div>
                <div class="col-xl-6 col-sm-6">
                    <button class="btn btn-brand btn-elevate kt-login__btn-primary" id="btn_gachNo" onclick="loanDetail.Save_GachNoTuyY()">Thanh toán</button>
                </div>
            </div>
        </div>
    </div>
</div>
