﻿@{
    Layout = null;
}
<style>
    .padding_top_lable {
        padding-top: 9px
    }

    .text_align {
        text-align: right !important
    }

    .text_align_left {
        text-align: left !important
    }
</style>
<style>
    body.modal-open {
        /*overflow: hidden;*/
        position: fixed;
    }

    .m-form .m-form__group {
        padding-bottom: 0;
    }

    .table-detail {
        margin-bottom: 0px;
    }

        .table-detail th, .table-detail td {
            border: unset !important
        }

    .alert {
        margin-bottom: 0;
    }

    .alert-primary:not(.m-alert--outline) {
        color: white;
        background-color: #5d78ff;
        border-color: #5867dd;
    }

    .nextstep-buttons {
        float: left;
        margin: 8px;
        margin-left: 50px;
    }

    .loan-buttons:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        line-height: 0;
        border: 21px solid rgba(12,11,11,0);
        border-left: 13px solid #5d78ff;
        border-top: 30px solid #5d78ff;
        right: -34px;
        bottom: 0;
    }

    .swal-wide {
        width: 1000px !important;
        /*padding :10px !important;*/
    }

    .nav-link {
        padding: 0.7rem 0.7rem;
    }

    .nav-tabs .nav-link {
        border: none !important
    }

    table tr {
        cursor: pointer;
    }

    .tab-table th, .tab-table td {
        padding: 0.30rem !important;
    }

    .m-demo .m-demo__preview {
        background: #f4f6f8;
        border: none !important
    }

    .content-details-loan {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
    }

    .nav-tabs .nav-link.active {
        font-weight: bold !important;
    }


    .border-child {
        border-left: 1px solid rgba(34,36,38,.1) !important;
    }

    /*slideshow*/
    .scroll {
        margin: 4px, 4px;
        padding: 4px;
        background-color: green;
        overflow-x: hidden;
        overflow-x: auto;
        text-align: justify;
    }

    .k-grid-content {
        min-height: 100px;
    }
</style>
<div class="content" style="background-color:#eceef1;padding-bottom: 51px">
    <partial name="~/Views/SearchLoan/Detail/_partialDetailTop.cshtml" />
    <div class="m-demo__preview  m-demo__preview--btn loan-buttons" style="padding:6px;background-color:#5d78ff;float:left;position:relative;">
        <button type="button" class="btn btn-secondary font-weight-bold" id="btnClickToCallCustomer">
            <img src="~/static/img/old-telephone-ringing.png" width="17" style="margin-top: -6px;" /> GỌI KHÁCH HÀNG
        </button>
        <button type="button" class="btn btn-secondary font-weight-bold" onclick="ThongBaoNo.ThongBao()" id="btnThongBao">
            <img src="~/static/img/notify.png" width="17" style="margin-top: -6px;" /> THÔNG BÁO NỢ
        </button>
    </div>
</div>
<div class="kt-portlet__body" style="background-color:#eceef1">
    <div class="content-info-loan" style="background-color:#eceef1;padding: 3px 0 0 0;">
        <ul class="nav nav-tabs" role="tablist" style="margin-bottom:0px;">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab_infoCustomer" id="btn_load_infoCustomer">
                    Tổng hợp
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab_lichdonglai" id="btn_load_lichdonglai" onclick="tabLichDongLaiPhi.InitTabLichDongLaiPhi()">
                    Lịch Đóng lãi + phí
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#m_tabs_donghopdong" id="btn_load_dongHD" onclick="tatToanHD.InitDetailDongHD()">
                    Tất toán HĐ
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tab_nhacno" id="btn_load_nhacno" onclick="lichSuNhacNo.InitDetailNhacNo()">
                    Nhắc nợ
                </a>
            </li>
            @*<li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab_lichsu" id="btn_load_lichsu">
                Lịch sử giao dịch
                </a>
                </li>*@
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab_lichsudongiten" onclick="lichSuDongTien.InitDongTien()">
                    Lịch sử đóng tiền
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab_lichsuxetduyet" id="btn_load_lichsuxetduyet" onclick="lichSuXetDuyet.InitXetDuyet()">
                    Lịch sử xét duyệt
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab_duthu" @*id="btn_load_lichsuxetduyet"*@ onclick="duThu.InitDuThu()">
                    Dự thu
                </a>
            </li>
            <li class="nav-item" href="#ModalChungTu" data-toggle="modal" data-target="#ModalChungTu" onclick="tabChungTu.GetDataImagesLos()">
                <a class="nav-link" id="btn_load_chungtu">
                    Chứng từ
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab_video" id="btn_load_video" onclick="tabVideo.GetDataListVideo()">
                    Video
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab_tranData" id="btn_tranData" onclick="tranData.InitTranData()">
                    TranData
                </a>
            </li>
            <li class="nav-item" id="lt_mattinhieu">
                <a class="nav-link" data-toggle="tab" href="#tab_mattinhieu" id="btn_mattinhieu" onclick="">
                    Mất tín hiệu
                </a>
            </li>
        </ul>
        <div class="tab-content scroll" style="background-color: white; padding: 10px; margin-left: 0px; height: 372px">
            <div class="tab-pane" id="tab_infoCustomer" role="tabpanel">
                <partial name="~/Views/SearchLoan/Detail/_partialDetailTabTongHop.cshtml" />
            </div>
            <div class="tab-pane" id="tab_lichdonglai" role="tabpanel">
                <div class="col-md-12 col-lg-12 col-xl-12" id="dv_tblListPaymentSchedule" style="padding-right:28px">
                    <partial name="~/Views/SearchLoan/Detail/_partialDetailTabLichDongLaiPhi.cshtml" />
                </div>
            </div>
            <div class="tab-pane" id="m_tabs_donghopdong" role="tabpanel">
                <partial name="~/Views/SearchLoan/Detail/_partialDetailTabDongHD.cshtml" />
            </div>
            <div class="tab-pane active" id="tab_nhacno" role="tabpanel">
                <div class="col-md-12 col-lg-12 col-xl-12 " style="padding-bottom: 5px;padding-top: 5px;border-right:none" id="form-save-comment">
                    <partial name="~/Views/SearchLoan/Detail/_partialDetailTabNhacNo.cshtml" />
                </div>
            </div>
            <div class="tab-pane" id="tab_lichsudongiten" role="tabpanel">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <partial name="~/Views/SearchLoan/Detail/_partialDetailTabLichSuDongTien.cshtml" />
                </div>
            </div>
            <div class="tab-pane" id="tab_lichsuxetduyet" role="tabpanel">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <partial name="~/Views/SearchLoan/Detail/_partialDetailTabLichSuXetDuyet.cshtml" />
                </div>
            </div>
            <div class="tab-pane" id="tab_duthu" role="tabpanel">
                <div class="col-md-12 col-lg-12 col-xl-12 " style="padding-bottom: 5px;padding-top: 5px;border-right:none" id="form-save-comment">
                    <partial name="~/Views/SearchLoan/Detail/_partialDetailTabDuThu.cshtml" />
                </div>
            </div>
            <div class="tab-pane" id="tab_video" role="tabpanel">
                <div class="col-md-12 col-lg-12 col-xl-12 " style="padding-bottom: 5px;padding-top: 5px;border-right:none" id="form-save-comment">
                    <partial name="~/Views/SearchLoan/Detail/_partialDetailTabVideo.cshtml" />
                </div>
            </div>
            <div class="tab-pane" id="tab_tranData" role="tabpanel">
                <div class="col-md-12 col-lg-12 col-xl-12 " style="padding-bottom: 5px;padding-top: 5px;border-right:none">
                    <partial name="~/Views/SearchLoan/Detail/_partialDetailTrandata.cshtml" />
                </div>
            </div>
            <div class="tab-pane" id="tab_mattinhieu" role="tabpanel">
                <div class="col-md-12 col-lg-12 col-xl-12 " style="padding-bottom: 5px;padding-top: 5px;border-right:none">
                    <partial name="~/Views/ThnLoan/Detail/_partialHistoryComment.cshtml" />
                </div>
            </div>
        </div>
    </div>
</div>