﻿<style>
    .Title {
        text-transform: uppercase;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .le {
        margin-right: 30px;
    }
</style>
<div style="page-break-before: always">
    <div class="Title">Thông tin khách hàng Công Ty Tima  ( @DateTime.Now.ToString("dd-MM-yyyy") ) </div>
    <div>Tên KH: <span class="le"> [ten_khach_hang] </span>Năm sinh: <span class="le"> [ngay_sinh_kh] </span> CMND: <span class="le">[cmnd_kh]</span> </div>
    <hr />
    <div>Địa chỉ TT: [dia_chi_kh]</div>
    <hr />
    <div>Địa chỉ HK: [dia_chi_hk]</div>
    <hr />
    <div>Địa chỉ làm việc: [cong_ty] , [dia_chi_cong_ty] </div>
    <hr />
    <div>Nghề nghiệp: [nghe_nghiep] </div>
    <hr />
    <div class="Title">Thông tin liên hệ</div>
    <div>ĐT KH: <span class="le"> [dt_kh] </span>,   ĐT Công ty:	[dt_cong_ty]  </div>
    <hr />

    <div>ĐT người thân: <span class="le"> [dt_nguoi_than] - [ten_nguoi_than] </span>, Mối quan hệ: [ten_quan_he] </div>
    <hr />
    <div>ĐT đồng nghiệp: <span class="le">[dt_dong_nghiep] - [ten_dong_nghiep] </span></div>
    <hr />

    <div class="Title">THÔNG TIN KHOẢN VAY </div>
    <div>Số HĐ: <span class="le">@item.DisbursementContract </span>Ngày giải ngân: <span class="le">[ngay_giai_ngan] </span>Số ngày vay: <span class="le">[so_ngay_vay] ngày </span></div>
    <hr />
    <div>Sản phẩm: <span class="le">[san_pham] </span>Khoản vay: <span class="le">[tien_vay] đ </span>Tiền gốc còn: <span class="le">[goc_con_lai] đ </span></div>
    <hr />
    <div>Ngày thanh toán gần nhất: <span class="le">[ngay_dong_tien] </span>Số tiền quá hạn: [tien_qua_han] đ <span class="le"></span>Số ngày quá hạn:	[so_ngay_qua_han] ngày </div>
    <hr />
    <div class="Title">THÔNG TIN KHÁC</div>
    <div>Mã Đối Tác:	[ten_doi_tac] - [dt_doitac] </div>

    <div class="Title">Thông tin nhắc nợ</div>
    <table class="table table-striped table-bordered table-hover table-checkable datatable h-center" id="">
        <thead>
            <tr>
                <th width="50px">STT</th>
                <th>Ngày</th>
                <th style="width: 120px">Người thực hiện</th>
                <th>Nội dung</th>
            </tr>
        </thead>
        <tbody>
            [tr_comment]
        </tbody>
    </table>
    <hr />
</div>



