﻿<table style="border: none;width:518.15pt;border-collapse:collapse;">
    <tbody>
        <tr>
            <td style="width: 225.85pt;padding: 0in 5.4pt;height: 54.8pt;vertical-align: top;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";text-align:center;'><strong><span style="font-size:15px;">C&Ocirc;NG TY CỔ PHẦN TẬP ĐO&Agrave;N TIMA</span></strong></p>
                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";text-align:center;'><span style="font-size:15px;">Số: &hellip;&hellip;&hellip;&hellip;/XNN</span></p>
            </td>
            <td style="width: 292.3pt;padding: 0in 5.4pt;height: 54.8pt;vertical-align: top;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";text-align:center;'><strong><span style="font-size:15px;">CỘNG HO&Agrave; X&Atilde; HỘI CHỦ NGHĨA VIỆT NAM</span></strong></p>
                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";text-align:center;'><span style="font-size:15px;">Độc lập &ndash; Tự do &ndash; Hạnh Ph&uacute;c</span></p>
                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";margin-top:12.0pt;text-align:center;'><em><span style="font-size:15px;"> [ngay_thang_nam_hom_nay] </span></em></p>
            </td>
        </tr>
    </tbody>
</table>
<p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";text-align:center;line-height:150%;'><strong><span style="font-size:19px;line-height:150%;">X&Aacute;C NHẬN GỐC V&Agrave; L&Atilde;I CHƯA THANH TO&Aacute;N</span></strong></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";margin-left:22.5pt;text-align:center;text-indent:-22.5pt;line-height:150%;'><strong><span style="font-size:15px;line-height:150%;">K&iacute;nh gửi</span></strong><span style="font-size:15px;line-height:150%;">: Tổng C&ocirc;ng ty Cổ Phần Bảo Minh</span></p>
<ul style="list-style-type: undefined;margin-left:12.5px;">
    <li><span style="line-height:150%;font-size:15px;">Căn cứ Hợp đồng Bảo hiểm t&iacute;n dụng v&agrave; rủi ro t&agrave;i ch&iacute;nh số AT0001/19PA042TIMA k&yacute; ng&agrave;y 25/10/2019 giữa C&ocirc;ng ty cổ phần Tập đo&agrave;n Tima v&agrave; Tổng C&ocirc;ng ty cổ phần Bảo Minh (&ldquo;Bảo Minh&rdquo;)</span></li>
    <li><span style="line-height:150%;font-size:15px;">Căn cứ theo hợp đồng số [ma_hop_dong] k&yacute; ng&agrave;y &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip; giữa &Ocirc;ng (B&agrave;) <strong> [ten_khach_hang] </strong> v&agrave; C&ocirc;ng ty Cổ Phần Tập Đo&agrave;n Tima (&ldquo;<strong><em>Tima</em></strong>&rdquo;) về việc vay vốn.&nbsp;</span></li>
    <li><span style="line-height:150%;font-size:15px;">Căn cứ theo Hợp đồng hợp t&aacute;c số [hop_dong_ndt] k&yacute; ng&agrave;y 25/01/2019 giữa C&ocirc;ng ty cổ phần Tập đo&agrave;n Tima v&agrave; Nh&agrave; đầu tư;</span></li>
    <li><span style="line-height:150%;font-size:15px;">Căn cứ v&agrave;o t&igrave;nh trạng nợ qu&aacute; hạn của &Ocirc;ng (B&agrave;) <strong> [ten_khach_hang] </strong>.</span></li>
</ul>
<p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";text-align:justify;line-height:150%;'><span style="font-size:15px;line-height:150%;">Ch&uacute;ng t&ocirc;i xin x&aacute;c nhận với Bảo Minh số tiền gốc v&agrave; l&atilde;i theo hợp đồng số [ma_hop_dong] n&ecirc;u tr&ecirc;n m&agrave; &Ocirc;ng (B&agrave;) <strong>[ten_khach_hang]&nbsp;</strong>chưa thanh to&aacute;n cho Nh&agrave; đầu tư t&iacute;nh đến thời điểm x&aacute;c nhận như sau:</span></p>
<ul style="list-style-type: undefined;margin-left:47.2px;">
    <li><span style="line-height:150%;font-size:15px;">Ng&agrave;y giải ng&acirc;n: [ngay_giai_ngan]</span></li>
    <li><span style="line-height:150%;font-size:15px;">Ng&agrave;y kết th&uacute;c hợp đồng: [ngay_ket_thuc]</span></li>
    <li><span style="line-height:150%;font-size:15px;">Dư nợ giải ng&acirc;n ban đầu: [goc_ban_dau] VNĐ</span></li>
    <li><span style="line-height:150%;font-size:15px;">Kỳ hạn vay: [Frequency] ng&agrave;y</span></li>
    <li><span style="line-height:150%;font-size:15px;">Dư nợ gốc qu&aacute; hạn: [goc_con_lai] VNĐ</span></li>
    <li><span style="line-height:150%;font-size:15px;">Nợ l&atilde;i: [lai_con_lai] VNĐ</span></li>
    <li><span style="line-height:150%;font-size:15px;">Tổng số tiền gốc v&agrave; l&atilde;i chưa thanh to&aacute;n cho Nh&agrave; đầu tư: [tong_tien_con_lai] VNĐ</span></li>
</ul>
<p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";text-align:justify;line-height:150%;'><span style="font-size:15px;line-height:150%;">Ch&uacute;ng t&ocirc;i xin tr&acirc;n trọng cảm ơn./.</span></p>
<table style="border: none;margin-left:5.4pt;border-collapse:collapse;">
    <tbody>
        <tr>
            <td style="width: 225pt;padding: 0in 5.4pt;vertical-align: top;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";margin-top:12.0pt;text-align:center;'><em><span style="font-size:15px;">&nbsp;</span></em></p>
            </td>
            <td style="width: 255.25pt;padding: 0in 5.4pt;vertical-align: top;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";margin-top:12.0pt;text-align:center;'><em><span style="font-size:15px;"> [ngay_hom_nay] </span></em></p>
            </td>
        </tr>
        <tr>
            <td style="width: 225pt;padding: 0in 5.4pt;height: 140.35pt;vertical-align: top;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";margin-top:12.0pt;text-align:justify;'><strong><em><span style="font-size:15px;">&nbsp;</span></em></strong></p>
                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";text-align:justify;'><strong><em><span style="font-size:15px;">Nơi nhận</span></em></strong><span style="font-size:15px;">:</span></p>
                <div style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";'>
                    <ul style="margin-bottom:0in;list-style-type: undefined;margin-left:0in;">
                        <li style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";'><span style="font-size:15px;">-&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><em><span style="font-size:15px;">Như k&iacute;nh gửi,</span></em></li>
                        <li style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";'><span style="font-size:15px;">-&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><em><span style="font-size:15px;">Lưu Ph&ograve;ng XLN</span></em></li>
                    </ul>
                </div>
            </td>
            <td style="width: 255.25pt;padding: 0in 5.4pt;height: 140.35pt;vertical-align: top;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";margin-top:12.0pt;text-align:center;line-height:115%;'><strong><span style="font-size:15px;line-height:115%;">C&Ocirc;NG TY CỔ PHẦN TẬP ĐO&Agrave;N TIMA</span></strong></p>
                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";margin-top:12.0pt;line-height:115%;'><strong><span style="font-size:15px;line-height:115%;">&nbsp;</span></strong></p>
                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";margin-top:12.0pt;line-height:115%;'><strong><span style="font-size:15px;line-height:115%;">&nbsp;</span></strong></p>
                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";margin-top:12.0pt;line-height:115%;'><strong><span style="font-size:15px;line-height:115%;">&nbsp;</span></strong></p>
                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";margin-top:12.0pt;text-align:center;line-height:115%;'><strong><span style="font-size:15px;line-height:115%;">&nbsp;</span></strong></p>
                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";text-align:center;line-height:150%;'><strong><span style="font-size:15px;line-height:150%;">P. Ph&ograve;ng Nguồn Vốn</span></strong></p>
                <p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";text-align:center;line-height:150%;'><strong><span style="font-size:15px;line-height:150%;">Đỗ Thanh T&ugrave;ng</span></strong></p>
            </td>
        </tr>
    </tbody>
</table>
<p style='margin:0in;margin-bottom:.0001pt;font-size:16px;font-family:"Times New Roman","serif";text-align:justify;'><span style="font-size:15px;">&nbsp;</span></p>

<div style="height:220px"></div>
<p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";text-align:center;'><span style="font-size:15px;">CỘNG HO&Agrave; X&Atilde; HỘI CHỦ NGHĨA VIỆT NAM</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";text-align:center;'><strong><span style="font-size:15px;">Độc lập - Tự do - Hạnh ph&uacute;c</span></strong></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";text-align:center;line-height:115%;'><span style="font-size:15px;line-height:115%;">________________________________________</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";text-align:center;line-height:150%;'><strong><span style="font-size:19px;line-height:150%;">GIẤY Y&Ecirc;U CẦU TRẢ TIỀN BẢO HIỂM</span></strong></p>
<p style='margin:0in;margin-bottom:2.0pt;font-size:13px;font-family:"Times New Roman","serif";margin-top:2.0pt;margin-right:0in;margin-left:0in;background:#E6E6E6;'><strong><span style="font-size:15px;">A. TH&Ocirc;NG TIN VỀ NGƯỜI Y&Ecirc;U CẦU TRẢ TIỀN BẢO HIỂM</span></strong></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";'><span style="font-size:15px;">Người y&ecirc;u cầu trả tiền bảo hiểm: <strong>C&ocirc;ng ty Cổ phần Tập đo&agrave;n Tima</strong></span></p>
<table style="width:481.5pt;margin-left:-4.5pt;border-collapse:collapse;border:none;">
    <tbody>
        <tr>
            <td style="width: 232pt;border: none;padding: 0in 5.4pt;vertical-align: top;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";'><span style="font-size:15px;">Số điện thoại: 1900.633.688</span></p>
            </td>
            <td style="width: 249.5pt;border: none;padding: 0in 5.4pt;vertical-align: top;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";'><span style="font-size:15px;">E-mail:&nbsp;</span></p>
            </td>
        </tr>
    </tbody>
</table>
<p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";margin-right:-.25in;'><span style="font-size:15px;">Đề nghị Bảo hiểm Bảo Minh x&eacute;t giải quyết hồ sơ chi trả tiền bảo hiểm về rủi ro của Người được bảo hiểm với th&ocirc;ng tin sau:</span></p>
<p style='margin:0in;margin-bottom:2.0pt;font-size:13px;font-family:"Times New Roman","serif";margin-top:6.0pt;margin-right:0in;margin-left:0in;background:#E6E6E6;'><strong><span style="font-size:15px;">B. TH&Ocirc;NG TIN VỀ NGƯỜI ĐƯỢC BẢO HIỂM (NĐBH)</span></strong></p>
<table style="border: none;width:481.5pt;margin-left:-4.5pt;border-collapse:collapse;">
    <tbody>
        <tr>
            <td style="width: 270.5pt; padding: 0in 5.4pt; vertical-align: top;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";line-height:115%;'><span style="font-size:15px;line-height:115%;">Họ t&ecirc;n đơn vị (c&aacute; nh&acirc;n) NĐBH:&nbsp;</span></p>
            </td>
            <td style="width: 3.25in;padding: 0in 5.4pt;vertical-align: top;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";line-height:115%;'><strong><span style="font-size:15px;line-height:115%;">[ten_ndt]</span></strong></p>
            </td>
        </tr>
        <tr>
            <td style="width: 270.5pt; padding: 0in 5.4pt; vertical-align: top;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";line-height:120%;'><span style="font-size:15px;line-height:120%;">Số CMND/Hộ chiếu/Căn cước c&ocirc;ng d&acirc;n/M&atilde; số thuế:&nbsp;</span></p>
            </td>
            <td style="width: 3.25in;padding: 0in 5.4pt;vertical-align: top;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";line-height:115%;'><span style="font-size:15px;line-height:105%;">[cmnd_ndt]</span></p>
            </td>
        </tr>
    </tbody>
</table>
<p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";line-height:115%;'><span style="font-size:15px;line-height:115%;">Số GCNBH: [gcnbh]</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";line-height:115%;'><span style="font-size:15px;line-height:115%;">Địa chỉ <sup>(1)</sup>: [dia_chi_ndt]</span></p>
<table style="width:481.5pt;margin-left:-4.5pt;border-collapse:collapse;border:none;">
    <tbody>
        <tr>
            <td style="width: 3.25in;border: none;padding: 0in 5.4pt;vertical-align: top;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";line-height:115%;'><span style="font-size:15px;line-height:  115%;">Số điện thoại: [sdt_ndt]</span></p>
            </td>
            <td style="width: 247.5pt;border: none;padding: 0in 5.4pt;vertical-align: top;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";line-height:115%;'><span style="font-size:15px;line-height:115%;">E-mail: [email_ndt]</span></p>
            </td>
        </tr>
    </tbody>
</table>
<p style='margin:0in;margin-bottom:2.0pt;font-size:13px;font-family:"Times New Roman","serif";line-height:115%;background:#E6E6E6;'><strong><span style="font-size:15px;line-height:115%;">C. TH&Ocirc;NG TIN VỀ SỐ TIỀN ĐẦU TƯ</span></strong></p>
<table style="border: none;width:6.75in;margin-left:-4.5pt;border-collapse:collapse;">
    <tbody>
        <tr>
            <td colspan="3" style="width:6.75in;padding:0in 5.4pt 0in 5.4pt;height:14.15pt;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";margin-right:-16.5pt;line-height:115%;'><span style="font-size:15px;line-height:115%;">Họ v&agrave; t&ecirc;n kh&aacute;ch h&agrave;ng:&nbsp;</span><span style="font-size:15px;line-height:115%;">&nbsp;<strong>[ten_khach_hang]</strong></span></p>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="width:265.5pt;padding:0in 5.4pt 0in 5.4pt;height:14.15pt;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";margin-right:-16.5pt;line-height:115%;'><span style="font-size:15px;line-height:115%;">Ng&agrave;y sinh: [ngay_sinh_khach_hang]</span></p>
            </td>
            <td style="width:220.5pt;padding:0in 5.4pt 0in 5.4pt;height:14.15pt;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";margin-right:-16.5pt;line-height:115%;'><span style="font-size:15px;line-height:115%;">Số CMND/HC/MST: [cmnd_kh]</span></p>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="width:6.75in;padding:0in 5.4pt 0in 5.4pt;height:14.15pt;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";margin-right:-16.5pt;line-height:115%;'><span style="font-size:15px;line-height:115%;">Địa chỉ: [dia_chi_kh]</span></p>
            </td>
        </tr>
        <tr>
            <td style="width:144.6pt;padding:0in 5.4pt 0in 5.4pt;height:14.15pt;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";margin-right:-16.5pt;line-height:115%;'><span style="font-size:15px;line-height:115%;">Điện thoại: [sdt_kh]</span></p>
            </td>
            <td style="width:120.9pt;padding:0in 5.4pt 0in 5.4pt;height:14.15pt;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";margin-right:-16.5pt;line-height:115%;'><span style="font-size:15px;line-height:115%;">Email: [email_kh]</span></p>
            </td>
            <td style="width:220.5pt;padding:0in 5.4pt 0in 5.4pt;height:14.15pt;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";margin-right:-3.25pt;line-height:115%;'><span style="font-size:15px;line-height:115%;">Số HĐTD/Vay vốn: [ma_hd_bao_hiem]</span></p>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="width:6.75in;background:#F2F2F2;padding:0in 5.4pt 0in 5.4pt;height:24.9pt;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";margin-right:-3.25pt;line-height:115%;'><strong><span style="font-size:15px;line-height:  115%;">D. DIỄN BIẾN VỤ VIỆC/SỐ TIỀN KHIẾU NẠI</span></strong></p>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="width:6.75in;padding:0in 5.4pt 0in 5.4pt;height:14.15pt;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";margin-right:-3.25pt;line-height:115%;'><span style="font-size:15px;line-height:115%;">Diễn biến: B&ecirc;n vay kh&ocirc;ng thanh to&aacute;n nợ kể từ khi kết th&uacute;c hợp đồng vay ng&agrave;y [ngay_giai_ngan]</span></p>
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";line-height:115%;'><span style="font-size:15px;line-height:115%;">Tổng số tiền khiếu nại: <strong>[tong_tien_con_lai] VNĐ</strong></span></p>
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";line-height:115%;'><span style="font-size:15px;line-height:115%;">Gốc: [goc_con_lai] VNĐ</span></p>
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";line-height:115%;'><span style="font-size:15px;line-height:115%;">L&atilde;i trong hạn: [lai_con_lai] VNĐ</span></p>
            </td>
        </tr>
        <tr>
            <td style="border:none;"><br></td>
            <td style="border:none;"><br></td>
            <td style="border:none;"><br></td>
        </tr>
    </tbody>
</table>
<p style='margin:0in;margin-bottom:2.0pt;font-size:13px;font-family:"Times New Roman","serif";line-height:115%;background:#E6E6E6;'><strong><span style="font-size:15px;line-height:115%;">E. TH&Ocirc;NG TIN THANH TO&Aacute;N</span></strong></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";line-height:115%;'><span style="font-size:15px;line-height:115%;">Người thụ hưởng: C&ocirc;ng ty Cổ phần Tập đo&agrave;n Tima</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";line-height:115%;'><span style="font-size:15px;line-height:115%;">Số t&agrave;i khoản: 86668868 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Ng&acirc;n h&agrave;ng: Ng&acirc;n h&agrave;ng TMCP &Aacute; Ch&acirc;u (ACB) - Chi nh&aacute;nh Đ&ocirc;ng Đ&ocirc;</span></p>
<p style='margin:0in;margin-bottom:2.0pt;font-size:13px;font-family:"Times New Roman","serif";margin-top:2.0pt;margin-right:0in;margin-left:0in;background:#E6E6E6;'><strong><span style="font-size:15px;">E. CAM KẾT V&Agrave; ỦY QUYỀN</span></strong></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";margin-top:3.0pt;margin-right:-13.5pt;margin-left:0in;text-align:justify;'><span style="font-size:15px;">T&ocirc;i/ ch&uacute;ng t&ocirc;i cam đoan những th&ocirc;ng tin k&ecirc; khai tr&ecirc;n đ&acirc;y l&agrave; ch&iacute;nh x&aacute;c v&agrave; đầy đủ. T&ocirc;i/ ch&uacute;ng t&ocirc;i xin ho&agrave;n to&agrave;n chịu tr&aacute;ch nhiệm trước ph&aacute;p luật nếu c&oacute; bất cứ sự sai lệch n&agrave;o về th&ocirc;ng tin đ&atilde; cung cấp v&agrave; bất cứ tranh chấp n&agrave;o về quyền thụ hưởng số tiền được chi trả bảo hiểm.&nbsp;</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";margin-top:3.0pt;margin-right:-13.5pt;margin-left:0in;text-align:justify;'><span style="font-size:15px;">T&ocirc;i/ ch&uacute;ng t&ocirc;i cũng đồng &yacute; rằng bằng Giấy y&ecirc;u cầu trả tiền bảo hiểm n&agrave;y, T&ocirc;i/ ch&uacute;ng t&ocirc;i cho ph&eacute;p đại diện của Bảo hiểm Bảo Minh được quyền tiếp x&uacute;c kh&ocirc;ng giới hạn với c&aacute;c b&ecirc;n thứ ba để thu thập th&ocirc;ng tin cần thiết cho việc x&eacute;t bồi thường n&agrave;y.</span></p>
<p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";margin-top:3.0pt;margin-right:-13.5pt;margin-left:0in;text-align:justify;'><span style="font-size:15px;">T&ocirc;i/ ch&uacute;ng t&ocirc;i đồng &yacute; trong v&ograve;ng 05 ng&agrave;y l&agrave;m việc kể từ ng&agrave;y nhận được th&ocirc;ng b&aacute;o kết quả xem x&eacute;t phạm vi tr&aacute;ch nhiệm bảo hiểm gửi tới địa chỉ <sup>(1)</sup> hoặc email (*) đ&atilde; được k&ecirc; khai tại mục B n&ecirc;u tr&ecirc;n, nếu T&ocirc;i/ ch&uacute;ng t&ocirc;i kh&ocirc;ng c&oacute; &yacute; kiến phản hồi n&agrave;o th&igrave; được coi l&agrave; T&ocirc;i/ ch&uacute;ng t&ocirc;i đ&atilde; chấp thuận phương &aacute;n giải quyết như đ&atilde; th&ocirc;ng b&aacute;o v&agrave; kh&ocirc;ng c&ograve;n bất cứ khiếu kiện g&igrave; về sự kiện bảo hiểm n&agrave;y.</span></p>
<table style="border: none;width:487.35pt;border-collapse:collapse;">
    <tbody>
        <tr>
            <td style="width: 35.75pt;padding: 0in 5.4pt;height: 4pt;vertical-align: top;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";margin-top:3.0pt;text-align:justify;'><span style="font-size:15px;">&nbsp;</span></p>
            </td>
            <td style="width: 184.5pt;padding: 0in 5.4pt;height: 4pt;vertical-align: top;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";margin-top:3.0pt;text-align:justify;'><span style="font-size:15px;">&nbsp;</span></p>
            </td>
            <td style="width: 267.1pt;padding: 0in 5.4pt;height: 4pt;vertical-align: top;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";margin-top:2.0pt;text-align:center;'><em><span style="font-size:15px;">&nbsp;</span></em></p>
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";margin-top:2.0pt;text-align:center;'><em><span style="font-size:15px;">[ngay_hom_nay]</span></em></p>
            </td>
        </tr>
        <tr>
            <td style="width: 35.75pt;padding: 0in 5.4pt;vertical-align: top;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";margin-top:3.0pt;text-align:center;'><span style="font-size:15px;">&nbsp;</span></p>
            </td>
            <td style="width: 184.5pt;padding: 0in 5.4pt;vertical-align: top;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";margin-top:3.0pt;text-align:center;'><em><span style="font-size:15px;">&nbsp;</span></em></p>
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";margin-top:3.0pt;text-align:center;'><em><span style="font-size:15px;">&nbsp;</span></em></p>
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";margin-top:3.0pt;text-align:center;'><em><span style="font-size:15px;">&nbsp;</span></em></p>
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";margin-top:3.0pt;text-align:center;'><em><span style="font-size:15px;">&nbsp;</span></em></p>
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";margin-top:3.0pt;text-align:center;'><strong><span style="font-size:15px;">&nbsp;</span></strong></p>
            </td>
            <td style="width: 267.1pt;padding: 0in 5.4pt;vertical-align: top;">
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";margin-top:2.0pt;text-align:center;'><strong><span style="font-size:15px;">NGƯỜI Y&Ecirc;U CẦU</span></strong></p>
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";margin-top:2.0pt;text-align:center;'><strong><span style="font-size:15px;">C&Ocirc;NG TY CỔ PHẦN TẬP ĐO&Agrave;N TIMA</span></strong></p>
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";text-align:center;'><em><span style="font-size:15px;">(K&yacute; v&agrave; ghi r&otilde; họ t&ecirc;n)</span></em></p>
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";text-align:center;'><em><span style="font-size:15px;">&nbsp;</span></em></p>
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";'><em><span style="font-size:15px;">&nbsp;</span></em></p>
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";'><em><span style="font-size:15px;">&nbsp;</span></em></p>
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";'><em><span style="font-size:15px;">&nbsp;</span></em></p>
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";text-align:center;'><em><span style="font-size:15px;">&nbsp;</span></em></p>
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";'><span style="font-size:15px;">&nbsp;</span></p>
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";text-align:center;'><strong><span style="font-size:15px;">P. Ph&ograve;ng Nguồn Vốn</span></strong></p>
                <p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";margin-top:2.0pt;text-align:center;'><strong><span style="font-size:15px;">Đỗ Thanh T&ugrave;ng</span></strong></p>
            </td>
        </tr>
    </tbody>
</table>
<p style='margin:0in;margin-bottom:.0001pt;font-size:13px;font-family:"Times New Roman","serif";'><span style="font-size:15px;">&nbsp;</span></p>
<div style="height:50px"></div>

<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri","sans-serif";'><strong><u><span style='font-family:"Times New Roman","serif";'>CHECK-LIST HỒ SƠ BẢO HIỂM</span></u></strong><strong><span style='font-family:"Times New Roman","serif";'>:</span></strong></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-family:"Times New Roman","serif";'>Người được bảo hiểm:</span> <span style='font-family:"Times New Roman","serif";'>[ten_ndt]</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-family:"Times New Roman","serif";'>Kh&aacute;ch h&agrave;ng vay: [ten_khach_hang]</span></p>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-family:"Times New Roman","serif";'>M&atilde; hợp đồng giải ng&acirc;n : [ma_hop_dong]</span></p>
<table style="margin-left:-.05in;border-collapse:collapse;border:none;">
    <tbody>
        <tr>
            <td style="width:33.5pt;border:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:22.0pt;">
                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;'><strong><span style='font-family:"Times New Roman","serif";'>STT</span></strong></p>
            </td>
            <td style="width:180.05pt;border:solid windowtext 1.0pt;border-left:  none;padding:0in 5.4pt 0in 5.4pt;height:22.0pt;">
                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;'><strong><span style='font-family:"Times New Roman","serif";'>Đầu mục</span></strong></p>
            </td>
            <td style="width:43.5pt;border:solid windowtext 1.0pt;border-left:  none;padding:0in 5.4pt 0in 5.4pt;height:22.0pt;">
                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;'><strong><span style='font-family:"Times New Roman","serif";'>Check</span></strong></p>
            </td>
            <td style="width:225.35pt;border:solid windowtext 1.0pt;border-left:  none;padding:0in 5.4pt 0in 5.4pt;height:22.0pt;">
                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;'><strong><span style='font-family:"Times New Roman","serif";'>Ghi ch&uacute;</span></strong></p>
            </td>
        </tr>
        <tr>
            <td style="width:33.5pt;border:solid windowtext 1.0pt;border-top:  none;padding:0in 5.4pt 0in 5.4pt;height:32.35pt;">
                <p style='margin-top:6.0pt;margin-right:0in;margin-bottom:6.0pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;'><span style='font-family:"Times New Roman","serif";'>1</span></p>
            </td>
            <td style="width:180.05pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:32.35pt;">
                <p style='margin-top:6.0pt;margin-right:0in;margin-bottom:  6.0pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-family:"Times New Roman","serif";'>Giấy chứng nhận bảo hiểm (bản sao)</span></p>
            </td>
            <td style="width: 43.5pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0in 5.4pt;height: 32.35pt;vertical-align: top;">
                <p style='margin-top:12.0pt;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;'><span style='font-family:"Times New Roman","serif";'>&nbsp;</span></p>
            </td>
            <td style="width: 225.35pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0in 5.4pt;height: 32.35pt;vertical-align: top;">
                <p style='margin-top:12.0pt;margin-right:0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;text-indent:3.75pt;'><span style='font-family:"Times New Roman","serif";'>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></p>
            </td>
        </tr>
        <tr>
            <td style="width:33.5pt;border:solid windowtext 1.0pt;border-top:  none;padding:0in 5.4pt 0in 5.4pt;height:49.0pt;">
                <p style='margin-top:12.0pt;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;'><span style='font-family:"Times New Roman","serif";'>2</span></p>
            </td>
            <td style="width:180.05pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:49.0pt;">
                <p style='margin-top:6.0pt;margin-right:0in;margin-bottom:  6.0pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-family:"Times New Roman","serif";'>Th&ocirc;ng b&aacute;o v&agrave; y&ecirc;u cầu trả tiền bảo hiểm từ&nbsp;</span><span style='font-family:"Times New Roman","serif";'>B&ecirc;n Cho Vay</span></p>
            </td>
            <td style="width: 43.5pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0in 5.4pt;height: 49pt;vertical-align: top;">
                <p style='margin-top:12.0pt;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;'><span style='font-family:"Times New Roman","serif";'>&nbsp;</span></p>
            </td>
            <td style="width: 225.35pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0in 5.4pt;height: 49pt;vertical-align: top;">
                <p style='margin-top:12.0pt;margin-right:  0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:"Times New Roman","serif";'>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></p>
                <p style='margin-top:12.0pt;margin-right:  0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:"Times New Roman","serif";'>&nbsp;</span></p>
                <p style='margin-top:12.0pt;margin-right:0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:"Times New Roman","serif";'>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" style="width:33.5pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;">
                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;'><span style='font-family:"Times New Roman","serif";'>3</span></p>
            </td>
            <td style="width:180.05pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;">
                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:  normal;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-family:"Times New Roman","serif";'>Hợp đồng vay giữa&nbsp;</span><span style='font-family:"Times New Roman","serif";'>B&ecirc;n Cho Vay</span><span style='font-family:"Times New Roman","serif";'>&nbsp;v&agrave;&nbsp;</span><span style='font-family:"Times New Roman","serif";'>B&ecirc;n Vay;</span></p>
            </td>
            <td style="width: 43.5pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0in 5.4pt;vertical-align: top;">
                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;'><span style='font-family:"Times New Roman","serif";'>&nbsp;</span></p>
            </td>
            <td style="width: 225.35pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0in 5.4pt;vertical-align: top;">
                <p style='margin-top:12.0pt;margin-right:0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:"Times New Roman","serif";'>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></p>
                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:  normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:  "Times New Roman","serif";'>&nbsp;</span></p>
            </td>
        </tr>
        <tr>
            <td style="width:180.05pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:33.7pt;">
                <p style='margin-top:6.0pt;margin-right:0in;margin-bottom:  6.0pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-family:"Times New Roman","serif";'>T</span><span style='font-family:"Times New Roman","serif";'>&agrave;i liệu chứng minh&nbsp;</span><span style='font-family:"Times New Roman","serif";'>B&ecirc;n Cho Vay</span><span style='font-family:"Times New Roman","serif";'>&nbsp;đ&atilde; chuyển tiền cho&nbsp;</span><span style='font-family:"Times New Roman","serif";'>B&ecirc;n Vay</span></p>
            </td>
            <td style="width: 43.5pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0in 5.4pt;height: 33.7pt;vertical-align: top;">
                <p style='margin-top:12.0pt;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;'><span style='font-family:"Times New Roman","serif";'>&nbsp;</span></p>
            </td>
            <td style="width: 225.35pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0in 5.4pt;height: 33.7pt;vertical-align: top;">
                <p style='margin-top:12.0pt;margin-right:0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:"Times New Roman","serif";'>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></p>
            </td>
        </tr>
        <tr>
            <td style="width:33.5pt;border:solid windowtext 1.0pt;border-top:  none;padding:0in 5.4pt 0in 5.4pt;height:53.5pt;">
                <p style='margin-top:12.0pt;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;'><span style='font-family:"Times New Roman","serif";'>4</span></p>
            </td>
            <td style="width:180.05pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:53.5pt;">
                <p style='margin-top:6.0pt;margin-right:0in;margin-bottom:  6.0pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-family:"Times New Roman","serif";'>Văn bản ủy quyền của NĐT cho C&ocirc;ng ty mua BH, k&yacute; hợp đồng BH, đ&oacute;ng ph&iacute;, th&ocirc;ng b&aacute;o tổn thất v&agrave; y&ecirc;u cầu trả tiền BH</span></p>
            </td>
            <td style="width: 43.5pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0in 5.4pt;height: 53.5pt;vertical-align: top;">
                <p style='margin-top:12.0pt;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;'><span style='font-family:"Times New Roman","serif";'>&nbsp;</span></p>
            </td>
            <td style="width: 225.35pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0in 5.4pt;height: 53.5pt;vertical-align: top;">
                <p style='margin-top:12.0pt;margin-right:  0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:"Times New Roman","serif";'>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></p>
                <p style='margin-top:12.0pt;margin-right:  0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:"Times New Roman","serif";'>&nbsp;</span></p>
                <p style='margin-top:12.0pt;margin-right:0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:"Times New Roman","serif";'>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></p>
            </td>
        </tr>
        <tr>
            <td style="width:33.5pt;border:solid windowtext 1.0pt;border-top:  none;padding:0in 5.4pt 0in 5.4pt;height:47.2pt;">
                <p style='margin-top:12.0pt;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;'><span style='font-family:"Times New Roman","serif";'>5</span></p>
            </td>
            <td style="width:180.05pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:47.2pt;">
                <p style='margin-top:6.0pt;margin-right:0in;margin-bottom:  6.0pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-family:"Times New Roman","serif";'>C&aacute;c t&agrave;i liệu&nbsp;</span><span style='font-family:"Times New Roman","serif";'>B&ecirc;n Vay</span><span style='font-family:"Times New Roman","serif";'>&nbsp;đ&atilde; cung cấp cho&nbsp;</span><span style='font-family:"Times New Roman","serif";'>B&ecirc;n Cho Vay</span><span style='font-family:"Times New Roman","serif";'>&nbsp;ph&ugrave; hợp với y&ecirc;u cầu của G&oacute;i sản phẩm</span></p>
            </td>
            <td style="width: 43.5pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0in 5.4pt;height: 47.2pt;vertical-align: top;">
                <p style='margin-top:12.0pt;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;'><span style='font-family:"Times New Roman","serif";'>&nbsp;</span></p>
            </td>
            <td style="width: 225.35pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0in 5.4pt;height: 47.2pt;vertical-align: top;">
                <p style='margin-top:12.0pt;margin-right:  0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:"Times New Roman","serif";'>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.</span></p>
                <p style='margin-top:12.0pt;margin-right:  0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:"Times New Roman","serif";'>&nbsp;</span></p>
                <p style='margin-top:12.0pt;margin-right:0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:"Times New Roman","serif";'>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></p>
            </td>
        </tr>
        <tr>
            <td style="width:33.5pt;border:solid windowtext 1.0pt;border-top:  none;padding:0in 5.4pt 0in 5.4pt;height:53.5pt;">
                <p style='margin-top:12.0pt;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;'><span style='font-family:"Times New Roman","serif";'>6</span></p>
            </td>
            <td style="width:180.05pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:53.5pt;">
                <p style='margin-top:6.0pt;margin-right:0in;margin-bottom:  6.0pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-family:"Times New Roman","serif";'>Bảng t&iacute;nh điểm t&iacute;n dụng chi tiết c&aacute;c th&ocirc;ng số: Dữ liệu từ app, dữ liệu Telco, Dữ liệu mạng x&atilde; hội, Dữ liệu BHXH của người Vay đạt điểm tối thiểu 585 điểm</span></p>
            </td>
            <td style="width: 43.5pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0in 5.4pt;height: 53.5pt;vertical-align: top;">
                <p style='margin-top:12.0pt;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;'><span style='font-family:"Times New Roman","serif";'>&nbsp;</span></p>
            </td>
            <td style="width: 225.35pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0in 5.4pt;height: 53.5pt;vertical-align: top;">
                <p style='margin-top:12.0pt;margin-right:0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:  normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:  "Times New Roman","serif";'>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></p>
                <p style='margin-top:12.0pt;margin-right:0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:  normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:  "Times New Roman","serif";'>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.</span></p>
            </td>
        </tr>
        <tr>
            <td style="width:33.5pt;border:solid windowtext 1.0pt;border-top:  none;padding:0in 5.4pt 0in 5.4pt;">
                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;'><span style='font-family:"Times New Roman","serif";'>7</span></p>
            </td>
            <td style="width:180.05pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;">
                <p style='margin-top:6.0pt;margin-right:0in;margin-bottom:  6.0pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:justify;'><span style='font-family:"Times New Roman","serif";'>Hợp đồng hợp t&aacute;c giữa&nbsp;</span><span style='font-family:"Times New Roman","serif";'>B&ecirc;n Cho Vay</span><span style='font-family:"Times New Roman","serif";'>&nbsp;v&agrave; C&ocirc;ng ty.</span></p>
            </td>
            <td style="width: 43.5pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0in 5.4pt;vertical-align: top;">
                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;'><span style='font-family:"Times New Roman","serif";'>&nbsp;</span></p>
            </td>
            <td style="width: 225.35pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0in 5.4pt;vertical-align: top;">
                <p style='margin-top:12.0pt;margin-right:0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;text-indent:3.75pt;'><span style='font-family:"Times New Roman","serif";'>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></p>
            </td>
        </tr>
        <tr>
            <td style="width:33.5pt;border:solid windowtext 1.0pt;border-top:  none;padding:0in 5.4pt 0in 5.4pt;height:124.6pt;">
                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;'><span style='font-family:"Times New Roman","serif";'>8</span></p>
            </td>
            <td style="width:180.05pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:124.6pt;">
                <p style='margin-top:6.0pt;margin-right:0in;margin-bottom:  6.0pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-family:"Times New Roman","serif";'>C&aacute;c t&agrave;i liệu, giấy tờ chứng minh&nbsp;</span><span style='font-family:"Times New Roman","serif";'>Tima</span><span style='font-family:"Times New Roman","serif";'>&nbsp;đ&atilde; thực hiện c&aacute;c biện ph&aacute;p nhắc nợ, y&ecirc;u cầu thanh to&aacute;n nợ gửi&nbsp;</span><span style='font-family:"Times New Roman","serif";'>B&ecirc;n Vay</span><span style='font-family:"Times New Roman","serif";'>&nbsp;nhưng kh&ocirc;ng được thanh to&aacute;n trong thời hạn <strong>90 ng&agrave;y</strong> kể từ ng&agrave;y&nbsp;</span><span style='font-family:"Times New Roman","serif";'>B&ecirc;n Vay</span><span style='font-family:"Times New Roman","serif";'>&nbsp;đến hạn phải thanh to&aacute;n theo Hợp đồng vay (cụ thể l&agrave; c&aacute;c giấy tờ, văn bản, bằng chứng cần cung cấp: B&aacute;o c&aacute;o xuất hệ thống nhắc nợ qua đt: bao gồm cuộc gọi + tin nhắn);</span></p>
            </td>
            <td style="width: 43.5pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0in 5.4pt;height: 124.6pt;vertical-align: top;">
                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;'><span style='font-family:"Times New Roman","serif";'>&nbsp;</span></p>
            </td>
            <td style="width: 225.35pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0in 5.4pt;height: 124.6pt;vertical-align: top;">
                <p style='margin-top:12.0pt;margin-right:  0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:"Times New Roman","serif";'>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></p>
                <p style='margin-top:12.0pt;margin-right:  0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:"Times New Roman","serif";'>&nbsp;</span></p>
                <p style='margin-top:12.0pt;margin-right:  0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:"Times New Roman","serif";'>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></p>
                <p style='margin-top:12.0pt;margin-right:  0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:"Times New Roman","serif";'>&nbsp;</span></p>
                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:"Times New Roman","serif";'>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></p>
                <p style='margin-top:12.0pt;margin-right:  0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:"Times New Roman","serif";'>&nbsp;</span></p>
                <p style='margin-top:12.0pt;margin-right:  0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:"Times New Roman","serif";'>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></p>
                <p style='margin-top:12.0pt;margin-right:  0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:"Times New Roman","serif";'>&nbsp;</span></p>
                <p style='margin-top:12.0pt;margin-right:  0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:"Times New Roman","serif";'>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></p>
                <p style='margin-top:12.0pt;margin-right:  0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:"Times New Roman","serif";'>&nbsp;</span></p>
                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:"Times New Roman","serif";'>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></p>
            </td>
        </tr>
        <tr>
            <td style="width:33.5pt;border:solid windowtext 1.0pt;border-top:  none;padding:0in 5.4pt 0in 5.4pt;height:37.75pt;">
                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;'><span style='font-family:"Times New Roman","serif";'>9</span></p>
            </td>
            <td style="width:180.05pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:37.75pt;">
                <p style='margin-top:6.0pt;margin-right:0in;margin-bottom:  6.0pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-family:"Times New Roman","serif";'>Giấy x&aacute;c nhận về số tiền gốc v&agrave; l&atilde;i m&agrave;&nbsp;</span><span style='font-family:"Times New Roman","serif";'>B&ecirc;n Vay</span><span style='font-family:"Times New Roman","serif";'>&nbsp;chưa chi trả cho&nbsp;</span><span style='font-family:"Times New Roman","serif";'>B&ecirc;n Cho Vay</span><span style='font-family:"Times New Roman","serif";'>;</span></p>
            </td>
            <td style="width: 43.5pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0in 5.4pt;height: 37.75pt;vertical-align: top;">
                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;'><span style='font-family:"Times New Roman","serif";'>&nbsp;</span></p>
            </td>
            <td style="width: 225.35pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0in 5.4pt;height: 37.75pt;vertical-align: top;">
                <p style='margin-top:12.0pt;margin-right:0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:"Times New Roman","serif";'>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></p>
            </td>
        </tr>
        <tr>
            <td style="width:33.5pt;border:solid windowtext 1.0pt;border-top:  none;padding:0in 5.4pt 0in 5.4pt;height:51.25pt;">
                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;'><span style='font-family:"Times New Roman","serif";'>10</span></p>
            </td>
            <td style="width:180.05pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:51.25pt;">
                <p style='margin-top:6.0pt;margin-right:0in;margin-bottom:  6.0pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-family:"Times New Roman","serif";'>C&aacute;c t&agrave;i liệu kh&aacute;c theo y&ecirc;u cầu của&nbsp;</span><span style='font-family:"Times New Roman","serif";'>Bảo Minh</span><span style='font-family:"Times New Roman","serif";'>&nbsp;được quy định trong Giấy chứng nhận/Hợp đồng bảo hiểm</span><span style='font-family:"Times New Roman","serif";'>.</span></p>
            </td>
            <td style="width: 43.5pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0in 5.4pt;height: 51.25pt;vertical-align: top;">
                <p style='margin-top:0in;margin-right:0in;margin-bottom:.0001pt;margin-left:0in;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-align:center;'><span style='font-family:"Times New Roman","serif";'>&nbsp;</span></p>
            </td>
            <td style="width: 225.35pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0in 5.4pt;height: 51.25pt;vertical-align: top;">
                <p style='margin-top:12.0pt;margin-right:  0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:"Times New Roman","serif";'>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></p>
                <p style='margin-top:12.0pt;margin-right:  0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:"Times New Roman","serif";'>&nbsp;</span></p>
                <p style='margin-top:12.0pt;margin-right:0in;margin-bottom:.0001pt;margin-left:-4.45pt;line-height:normal;font-size:15px;font-family:"Calibri","sans-serif";text-indent:3.75pt;'><span style='font-family:"Times New Roman","serif";'>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></p>
            </td>
        </tr>
    </tbody>
</table>
<p style='margin-top:0in;margin-right:0in;margin-bottom:8.0pt;margin-left:0in;line-height:107%;font-size:15px;font-family:"Calibri","sans-serif";'><span style='font-family:"Times New Roman","serif";'>&nbsp;</span></p>


