﻿<div class="modal fade" id="modal_ChangeStatusInDepartment" role="dialog" aria-hidden="true" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tlt_header_comment">
                   Chuyển phòng từ THN => Hub:  <b id="customerNameChange"></b> 
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseModalcomment">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="modal-body" data-select2-id="22">
                <div class="m-form m-form--fit m-form--label-align-right" data-select2-id="21">
                    <form class="m-form m-form--fit m-form--label-align-right" data-select2-id="20">
                        <input type="hidden" id="hdd_LoanID" value="0">
                        <div class="m-portlet__body" data-select2-id="19">
                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-lg-3 col-sm-12 col-12 col-form-label font-weight-bold">
                                    Nội dung chuyển
                                </label>
                                <div class="col-lg-8 col-sm-12 col-12">
                                    <textarea class="form-control m-input" id="txt_NoteChangeStatusInDepartment" name="txt_NoteChangeStatusInDepartment" placeholder="Nhập nội dung" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <div class="col-lg-9 ml-lg-auto">
                                    <button type="reset" id="btn_ChangeStatusInDepartment" class="btn btn-primary m-btn--air" onclick="changeStatusInDepartment.SaveChangeStatusInDepartment()">
                                        <i class="fa fa-save"></i>
                                        Lưu lại
                                    </button>
                                    <a data-dismiss="modal" class="btn btn-warning m-btn--air text-white">
                                        <i class="fa fa-close"></i>
                                        Đóng
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--end::Form-->
                </div> 
            </div>
        </div>
    </div>
</div>
