﻿<div class="modal fade" id="modal_HistoryComment" role="dialog" aria-hidden="true" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tlt_header_comment">
                    Nhật kí làm việc KH :  <b>Kiều Tuấn Trung</b>
                    <span class="m-badge--danger  m-badge  m-badge--wide"> Mất tín hiệu 48h</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseModalcomment">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="modal-body" data-select2-id="22">
                <div class="m-form m-form--fit m-form--label-align-right" data-select2-id="21">
                    <form class="m-form m-form--fit m-form--label-align-right" data-select2-id="20">
                        <input type="hidden" id="hdd_LogID" value="4136054">
                        <input type="hidden" id="hdd_LoanCreditID" value="2085476">
                        <input type="hidden" id="hdd_LoanLosCreditID">
                        <input type="hidden" id="hdd_AiStreet" value="">
                        <input type="hidden" id="hdd_AILat" value="">
                        <input type="hidden" id="hdd_AILng" value="">
                        <input type="hidden" id="ip-page-current-child" value="1">

                        <input type="hidden" id="hdd_LoanID" value="0">

                        <div class="m-portlet__body" data-select2-id="19">
                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-lg-3 col-sm-12 col-12 col-form-label font-weight-bold">
                                    Bước hành động <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-8 col-sm-12 col-12">
                                    <select class="form-control kt-select2" id="sl_create_mainreason" name="sl_create_mainreason" style="width:100%">
                                        <option value="" selected="" data-select2-id="12"></option>
                                        <option value="1" data-select2-id="26">Telesale pick nhầm địa chỉ</option>
                                        <option value="2" data-select2-id="27">Gọi điện</option>
                                        <option value="3" data-select2-id="28">Đi xác minh</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-lg-3 col-sm-12 col-12 col-form-label font-weight-bold">
                                    Lý do <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-8 col-sm-12 col-12">
                                    <select class="form-control kt-select2" id="sl_create_reason" name="sl_create_reason" style="width:100%">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group m-form__group row m--hide" id="dv_location">
                                <label for="example-text-input" class="col-lg-3 col-sm-12 col-12 col-form-label font-weight-bold">
                                    Địa chỉ mới <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-8 col-sm-12 col-12">
                                    <div class="input-group">
                                        <input class="form-control m-input" id="txt_newAddress" name="txt_newAddress" placeholder="Địa chỉ mới" type="text">
                                        <span class="input-group-btn">
                                            <span id="btn_show_geo" class="btn btn-default">
                                                <i class="fa fa-location-arrow"></i>
                                                Tìm kiếm
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <input type="hidden" id="hdd_newlatlong" value="">
                            </div>
                            <div class="form-group m-form__group row m--hide" id="dv_show_geo">
                                <label for="example-text-input" class="col-lg-3 col-sm-12 col-12 col-form-label font-weight-bold">
                                    Bản đồ <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-8 col-sm-12 col-12" style="min-height:300px" id="boxGoogleMapAddress">

                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                <label for="example-text-input" class="col-lg-3 col-sm-12 col-12 col-form-label font-weight-bold">
                                    Nội dung
                                </label>
                                <div class="col-lg-8 col-sm-12 col-12">
                                    <textarea class="form-control m-input" id="txt_newNote" name="txt_newNote" placeholder="Nhập nội dung" rows="4"></textarea>
                                </div>
                            </div>
                            <div class="form-group m-form__group row" id="dv_upload_data" style="display: none;">
                                <label for="example-text-input" class="col-lg-3 col-sm-12 col-12 col-form-label font-weight-bold">
                                    Upload
                                </label>
                                <div class="col-lg-8 col-sm-12 col-12" id="dvUploadLoan"><input type="hidden" id="hdd_file_upload" name="FileName">            <div class="dropzone dropzone-default dz-clickable" id="dropzone" action="/Content/Index">                <div class="dropzone-msg dz-message needsclick">                    <h3 class="dropzone-msg-title">Thả tệp vào đây hoặc nhấp để tải lên</h3>                    <span class="dropzone-msg-desc">Chỉ cho phép tải lên hình ảnh</span>                </div>            </div></div>
                            </div>
                            <div class="form-group m-form__group row">
                                <div class="col-lg-9 ml-lg-auto">
                                    <button type="reset" id="btn_save_comment" class="btn btn-primary m-btn--air">
                                        <i class="fa fa-save"></i>
                                        Lưu lại
                                    </button>
                                    <a data-dismiss="modal" class="btn btn-warning m-btn--air text-white">
                                        <i class="fa fa-close"></i>
                                        Đóng
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <!--end::Form-->
                </div>
                <hr>
                <h6 class="col-lg-12 m--margin-top-20"><i class="fa fa-list"></i> Lịch sử làm việc</h6>
                <div class="col-lg-12 m--margin-top-20">
                    <div id="dv_resultcomment">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
