﻿
@{
    Layout = null;
}
<style>
    .kt-list-timeline__text {
        color: none !important
    }
</style>
<div class="modal fade" id="modal_topFriendFb" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Danh sách Top friends facebook
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="kt-card-profile">
                    <div class="kt-card-profile__title kt--hide">

                    </div>
                    <div class="kt-card-profile__pic">
                        <div class="kt-card-profile__pic-wrapper">
                            <i class="fa fa-user-circle" style="font-size: 50px;"></i>
                        </div>
                    </div>
                    <div class="kt-card-profile__details">
                        <a class="kt-card-profile__name" id="lbl_twolbl" style="color: black;"></a>
                    </div>
                    <div class="kt-card-profile__details" style="margin-top: 10px">
                        <a class="kt-nav__link-text" id="lbl_linkfacebook">
                            Link Facebook
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="display:block">
                <h5 style="color: black;">
                    5 Bạn bè hay liên hệ
                </h5>
                <div class="kt-portlet__body">
                    <div id="hdd_topFriendFB" style="display:none">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>