﻿@{
    Layout = null;
}
<style>
    .kt--margin-top-10 {
        margin-top: 10px !important;
    }
</style>
<div class="modal fade" id="modal_create_detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="max-width:99%!important" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lbl_details_header">Chi tiết điểm dừng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="btnCloseModalcomment">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group m-form__group row kt--margin-top-10">
                    <div class="col-md-11 row">
                        <input type="hidden" id="hdd_details_loanCreditID" value="" />
                        <input type="hidden" id="hdd_details_latlng" value="" />
                        <input type="hidden" id="hdd_details_logID" value="" />
                        <input type="hidden" id="hdd_details_deviceID" value="" />

                        <div class="col-md-2 kt--margin-top-10">
                            <div class="kt-input-icon kt-input-icon--right">
                                <input class="form-control kt-input" id="search_detail_time" data-placement="top" data-toggle="kt-tooltip" title="Thời gian tìm kiếm theo giờ" value="1" placeholder="Thời gian tìm kiếm theo giờ" type="number">
                            </div>
                        </div>
                        <div class="col-md-2 kt--margin-top-10">
                            <select class="form-control kt-select2" id="sl_detail_timeday" style="width:100%">
                                <option value="0">Tất cả thời gian</option>
                                <option value="1">Ngày : 7h - 17h59</option>
                                <option value="3" selected>Đêm : 18h - 6h59</option>
                            </select>
                            <div class="d-md-none kt--margin-bottom-10"></div>
                        </div>
                        <div class="col-md-2 kt--margin-top-10">
                            <div class="kt-input-icon kt-input-icon--right">
                                <input type='text' data-placement="top" data-toggle="kt-tooltip" title="Dữ liệu từ ngày" class="form-control kt-input kt_datepicker" id="txt_from_detail" value="@DateTime.Now.AddDays(-7).ToString("dd/MM/yyyy")" placeholder="Dữ liệu từ ngày" />
                                <span class="kt-input-icon__icon kt-input-icon__icon--right">
                                    <span>
                                        <i class="la la-calendar text-black"></i>
                                    </span>
                                </span>
                                <div class="d-md-none kt--margin-bottom-10"></div>
                            </div>
                        </div>
                        <div class="col-md-2 kt--margin-top-10">
                            <div class="kt-input-icon kt-input-icon--right">
                                <input type='text' data-placement="top" data-toggle="kt-tooltip" title="Dữ liệu đến ngày" class="form-control kt-input kt_datepicker" id="txt_toDate_detail" value="@DateTime.Now.ToString("dd/MM/yyyy")" placeholder="Dữ liệu đến ngày" />
                                <span class="kt-input-icon__icon kt-input-icon__icon--right">
                                    <span>
                                        <i class="la la-calendar text-black"></i>
                                    </span>
                                </span>
                                <div class="d-md-none kt--margin-bottom-10"></div>
                            </div>
                        </div>
                        <div class="col-md-1 kt--margin-top-10">
                            <button href="#" class="btn btn-info kt-btn kt-btn--air" id="btnGetData_detail">
                                <span>
                                    Tìm kiếm
                                </span>
                            </button>
                            <div class="d-md-none kt--margin-bottom-10"></div>
                        </div>
                    </div>

                    <div class="col-lg-12 kt--margin-top-10"><b><i class="fa fa-home"> Địa chỉ nhà : </i> <span id="lbl_details_home"></span>  </b></div>
                    <div class="col-lg-4 kt--margin-top-10">
                        <h6><i class="fa fa-list"></i> Lịch sử điểm dừng</h6>
                        <div style="height:600px;overflow:auto">
                            <!--<table class="table kt-table kt-table--head-bg-brand table-bordered table-hover kt-table--border-brand" style="vertical-align: middle;">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width:60px;">
                                        STT
                                    </th>
                                    <th class="text-center">Bắt đầu dừng </th>
                                    <th class="text-center">Thời gian dừng</th>
                                    <th class="text-left">Địa chỉ</th>-->
                            @*<th class="text-left">Thao tác</th>*@
                            <!--</tr>
                                </thead>
                                <tbody id="dv_result_detail_gps"></tbody>
                            </table>-->
                            <div id="dv_result_detail_gps">

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 kt--margin-top-10">
                        <h6>
                            <i class="fa fa-list"></i>
                            <span id="summaryMessage"> </span>
                        </h6>
                        <div class="col-lg-12" id="googleMapDiv" style="height:600px">

                        </div>
                    </div>
                    <div class="col-lg-12 kt--margin-top-10">
                        <h6 class="col-lg-12"><i class="fa fa-list"></i> Lịch sử làm việc</h6>
                        <div class="col-lg-12 row kt--margin-top-10" style="padding-bottom:10px">
                            <div class="col-lg-2">
                                <b>
                                    Tổng : <span id="totalCount_history">
                                    </span>
                                </b>
                            </div>
                            <div class="col-lg-2">
                                <b>
                                    Đúng : <span class="kt-font-success">
                                        <span id="totalSuccess_history"></span>
                                    </span>
                                </b>
                            </div>
                            <div class="col-lg-2">
                                <b>
                                    Sai :<span class="kt-font-danger">
                                        <span id="totalError_history"></span>
                                    </span>
                                </b>
                            </div>
                            <div class="col-lg-2">
                                <b>
                                    Mất tín hiệu :<span class="kt-font-danger">
                                        <span id="totalDisconnect_history"></span>
                                    </span>
                                </b>
                            </div>
                        </div>
                        <div class="col-lg-12 kt--margin-top-20">
                            <div id="dv_resultcomment_detail">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
