﻿@{
    ViewData["Title"] = "Báo cáo mua bảo hiểm";
}
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Báo cáo mua bảo hiểm
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right">
                <div class="row align-items-center">
                    <div class="col-xl-12 kt-margin-b-10">
                        <div class="row align-items-center">
                            <input type="hidden" id="ip-page-current" name="pagecurrent" value="1" />
                            <input type="hidden" id="ip-top" name="top" value="25" />
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                                <label style="min-width: 100px"><b>Lender</b></label>
                                <select class="form-control" name="sl_search_lenderID" id="sl_search_lenderID">
                                    <option value="-1">
                                        Tất cả
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                                <div class="form-group">
                                    <label>Từ ngày</label>
                                    <div class="input-group date">
                                        <input type="text" class="form-control kt_datepicker" id="fromDate" autocomplete="off" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                                <div class="form-group">
                                    <label>Đến ngày</label>
                                    <div class="input-group date">
                                        <input type="text" class="form-control kt_datepicker" id="toDate" autocomplete="off" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 kt-margin-b-10">
                        <button class="btn btn-info m-btn kt-btn--air" id="btnGetData">
                            <span>
                                Tìm kiếm
                            </span>
                        </button>
                        &nbsp;&nbsp;
                        <button class="btn btn-success m-btn kt-btn--air" onclick="insurranceList.ExcelData()">
                            <span>
                                Xuất Excel
                            </span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="dv_result_insurrance">

                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>

    </div>
</div>

@section Scripts {
    <script src="~/static/assets/js/pages/crud/forms/widgets/bootstrap-switch.js" type="text/javascript"></script>
    <script src="~/static/scripts/Insurrance/list.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    @*<script>
        $(document).ready(function () {
            insurranceList.Init();
        });
    </script>*@
}
