﻿@{
    Layout = null;
}
<style>
    .padding-footer {
        padding: 7px !important
    }
</style>
<div>
    <div class="row">
        <input type="hidden" name="LoanID" id="hdd_giahanHD" value="0" />
        <div class="col-xl-2">
        </div>
        <div class="col-xl-6">
            <div class="kt-section__body">
                <div class="form-group row">
                    <label class="col-lg-4 col-xl-4 col-form-label alignRight">Gia hạn thêm:</label>
                    <div class="col-lg-6 col-xl-6">
                        <div class="input-group">
                            <input type="text" class="form-control" aria-describedby="basic-addon2" name="PeriodExtend" id="giahan_periodExtend" maxlength="3" value="1" autocomplete="off">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">Kỳ</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-4 col-xl-4 col-form-label alignRight">Ghi chú:</label>
                    <div class="col-lg-6 col-xl-8">
                        <textarea class="form-control" rows="5" name="Note" id="giahan_note"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__foot padding-footer">
        <div class="kt-form__actions">
            <div class="row">
                <div class="col-lg-4 col-xl-4">
                </div>
                <div class="col-lg-7 col-xl-7">
                    <button id="btn_save_giahan" class="btn btn-primary" onclick="loanDetail.Save_giahan()">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
</div>
