﻿@{
    Layout = null;
}
<style>
    .margin_body_tab {
        margin-bottom: 0px !important
    }
</style>
<div>
    <input type="hidden" id="hdd_phone_topfb" value="" />
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon kt-hide">
                <i class="la la-gear"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                <i class="fa fa-money-bill"></i><b> Chi tiết hợp đồng</b>
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <!--begin::Section-->
        <div class="kt-section margin_body_tab">
            <div class="kt-section__content kt-section__content--solid">
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-2 col-form-label text_align_left">Số điện thoại:</label>
                    <div class="col-lg-3 text_align">
                        <label type="text" class="padding_top_lable" id="detail_phone"></label>
                    </div>
                    <label class="col-lg-2 col-form-label text_align_left"></label>
                    <label class="col-lg-2 col-form-label text_align_left">Số tiền vay:</label>
                    <div class="col-lg-3 text_align">
                        <label type="text" class="padding_top_lable" id="detail_soTienVay"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-2 col-form-label text_align_left">Mã HĐ Đăng ký:</label>
                    <div class="col-lg-3 text_align">
                        <label class="padding_top_lable" id="detail_maHDDangky"></label>
                    </div>
                    <label class="col-lg-2 col-form-label text_align_left"></label>
                    <label class="col-lg-2 col-form-label text_align_left">Mã Đại Lý:</label>
                    <div class="col-lg-3 text_align">
                        <label class="padding_top_lable" id="detail_maDaiLy"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-2 col-form-label text_align_left">Mã HĐ Giải ngân:</label>
                    <div class="col-lg-3 text_align">
                        <label class="padding_top_lable" id="detail_maHDGiaiNgan"></label>
                    </div>
                    <label class="col-lg-2 col-form-label text_align_left"></label>
                    <label class="col-lg-2 col-form-label text_align_left">Ngày vay:</label>
                    <div class="col-lg-3 text_align">
                        <label class="padding_top_lable" id="detail_ngayVay"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-2 col-form-label text_align_left">Sản phẩm:</label>
                    <div class="col-lg-3 text_align">
                        <label class="padding_top_lable" id="detail_sanPham"></label>
                    </div>
                    <label class="col-lg-2 col-form-label text_align_left"></label>
                    <label class="col-lg-2 col-form-label text_align_left">Ngày đáo hạn:</label>
                    <div class="col-lg-3 text_align">
                        <label class="padding_top_lable" id="detail_ngayDaoHan"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-2 col-form-label text_align_left">Trạng thái HĐ:</label>
                    <div class="col-lg-3 text_align">
                        <label class="padding_top_lable kt-badge kt-badge--inline kt-badge--success" id="detail_trangThaiHD"></label>
                    </div>
                    <label class="col-lg-2 col-form-label text_align_left"></label>
                    <label class="col-lg-2 col-form-label text_align_left">Định vị:</label>
                    <div class="col-lg-3 text_align" style="padding-top:3px">
                        <div>
                            <a href="javascript:;" id="a_modal_create_detail" data-toggle="modal" data-target="#modal_create_detail">
                                <span id="detail_dinhVi" class="kt-badge kt-badge--inline kt-badge--warning"></span>
                            </a>
                            <a href="javascript:;" id="a_modal_IsLocate_detail" data-toggle="modal" data-target="#modal_IsLocate_detail">
                                <span id="lbl_Showlocation" class="kt-badge kt-badge--inline kt-badge--warning"> RealTime </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-2 col-form-label text_align_left">Ký điện tử:</label>
                    <div class="col-lg-3 text_align">
                        <label class="padding_top_lable" id="detail_kyDienTu"></label>
                    </div>
                    <label class="col-lg-2 col-form-label text_align_left"></label>
                    <label class="col-lg-2 col-form-label text_align_left">Hợp đồng vay:</label>
                    <div class="col-lg-3 text_align padding_top_lable">
                        <a href="#" class="kt-nav__link" id="detail_hopDongVay">
                            <span class="kt-nav__link-text">Link</span>
                        </a>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-2 col-form-label text_align_left">Cửa hàng:</label>
                    <div class="col-lg-3 text_align">
                        <label class="padding_top_lable" id="detail_ConsultantShopName"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless" id="detail_tinhieudinhvi">
                    <label class="col-lg-7 col-form-label text_align_left"></label>
                    <label class="col-lg-2 col-form-label text_align_left"> Tín hiệu định vị :</label>
                    <div class="col-lg-3 text_align padding_top_lable">
                        <a href="#" class="kt kt-font-danger">
                            Mất tín hiệu
                        </a>
                    </div>
                </div>
                @*<div class="form-group row form-group-marginless">
                    <label class="col-lg-2 col-form-label text_align_left">Hợp đồng Lender:</label>
                    <div class="col-lg-3 text_align padding_top_lable">
                    <a href="#" class="kt-nav__link" id="detail_hopDongLender">
                    <span class="kt-nav__link-text">Link</span>
                    </a>
                    </div>
                    </div>*@
            </div>

        </div>

        <!--end::Section-->
        <!--begin::Section-->
        <!--end::Section-->
    </div>
</div>
<div id="hdd_VA">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon kt-hide">
                <i class="la la-gear"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                <i class="fa fa-money-bill"></i><b> Tài khoản VA</b>
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <!--begin::Section-->
        <div class="kt-section margin_body_tab">
            <div class="kt-section__content kt-section__content--solid">
                <div id="append_taiKhoanVA">
                </div>
            </div>
        </div>

        <!--end::Section-->
        <!--begin::Section-->
        <!--end::Section-->
    </div>
</div>
<div>
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon kt-hide">
                <i class="la la-gear"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                <i class="fa fa-user"></i><b> Thông tin khách hàng</b>
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <!--begin::Section-->
        <div class="kt-section margin_body_tab">
            <div class="kt-section__content kt-section__content--solid">
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-2 col-form-label text_align_left">Tên khách hàng:</label>
                    <div class="col-lg-3 text_align">
                        <label class="padding_top_lable" id="detail_tenKhachHang"></label>
                    </div>
                    <label class="col-lg-2 col-form-label text_align_left"></label>
                    <label class="col-lg-2 col-form-label text_align_left">Số CMND/Hộ chiếu:</label>
                    <div class="col-lg-3 text_align">
                        <label class="padding_top_lable" id="detail_CMND"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-2 col-form-label text_align_left">Giới tính:</label>
                    <div class="col-lg-3 text_align">
                        <label class="padding_top_lable" id="detail_gioiTinh"></label>
                    </div>
                    <label class="col-lg-2 col-form-label text_align_left"></label>
                    <label class="col-lg-2 col-form-label text_align_left">Ngày cấp:</label>
                    <div class="col-lg-3 text_align">
                        <label class="padding_top_lable" id="detail_ngayCap"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-2 col-form-label text_align_left">Ngày sinh:</label>
                    <div class="col-lg-3 text_align">
                        <label class="padding_top_lable" id="detail_ngaySinh"></label>
                    </div>
                    <label class="col-lg-2 col-form-label text_align_left"></label>
                    <label class="col-lg-2 col-form-label text_align_left">Nơi cấp:</label>
                    <div class="col-lg-3 text_align">
                        <label class="padding_top_lable" id="detail_noiCap"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-2 col-form-label text_align_left">Địa chỉ đang ở:</label>
                    <div class="col-lg-3 text_align">
                        <label class="padding_top_lable" id="detail_diaChiDangO"></label>
                    </div>
                    <label class="col-lg-2 col-form-label text_align_left"></label>
                    <label class="col-lg-2 col-form-label text_align_left">Địa chỉ hộ khẩu:</label>
                    <div class="col-lg-3 text_align">
                        <label class="padding_top_lable" id="detail_diaChiHoKhau"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-2 col-form-label text_align_left">Link Facebook:</label>
                    <div class="col-lg-3 text_align padding_top_lable">
                        <a href="#" class="kt-nav__link" id="detail_linkFaceBook">
                            <i class="fab fa-facebook"></i>
                            <span class="kt-nav__link-text">Link FaceBook</span>
                        </a>
                    </div>
                    <label class="col-lg-2 col-form-label text_align_left"></label>
                    <label class="col-lg-2 col-form-label text_align_left">Bạn bè Facebook:</label>
                    <div class="col-lg-3 text_align padding_top_lable">
                        <a href="#modal_topFriendFb" data-toggle="modal" data-target="#modal_topFriendFb" class="kt-nav__link" id="detail_banBeFaceBook" onclick="loanDetail.GetTopFriendFacebook()">
                            <i class="fab fa-facebook"></i>
                            <span class="kt-nav__link-text">Top friend facebook</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--end::Section-->
        <!--begin::Section-->
        <!--end::Section-->
    </div>
</div>
<div>
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon kt-hide">
                <i class="la la-gear"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                <i class="fa fa-building"></i><b> Thông tin việc làm</b>
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <!--begin::Section-->
        <div class="kt-section margin_body_tab">
            <div class="kt-section__content kt-section__content--solid">
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-2 col-form-label text_align_left">Nghề nghiệp:</label>
                    <div class="col-lg-3 text_align">
                        <label class="padding_top_lable" id="detail_ngheNghiep"></label>
                    </div>
                    <label class="col-lg-2 col-form-label text_align_left"></label>
                    <label class="col-lg-2 col-form-label text_align_left">Quận/huyện:</label>
                    <div class="col-lg-3 text_align">
                        <label class="padding_top_lable" id="detail_quanHuyen"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-2 col-form-label text_align_left">Tên công ty:</label>
                    <div class="col-lg-3 text_align">
                        <label class="padding_top_lable" id="detail_tenCongTy"></label>
                    </div>
                    <label class="col-lg-2 col-form-label text_align_left"></label>
                    <label class="col-lg-2 col-form-label text_align_left">Thành Phố:</label>
                    <div class="col-lg-3 text_align">
                        <label class="padding_top_lable" id="detail_thanhPho"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-2 col-form-label text_align_left">Mã số thuế công ty:</label>
                    <div class="col-lg-3 text_align">
                        <label class="padding_top_lable" id="detail_maSoThue"></label>
                    </div>
                    <label class="col-lg-2 col-form-label text_align_left"></label>
                    <label class="col-lg-2 col-form-label text_align_left">Thu nhập:</label>
                    <div class="col-lg-3 text_align">
                        <label class="padding_top_lable" id="detail_thuNhap"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-2 col-form-label text_align_left">Địa chỉ công ty:</label>
                    <div class="col-lg-3 text_align">
                        <label class="padding_top_lable" id="detail_diaChiCongTy"></label>
                    </div>
                    <label class="col-lg-2 col-form-label text_align_left"></label>
                    <label class="col-lg-2 col-form-label text_align_left">Hình thức nhận lương:</label>
                    <div class="col-lg-3 text_align">
                        <label class="padding_top_lable" id="detail_hinhThucNhanLuong"></label>
                    </div>
                </div>
            </div>
        </div>

        <!--end::Section-->
        <!--begin::Section-->
        <!--end::Section-->
    </div>
</div>
<div>
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon kt-hide">
                <i class="la la-gear"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                <i class="fa fa-file-alt"></i><b> Thông tin tham chiếu</b>
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <!--begin::Section-->
        <div class="kt-section margin_body_tab">
            <div class="kt-section__content kt-section__content--solid">
                <div id="append_thongTinThamChieu">
                </div>
                <button type="button" class="btn btn-brand btn-icon" id="btn_creatThamChieu" title="Thêm mới thông tin tham chiếu">
                    <i class="fa fa-plus"></i>
                </button>
                <div id="form_toggle_thamChieu" style="display:none">
                    <div class="padding_top_lable">
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Mối quan hệ</label>
                            <div class="col-5">
                                <select class="form-control kt-select2" id="sl_mqh_thamChieu" style="width:100%">
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Họ tên</label>
                            <div class="col-5">
                                <input type="text" class="form-control" id="txt_fullNameThamChieu" placeholder="Họ và tên">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Số điện thoại</label>
                            <div class="col-5">
                                <input type="text" class="form-control" id="txt_phoneThamChieu" placeholder="Số điện thoại">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                            </div>
                            <div class="col-10">
                                <button id="btn_save_mqh_thamChieu" class="btn btn-brand" onclick="loanDetail.CreateRelationship()">Lưu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--end::Section-->
        <!--begin::Section-->
        <!--end::Section-->
    </div>
</div>
<div>
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon kt-hide">
                <i class="la la-gear"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                <i class="fa fa-file-alt"></i><b> Thông tin nhận tiền</b>
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <!--begin::Section-->
        <div class="kt-section margin_body_tab">
            <div class="kt-section__content kt-section__content--solid">
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-2 col-form-label text_align_left">Ngân hàng nhận tiền:</label>
                    <div class="col-lg-3 text_align">
                        <label class="padding_top_lable" id="detail_nganHangNhanTien"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-2 col-form-label text_align_left">Họ tên tài khoản:</label>
                    <div class="col-lg-3 text_align">
                        <label class="padding_top_lable" id="detail_hoVaTenTaiKhoan"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-2 col-form-label text_align_left">Số tài khoản:</label>
                    <div class="col-lg-3 text_align">
                        <label class="padding_top_lable" id="detail_soTaiKhoanNH"></label>
                    </div>
                </div>
            </div>
        </div>

        <!--end::Section-->
        <!--begin::Section-->
        <!--end::Section-->
    </div>
</div>