﻿@{
    Layout = null;
}
<div class="kt-portlet__body" id="resetTab" style="padding:0 !important">
    <div class="form-group m-form__group row" style="padding-bottom: 0px;">
        <label class="col-form-label col-lg-3 col-sm-12">
            Kết quả nhắc nợ
        </label>
        <div class="col-lg-9 col-md-12 col-sm-12">
            <select class="form-control kt-select2" id="sl_reason" tabindex="-1" style="width:100%">
            </select>
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="col-form-label col-lg-3 col-sm-12">
            Nội dung
        </label>
        <div class="col-lg-9 col-md-9 col-sm-12">
            <textarea class="form-control" id="txt_Note"></textarea>
        </div>
    </div>
    <div class="form-group m-form__group row" style="padding-bottom: 0px;">
        <label class="col-form-label col-lg-3 col-sm-12">
            Ngày hẹn
        </label>
        <div class="col-lg-9 col-md-9 col-sm-12">
            <input type="text" class="form-control" id="fromDate" autocomplete="off" value="@DateTime.Now.ToString("dd/MM/yyyy HH:mm")" />
        </div>
    </div>
</div>
<div>
    <div class="kt-form__actions">
        <div class="row">
            <div class="col-xl-3 col-sm-3">
            </div>
            <div class="col-xl-7 col-sm-8">
                <button id="btn_save_NhacNo" class="btn btn-brand btn-elevate kt-login__btn-info" onclick="lichSuNhacNo.Save_NhacNo()">Lưu báo cáo</button>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="kt-portlet__head" style="padding-left:0px!important;border-bottom: none;">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon kt-hide">
                <i class="la la-gear"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                <i class="flaticon-clipboard"></i><b> Lịch sử nhắc nợ</b>
            </h3>
        </div>
    </div>
    <!--begin::Section-->
    <div class="kt-section">
        <div class="kt-form kt-form--label-right">
            <div class="col-lg-12">
                <div id="Table_NhacNo">
                </div>
            </div>
        </div>
    </div>
</div>
