﻿
@{
    ViewData["Title"] = "Quản lý Menu";
    var Menu_AppIDs = FrontEnd.Common.Helpers.EnumHelpers.GetValues<LMS.Common.Constants.Menu_AppID>().ToList();
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    @ViewData["Title"]
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <a href="#" class="btn btn-primary btn-elevate" title="Thêm mới" onclick="menu.initAddOrUpdate()" data-toggle="modal" data-target="#modal_add_edit_menu">
                    <i class="la la-plus"></i>
                    Thêm mới
                </a>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-section">
                <div class="kt-section__content">
                    <div class="row">
                        <input type="hidden" id="ip-page-current" name="pagecurrent" value="1" />
                        <input type="hidden" id="ip-top" name="top" value="25" />
                        <div class="col-md-3 kt-margin-b-20-tablet-and-mobile" style="max-width:300px">
                            <label><b>Tên</b></label>
                            <div class="kt-input-icon kt-input-icon--left">
                                <input type="text" class="form-control" placeholder="Tìm theo tên" id="txt_search_menu">
                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                    <span><i class="la la-search"></i></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3 kt-margin-b-20-tablet-and-mobile" style="max-width:300px">
                            <label><b>Trạng thái</b></label>
                            <select class="form-control kt-select2" id="sl_search_menu">
                                <option value="-111">
                                    Tất cả
                                </option>
                                <option value="1">
                                    Hoạt động
                                </option>
                                <option value="0">
                                    Ngừng hoạt động
                                </option>
                            </select>
                        </div>
                        <div class="col-md-3 kt-margin-b-20-tablet-and-mobile" style="max-width:300px">
                            <label><b>Phân hệ</b></label>
                            <select class="form-control kt-select2" id="sl_search_AppId">
                                <option value="-1">
                                    Tất cả
                                </option>

                            </select>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label style="padding-top: 12px;"></label>
                                <div class="input-group date">
                                    <button class="btn btn-info m-btn kt-btn--air" id="btnGetData" onclick="menu.GridRefresh()">
                                        <span>
                                            Tìm kiếm
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <div class="kt-section">
                <div class="kt-section__content">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="grid">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="~/Views/Menu/partials/_create.cshtml" />
@section Scripts {  
    <environment include="Development">
        <script src="~/scripts/menu/menu.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/scripts/menu/menu.min.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    </environment>
    <script>

        var menu_AppIDs = @Html.Raw(Json.Serialize(Menu_AppIDs.ToList()));
    </script>
}
