﻿
@{
    Layout = null;
}

<div class="modal fade" id="modal_BankCard_Details_Invoice" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title_BankCard_Details_Invoice" style="font-weight:bold">Chi tiết</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12" > 
                    <div id="dv_result_details">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
