﻿
@{
    Layout = null;
}
<style>
    .wapperImage {
        max-height: 300px;
        max-width: 280px;
        margin-top: 25px;
        margin-right: 0px;
    }

    .div-remove {
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: Roboto,sans-serif;
        -webkit-font-smoothing: antialiased;
    }

    .click {
        background: #c5b0b0;
    }

    .notclick {
        background: #f7f8fa;
    }

    .photoHD img {
        height: 300px;
        width: 270px;
        /* height: auto; */
    }

    .check-click {
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid black;
        cursor: pointer
    }

    .m-accordion__item-title {
        padding-left: 1rem;
        display: table-cell
    }

    .div_style {
        padding-bottom: 10px;
        padding-top: 10px
    }
    .k-state-selected {
        background-color: #b0bed9 !important;
    }
    .imgViewer {
        max-height: inherit;
    }
    .header_line_200 {
        position: relative;
        margin: 0 0 10px 0;
        font-style: italic;
    }
        .header_line_200:before {
            content: "";
            display: block;
            position: absolute;
            left: 260px;
            right: 20px;
            bottom: 8px;
            border-top: 1px solid #e8ecef;
        }
    .alignRight {
        text-align: end;
    }
</style>
<div class="modal fade" id="ModalChungTu" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalChungTuHeaderId" style="font-weight:bold;">Chứng từ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"  >
                </button>
            </div>
            <div class="modal-body">
                <!--begin::modal-body-->
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <!--begin::Chứng từ-->
                        <div class="row">
                            <div class="m-accordion m-accordion--default m-accordion--solid col-md-3" id="m_accordion_5" role="tablist">
                                <div class="m-accordion__item">
                                    <div class="m-accordion__item-head collapsed check-click" role="tab" id="m_accordion_5_item_1_head_129" onclick="ShowImg(129)" data-toggle="collapse" href="#m_accordion_5_item_1_body_129" aria-expanded="false" style="background: rgb(197, 176, 176);">
                                        <div class="div_style">
                                            <span class="m-accordion__item-title">Giấy tờ khác <b style="color:red;">(5)</b></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 " style="background-color:#f2f3f8" id="div-lst-img">
                                <div id="detail_content_129" style="" class="row div-lst-img">
                                    <div class="wapperImage col-md-4">
                                        <div class="photoHD">
                                            <img src="https://los-space.sgp1.digitaloceanspaces.com/uploads/2020/10/b149b17c-7028-44c8-9055-579a3b28eedf.jpeg"><a href="#slideshow" class="btnSlideshow">Phóng to</a>
                                        </div>
                                        <div class="div-remove"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--begin:: chứng từ--> 
                    </div>
                </div>
                <!--end::modal-body-->
            </div>
            <div class="modal-footer row"> 
                <div class="col-12" style="text-align: right;"> 
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"  ><i class="flaticon-close"></i> Đóng </button>
                </div>
            </div>
        </div>
    </div>
</div>
 