﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    .kt-section {
        margin: 0 0 0 0;
    }

    .margin-bottom {
        margin-bottom: 25px
    }
</style>
<div class="row">
    <div class="col-md-6">
        <div class="kt-portlet" style="border:1px #dee2e6 solid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        <i class="fa fa-coins"></i>
                        Ghi nợ phí phạt chậm
                    </h3>
                </div>
            </div>

            <!--begin::Form-->
            <div class="kt-form margin-bottom">
                <div class="kt-portlet__body">
                    <div class="kt-section kt-section--first">
                        <div class="form-group">
                            <label>Tiền ghi nợ <span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="loanDetail_tienGhiNo">
                        </div>
                        <div class="form-group" id="hdd_sl_phiPhatCham">
                            <label>Kỳ nợ <span style="color:red">*</span></label>
                            <select class="form-control kt-select2" id="append_select_Phiphatcham" style="width:100%">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__foot">
                    <div class="kt-form__actions">
                        <button class="btn btn-primary" style="float:right" id="btn_ghiNo_PhiPhatCham" onclick="loanDetail.Save_PhiPhatCham()">Ghi nợ</button>
                    </div>
                </div>
            </div>
            <!--end::Form-->
        </div>
    </div>

    <div class="col-md-6">
        <div class="kt-portlet" style="border:1px #dee2e6 solid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        <i class="fa fa-money-bill"></i>
                        Trả nợ phí phạt chậm
                    </h3>
                </div>
            </div>

            <!--begin::Form-->
            <div class="kt-form margin-bottom">
                <div class="kt-portlet__body">
                    <div class="kt-section kt-section--first">
                        <div class="form-group">
                            <label>Số tiền trả nợ <span style="color:red">*</span></label>
                            <input type="text" class="form-control" id="loanDetail_tienTraNo">
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__foot">
                    <div class="kt-form__actions">
                        <button class="btn btn-primary" style="float:right" id="btn_traNo_PhiPhatCham" onclick="loanDetail.Save_TraNoPhiPhatCham()">Thanh Toán</button>
                    </div>
                </div>
            </div>
            <!--end::Form-->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="kt-section__body">
            <div id="TablePhiPhat">
            </div>
        </div>
    </div>
</div>