﻿@{
    Layout = null;
}
<style>
    .wapperImage {
        max-height: 300px;
        max-width: 280px;
        margin-top: 25px;
        margin-right: 0px;
    }

    .div-remove {
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: Roboto,sans-serif;
        -webkit-font-smoothing: antialiased;
    }

    .click {
        background: #c5b0b0;
    }

    .notclick {
        background: #f7f8fa;
    }

    .photoHD img {
        height: 300px;
        width: 270px;
        /* height: auto; */
    }

    .check-click {
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid black;
        cursor: pointer
    }

    .m-accordion__item-title {
        padding-left: 1rem;
        display: table-cell
    }

    .div_style {
        padding-bottom: 10px;
        padding-top: 10px
    }
</style>
<div class="kt-portlet__body"> 
    <div class="row">
        <div class="m-accordion m-accordion--default m-accordion--solid col-md-3" id="m_accordion_5" role="tablist">
            
        </div>
        <div class="col-md-9 " style="background-color:#f2f3f8" id="div-lst-img">
             
        </div>
    </div>
</div>
