﻿@{
    Layout = null;
}
    <div class="alert-primary" style="padding:10px;border-radius:unset">
        <div class="row">
            <div class="col-md-5">
                <table class="table table-detail">
                    <tbody>
                        <tr>
                            <td><span class="font-weight-bold">Tên khách hàng: </span></td>
                            <td class="text-right">   <span class="lbl_CustomerName"></span></td>
                        </tr>
                        <tr>
                            <td><span class="font-weight-bold">Tiền trong ví : </span></td>
                            <td class="text-right">
                                <span id="lbl_MoneyInBag">0</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="font-weight-bold">Số ngày quá hạn: </span></td>
                            <td class="text-right">
                                <span id="lbl_CountDate"></span>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="font-weight-bold">Gói sản phẩm: </span></td>
                            <td class="text-right">
                                <span id="lbl_ProductName"></span>
                            </td>
                        </tr>
                        <tr>
                            <td><span class="font-weight-bold">Ngày nộp tiền : </span></td>
                            <td class="text-right">
                                <span id="lbl_LastestCharge"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-5">
                <table class="table table-detail">
                    <tbody>
                        <tr>
                            <td><span class="font-weight-bold">Tiền phải thanh toán: </span></td>
                            <td class="text-right"><span id="lbl_totalMoneyRequired">0</span></td>
                        </tr>
                        <tr>
                            <td><span class="font-weight-bold">Gốc + Lãi phải thanh toán: </span></td>
                            <td class="text-right">  <span id="lbl_TotalMoney">0</span></td>
                        </tr>
                        <tr>
                            <td><span class="font-weight-bold">Phí phải thanh toán: </span></td>
                            <td class="text-right"> <span id="lbl_InterestMoney">0</span></td>
                        </tr>
                        <tr>
                            <td><span class="font-weight-bold">Phí phạt chậm trả: </span></td>
                            <td class="text-right"><span id="lbl_OtherMoney">0</span></td>
                        </tr>

                        <tr>
                            <td><span class="font-weight-bold">Tổng tiền tất toán: </span></td>
                            <td class="text-right"><span id="lbl_TotalMoneyNeedCloseLoan">0</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>