﻿
@{
    Layout = null;
} 
<div class="modal fade" id="ModalThongBao" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalThongBaoHeaderId" style="font-weight:bold;">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"  >
                </button>
            </div>
            <div class="modal-body">
                <!--begin::modal-body-->
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <!--begin::ThongBao-->
                        <div class="row">
                            <form class="kt-form" style="width: 100%;">
                                <div class="kt-portlet__body"> 
                                    <div class="form-group">
                                        <label>Tên facebook</label>
                                        <input type="text" class="form-control" placeholder="Nhập tên facebook" id="facebookId"> 
                                    </div>
                                    <div class="form-group">
                                        <label>Link ảnh</label>
                                        <input type="text" class="form-control" placeholder="Nhập link ảnh" id="linkImageId"> 
                                    </div> 
                                </div> 
                            </form>
                        </div>
                        <!--begin:: ThongBao-->
                    </div>
                </div>
                <!--end::modal-body-->
            </div>
            <div class="modal-footer row"> 
                <div class="col-12" style="text-align: right;">
                    <button type="button" class="btn btn-secondary" onclick="loanDetail.OpenThongBaoNo()"><i class="flaticon-alert"></i> Xuất </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="flaticon-close"></i> Đóng </button>
                </div>
            </div>
        </div>
    </div>
</div>
 