﻿@{
    Layout = null;
}
<style>
    .padding_top_lable {
        padding-top: 9px
    }

    .text_align {
        text-align: right !important
    }

    .text_align_left {
        text-align: left !important
    }
</style>
<style>
    body.modal-open {
        /*overflow: hidden;*/
        position: fixed;
    }

    .m-form .m-form__group {
        padding-bottom: 0;
    }

    .table-detail {
        margin-bottom: 0px;
    }

        .table-detail th, .table-detail td {
            border: unset !important
        }

    .alert {
        margin-bottom: 0;
    }

    .alert-primary:not(.m-alert--outline) {
        color: white;
        background-color: #5d78ff;
        border-color: #5867dd;
    }

    .nextstep-buttons {
        float: left;
        margin: 8px;
        margin-left: 50px;
    }

    .loan-buttons:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        line-height: 0;
        border: 21px solid rgba(12,11,11,0);
        border-left: 13px solid #5d78ff;
        border-top: 30px solid #5d78ff;
        right: -34px;
        bottom: 0;
    }

    .swal-wide {
        width: 1000px !important;
        /*padding :10px !important;*/
    }

    .nav-link {
        padding: 0.7rem 0.7rem;
    }

    .nav-tabs .nav-link {
        border: none !important
    }

    table tr {
        cursor: pointer;
    }

    .tab-table th, .tab-table td {
        padding: 0.30rem !important;
    }

    .m-demo .m-demo__preview {
        background: #f4f6f8;
        border: none !important
    }

    .content-details-loan {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
    }

    .nav-tabs .nav-link.active {
        font-weight: bold !important;
    }


    .border-child {
        border-left: 1px solid rgba(34,36,38,.1) !important;
    }

    /*slideshow*/
    .scroll {
        margin: 4px, 4px;
        padding: 4px;
        background-color: green;
        overflow-x: hidden;
        overflow-x: auto;
        text-align: justify;
    }
</style>
<div class="kt-portlet__body" style="background-color:#eceef1">
    <div class="content-info-loan" style="background-color:#eceef1;padding: 3px 0 0 0;">
        <ul class="nav nav-tabs" role="tablist" style="margin-bottom:0px;">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab_lichdonglai" id="btn_load_lichdonglai" onclick="tabLichDongLaiPhi.InitTabLichDongLaiPhi()">
                    Lịch Đóng lãi + phí
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#m_tabs_donghopdong" id="btn_load_dongHD" onclick="tatToanHD.InitDetailDongHD()">
                    Tất toán HĐ
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#tab_nhacno" id="btn_load_nhacno" onclick="lichSuNhacNo.InitDetailNhacNo()">
                    Nhắc nợ
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab_lichsuxetduyet" id="btn_load_lichsuxetduyet" onclick="lichSuXetDuyet.InitXetDuyet()">
                    Lịch sử xét duyệt
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab_lichsudoiSdt" onclick="thayDoiSdt.InitThayDoiSdt()">
                    Lịch sử đổi SĐT
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab_duthu" @*id="btn_load_lichsuxetduyet"*@ onclick="duThu.InitDuThu()">
                    Dự thu
                </a>
            </li>
            <li class="nav-item" href="#ModalChungTu" data-toggle="modal" data-target="#ModalChungTu" onclick="tabChungTu.GetDataImagesLos()">
                <a class="nav-link" id="btn_load_chungtu">
                    Chứng từ
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab_video" id="btn_load_video" onclick="tabVideo.GetDataListVideo()">
                    Video
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab_tranData" id="btn_tranData" onclick="tranData.InitTranData()">
                    TranData
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab_sms" id="btn_sms" onclick="sms.InitSMS()">
                    SMS
                </a>
            </li>
        </ul>
        <div class="tab-content scroll" style="background-color: white;padding: 10px;margin-left: 0px; height:336px">
            <div class="tab-pane" id="tab_lichdonglai" role="tabpanel">
                <div class="col-md-12 col-lg-12 col-xl-12" id="dv_tblListPaymentSchedule" style="padding-right:28px">
                    <partial name="~/Views/LoanManagerCall/Detail/_partialDetailTabLichDongLaiPhi.cshtml" />
                </div>
            </div>
            <div class="tab-pane" id="m_tabs_donghopdong" role="tabpanel">
                <partial name="~/Views/LoanManagerCall/Detail/_partialDetailTabDongHD.cshtml" />
            </div>
            <div class="tab-pane active" id="tab_nhacno" role="tabpanel">
                <div class="col-md-12 col-lg-12 col-xl-12 " style="padding-bottom: 5px;padding-top: 5px;border-right:none" id="form-save-comment">
                    <partial name="~/Views/SmartDialer/Detail/_partialDetailTabNhacNo.cshtml" />
                </div>
            </div>
            <div class="tab-pane" id="tab_lichsuxetduyet" role="tabpanel">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <partial name="~/Views/LoanManagerCall/Detail/_partialDetailTabLichSuXetDuyet.cshtml" />
                </div>
            </div>
            <div class="tab-pane" id="tab_lichsudoiSdt" role="tabpanel">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <partial name="~/Views/LoanManagerCall/Detail/_partialDetailTabLichSuDoiSDT.cshtml" />
                </div>
            </div>
            <div class="tab-pane" id="tab_duthu" role="tabpanel">
                <div class="col-md-12 col-lg-12 col-xl-12 " style="padding-bottom: 5px;padding-top: 5px;border-right:none" id="form-save-comment">
                    <partial name="~/Views/LoanManagerCall/Detail/_partialDetailTabDuThu.cshtml" />
                </div>
            </div>
            <div class="tab-pane" id="tab_video" role="tabpanel">
                <div class="col-md-12 col-lg-12 col-xl-12 " style="padding-bottom: 5px;padding-top: 5px;border-right:none" id="form-save-comment">
                    <partial name="~/Views/LoanManagerCall/Detail/_partialDetailTabVideo.cshtml" />
                </div>
            </div>
            <div class="tab-pane" id="tab_tranData" role="tabpanel">
                <div class="col-md-12 col-lg-12 col-xl-12 " style="padding-bottom: 5px;padding-top: 5px;border-right:none">
                    <partial name="~/Views/LoanManagerCall/Detail/_partialDetailTrandata.cshtml" />
                </div>
            </div>
            <div class="tab-pane" id="tab_sms" role="tabpanel">
                <div class="col-md-12 col-lg-12 col-xl-12 " style="padding-bottom: 5px;padding-top: 5px;border-right:none">
                    <partial name="~/Views/LoanManagerCall/Detail/_partialDetailTabSMS.cshtml" />
                </div>
            </div>
        </div>
    </div>
</div>
<div>
      <label class="col-form-label col-lg-2 col-sm-2">Lịch sử nhắc nợ</label>
</div>
<div class="kt-portlet__body" style="background-color:#eceef1">
    <div class="content-info-loan scroll" style="background-color:#eceef1;padding: 3px 0 0 0;height:300px">
     <div class="kt-section">
        <div class="kt-form kt-form--label-right">
            <div class="col-lg-12">
                <div id="Table_NhacNo">
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<div>
      <label class="col-form-label col-lg-2 col-sm-2">Lịch sử đóng tiền</label>
</div>
<div class="kt-portlet__body " style="background-color:#eceef1">
    <div class="content-info-loan scroll" style="background-color:#eceef1;padding: 3px 0 0 0;height:300px">
     <div class="row">
       <div class="col-xl-12">
        <div class="kt-section__body">
          <div id="LichSuDongTien">
             </div>
               </div>
                </div>
                </div>
    </div>
</div>