﻿@{
    Layout = null;
}
<style>
    .margin_body_tab {
        margin-bottom: 0px !important
    }

    label {
        color: black !important;
    }

    .kt-section .kt-section__content.kt-section__content--solid {
        border-left: 0px
    }



    .div-statusCall {
        background-color: #8184aa;
        border-radius: 25px;
        text-align: center;
        color: white;
        margin: auto;
    }

    .kt-portlet .kt-portlet__body {
        margin-top: 15px;
        padding: 10px !important;
    }

    .text-bold {
        font-weight: bold !important;
        color: blue !important;
    }

    .div-statusCall:hover {
        background-color: #646c9a;
    }

</style>
<input id="chk_StatusCall" value="0" type="hidden" />
<div class="row">
    <div class="col-md-12">
        <!--begin::Portlet-->
        <div class="kt-portlet" style="background:#5d78ff;">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label row div-clo">
                    <label class="col-form-label col-lg-4 col-sm-4" style="color:#ffffff !important">Trạng thái:</label>
                    <div class="col-lg-8 col-md-8 col-sm-8" style="color:black">
                        <input data-switch="true" name="chk_Status" id="chk_Status" type="checkbox" checked="checked" data-on-text="READY" data-handle-width="120" data-off-text="NOT READY" data-on-color="#b0bed9">
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="col-lg-4 col-md-4 div-statusCall" id="div-chocuocgoi">
                    <label class="control-label"><b style="color:white">ĐANG CHỜ CUỘC GỌI ... </b></label>
                </div>
                <div class="col-lg-4 col-md-4 div-statusCall" hidden id="div-dangquayso">
                    <label class="control-label"><b style="color:white">ĐANG QUAY SỐ ...</b></label>
                </div>
                <div class="col-lg-3 col-md-3 div-statusCall" id="div-nhancuocgoi" hidden onclick="telesaleAnswer()">
                    <i class="flaticon2-phone" style="font-size: 22px;float:left"></i>
                    <label class="control-label"><b style="color:white">NHẬN CUỘC GỌI ...</b></label>
                </div>
                <div class="col-lg-3 col-md-3 div-statusCall" hidden onclick="telesaleCancel()" id="div-kethuccuocgoi">
                    <i class="fa fa-phone-slash" style="font-size: 30px;float:left"></i>
                    <label class="control-label"><b style="color:white">KẾT THÚC CUỘC GỌI</b></label>
                </div>
                <div class="col-lg-5 col-md-5 div-statusCall" hidden id="div-chochuyencuocgoi">
                    <i class="flaticon2-phone" style="font-size: 22px;float:left"></i>
                    <label class="control-label"><b style="color:white">CHỜ CHUYỂN CUỘC GỌI TIẾP THEO ...<span id="txt_countdown"></span> s</b></label>
                </div>
            </div>
        </div>
    </div>
</div>

@*//thông tin đơn vay*@
<div id="gridLoan">
</div>
<script type="text/x-kendo-template" id="template">
    <div class="detailTabstrip">
        <div>
            <div class="orders"></div>
        </div>
    </div>
</script>
<div class="row" style="margin-top:10px">
    <div class="col-lg-6 col-md-6">
        <div>
            <b>Thông tin thu nợ</b>
        </div>
        <div class="kt-section  margin_body_tab">
            <div class="kt-section__content kt-section__content--solid" style="border: 1px solid #afabaa;min-height: 468px;">
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Người nhận cuộc gọi:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable text-bold" id="infor_NguoiNhanCuocGoi"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Tiền trong ví:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable" id="infor_TienTrongVi"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Tiền phải thanh toán:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable" id="infor_TienPhaiThanhToan"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Phí phạt trả chậm:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable" id="infor_PhiPhatTraCham"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Tiền kỳ:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable text-bold" id="infor_TienKy"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Tổng tiền tất toán:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable" id="infor_TongTienTatToan"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label  text_align_left">Ngày đến hạn:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable text-bold" id="infor_NgayDenHan"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Ngày nộp tiền:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable" id="infor_NgayNopTien"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Số ngày quá hạn:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable" id="infor_SoNgayQuaHan"></label>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div>
            <b>Thông tin khách hàng</b>
        </div>
        <div class="kt-section margin_body_tab" style="border: 1px solid #afabaa;min-height: 468px;background:#f7f8fa">
            <div class="kt-section__content kt-section__content--solid">
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Tên khách hàng:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable" id="infor_TenKhachHang"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Giới tính:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable" id="infor_GioiTinh"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Ngày sinh:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable" id="infor_NgaySinh"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Số CMND/Hộ chiếu:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable" id="infor_SoCMNN"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Số tiền vay:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable" id="infor_SoTienVay"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Ngày giải ngân:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable" id="infor_NgayGiaiNgan"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Mã HĐ đăng ký:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable" id="infor_MaHDDangKy"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Mã HĐ giải ngân:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable" id="infor_MaHDGiaiNgan"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Gói sản phẩm:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable" id="infor_GoiSanPham"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Cửa hàng:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable" id="infor_CuHang"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*tài khoản va*@
<div class="row" style="margin-top:10px">
    <div class="col-lg-12 col-md-12">
        <div>
            <b>Tài khoản VA</b>
        </div>
        <div class="kt-section margin_body_tab" style="border: 1px solid #afabaa">
            <div class="kt-section__content kt-section__content--solid" id=div-accountVa>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-1 col-form-label text_align_left">Chủ TK:</label>
                    <div class="col-lg-2 text_align">
                        <label class="padding_top_lable" id="detail_ngaySinh"></label>
                    </div>
                    <label class="col-lg-1 col-form-label text_align_left">Chủ TK:</label>
                    <div class="col-lg-2 text_align">
                        <label class="padding_top_lable" id="detail_ngaySinh"></label>
                    </div>
                    <label class="col-lg-2 col-form-label text_align_left">Chủ TK:</label>
                    <div class="col-lg-2 text_align">
                        <label class="padding_top_lable" id="detail_ngaySinh"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top:10px">
    <div class="col-lg-6 col-md-6">
        <div>
            <b>Thông nơi ở</b>
        </div>
        <div class="kt-section margin_body_tab" style="border: 1px solid #afabaa;min-height:300px;background:#f7f8fa" ">
            <div class="kt-section__content kt-section__content--solid">
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Quận/Huyện tạm trú:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable" id="infor_QuanHuyenTamTru"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Tỉnh thành tạm trú:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable" id="infor_TinhThanhTamTru"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Địa chỉ đang ở:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable" id="infor_DiaChiDangO" data-toggle="kt-tooltip" data-placement="top" title=""></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Quận/Huyện hộ khẩu:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable" id="infor_QuanHuyenHoKhau"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Tỉnh thành hộ khẩu:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable" id="infor_TinhThanhHoKhau"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Địa chỉ hộ khẩu:</label>
                    <div class="col-lg-7 text_align">
                        @*   <label class="padding_top_lable" id="infor_DiaChiHoKhau"></label>*@
                        <label class="padding_top_lable" id="infor_DiaChiHoKhau" data-toggle="kt-tooltip" data-placement="top" title=""></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div>
            <b>Thông tin việc làm</b>
        </div>
        <div class="kt-section margin_body_tab" style="border: 1px solid #afabaa;min-height:300px;background:#f7f8fa">
            <div class="kt-section__content kt-section__content--solid">
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Nghề nghiệp:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable" id="infor_NgheNghiep"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Tên công ty:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable" id="infor_TenCongTy"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Địa chỉ:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable" id="infor_DiaChiCongTy" data-toggle="kt-tooltip" data-placement="top" title=""></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Quận/Huyện:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable" id="infor_QuanHuyen"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Thành phố:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable" id="infor_ThanhPho"></label>
                    </div>
                </div>
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-5 col-form-label text_align_left">Thu nhập:</label>
                    <div class="col-lg-7 text_align">
                        <label class="padding_top_lable" id="infor_ThuNhap"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*thông tin tham chiếu*@
<div class="row" style="margin-top:10px">
    <div class="col-lg-12 col-md-12">
        <div>
            <b>Thông tin tham chiếu</b>
        </div>
        <div class="kt-section margin_body_tab" style="border: 1px solid #afabaa">
            <div class="kt-section__content kt-section__content--solid" id="div-thongtinthamchieu">
                <div class="form-group row form-group-marginless">
                    <label class="col-lg-2 col-form-label text_align_left">Mối quan hệ:</label>
                    <div class="col-lg-2 text_align">
                        <label class="padding_top_lable" id="detail_ngaySinh"></label>
                    </div>
                    <label class="col-lg-2 col-form-label text_align_left">Họ và tên:</label>
                    <div class="col-lg-2 text_align">
                        <label class="padding_top_lable" id="detail_ngaySinh"></label>
                    </div>
                    <label class="col-lg-2 col-form-label text_align_left">SĐT:</label>
                    <div class="col-lg-2 text_align">
                        <label class="padding_top_lable" id="detail_ngaySinh"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

