﻿@{
    Layout = null;
}

<style>
    .kt-separator.kt-separator--border-dashed {
        border-bottom: 2px dashed #ebedf2 !important
    }

    .kt_body_marginBottom {
        margin-bottom: -44px
    }

    .color_title {
        color: #5867dd
    }

    .padding_top_lable {
        padding-top: 9px
    }

    .text_align {
        text-align: left !important
    }

    .textBox_size {
        width: 20px;
        height: 19px;
    }
</style>
<div class="kt-portlet">
    <!--begin::Form-->
    <form class="kt-form kt-form--label-right">
        <div class="kt-portlet__body kt_body_marginBottom">
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Số tài khoản:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detailGN_BankAccountNumber"></label>
                </div>
                <label class="col-lg-3 col-form-label">Số thẻ:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id=""></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Chủ thẻ:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detailGN_BankAccountName"></label>
                </div>
                <label class="col-lg-3 col-form-label">Ngân hàng:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detailGN_BankName"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Mã nhà đầu tư:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detailGN_LenderCode"></label>
                </div>
                <label class="col-lg-3 col-form-label">Số dư NĐT:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detailGN_InvestorBalance"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Số tiền vay:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detailGN_LoanAmountFinal"></label>
                </div>
                <label class="col-lg-3 col-form-label">Loại hình vay:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detailGN_RateTypeName"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Thời gian vay:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detailGN_LoanTime"></label>
                </div>
                <label class="col-lg-3 col-form-label">Chu kì đóng:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detailGN_Frequency"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Khách hàng đồng ý mua BH sức khỏe:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detailGN_BuyInsurenceCustomer"></label>
                </div>
                <label class="col-lg-3 col-form-label">Phí bảo hiểm sức khỏe:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detailGN_FeesInsuranceCustomer"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Khách hàng đồng ý mua BH vật chất:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detailGN_BuyInsuranceProperty"></label>
                </div>
                <label class="col-lg-3 col-form-label">Phí bảo hiểm vật chất:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detailGN_FeesInsuranceMaterial"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Số tiền thực nhận:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align"><span id="detailGN_AmountActuallyReceived" style="color:red"></span></label>
                </div>
                <label class="col-lg-3 col-form-label">Gói vay:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align"><span id="detailGN_ProductName"></span></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Giải ngân qua:</label>
                <div class="col-lg-4 col-xl-3">
                    <select class="form-control kt-select2" id="slGN_detailBankCard" onchange="disbursement.selectOnChange()" style="width:100%">
                    </select>
                </div>
            </div>
            <div class="form-group row form-group-marginless" id="hdd_GNTD" style="display:none">
                <label class="col-lg-3 col-form-label">Giải ngân tự động:</label>
                <div class="col-lg-1 col-xl-1">
                    <div class="padding_top_lable">
                        <input class="textBox_size" type="checkbox" name="cb_partialGN" onchange="disbursement.Checked()" />
                    </div>
                </div>
                <div class="form-group col-8 row" id="hdd_div_GetOTP" style="display:none!important">
                    <label class="col-lg-3 col-xl-2 col-form-label" style="padding-top:9px!important;text-align:left">
                        <a href="javascript:;" style="text-align:center" onclick="disbursement.GetOTP()"><u>Lấy mã OTP</u></a>
                    </label>
                    <label class="col-lg-4 col-xl-2 col-form-label">Nhập mã OTP:</label>
                    <div class="col-lg-3 col-xl-2">
                        <input class="form-control" type="text" name="detailGN_OTP" id="detailGN_OTP" maxlength="6" />
                    </div>
                </div>
            </div>
            <div class="form-group row form-group-marginless" id="hdd_dataOTP" style="display:none">
                <label class="col-lg-3 col-form-label"></label>
                <div class="col-lg-5">
                    <label>TransacitonID: <span id="transactionID_getOTP"></span></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Nội dung chuyển tiền:</label>
                <div class="col-lg-5">
                    <textarea class="form-control" id="detailGN_note"></textarea>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Phí chuyển tiền:</label>
                <div class="col-lg-3">
                    <input class="form-control" type="text" id="detailGN_TransferFee" />
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label"></label>
                <div class="col-lg-3">
                    <a href="javascript:;" onclick="disbursement.inputMoneyTranfer(0)"><u>0đ</u></a>&nbsp;
                    <a href="javascript:;" onclick="disbursement.inputMoneyTranfer(8800)"><u>8800đ</u></a>
                </div>
            </div>
        </div>
    </form>

    <!--end::Form-->
</div>
<div class="kt-portlet__foot">
    <div class="kt-form__actions">
        <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-7">
                <button class="btn btn-brand" id="btn_tabGN" onclick="disbursement.Save_TabDisbursement()">Giải ngân</button>
                <button class="btn btn-secondary" data-dismiss="modal" id="btn_exitGn">Thoát</button>
            </div>
        </div>
    </div>
</div>
