﻿@{
    Layout = null;
}
<style>
    .kt-separator.kt-separator--border-dashed {
        border-bottom: 2px dashed #ebedf2 !important
    }

    .kt_body_marginBottom {
        margin-bottom: -44px
    }

    .color_title {
        color: #5867dd
    }

    .padding_top_lable {
        padding-top: 9px
    }

    .text_align {
        text-align: left !important
    }

    .kt-portlet {
        box-shadow: none !important
    }
</style>
<div class="kt-portlet">
    <h4 class="kt-portlet__head-title">
        <i class="la la-angle-double-right" style="font-size:14px"></i>&nbsp;<span class="color_title">Thông tin cá nhân :</span>
    </h4>
    <!--begin::Form-->
    <form class="kt-form kt-form--label-right">
        <div class="kt-portlet__body kt_body_marginBottom">
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Loại khách hàng:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_TypeLoanBriefName"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Họ và tên:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_fullName"></label>
                </div>
                <label class="col-lg-3 col-form-label">Số ĐT:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_phone"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Số CMT:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_cmt"></label>
                </div>
                <label class="col-lg-3 col-form-label">Facebook:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_facebook"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Số bảo hiểm:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_sbh"></label>
                </div>
                <label class="col-lg-3 col-form-label">Email:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_email"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Số lần gọi:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_callMany"></label>
                </div>
                <label class="col-lg-3 col-form-label">Giới tính:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_gender"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Ngày sinh:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_dob"></label>
                </div>
                <label class="col-lg-3 col-form-label">Ghi chú bảo hiểm:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_note_sbh">test</label>
                </div>
            </div>
            <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
        </div>
    </form>

    <!--end::Form-->
</div>
<div class="kt-portlet" id="hdd_typeCustomer">
    <h4 class="kt-portlet__head-title">
        <i class="la la-angle-double-right" style="font-size:14px"></i>&nbsp;<span class="color_title">Thông tin doanh nghiệp :</span>
    </h4>
    <!--begin::Form-->
    <form class="kt-form kt-form--label-right">
        <div class="kt-portlet__body kt_body_marginBottom">
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Tên doanh nghiệp:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_BusinessCompanyName"></label>
                </div>
                <label class="col-lg-3 col-form-label">Ngành nghề kinh doanh chính:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_CareerBusiness"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Ngày cấp giấy CNĐKD/CNĐKND:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_BusinessCertificationDate"></label>
                </div>
                <label class="col-lg-3 col-form-label">Nơi cấp giấy CNĐKD/CNĐKND:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_BusinessCertificationAddress"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Trụ sở theo đăng ký kinh doanh:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_HeadOffice"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Địa chỉ kinh doanh hiện tại:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_BusinessAddress"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Cổ đông góp vốn nhiều nhất:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_CompanyShareholder"></label>
                </div>
                <label class="col-lg-3 col-form-label">Ngày sinh:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_BirthdayShareholder"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Số CMND/CCCD/Hộ Chiếu:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_CardNumberShareholder"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Ngày cấp:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_CardNumberShareholderDate"></label>
                </div>
                <label class="col-lg-3 col-form-label">Nơi sinh:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_PlaceOfBirthShareholder"></label>
                </div>
            </div>
            <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
        </div>
    </form>

    <!--end::Form-->
</div>
<div class="kt-portlet">
    <h4 class="kt-portlet__head-title">
        <i class="la la-angle-double-right" style="font-size:14px"></i>&nbsp;<span class="color_title">Hình thức vay :</span>
    </h4>
    <!--begin::Form-->
    <form class="kt-form kt-form--label-right">
        <div class="kt-portlet__body kt_body_marginBottom">
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Gói vay:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_ProductName"></label>
                </div>
                <label class="col-lg-3 col-form-label">Loại hình tính lãi:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_RateTypeName"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Điểm AI Score:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_ScoreCredit"></label>
                </div>
                <label class="col-lg-3 col-form-label">Đơn vay:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_ProductName2"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Chia sẻ vị trí:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_IsTrackingLocation"></label>
                </div>
            </div>
            <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
        </div>
    </form>

    <!--end::Form-->
</div>
<div class="kt-portlet">
    <h4 class="kt-portlet__head-title">
        <i class="la la-angle-double-right" style="font-size:14px"></i>&nbsp;<span class="color_title">Khoản vay :</span>
    </h4>
    <!--begin::Form-->
    <form class="kt-form kt-form--label-right">
        <div class="kt-portlet__body kt_body_marginBottom">
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Mục đích vay vốn:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_LoanPurposeName"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Tiền Đại Lý cho vay:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_LoanAmountFinal"></label>
                </div>
                <label class="col-lg-3 col-form-label">Khách mua bảo hiểm:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_BuyInsurenceCustomer"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Tiền khách cần vay:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_LoanAmount"></label>
                </div>
                <label class="col-lg-3 col-form-label">Số ngày vay:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_LoanTime"></label>
                </div>
            </div>
            @*<div class="form-group row form-group-marginless">
                    <label class="col-lg-3 col-form-label">Số ngày vay:</label>
                    <div class="col-lg-3">
                        <label type="text" class="padding_top_lable text_align" id="detail_LoanTime"></label>
                    </div>
                </div>*@
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Chu kỳ đóng lãi:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_Frequency"></label>
                </div>
                <label class="col-lg-3 col-form-label">Ngày tất toán:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_ToDate"></label>
                </div>
            </div>
            <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
        </div>
    </form>

    <!--end::Form-->
</div>
<div class="kt-portlet">
    <h4 class="kt-portlet__head-title">
        <i class="la la-angle-double-right" style="font-size:14px"></i>&nbsp;<span class="color_title">Địa chỉ đang ở :</span>
    </h4>
    <!--begin::Form-->
    <form class="kt-form kt-form--label-right">
        <div class="kt-portlet__body kt_body_marginBottom">
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Thành Phố:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_ProvinceName"></label>
                </div>
                <label class="col-lg-3 col-form-label">Quận/Huyện:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_DistrictName"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Phường/Xã:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_WardName"></label>
                </div>
                <label class="col-lg-3 col-form-label">Hình thức cư trú 1:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_ResidentTypeName"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                @*<label class="col-lg-3 col-form-label">Hình thức cư trú 1:</label>
                    <div class="col-lg-3">
                        <label type="text" class="padding_top_lable text_align" id="detail_ResidentTypeName"></label>
                    </div>*@
                <label class="col-lg-3 col-form-label">Thời gian đã sống:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_LivingTimeName"></label>
                </div>
                <label class="col-lg-3 col-form-label">Địa chỉ đang ở:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_Address"></label>
                </div>
            </div>
            @*<div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Địa chỉ đang ở:</label>
                    <div class="col-lg-3">
                        <label type="text" class="padding_top_lable text_align" id="detail_Address"></label>
                    </div>
            </div>*@
            <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
        </div>
    </form>

    <!--end::Form-->
</div>
<div class="kt-portlet">
    <h4 class="kt-portlet__head-title">
        <i class="la la-angle-double-right" style="font-size:14px"></i>&nbsp;<span class="color_title">Địa chỉ hộ khẩu :</span>
    </h4>
    <!--begin::Form-->
    <form class="kt-form kt-form--label-right">
        <div class="kt-portlet__body kt_body_marginBottom">
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Thành Phố:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_HouseOldCityName"></label>
                </div>
                <label class="col-lg-3 col-form-label">Quận/Huyện:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_HouseOldDistrictName"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Phường/Xã:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_HouseOldWardName"></label>
                </div>
                <label class="col-lg-3 col-form-label">Địa chỉ hộ khẩu:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_HouseOldAddress"></label>
                </div>
            </div>
            @*<div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Địa chỉ hộ khẩu:</label>
                <div class="col-lg-5">
                    <label type="text" class="padding_top_lable text_align" id="detail_HouseOldAddress"></label>
                </div>
            </div>*@
            <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
        </div>
    </form>

    <!--end::Form-->
</div>
<div class="kt-portlet">
    <h4 class="kt-portlet__head-title">
        <i class="la la-angle-double-right" style="font-size:14px"></i>&nbsp;<span class="color_title">Việc làm :</span>
    </h4>
    <!--begin::Form-->
    <form class="kt-form kt-form--label-right">
        <div class="kt-portlet__body kt_body_marginBottom">
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Nghề nghiệp:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_JobTitle"></label>
                </div>
                <label class="col-lg-3 col-form-label">Tên công ty:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_CompanyName"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Số ĐT công ty:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_CompanyPhone"></label>
                </div>
                <label class="col-lg-3 col-form-label">Mã số thuế công ty:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_CompanyTaxCode"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Địa chỉ công ty:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_CompanyAddress"></label>
                </div>
                <label class="col-lg-3 col-form-label">Quận/huyện:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_CompanyDistrictName"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Thu nhập:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_TotalIncome"></label>
                </div>
                <label class="col-lg-3 col-form-label">Hình thức nhận lương:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id=""></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Vị trí:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_DescriptionJob"></label>
                </div>
            </div>
            <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
        </div>
    </form>

    <!--end::Form-->
</div>
<div class="kt-portlet">
    <h4 class="kt-portlet__head-title">
        <i class="la la-angle-double-right" style="font-size:14px"></i>&nbsp;<span class="color_title">Người thân - Đồng nghiệp :</span>
    </h4>
    <!--begin::Form-->
    <form class="kt-form kt-form--label-right">
        <div class="kt-portlet__body kt_body_marginBottom">
            <div id="rendeRelationShip">
            </div>
            <dilv class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">A/c có gia đình chưa:</label>
                <div class="col-lg-4">
                    <div class="kt-radio-inline">
                        <label class="kt-radio">
                            <input type="radio" name="radio0" value="0"> Chưa có
                            <span></span>
                        </label>
                        <label class="kt-radio">
                            <input type="radio" name="radio0" value="1"> Đã có
                            <span></span>
                        </label>

                    </div>
                </div>
            </dilv>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">A/c có mấy cháu</label>
                <div class="col-lg-8">
                    <div class="kt-radio-inline">
                        <label class="kt-radio">
                            <input type="radio" name="radio1" value="0"> Chưa có
                            <span></span>
                        </label>
                        <label class="kt-radio">
                            <input type="radio" name="radio1" value="1"> 1 cháu
                            <span></span>
                        </label>
                        <label class="kt-radio">
                            <input type="radio" name="radio1" value="2"> 2 cháu
                            <span></span>
                        </label>
                        <label class="kt-radio">
                            <input type="radio" name="radio1" value="3"> > 3 cháu
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">A/c đang sống cùng với ai ?</label>
                <div class="col-lg-8">
                    <div class="kt-radio-inline">
                        <label class="kt-radio">
                            <input type="radio" name="radio2" value="0"> Chung với bố mẹ
                            <span></span>
                        </label>
                        <label class="kt-radio">
                            <input type="radio" name="radio2" value="1"> Riêng với vợ con
                            <span></span>
                        </label>
                        <label class="kt-radio">
                            <input type="radio" name="radio2" value="2"> Riêng một mình
                            <span></span>
                        </label>

                    </div>
                </div>
            </div>

            <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
        </div>
    </form>

    <!--end::Form-->
</div>
<div class="kt-portlet">
    <h4 class="kt-portlet__head-title">
        <i class="la la-angle-double-right" style="font-size:14px"></i>&nbsp;<span class="color_title">Tài sản :</span>
    </h4>
    <!--begin::Form-->
    <form class="kt-form kt-form--label-right">
        <div class="kt-portlet__body kt_body_marginBottom">
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Hãng xe:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_BrandName"></label>
                </div>
                <label class="col-lg-3 col-form-label">Giá sau thẩm định:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_loanAmountExpertiseLast"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Tên xe:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_Product"></label>
                </div>
                <label class="col-lg-3 col-form-label">Đời xe:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_YearMade"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Giá trước thẩm định:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_loanAmountExpertise"></label>
                </div>
                <label class="col-lg-3 col-form-label">Xe gắn định vị:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_IsLocate"></label>
                </div>
            </div>
            <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
        </div>
    </form>

    <!--end::Form-->
</div>
<div class="kt-portlet">
    <h4 class="kt-portlet__head-title">
        <i class="la la-angle-double-right" style="font-size:14px"></i>&nbsp;<span class="color_title">Kiểm tra thông tin CIC :</span>
    </h4>
    <!--begin::Form-->
    <form class="kt-form kt-form--label-right">
        <div class="kt-portlet__body kt_body_marginBottom">
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Kiểm tra CIC:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_IsCheckCic"></label>
                </div>
            </div>
            <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
        </div>
    </form>

    <!--end::Form-->
</div>
<div class="kt-portlet">
    <h4 class="kt-portlet__head-title">
        <i class="la la-angle-double-right" style="font-size:14px"></i>&nbsp;<span class="color_title">Kiểm tra Location :</span>
    </h4>
    <!--begin::Form-->
    <form class="kt-form kt-form--label-right">
        <div class="kt-portlet__body kt_body_marginBottom">
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Gửi yêu cầu:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_IsTrackingLocation2"></label>
                </div>
                <label class="col-lg-3 col-form-label">Kết quả:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id=""></label>
                </div>
            </div>
            <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg kt-separator--portlet-fit"></div>
        </div>
    </form>

    <!--end::Form-->
</div>
<div class="kt-portlet">
    <h4 class="kt-portlet__head-title">
        <i class="la la-angle-double-right" style="font-size:14px"></i>&nbsp;<span class="color_title">Giải ngân :</span>
    </h4>
    <!--begin::Form-->
    <form class="kt-form kt-form--label-right">
        <div class="kt-portlet__body kt_body_marginBottom">
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Nhận tiền bằng:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_ReceivingMoneyTypeName"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Ngân Hàng:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_BankName"></label>
                </div>
                <label class="col-lg-3 col-form-label">Chủ thẻ:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_BankAccountName"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Số tài khoản:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id="detail_BankAccountNumber"></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Kiểm tra thông tin stk:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id=""></label>
                </div>
            </div>
            <div class="form-group row form-group-marginless">
                <label class="col-lg-3 col-form-label">Ghi chú:</label>
                <div class="col-lg-3">
                    <label type="text" class="padding_top_lable text_align" id=""></label>
                </div>
            </div>
        </div>
    </form>

    <!--end::Form-->
</div>