﻿@{
    ViewData["Title"] = "Quản lý đơn vay";
}
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Sổ Qũy Tiền Mặt
                </h3>
            </div>
        </div>
        <!--begin:: Widgets/Stats-->
        <div class="kt-portlet">
            <div class="kt-portlet__body  kt-portlet__body--fit">
                <div class="row row-no-padding row-col-separator-lg">
                    <div class="col-md-12 col-lg-6 col-xl-3">

                        <!--begin::Total Profit-->
                        <div class="kt-widget24">
                            <div class="kt-widget24__details">
                                <div class="kt-widget24__info">
                                    <h4 class="kt-widget24__title">
                                        Dư nợ
                                    </h4>
                                </div>
                                <span class="kt-widget24__stats kt-font-brand" id="DebtMoneyBorrow">
                                    <span class="kt-spinner kt-spinner--sm kt-spinner--brand"></span>
                                </span>
                            </div>
                        </div>

                        <!--end::Total Profit-->
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-3">

                        <!--begin::New Feedbacks-->
                        <div class="kt-widget24">
                            <div class="kt-widget24__details">
                                <div class="kt-widget24__info">
                                    <h4 class="kt-widget24__title">
                                        Tổng hợp đồng đang vay
                                    </h4>
                                </div>
                                <span class="kt-widget24__stats kt-font-success" id="TotalLoanBorrow">
                                    <span class="kt-spinner kt-spinner--sm kt-spinner--success"></span>
                                </span>
                            </div>
                        </div>

                        <!--end::New Feedbacks-->
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-3">

                        <!--begin::New Orders-->
                        <div class="kt-widget24">
                            <div class="kt-widget24__details">
                                <div class="kt-widget24__info">
                                    <h4 class="kt-widget24__title">
                                        Nợ quá hạn
                                    </h4>
                                </div>
                                <span class="kt-widget24__stats kt-font-danger" id="OverDebtMoneyBorrow">
                                    <span class="kt-spinner kt-spinner--md kt-spinner--danger"></span>
                                </span>
                            </div>
                        </div>

                        <!--end::New Orders-->
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-3">

                        <!--begin::New Users-->
                        <div class="kt-widget24">
                            <div class="kt-widget24__details">
                                <div class="kt-widget24__info">
                                    <h4 class="kt-widget24__title">
                                        Số HĐ nợ quá hạn
                                    </h4>
                                </div>
                                <span class="kt-widget24__stats kt-font-warning" id="TotalLoanBorrowOverDebt">
                                    <span class="kt-spinner kt-spinner--lg kt-spinner--warning"></span>
                                </span>
                            </div>
                        </div>

                        <!--end::New Users-->
                    </div>
                </div>
            </div>
        </div>

        <!--end:: Widgets/Stats-->
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right">
                <div class="row align-items-center">
                    <div class="col-xl-12 kt-margin-b-10">
                        <div class="row align-items-center">
                            <input type="hidden" id="ip-page-current" name="pagecurrent" value="1" />
                            <input type="hidden" id="ip-top" name="top" value="25" />
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile form-group">
                                <label><b>Mã HĐ</b></label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Tìm theo Mã HĐ" id="txt_search">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile form-group">
                                <label><b>Cửa hàng</b></label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <select class="form-control kt-select2" name="sl_search_shopID" id="sl_search_shopID">
                                        <option value="-1">
                                            Tất cả
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile form-group">
                                <label><b>Lender</b></label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <select class="form-control select2" name="sl_search_lenderID" id="sl_search_lenderID">
                                        <option label="Label"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile form-group">
                                <label><b>Sản phẩm</b></label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <select class="form-control kt-select2" name="ProductID" id="ProductID">
                                        <option value="-1">
                                            Tất cả
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                                <label><b>Trạng thái</b></label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <select class="form-control kt-select2" name="sl_search_status" id="sl_search_status">
                                        <option value="0">Tất cả</option>
                                        <option value="1">Đang vay</option>
                                        <option value="30">Quá hạn 30 ngày</option>
                                        <option value="90">Quá hạn 90 ngày</option>
                                        <option value="102">Thanh lý</option>
                                        <option value="103">Thanh lý bảo hiểm</option>
                                        <option value="104">Đã đền bù bảo hiểm</option>
                                        <option value="101">Đã tất toán</option>
                                        <option value="-1">Đã hủy</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                                <label><b>Từ ngày</b></label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <div class="input-group date">
                                        <input type="text" class="form-control" value="" id="fromDate" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                                <label><b>Đến ngày</b></label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <div class="input-group date">
                                        <input type="text" class="form-control" value="" id="toDate" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="la la-calendar"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile  kt-margin-t-25">
                                <button href="#" class="btn btn-info m-btn kt-btn--air" id="btnGetData">
                                    <span>
                                        Tìm kiếm
                                    </span>
                                </button>
                                <div class="d-md-none kt--margin-bottom-10"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" id="dv_result">

                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>

    </div>
</div>


@section Scripts {
    <script src="~/scripts/report/loan.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    <script>
        var listShop = @Html.Raw(Json.Serialize((List<LMS.Entites.Dtos.LenderService.LenderSearchModel>)ViewBag.ListShop));
        var listLender = @Html.Raw(Json.Serialize((List<LMS.Entites.Dtos.LenderService.LenderSearchModel>)ViewBag.ListLender));
        $(document).ready(function () {
        });
    </script>
}
