﻿@{
    ViewData["Title"] = "Sổ quỹ tiền mặt";
}
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    @ViewData["Title"]
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-section">
                <div class="kt-section__content">
                    <div class="row">
                        <input type="hidden" id="ip-page-current" name="pagecurrent" value="1" />
                        <input type="hidden" id="ip-top" name="top" value="25" />
                        <div class="col-md-3">
                            <label><b>Mã HĐ</b></label>
                            <div class="kt-input-icon kt-input-icon--left">
                                <input type="text" class="form-control" placeholder="Tìm theo Mã HĐ" id="ContractCode">
                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                    <span><i class="la la-search"></i></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Lender</label>
                                <select class="form-control" name="LenderID" id="LenderID" style="width:100%;">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label><b>Sản phẩm</b></label>
                            <select class="form-control kt-select2" name="ProductID" id="ProductID">
                                <option value="-111">
                                    Tất cả
                                </option>
                            </select>
                        </div> 
                    </div>
                    <div class="row"> 
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Từ ngày</label>
                                <div class="input-group date">
                                    <input type="text" class="form-control kt_datepicker" id="fromDate" autocomplete="off" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Đến ngày</label>
                                <div class="input-group date">
                                    <input type="text" class="form-control kt_datepicker" id="toDate" autocomplete="off" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label style="padding-top: 12px;"></label>
                                <div class="kt-section__content">
                                    <button href="#" class="btn btn-info m-btn kt-btn--air" id="btnGetData" onclick="ReportVatLender.GridRefresh()">
                                        <span>
                                            Tìm kiếm
                                        </span>
                                    </button>&nbsp;
                                    <button type="button" class="btn btn-success" id="btnGetData" onclick="ReportVatLender.ExportExport()"><i class="fa fa-file-excel"></i> Xuất Excel</button>&nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <div class="kt-section">
                <div class="kt-section__content">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="grid">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
@section Scripts {
    <script src="~/static/scripts/report/reportMoneyDetail.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
}
