﻿
@{
    ViewData["Title"] = "Danh sách mẫu MGL";
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Danh sách mẫu MGL
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right">
                <div class="row align-items-center">
                    <div class="col-xl-12 kt-margin-b-10">
                        <div class="row align-items-center">
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <b><label>Từ ngày</label></b>
                                <div class="input-group date">
                                    <input type="text" class="form-control kt_datepicker" id="fromDate" autocomplete="off" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <b><label>Đến ngày</label></b>
                                <div class="input-group date">
                                    <input type="text" class="form-control kt_datepicker" id="toDate" autocomplete="off" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                           @* <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <label style="min-width: 100px"><b>Loại report</b></label>
                                <select class="form-control kt-select2 sl_reportId" name="sl_reportId" id="sl_reportId">
                                    <option value="-111" selected>Tất cả</option>
                                </select>
                            </div>*@
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <label style="min-width: 100px"><b>Trạng thái</b></label>
                                <select class="form-control kt-select2" name="sl_statusId" id="sl_statusId">
                                    <option value="-111" selected>Tất cả</option>
                                    <option value="0">Chờ xử lý</option>
                                    <option value="1">Thành công</option>
                                    <option value="2">Có lỗi xảy ra</option>
                                </select>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <label style="min-width: 100px"><b>Người tạo</b></label>
                                <select class="form-control kt-select2" name="sl_employee" id="sl_employee">
                                </select>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile  kt-margin-t-25">
                                <button class="btn btn-info m-btn kt-btn--air" id="btnGetData">
                                    <span>
                                        Tìm kiếm
                                    </span>
                                </button>
                                <button class="btn btn-success m-btn kt-btn--air" data-toggle="modal" data-target="#model_createMGL" onclick="mgl.InitCreateMGL()">
                                    <i class="fa fa-file-medical"></i>
                                    Thêm mẫu MGL
                                </button>
                                <div class="d-md-none kt--margin-bottom-10"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="dv_result">

                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>

    </div>
</div>
<partial name="~/Views/MGL/partial/CreateMGL.cshtml" />

@section Scripts {
    <script src="~/static/scripts/mgl/list.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    <script src="~/static/scripts/meta/bindSelect.min.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    <script>
        var staticVersionMGL = '@FrontEnd.Common.Helpers.Constants.STATIC_VERSION';
        $(document).ready(function () {
            meta.loadFileForm('sl_reportId', 2);
        });
    </script>

}
