﻿@{
    ViewData["Title"] = "Danh sách chờ duyệt";
}
<style>
    .item-desciption {
        color: black;
    }
</style>
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Danh sách chờ duyệt
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right">
                <div class="row align-items-center">
                    <div class="col-xl-12 kt-margin-b-10">
                        <div class="row align-items-center">
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <b><label>Tìm kiếm</label></b>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtKeysearch" placeholder="mã tc,họ tên KH" />
                                </div>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <b><label>Từ ngày</label></b>
                                <div class="input-group date">
                                    <input type="text" class="form-control kt_datepicker" id="fromDate" value="@DateTime.Now.AddMonths(-1).ToString("dd/MM/yyyy")" autocomplete="off" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <b><label>Đến ngày</label></b>
                                <div class="input-group date">
                                    <input type="text" class="form-control kt_datepicker" id="toDate" value="@DateTime.Now.ToString("dd/MM/yyyy")" autocomplete="off" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <label style="min-width: 100px"><b>Trạng thái</b></label>
                                <select class="form-control kt-select2" name="sl_statusId" id="sl_statusId">
                                    <option value="-111" selected>Tất cả</option>
                                    <option value="1">Chờ cập nhật chứng từ</option>
                                    <option value="2">Đã cập nhật chứng từ</option>
                                    <option value="3">Chờ duyệt</option>
                                    <option value="4">Đã duyệt</option>
                                    <option value="5">Đã tất toán</option>
                                    <option value="6">Hủy</option>
                                    <option value="7">Tất toán có lỗi xảy ra</option>
                                </select>
                            </div>

                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile  kt-margin-t-25">
                                <button class="btn btn-info m-btn kt-btn--air" id="btnGetData">
                                    <span>
                                        Tìm kiếm
                                    </span>
                                </button>
                                <div class="d-md-none kt--margin-bottom-10"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="dv_result">
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>

    </div>
</div>
<partial name="~/Views/MGL/partial/_detailsProfile.cshtml" />
<partial name="~/Views/MGL/partial/CannelProfileMGL.cshtml" />
<partial name="~/Views/MGL/partial/_updateProfile.cshtml" />
@section Scripts {
    <script src="~/static/scripts/mgl/waitingListMGL.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    <script src="~/static/scripts/meta/bindSelect.min.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    <script src="~/static/js/SlideShow/SlideShow.min.js"></script>
    <script src="~/static/js/SlideShow/jQueryRotate.min.js"></script>
    <script src="~/static/js/SlideShow/jquery.transit.min.js"></script>
    <script>
    //var staticVersionMGL = '@FrontEnd.Common.Helpers.Constants.STATIC_VERSION';
    $(document).ready(function () {
        waitingListMGL.Init();
        waitingListMGL.CannelProfile();
    });
    </script>
}
