﻿div.msgBox {
    position: fixed;
    z-index: 13050;
    width: 265px;
    min-height: 143px;
    color: #2b2b2b;
    background: #fff;
	border: 1px solid #d1d1d1;
}

div.msgBoxBackGround {
    top: 0;
    left: 0;
    position: fixed;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #777777;
    -ms-opacity: 0.7;
    opacity: 0.7;
    z-index: 13049;
}

div.msgBoxTitle {
    text-align: center;
    background: #fff;
    padding: 8px 10px;
    font-size: 13px;
    font-weight: bold;
    color: #2b2b2b;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

div.msgBoxContainer {
    display: table;
    font-size: 11px;
    height: 80px;
    line-height: 15px;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    word-wrap: break-word;
}

div.msgBoxImage {
    margin: 20px 5px 0 5px;
    display: inline-block;
    float: left;
    height: 75px;
    width: 75px;
}

    div.msgBoxImage img {
        height: 75px;
        width: 75px;
    }

div.msgBoxContent {
    display: table-cell;
    font-size: 12px;
    min-height: 96px;
    padding-left: 50px;
    position: relative;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    padding-right: 10px;
}

    div.msgBoxContent p {
        padding: 0;
        margin: 0;
        display: table;
        height: 100%;
        width: 100%;
    }

    div.msgBoxContent span {
        display: table-cell;
        vertical-align: middle;
        color: #2b2b2b;
    }

div.msgBoxButtons {
    display: inline-block;
    width: 100%;
    text-align: right;
    background: #fff;
    border-top: 1px solid #ccc;
    padding: 0 10px;
}

    div.msgBoxButtons input[type='button'] {
        color: #000;
        cursor: pointer;
        margin: 5px 0 5px 5px;
        height: 20px;
        line-height: 18px;
        font-size: 11px;
        width: 60px;
        border: 1px solid #ccc;
       
    }

        div.msgBoxButtons input[type='button']:active {
            background-color: #ccc;
            color: White;
        }

        div.msgBoxButtons input[type='button']:focus {
            outline: none;
            border: solid 2px #ccc; /* replace outline by a border */
            -o-transform: rotate(0); /*remove opera outline*/
        }

        div.msgBoxButtons input[type='button']::-moz-focus-inner /*remove firefox inner outline*/ {
            outline: none;
            border: none;
        }

div.msgBoxInputs {
    margin: 0 auto;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 5px;
    width: 195px;
}

div.msgInput input[type='text'], div.msgInput input[type='password'] {
    padding: 4px;
    border: 1px solid #DFDFDF;
    color: #2f2f2f;
    width: 180px;
}

div.msgInput input[type='text'] {
    color: #2f2f2f;
    font-size: 10pt;
}
div.msgBoxContainer img {
    bottom: 0;
    height: 25px;
    left: 0;
    margin: auto auto auto 15px;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
}