﻿/* FULLSCREEN SLIDESHOW */
#slideshowScreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background: #000;
}

    #slideshowScreen .header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 35px;
        background: #fff;
        padding: 0;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
        z-index: 9;
    }

        #slideshowScreen .header .btnTitle {
            font-size: 1.2em;
            line-height: 35px;
            font-weight: bold;
            color: #006BA0;
            float: left;
            padding-left: 40px;
            background: url(/Template/images/slideshow/btnBack.png) no-repeat 15px 8px;
            background-size: 16px;
        }

        #slideshowScreen .header a {
            cursor: pointer;
        }

        #slideshowScreen .header .btnFullscreen, #slideshowScreen .header .btnExit, #slideshowScreen .header .btnAutoPlay, #slideshowScreen .header .btnSave, #slideshowScreen .header .btnRotate {
            float: right;
            font-size: 1em;
            display: block;
            height: 35px;
            line-height: 35px;
            border-left: 1px solid #aaa;
            padding: 0 10px;
            background-color: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#DADADA));
            background-color: -moz-linear-gradient(top, #ffffff, #DADADA);
            background-color: linear-gradient(top, #ffffff, #DADADA);
        }

        #slideshowScreen .header .btnExit {
            background-image: url(/Template/images/slideshow/btnClose.png);
            background-repeat: no-repeat;
            background-size: 16px;
            background-position: 10px 50%;
            padding-left: 32px;
            padding-right: 12px;
        }

    #slideshowScreen #progressbar {
        display: block;
        width: 100px;
        background: #000;
        background: rgba(0,0,0,0.5);
        border-radius: 10px;
        margin-top: 14px;
        padding: 10px;
        position: absolute;
        top: 50px;
        right: 20px;
        font-size: 0.9em;
        line-height: 1.2;
        color: #fff;
        display: none;
        text-align: justify;
        cursor: pointer;
    }

        #slideshowScreen #progressbar label {
            color: #888;
        }

            #slideshowScreen #progressbar label span {
                color: #fff;
            }

        #slideshowScreen #progressbar .percent {
            display: block;
            width: 100%;
            height: 8px;
            background: #eee;
            border-radius: 10px;
            margin-bottom: 8px;
        }

            #slideshowScreen #progressbar .percent span {
                width: 0%;
                background: #0098D3;
                display: block;
                height: 100%;
                border-radius: 10px;
                opacity: 1;
            }

    #slideshowScreen .header .btnFullscreen {
        background-image: url(/Template/images/slideshow/btnExpand.png);
        background-repeat: no-repeat;
        background-size: 16px;
        background-position: 10px 50%;
        padding-left: 32px;
    }

    #slideshowScreen .header .btnAutoPlay {
        background-image: url(/Template/images/slideshow/btnPlay.png);
        background-repeat: no-repeat;
        background-size: 24px;
        background-position: 5px 50%;
        padding-left: 32px;
        display: none;
    }

    #slideshowScreen .content {
        position: absolute;
        top: 35px;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
    }

        #slideshowScreen .content ul {
            float: left;
            height: 100%;
            position: relative;
            -webkit-backface-visibility: hidden;
        }

        #slideshowScreen .content li {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: contain;
            position: relative;
            float: left;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

            #slideshowScreen .content li .iconLoading {
                width: 40px;
                height: 40px;
                background: #fff url(/Template/images/slideshow/icon_loading.gif) no-repeat 50% 50%;
                background-size: 32px;
                border-radius: 20px;
                position: relative;
                left: 50%;
                top: 50%;
                margin: -20px 0 0 -20px;
                overflow: hidden;
                text-indent: -999px;
                opacity: 0.4;
            }

            #slideshowScreen .content li.noFullscreen {
                background-size: inherit;
            }

            #slideshowScreen .content li > img {
                display: none;
            }

            #slideshowScreen .content li .caption {
                position: absolute;
                bottom: 30px;
                right: 30px;
                color: #fff;
                overflow: hidden;
                background: rgba(0,0,0,0.3) url(/Template/images/slideshow/icon_info.png) no-repeat 50% 50%;
                background-size: 32px;
                width: 40px;
                height: 40px;
                text-indent: -9999px;
                z-index: 999;
            }

                #slideshowScreen .content li .caption:hover {
                    width: 280px;
                    height: auto;
                    text-align: left;
                    font-size: 1.1em;
                    line-height: 1.6;
                    padding: 10px;
                    text-indent: 0;
                    background: rgba(0,0,0,0.3);
                }

                #slideshowScreen .content li .caption.visible {
                    width: 280px;
                    height: auto;
                    text-align: left;
                    font-size: 1.1em;
                    line-height: 1.6;
                    padding: 10px;
                    text-indent: 0;
                    background: rgba(0,0,0,0.6);
                }

    #slideshowScreen .button {
        display: block;
        position: absolute;
        overflow: hidden;
        text-indent: -999px;
        opacity: 0.5;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        #slideshowScreen .button:hover {
            opacity: 1;
        }

        #slideshowScreen .button.btnPrevious {
            background: url(/Template/images/slideshow/arrow-left.png) no-repeat 2% 50%;
            top: 35px;
            left: 0;
            bottom: 0;
            width: 30%;
        }

        #slideshowScreen .button.btnNext {
            background: url(/Template/images/slideshow/arrow-right.png) no-repeat 98% 50%;
            top: 35px;
            right: 0;
            bottom: 0;
            left: 30%;
        }

        #slideshowScreen .button.btnClose {
            background: url(/Template/images/slideshow/icon_close.png) no-repeat 50% 50%;
            top: -35px;
            right: 5px;
            background-size: 32px;
            width: 35px;
            height: 35px;
        }

    #slideshowScreen * {
        -webkit-box-sizing: content-box !important;
        box-sizing: content-box !important;
    }

    #slideshowScreen .header .btnSave {
        background-image: url(/Template/images/slideshow/saveimage.png);
        background-repeat: no-repeat;
        background-size: 24px;
        background-position: 5px 50%;
        padding-left: 32px;
    }

    #slideshowScreen .header .btnRotate {
        background-image: url(/Template/images/slideshow/roteimage.png);
        background-repeat: no-repeat;
        background-size: 24px;
        background-position: 5px 50%;
        padding-left: 32px;
    }

/*Hiển thị biểu tượng phóng to*/
.photoHD:hover .btnSlideshow {
    display: block;
}

.photoHD {
    position: relative;
    padding: 0;
    cursor: pointer;
}

    .photoHD:hover img {
        opacity: 0.95;
    }

.btnSlideshow {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background: url(/Template/images/slideshow/expand.png) no-repeat 50% 50%;
    background-size: 16px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 30px;
    height: 30px;
    overflow: hidden;
    text-indent: -999px;
    margin-left: 0;
    margin-top: 0;
    display: none;
    padding: 0 10px;
}

.wapperImage {
    margin-top: 6px;
    margin-right: 16px;
    width: 280px;
    height: auto;
    float: left;
    /*min-height: 213px;*/
}

.divSapoImage {
    padding-right: 8px;
    color: #222;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: Roboto,sans-serif;
    -webkit-font-smoothing: antialiased;
}

.spanSapoImage {
    line-height: 41px;
    padding-right: 8px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.wapperSapoImage {
    height: 37px;
    width: 100%;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

.wapperImage:hover .wapperSapoImage {
    background-color: #4285f4;
    color: #FFF;
}

.wapperImage:hover .divSapoImage {
    color: #FFF;
}

.wapperImage:hover .spanSapoImage {
    color: #FFF;
}

.photoHD img {
    width: 280px;
    height: 300px;
}
