﻿@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,500italic,700,700italic,300italic&subset=latin,vietnamese);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-size: 14px;
}
.popup-action{
    text-align: right;
}
.popup-action-Email{
    text-align: right;
    width:200px;
    float:right;
}
ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    background: #ffffff;
    font-family: 'Roboto', sans-serif !important;
}

body {
    position: relative;
}
/* header */
header {
    background: #027fc4;
    height: 55px;
    line-height: 55px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

    header:after {
        clear: both;
        content: "";
        display: table;
    }

    header .logo {
        float: left;
        height: 100%;
        padding: 0 25px;
    }

        header .logo a {
            display: inline-block;
            height: 100%;
            float: left;
        }

        header .logo img {
            max-width: 90%;
            max-height: 90%;
            margin: auto;
            margin-top: 5px;
            display: inline-block;
            float: left;
        }

    header nav {
        float: left;
        height: inherit;
        line-height: inherit;
    }

        header nav > ul {
            height: inherit;
            line-height: inherit;
            margin-left: 10px;
        }

            header nav > ul > li {
                height: inherit;
                display: inline-block;
                float: left;
                line-height: inherit;
                margin-right: 25px;
            }

@media screen and (max-width: 1100px) {
    header nav > ul > li {
        margin-right: 15px;
    }
}

header nav > ul > li > a {
    height: inherit;
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: inherit;
}

header nav ul > li.has-submenu {
    position: relative;
}

    header nav ul > li.has-submenu > .submenu {
        display: none;
        top: 100%;
        left: -10px;
        position: absolute;
        width: auto;
        -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
        box-shadow: 0 2px 10px rgba(0,0,0,.2);
        background: #ffffff;
    }

header nav > ul > li.has-submenu > .submenu > .sub-triangle {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ffffff;
    -webkit-transition: .5s;
    transition: .5s;
    position: absolute;
    top: -5px;
    left: 20%;
}

header nav ul > li.has-submenu > .submenu > ul {
    width: auto;
    min-width: 165px;
}

    header nav ul > li.has-submenu > .submenu > ul > li {
        background: #ffffff;
        border-left: 3px solid #ffffff;
        transition: 0.2s;
        height: 30px;
        line-height: 30px;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
    }

        header nav ul > li.has-submenu > .submenu > ul > li:hover {
            background: #f0f1f2;
            border-left: 3px solid #2076bb;
            transition: 0.2s;
        }

        header nav ul > li.has-submenu > .submenu > ul > li.has-submenu:after {
            content: "›";
            position: absolute;
            right: 5px;
            top: 0;
            color: #444445;
        }

        header nav ul > li.has-submenu > .submenu > ul > li > a {
            font-size: 13px;
            font-weight: normal;
            color: #444445;
            display: inline-block;
            width: 100%;
            white-space: nowrap;
        }

        header nav ul > li.has-submenu > .submenu > ul > li.has-submenu > .submenu {
            top: 0;
            left: 100%;
        }

.has-submenu:hover > .submenu {
    display: block;
}

header .user-box {
    float: right;
    height: inherit;
    margin-right: 20px;
}

    header .user-box .help-box {
        float: left;
        margin-right: 10px;
        position: relative;
    }

        header .user-box .help-box a {
            display: inline-block;
            line-height: 57px;
        }

            header .user-box .help-box a span {
                width: 20px;
                height: 20px;
                display: inline-block;
            }

    header .user-box .options {
        float: left;
        width: 16px;
        height: inherit;
        margin-right: 10px;
        cursor: pointer;
        position: relative;
    }

        header .user-box .options span {
            display: inline-block;
            width: 19px;
            height: 19px;
            position: absolute;
            top: 17px;
            background: url(/Content/images/spriteLayout.png) -24px -3px no-repeat transparent;
        }

        header .user-box .options .arrow-up-menu {
            margin-left: 5px;
            margin-top: 23px;
            display: none;
            position: absolute;
            top: 22px;
        }

        header .user-box .options .options-popup {
                box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
                max-height: 306px;
                min-height: 196px;
                overflow-y: auto;
                width: auto;
                transition: 0.5s;
                background: none repeat scroll 0% 0% #FFF;
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-top: 1px solid #ffffff;
                display: none;
                overflow: hidden;
                overflow-y: auto;
                position: absolute;
                top: 55px;
                z-index: 10000;
                right: 0;
                /* margin-left: -145px; */
                border-radius: 2px;
                -moz-user-select: text;
        }

            header .user-box .options .options-popup ul {
                position: relative;
                background: none repeat scroll 0% 0% #FFF;
                margin: 0;
                min-height: 100px;
                padding: 28px 27px 28px 28px;
                text-align: left;
                white-space: normal;
                width: 265px;
                transition: 1s;
                box-sizing: content-box;
            }

                header .user-box .options .options-popup ul li {
                    border: 1px solid #FFF;
                    border-radius: 2px;
                    display: inline-block;
                    vertical-align: top;
                    height: 98px;
                    width: 31%;
                    margin: 0 1%;
                    min-width: 0;
                }

                    header .user-box .options .options-popup ul li:hover {
                        border: 1px solid #E5E5E5;
                    }


                        header .user-box .options .options-popup ul li:hover a {
                            background: #ffffff;
                        }

                    header .user-box .options .options-popup ul li a {
                        color: #404040;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 9px;
                        padding: 8px 2px;
                        text-align: center;
                        width: 98%;
                    }

                        header .user-box .options .options-popup ul li a div {
                            width: 50px;
                            height: 50px;
                            margin: 0 auto;
                            position: relative;
                        }

                            header .user-box .options .options-popup ul li a div img {
                                display: inline-block;
                                margin: 0 auto;
                                max-width: 100%;
                                max-height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                            }

                        header .user-box .options .options-popup ul li a h2 {
                            display: inline-block;
                            width: 100%;
                            line-height: 20px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            margin-top: 10px;
                            font-weight: 400;
                            font-size: 10px;
                            text-align: center;
                        }

            header .user-box .options .options-popup .view-all {
                color: #414042;
                font-size: 12px;
                text-transform: uppercase;
                text-decoration: none;
                display: block;
                line-height: 40px;
                text-align: center;
                width: 320px;
                height: 40px;
                background: none repeat scroll 0% 0% #F5F5F5;
                cursor: pointer;
                overflow: hidden;
            }

        header .user-box .options:hover .options-popup {
            display: block;
        }

    header .user-box .user-info {
        float: right;
        height: inherit;
    }

        header .user-box .user-info .arrow-up-menu {
            display: none;
            position: absolute;
            top: 45px;
            left: 10px;
        }

        header .user-box .user-info .username {
            float: left;
            margin-right: 10px;
            font-size: 13px;
            font-weight: 400;
            color: #ffffff;
        }

        header .user-box .user-info .user-image {
            float: left;
            margin-top: 10px;
            height: inherit;
            position: relative;
            width: 30px;
            height: 30px;
        }

            header .user-box .user-info .user-image img {
                border-radius: 20px;
                width: 100%;
                height: 100%;
            }

        header .user-box .user-info .menu-info {
            display: inline-block;
            height: inherit;
            cursor: pointer;
            float: right;
            position: relative;
            padding-left: 5px;
        }

            header .user-box .user-info .menu-info > span {
                    display: inline-block;
                    width: 10px;
                    height: 5px;
                    background: url(../Content/images/spriteLayout.png) -57px -7px no-repeat transparent;
                    float: right;
                    margin-top: 25px;
                    margin-right: 3px;
            }

            header .user-box .user-info .menu-info:hover .arrow-up-menu {
                display: block;
            }

            header .user-box .user-info .menu-info:hover ul {
                display: block;
            }

        header .user-box .user-info ul {
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
            z-index: 10000;
            position: absolute;
            top: 100%;
            right: -15px;
            background: none repeat scroll 0% 0% #FFF;
            display: none;
            width: auto;
            min-width: 160px;
        }

            header .user-box .user-info ul li {
                background: #ffffff;
                border-left: 3px solid #ffffff;
                transition: 0.2s;
                height: 30px;
                line-height: 30px;
                position: relative;
            }

                header .user-box .user-info ul li:hover {
                    background: #f0f1f2;
                    border-left: 3px solid #2076bb;
                    transition: 0.2s;
                }

                header .user-box .user-info ul li span.logout-icon {
                    position: absolute;
                    top: 7px;
                    left: 5px;
                    width: 22px;
                    height: 14px;
                }

                header .user-box .user-info ul li span.ic-information {
                    position: absolute;
                    top: 7px;
                    left: 5px;
                    width: 22px;
                    height: 14px;
                }

                header .user-box .user-info ul li a:link,
                header .user-box .user-info ul li a:visited,
                header .user-box .user-info ul li a:active {
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    text-decoration: none;
                    color: #58595B;
                    font-weight: 400;
                    height: inherit;
                    line-height: inherit;
                    font-size: 13px;
                    padding-left: 28px;
                    width: 100%;
                }

    header .user-box .options:hover .arrow-up-menu {
        display: block;
    }
    /* footer */
footer {
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-top: 1px solid #e7e7e7;
    text-align: center;
    background: #ffffff;
    position: fixed;
    bottom: 0;
}

    footer p {
        text-align: center;
        font-size: 12px;
        color: #4d4d4d;
        font-weight: 500;
    }
    main {
    padding: 0 10px;
        padding-top: 60px;
    }
    div#Function-button {
        margin-bottom: 15px;
    }
.form-group {
    overflow: hidden;
}
.panel-body .row {
    padding-bottom: 5px;
}
.tab-content {
    margin-top: 15px;
}
    /* footer */
footer {
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-top: 1px solid #e7e7e7;
    text-align: center;
    background: #ffffff;
    position: fixed;
    bottom: 0;
}

    footer p {
        text-align: center;
        font-size: 12px;
        color: #4d4d4d;
        font-weight: 500;
    }
    div#Function-button {
        margin-bottom: 15px;
    }
.form-group {
    overflow: hidden;
}
.tab-content {
    margin-top: 15px;
}
#processing {
         overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    z-index: 99999;
    opacity: 0.6;
    top: 0;
    display: none;
}
#processing .img-load-ajax {
    position: relative;
    top: 25%;
    left: 50%;
    color: #fff;
}
.box-popup-header {
    position: absolute;
    top: 0;
    font-size: 12px;
    line-height: 23px;
    font-weight: 600;
}
.box-popup-content {
    width: 100%;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 9px;
    border-bottom: 1px solid #d1d1d1;
}
.box-popup-content .row.box-content {
    padding: 4px 0;
}
.box-popup-footer {
    width: 100%;
    position: relative;
    overflow: hidden;
}
.box-action{
	padding-bottom:15px;
	border-bottom: 1px solid #dddddd;
}
.btn-primary{
	background-color: #027fc4 !important;
    border-color: #027fc4 !important;
	border-radius: 0px !important;
}
.panel{
	border-radius: 0px !important;
}
ul.list-system {
    width: 100%;
    overflow: hidden;
    text-align: center;  
}
ul.list-system li {
        list-style: none;
    display: inline-block;
    width: 12%;
    margin: 0 1% 10px 1%;
    text-align: center;
    padding: 10px 0;
    position: relative;
}
ul.list-system li img {
    max-width: 100%;
}
h3.main-info {
    font-size: 25px;
    padding: 20px;
}
.msgclose {
    float: right;
    background: url(images/close.png) no-repeat center center;
    width: 12px;
    height: 28px;
    display: inline-block;
    text-indent: -999em;
}
/*style for group box*/
.dxflGroupCell_MetropolisBlue {
   padding: 0 10px !important;
}
.dxflGroup_MetropolisBlue tr:first-child > .dxflGroupCell_MetropolisBlue> .dxflGroupBox_MetropolisBlue {
    margin-top: 0 !important;
}
.dxflGroupBox_MetropolisBlue {
    padding-bottom: 8px !important;
}
.dxflGroupBox_MetropolisBlue> .dxflGroup_MetropolisBlue tr:first-child > .dxflGroupCell_MetropolisBlue> .dxflItem_MetropolisBlue {
    padding-top: 5px !important;
}
/*******************************/
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/**********************************/

.k-window-content .col-md-1,
.k-window-content .col-md-10, 
.k-window-content .col-md-11, 
.k-window-content .col-md-12, 
.k-window-content .col-md-2, 
.k-window-content .col-md-3, 
.k-window-content .col-md-4, 
.k-window-content .col-md-5, 
.k-window-content .col-md-6, 
.k-window-content .col-md-7, 
.k-window-content .col-md-8, 
.k-window-content .col-md-9,
.k-window-content .form-control {
    box-sizing: border-box !important;
}
.k-window-content .form-control {
    width: 100% !important;
    font-size: 14px !important;
    font-weight: normal !important;
    line-height: 34px !important;
    border-radius: 2px;
}
.k-window-content textarea.form-control {
    line-height: 20px !important;
    min-height: 86px;
}
.k-window-content .col-md-4 label,
.k-window-content .col-md-3 label,
.k-window-content .col-md-2 label {
    line-height: 34px;
}
.k-window-content .k-state-hover {
    box-shadow: none !important;
}
.k-window-content .k-dropdown-wrap .k-input {
    padding: 0 !important;
}
.form-control[readonly] {
    background: #fafafa !important;
    border-radius: 2px;
}
.k-pager-wrap>.k-link>.k-icon {
    margin-top: 0 !important;
}
.k-grid-header th.k-header {
    vertical-align: top !important;
}
div.k-grid-footer, div.k-grid-header,.k-grid-content {
    font-size: 13px !important;
}
.k-picker-wrap,.k-numeric-wrap {
    height: 32px !important;
}
.k-input {
    padding: 0 !important;
}
.k-window-content .k-state-default {
    border-color: #ccc !important;  
}
.k-window-content .k-numerictextbox,.k-window-content .k-dropdown,.k-window-content .k-datepicker {
    width: 100% !important;
}
.k-window-content .panel {
    margin-bottom: 5px;
}
.k-window-titlebar {
    background-color: #027fc4 !important;
}
.k-window-content .panel.window-footer {
    margin-bottom: 0;
}
.k-window-content .panel.window-footer .row {
    padding-bottom: 0;
}
.k-window-content .k-multiselect.k-header {
    border-color: #ccc !important;
    overflow: hidden;
}
.k-grid-excel {
    padding: 5px !important;
        line-height: 1px !important;
}
.padding-bottom-0 {
    padding-bottom: 0 !important;
}
.padding-bottom-0 > .col-md-6:last-child {
    padding-left: 0;
}
.k-radio-label:before {
    width: 18px !important;
    height: 18px !important;
}
.fieldlist {
        padding: 0;
        overflow: hidden;
    }

.fieldlist li {
    list-style: none;
    float: left;
    margin-right: 10px;
}
/*#windowBase .k-checkbox-label:before,#windowBase .k-checkbox-label:after {
    top: 7px !important;
}*/
.k-dropdown-wrap.k-state-default {
    background: #fff !important;
    padding-left: 10px;
}
.k-popup.k-list-container {
    border-color: #ccc !important;
}
.k-treeview .k-in {
    padding: 5px !important;
    width: calc(100% - 32px);
}
.k-dropdowntree {
    border: none !important;
    box-shadow: none !important;
}
.k-dropdowntree .k-icon.k-clear-value {
    position: absolute;
    top: 8px;
    right: 35px;
}