﻿@{
    Layout = null;
    var lenderSpicesConfig_TypeMoney = FrontEnd.Common.Helpers.EnumHelpers.GetValues<LMS.Common.Constants.LenderSpicesConfig_TypeMoney>().ToList();
    var lenderSpicesConfig_RateType = FrontEnd.Common.Helpers.EnumHelpers.GetValues<LMS.Common.Constants.LenderSpicesConfig_RateType>().ToList();
}
<div class="modal fade" id="modal_configuration_lender" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="headerId">Cấu hình khẩu vị cho mã hợp đồng : <b><span id="txt_title_configuration"></span></b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="kt-form kt-form--label-right">
                <div class="modal-body">
                    <input type="hidden" id="hdd_configuration_User" value="0" />
                    <input type="hidden" id="hdd_LenderSpicesConfigID" value="0" />
                    <input type="hidden" id="hdd_configuration_LenderID" value="0" />
                    <div class="row">
                        <div class="form-group col-lg-12 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Thời gian vay yêu thích
                            </label>
                            <div class="col-lg-5 col-sm-5 col-5">
                                <div class="kt-checkbox-list">
                                    <label class="kt-checkbox kt-checkbox--bold kt-checkbox--success">
                                        <input type="checkbox" class="type_checkbox" name="ck_time" value="1"> 1 tháng
                                        <span></span>
                                    </label>
                                    <label class="kt-checkbox kt-checkbox--bold kt-checkbox--success">
                                        <input type="checkbox" class="type_checkbox" name="ck_time" value="2"> 2 tháng
                                        <span></span>
                                    </label>
                                    <label class="kt-checkbox kt-checkbox--bold kt-checkbox--success">
                                        <input type="checkbox" class="type_checkbox" name="ck_time" value="3"> 3 tháng
                                        <span></span>
                                    </label>
                                    <label class="kt-checkbox kt-checkbox--bold kt-checkbox--success">
                                        <input type="checkbox" class="type_checkbox" name="ck_time" value="6"> 6 tháng
                                        <span></span>
                                    </label>
                                    <label class="kt-checkbox kt-checkbox--bold kt-checkbox--success">
                                        <input type="checkbox" class="type_checkbox" name="ck_time" value="9"> 9 tháng
                                        <span></span>
                                    </label>
                                    <label class="kt-checkbox kt-checkbox--bold kt-checkbox--success">
                                        <input type="checkbox" class="type_checkbox" name="ck_time" value="12"> 12 tháng
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Số tiền cho vay yêu thích
                            </label>
                            <div class="col-lg-5 col-sm-5 col-5">
                                <div class="input-group ">
                                    <select class="form-control kt-select2" style="width:100%" id="sl_MoneyLike" name="sl_MoneyLike">
                                        <option value="">
                                            Chọn số tiền cho vay yêu thích
                                        </option>
                                        @foreach (var item in lenderSpicesConfig_TypeMoney)
                                        {
                                            <option value="@item.Key">@item.Value</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Hình thức trả lãi yêu thích
                            </label>
                            <div class="col-lg-5 col-sm-5 col-5">
                                <div class="input-group ">
                                    <select class="form-control kt-select2" style="width:100%" id="sl_Rate" name="sl_Rate">
                                        <option value="">
                                            Chọn hình thức trả lãi yêu thích
                                        </option>
                                        @foreach (var item in lenderSpicesConfig_RateType)
                                        {
                                            <option value="@item.Key">@item.Value</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer row">
                    <div class="col-3">
                    </div>
                    <div class="col-9" style="text-align: right;">
                        <button type="button" class="btn btn-primary" id="btn_configuration_lender"><i class="fa fa-save"></i>Lưu</button>
                        <button type="button" class="btn btn-secondary" id="btn_configuration_lender_exit">Thoát</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


