﻿@{
    Layout = null;
}

<div class="modal fade" id="modal_create_lender" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="headerId">Thông tin nhà đầu tư</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="kt-form kt-form--label-right">
                <div class="modal-body">
                    <input type="hidden" id="hdd_User" value="0" />
                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Tên lender <span class="kt-font-danger">*</span>
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <input class="form-control" type="text" id="txt_fullname" name="fullname" placeholder="Nhập tên Lender">
                            </div>
                        </div>
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Ngày sinh<span class="kt-font-danger">*</span>
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <div class="input-group ">
                                    <input type="text" class="form-control kt_datepicker" id="txt_birthDay" name="birthDay" value="@DateTime.Now.AddYears(-18).ToString("dd/MM/yyyy")" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                SĐT <span class="kt-font-danger">*</span>
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <input class="form-control" type="text" id="txt_phone" name="phone" placeholder="Nhập SĐT">
                            </div>
                        </div>
                        <div class="form-group col-lg-6  row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Giới tính
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <div class="kt-radio-inline">
                                    <label class="kt-radio">
                                        <input type="radio" name="Gender" value="@((int)LMS.Common.Constants.Lender_Gender.Men)"> Nam
                                        <span></span>
                                    </label>
                                    <label class="kt-radio">
                                        <input type="radio" name="Gender" value="@((int)LMS.Common.Constants.Lender_Gender.Women)"> Nữ
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Email <span class="kt-font-danger">*</span>
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <div class="input-group ">
                                    <input type="text" class="form-control" placeholder="nhập email" id="txt_email" name="txt_email" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Địa chỉ thường trú
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <input class="form-control" type="text" id="txt_AddressOfResidence" name="txt_AddressOfResidence" placeholder="Nhập Địa chỉ thường trú">
                            </div>
                        </div>
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Tỉnh thành
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <select class="form-control kt-select2" style="width:100%" id="sl_city">
                                    <option value="0">Chọn tỉnh/thành</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Quận/huyện
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <select class="form-control kt-select2" style="width:100%" id="sl_district">
                                    <option value="0">Chọn quận/huyện</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Phường/xã
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <select class="form-control kt-select2" style="width:100%" id="sl_ward">
                                    <option value="0">Chọn phường/xã</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Địa chỉ
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <textarea class="form-control" name="txt_address" id="txt_address" placeholder="Nhập địa chỉ" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                CMND
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <input class="form-control" type="text" id="txt_numberCard" name="txt_numberCard" placeholder="Nhập CMND">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Ngày cấp
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <div class="input-group ">
                                    <input type="text" class="form-control kt_datepicker" id="txt_cardDate" name="txt_cardDate" value="@DateTime.Now.AddYears(-18).ToString("dd/MM/yyyy")" placeholder="Nhập ngày cấp" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Nơi cấp
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <input class="form-control" type="text" id="txt_cardPlace" name="txt_cardPlace" placeholder="Nhập nơi cấp">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label for="kt_switch_2" class="col-form-label col-lg-4 col-sm-4 col-4" style="margin-top:5px;">Xác Minh</label>
                            <div class="kt-radio-inline col-lg-8 col-sm-8 col-8 pl-2">
                                <input data-switch="true" type="checkbox" id="IsVerified">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer row">
                    <div class="col-3">
                    </div>
                    <div class="col-9" style="text-align: right;">
                        <button type="button" class="btn btn-primary" id="btn_save"><i class="fa fa-save"></i>Lưu</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


