﻿@{
    Layout = null;
}
<div class="modal fade" id="modal_create_digital_signarture" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="headerId">Chữ ký số</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="kt-form kt-form--label-right">
                <div class="modal-body">
                    <input type="hidden" id="hdd_signature_User" value="0" />
                    <div class="row">
                        <div class="form-group col-lg-12 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Chọn hợp đồng<span class="kt-font-danger">*</span>
                            </label>
                            <div class="col-lg-5 col-sm-5 col-5">
                                <div class="input-group ">
                                    <select class="form-control kt-select2" style="width:100%" name="sl_Signature_Loan" id="sl_Signature_Loan">
                                        <option selected value="-111">Tất cả</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Tài khoản (AgreementUUID)<span class="kt-font-danger">*</span>
                            </label>
                            <div class="col-lg-5 col-sm-5 col-5">
                                <input class="form-control" type="text" id="txt_Signature_Account" name="txt_Signature_Account" placeholder="6E3683D8-9650-4E8A-8B76-F15470521135">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                PassCode<span class="kt-font-danger">*</span>
                            </label>
                            <div class="col-lg-5 col-sm-5 col-5">
                                <div class="input-group ">
                                    <input class="form-control" type="text" id="txt_Signature_PassCode" name="txt_Signature_PassCode" placeholder="nhập passcode">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer row">
                    <div class="col-3">
                    </div>
                    <div class="col-9" style="text-align: right;">
                        <button type="button" class="btn btn-primary" id="btn_save_digitalSignature"><i class="fa fa-save"></i>Lưu</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


