﻿
@{
    Layout = null;
}

<div class="modal fade" id="modal_add_edit_lender" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="headerId"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="kt-form kt-form--label-right">
                <div class="modal-body">
                    <input type="hidden" id="hdd_LenderID" value="0" />
                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Mã Lender <span class="kt-font-danger">*</span>
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <input class="form-control" type="text" id="txt_create_FullName" name="FullName" placeholder="Nhập Mã Lender">
                            </div>
                        </div>
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Tên lender <span class="kt-font-danger">*</span>
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <input class="form-control" type="text" id="txt_create_Represent" name="Represent" placeholder="Nhập tên Lender">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Địa chỉ thường trú
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <input class="form-control" type="text" id="txt_create_AddressOfResidence" name="AddressOfResidence" placeholder="Nhập Địa chỉ thường trú">
                            </div>
                        </div>
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                SĐT <span class="kt-font-danger">*</span>
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <input class="form-control" type="text" id="txt_create_Phone" name="Phone" placeholder="Nhập SĐT">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Ngày sinh
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <div class="input-group ">
                                    <input type="text" class="form-control kt_datepicker" id="txt_create_StrBirthDay" name="StrBirthDay" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6  row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Giới tính
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <div class="kt-radio-inline">
                                    <label class="kt-radio">
                                        <input type="radio" name="Gender" value="@((int)LMS.Common.Constants.Lender_Gender.Men)"> Nam
                                        <span></span>
                                    </label>
                                    <label class="kt-radio">
                                        <input type="radio" name="Gender" value="@((int)LMS.Common.Constants.Lender_Gender.Women)"> Nữ
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Email
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <div class="input-group ">
                                    <input type="text" class="form-control" id="txt_create_Email" name="Email" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Địa chỉ
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <textarea class="form-control" name="Address" id="txt_create_Address" placeholder="Nhập địa chỉ" rows="3"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                SĐT người đại diện
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <div class="input-group ">
                                    <input type="text" class="form-control" id="txt_create_RepresentPhone" name="RepresentPhone" placeholder="Nhập SĐT người đại diện" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                CMND
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <input class="form-control" type="text" id="txt_create_NumberCard" name="NumberCard" placeholder="Nhập CMND">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Ngày cấp
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <div class="input-group ">
                                    <input type="text" class="form-control kt_datepicker" id="txt_create_CardDate" name="CardDate" placeholder="Nhập ngày cấp" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Nơi cấp
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <input class="form-control" type="text" id="txt_create_CardPlace" name="CardPlace" placeholder="Nhập nơi cấp">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Ngày ký HD hợp tác <span class="kt-font-danger">*</span>
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <div class="input-group ">
                                    <input type="text" class="form-control kt_datepicker" id="txt_create_ContractDate" name="ContractDate" placeholder="Nhập ngày ký HD hợp tác" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Số HD hợp tác  <span class="kt-font-danger">*</span>
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <input class="form-control" type="text" id="txt_create_ContractCode" name="ContractCode" placeholder="Nhập số HD hợp tác">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Số tài khoản nhận tiền
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <div class="input-group ">
                                    <input type="text" class="form-control" id="txt_create_AccountBanking" name="AccountBanking" placeholder="Nhập số tài khoản nhận tiền" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Tại ngân hàng
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <select class="form-control sl-bank kt-select2"  style="width:100%" id="sl_create_bankID">
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Tại chi nhánh
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <div class="input-group ">
                                    <input type="text" class="form-control" id="txt_create_BranchOfBank" name="BranchOfBank" placeholder="Nhập tên chi nhánh" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Chuyên viên kinh doanh
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <select class="form-control sl-LenderCare kt-select2" id="sl_create_LenderCare" style="width:100%">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Lãi suất Lender(%)
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <div class="input-group ">
                                    <input type="text" class="form-control" id="txt_create_PercentLender" name="PercentLender" placeholder="Nhập lãi suất Lender(%)" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Chuyên viên chăm sóc
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <select class="form-control sl-LenderTakeCare kt-select2" style="width:100%" id="sl_create_LenderTakeCare">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Người giới thiệu
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <select class="form-control sl-InvitePerson kt-select2" style="width:100%" id="sl_create_InvitePerson">
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Lãi suất giới thiệu(%)
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <div class="input-group ">
                                    <input type="text" class="form-control" id="txt_create_PercentAffLender" name="PercentAffLender" placeholder="Nhập lãi suất giới thiệu(%)" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                SĐT giới thiệu
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <input type="text" class="form-control" id="txt_create_InvitePhone" name="InvitePhone" placeholder="Nhập SĐT giới thiệu" />
                            </div>
                        </div>
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Mã số thuế
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <input class="form-control" type="text" id="txt_create_TaxCode" name="TaxCode" placeholder="Nhập Mã số thuế">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label for="kt_switch_2" class="col-form-label col-lg-4 col-sm-4 col-4" style="margin-top:5px;">Xác Minh</label>
                            <div class="kt-radio-inline col-lg-8 col-sm-8 col-8 pl-2">
                                <input data-switch="true" type="checkbox" id="kt_switch_3">
                            </div>
                        </div>
                        <div class="form-group col-lg-6 row">
                            <label for="kt_switch_2" class="col-form-label col-lg-4 col-sm-4 col-4" style="margin-top:5px;">Trạng thái</label>
                            <div class="kt-radio-inline col-lg-8 col-sm-8 col-8 pl-2">
                                <input data-switch="true" type="checkbox" id="kt_switch_2">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer row">
                    <div class="col-3">

                    </div>
                    <div class="col-9" style="text-align: right;">
                        <button type="button" class="btn btn-primary" id="btn_save"><i class="fa fa-save"></i>Thêm mới</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


