﻿
@{
    Layout = null;
}
<div class="row">

    <div class="col-lg-12">
        <div class="row"> 
            <div class="col-lg-12">
                <div class="header_line_200"><h4><i class="flaticon-event-calendar-symbol"></i>  Lịch sử thao tác</h4></div>
            </div>
        </div>
        <div class="row"> 
            <div class="col-lg-12">
                <div id="GridLichSu"></div>
            </div>
        </div>
    </div>
</div>