﻿@using LMS.Common.Helper;
@{
    Layout = null;
    var ticketType = new List<LMS.Common.Constants.Ticket_Type>()
{
           LMS.Common.Constants.Ticket_Type.LenderRutVon,
           LMS.Common.Constants.Ticket_Type.LenderTamUng,
        };
}
}
<div class="modal fade" id="modal_add_edit_ticket" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="headerId"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="kt-form kt-form--label-right">
                <div class="modal-body">
                    <input type="hidden" id="hdd_create_ticketID" value="0" />
                    <div class="row">
                        <div class="form-group col-lg-12 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Phòng ban gửi <span class="kt-font-danger">*</span>
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">   
                                <select class="form-control kt-select2  sl-department" id="sl_ticket_create_fromDepartment" name="fromDepartment" style="width:100%">
                                    <option value="">
                                        Chọn phòng ban
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Phòng ban nhận<span class="kt-font-danger">*</span>
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <select class="form-control kt-select2 sl-department" id="sl_ticket_create_toDepartment" name="toDepartment" style="width:100%">
                                    <option value="">
                                        Chọn phòng ban
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Loại
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <select class="form-control kt-select2 " id="sl_ticket_create_type"  name ="type" style="width:100%">
                                    <option value="">
                                    </option>
                                    @foreach (var item in ticketType)
                                    {
                                        <option value="@((int)item)">
                                            @item.GetDescription()
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Nội dung
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <textarea class="form-control" id="txt_ticket_create_note" name="note" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer ">
                    <div class="row">
                        <div class="form-group col-lg-12 text-right">
                            <button type="button" class="btn btn-primary" id="btn_save_ticket"><i class="fa fa-save"></i>Thêm mới</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


