﻿
@{
    Layout = null;
}
<style>
    .k-state-selected {
        background-color: lightcoral !important;
    }

    .imgViewer {
        max-height: inherit;
    }

    .header_line_200 {
        position: relative;
        margin: 0 0 10px 0;
        font-style: italic;
    }

        .header_line_200:before {
            content: "";
            display: block;
            position: absolute;
            left: 260px;
            right: 20px;
            bottom: 8px;
            border-top: 1px solid #e8ecef;
        }

    .alignRight {
        text-align: end;
    }

    .col-form-label-text {
        padding-top: calc(0.65rem + 1px);
        padding-bottom: calc(0.65rem + 1px);
        margin-bottom: 0;
        font-size: inherit;
        line-height: 1.5;
    }
</style>
<div class="modal fade" id="ModalInvoice" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="VerifyInvoiceHeaderId" style="font-weight:bold;"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <!--begin::modal-body-->
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <div class="row SelectecdCustomer_div">
                            <!--begin::Thông tin khách hàng đã chọn-->
                            <div class="col-md-12 col-xl-6 ">
                                <div class="form-group row">
                                    <label for="TransactionDate" class="col-md-4 col-sm-12 col-form-label-text alignRight">Ngày giao dịch: </label>
                                    <label class="col-form-label col-md-8 col-sm-12" id="TransactionDate"></label>
                                </div>
                            </div>
                            <div class="col-md-12 col-xl-6">
                                <div class="form-group row">
                                    <label for="StatusName" class="col-md-4 col-sm-12 col-form-label-text alignRight">Trạng thái: </label>
                                    <label class="col-form-label col-md-8 col-sm-12" id="StatusName"></label>
                                </div>
                            </div>
                            <!--end::Thông tin khách hàng-->
                        </div>
                        <!--begin::Thông tin chứng từ-->
                        <!--begin::Thông tin phiếu-->
                        <div class="row">
                            <input type="hidden" id="InvoiceID" value="0">
                            <div class="col-md-12 col-xl-6">
                                <div class="form-group row">
                                    <label for="TransactionMoney" class="col-md-4 col-sm-12 col-form-label-text alignRight">Số tiền: </label>
                                    <div class="col-md-8 col-sm-12">
                                        <label class="col-form-label" id="TransactionMoney"></label>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-12 col-xl-6 ">
                                <div class="form-group row" id="DestinationName_div">
                                    <label for="DestinationName" class="col-md-4 col-sm-12 col-form-label-text alignRight">Thẻ ngân hàng: </label>
                                    <div class="col-md-8 col-sm-12">
                                        <label class="col-form-label" id="DestinationName"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xl-12">
                                <div class="form-group row">
                                    <label for="Description" class="col-2 col-form-label-text alignRight">Diễn giải: </label>
                                    <div class="col-10">
                                        <label class="col-form-label" id="Description"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-xl-12">
                                <div class="form-group row">
                                    <label for="Description" class="col-2 col-form-label-text alignRight">Lender:</label>
                                    <div class="col-10">
                                        <div class="kt-input-icon kt-input-icon--left">
                                            <select class="form-control sl-lender" id="LenderID" style="width:100%">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row Note_Verify">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label for="Note_Verify" class="col-2 col-form-label-text alignRight">Ghi chú: </label>
                                    <div class="col-10">
                                        <textarea class="form-control" cols="3" id="Note_Verify"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Thông tin phiếu treo-->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#TabLichsu" id="tab_paymentschedule" onclick="invoice.InitGridLichSu()">
                                    <i class="la la-cloud-download"></i>  Lịch sử
                                    <i id="LichSuLoading" class="kt-spinner kt-spinner--sm kt-spinner--success" style="display:none;"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#TabImage" onclick="invoice.InitTabImage()">
                                    <i class="la la-university"></i> Ảnh <i id="ImageLoading" style="display:none;" class="kt-spinner kt-spinner--sm kt-spinner--success"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="TabLichsu" role="tabpanel">
                                <partial name="~/Views/Lender/partials/_partialDetailTabLichsu.cshtml" />
                            </div>
                            <div class="tab-pane active" id="TabImage" role="tabpanel">
                                <partial name="~/Views/Lender/partials/_partialDetailTabImage.cshtml" />
                            </div>
                        </div>
                        <!--end::Thông tin chứng từ-->
                    </div>
                </div>
                <!--end::modal-body-->
            </div>
            <div class="modal-footer row">
                <div class="col-12" style="text-align: right;">
                    <button class="btn btn-primary" id="btn_VerifyInvoiceConsiderCustomer_invoice" onclick="invoice.InvoiceAction()"><i class="flaticon2-circle-vol-2"></i> Xác minh</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="invoice.CustomerInfo_Clear()"><i class="flaticon-close"></i> Đóng </button>
                </div>
            </div>
        </div>
    </div>
</div>
