﻿@using FrontEnd.Common.Helpers
@{
    Layout = null;
    // var enumLenderContacType = FrontEnd.Common.Helpers.EnumHelpers.GetValues<LMS.Common.Constants.Lender_ContractType>().OrderBy(x => x.Key).ToList();
    var enumLenderContacType = new List<LMS.Common.Constants.Lender_ContractType>()
    {
        LMS.Common.Constants.Lender_ContractType.DTNormal,
        LMS.Common.Constants.Lender_ContractType.NANormal,
        LMS.Common.Constants.Lender_ContractType.DTTima,
        LMS.Common.Constants.Lender_ContractType.NATima,
        LMS.Common.Constants.Lender_ContractType.DTTimaNew,
        LMS.Common.Constants.Lender_ContractType.NAOfTimaNew,
        LMS.Common.Constants.Lender_ContractType.GTimaDT,
        LMS.Common.Constants.Lender_ContractType.GTimaNA
    };

}



<div class="modal fade" id="modal_create_loan_lender" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="headerId">Thông tin hợp đồng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="kt-form kt-form--label-right">
                <div class="modal-body">
                    <input type="hidden" id="hdd_create_loan_lender_LenderID" value="0" />
                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Số hợp đồng <span class="kt-font-danger">*</span>
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <input class="form-control" type="text" id="txt_create_loan_lender_contactCode" name="txt_create_loan_lender_contactCode" placeholder="Số hợp đồng">
                            </div>
                        </div>
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Ngày ký hợp đồng<span class="kt-font-danger">*</span>
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <div class="input-group ">
                                    <input type="text" class="form-control kt_datepicker" id="txt_create_loan_lender_ContractDate" placeholder="Ngày ký hợp đồng(dd/MM/yyyy)" name="txt_create_loan_lender_ContractDate" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Loại hợp đồng
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <select class="form-control kt-select2" style="width:100%" name="sl_create_loan_lender_ContractType" id="sl_create_loan_lender_ContractType">
                                    <option selected value="-111">Loại hợp đồng</option>
                                    @foreach (var item in enumLenderContacType)
                                    {
                                        if ((int)item != (int)LMS.Common.Constants.Lender_ContractType.NATima
                                        && (int)item != (int)LMS.Common.Constants.Lender_ContractType.DTTima
                                        && (int)item != (int)LMS.Common.Constants.Lender_ContractType.NAOfTima)
                                        {
                                            <option value="@((int)item)">@item.GetDescription()</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-lg-6  row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Thời hạn hợp đồng
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <input type="number" class="form-control" id="txt_create_loan_lender_ContractDuration" placeholder="0" name="txt_create_loan_lender_ContractDuration" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Ngày kết thúc hợp đồng
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <input type="text" class="form-control kt_datepicker" placeholder="Ngày kết thúc hợp đồng(dd/MM/yyyy)" id="txt_create_loan_lender_ContractEndDate" name="txt_create_loan_lender_ContractEndDate" />
                            </div>
                        </div>
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Đặt cọc
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <div class="col-lg-8 col-sm-8 col-8">
                                    <div class="kt-radio-inline">
                                        <label class="kt-radio">
                                            <input type="radio" name="txt_create_loan_lender_IsDeposit" value="1"> Có
                                            <span></span>
                                        </label>
                                        <label class="kt-radio">
                                            <input type="radio" id="IsDeposit_false" name="txt_create_loan_lender_IsDeposit" value="0"> Không
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row c-hidden" hidden>
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Lãi xuất
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <input type="text" class="form-control" placeholder="Lãi xuất(12|14|16)" id="txt_create_loan_lender_rate" value="0" name="txt_create_loan_lender_rate" />
                            </div>
                        </div>
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Vốn đầu tư
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <input type="text" class="form-control" id="txt_create_loan_lender_TotalMoneyTopup" name="txt_create_loan_lender_TotalMoneyTopup" placeholder="Nhập số tiền" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                CTV
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <select class="form-control kt-select2 affID" style="width:100%" name="sl_create_contract_affID" id="sl_create_contract_affID">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer row">
                    <div class="col-3">
                    </div>
                    <div class="col-9" style="text-align: right;">
                        <button type="button" class="btn btn-primary" id="btn_create_loan_lender"><i class="fa fa-save"></i>Lưu</button>
                        <button type="button" class="btn btn-secondary" id="hiddenModal_create_loan_lender">Thoát</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


