﻿@{
    Layout = null;
}
<div class="row">
    <div class="col-xl-12">
        <div class="kt-section__body">
            <div class="row">
                <div class="col-lg-12">
                    <div id="">
                        <form class="kt-form kt-form--label-right">
                            <div class="modal-body">
                                <input type="hidden" id="hdd_edit_User" value="0" />
                                <div class="row">
                                    <div class="form-group col-lg-6 row">
                                        <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                            Tên lender <span class="kt-font-danger">*</span>
                                        </label>
                                        <div class="col-lg-8 col-sm-8 col-8">
                                            <input class="form-control" type="text" id="txt_edit_fullname" name="txt_edit_fullname" placeholder="Nhập tên Lender">
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-6 row">
                                        <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                            Ngày sinh<span class="kt-font-danger">*</span>
                                        </label>
                                        <div class="col-lg-8 col-sm-8 col-8">
                                            <div class="input-group ">
                                                <input type="text" class="form-control kt_datepicker" id="txt_edit_birthDay" name="txt_edit_birthDay" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6 row">
                                        <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                            SĐT <span class="kt-font-danger">*</span>
                                        </label>
                                        <div class="col-lg-8 col-sm-8 col-8">
                                            <input class="form-control" type="text" id="txt_edit_phone" name="txt_edit_phone" placeholder="Nhập SĐT">
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-6  row">
                                        <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                            Giới tính
                                        </label>
                                        <div class="col-lg-8 col-sm-8 col-8">
                                            <div class="kt-radio-inline">
                                                <label class="kt-radio">
                                                    <input type="radio" name="edit_Gender" value="@((int)LMS.Common.Constants.Lender_Gender.Men)"> Nam
                                                    <span></span>
                                                </label>
                                                <label class="kt-radio">
                                                    <input type="radio" name="edit_Gender" value="@((int)LMS.Common.Constants.Lender_Gender.Women)"> Nữ
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6 row">
                                        <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                            Email <span class="kt-font-danger">*</span>
                                        </label>
                                        <div class="col-lg-8 col-sm-8 col-8">
                                            <div class="input-group ">
                                                <input type="text" class="form-control" id="txt_edit_email" name="txt_edit_email" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6 row">
                                        <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                            Địa chỉ thường trú
                                        </label>
                                        <div class="col-lg-8 col-sm-8 col-8">
                                            <input class="form-control" type="text" id="txt_edit_AddressOfResidence" name="txt_edit_AddressOfResidence" placeholder="Nhập Địa chỉ thường trú">
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-6 row">
                                        <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                            Tỉnh thành
                                        </label>
                                        <div class="col-lg-8 col-sm-8 col-8">
                                            <select class="form-control" style="width:100%" id="sl_edit_city"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6 row">
                                        <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                            Quận/huyện
                                        </label>
                                        <div class="col-lg-8 col-sm-8 col-8">
                                            <select class="form-control" style="width:100%" id="sl_edit_district"></select>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-6 row">
                                        <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                            Phường/xã
                                        </label>
                                        <div class="col-lg-8 col-sm-8 col-8">
                                            <select class="form-control" style="width:100%" id="sl_edit_ward"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6 row">
                                        <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                            Địa chỉ
                                        </label>
                                        <div class="col-lg-8 col-sm-8 col-8">
                                            <textarea class="form-control" name="txt_edit_address" id="txt_edit_address" placeholder="Nhập địa chỉ" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-6 row">
                                        <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                            CMND
                                        </label>
                                        <div class="col-lg-8 col-sm-8 col-8">
                                            <input class="form-control" type="text" id="txt_edit_numberCard" name="txt_edit_numberCard" placeholder="Nhập CMND">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-lg-6 row">
                                        <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                            Ngày cấp
                                        </label>
                                        <div class="col-lg-8 col-sm-8 col-8">
                                            <div class="input-group ">
                                                <input type="text" class="form-control kt_datepicker" id="txt_edit_cardDate" name="txt_edit_cardDate" placeholder="Nhập ngày cấp" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-6 row">
                                        <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                            Nơi cấp
                                        </label>
                                        <div class="col-lg-8 col-sm-8 col-8">
                                            <input class="form-control" type="text" id="txt_edit_cardPlace" name="txt_edit_cardPlace" placeholder="Nhập nơi cấp">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6 row">
                                        <label for="kt_switch_2" class="col-form-label col-lg-4 col-sm-4 col-4" style="margin-top:5px;">Xác Minh</label>
                                        <div class="kt-radio-inline col-lg-8 col-sm-8 col-8 pl-2">
                                            <input data-switch="true" type="checkbox" id="edit_IsVerified">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer row">
                                <div class="col-3">
                                </div>
                                <div class="col-9" style="text-align: right;">
                                    <button type="button" class="btn btn-primary" id="btn_edit_save"><i class="fa fa-save"></i>Lưu</button>
                                    @*  <button type="button" class="btn btn-secondary" data-dismiss="modal">Thoát</button>*@
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>