﻿@{
    Layout = null;
}

<div class="row">
    <div class="col-xl-12">
        <div class="kt-section__body">
            <div class="row">
                <div class="col-lg-10">
                </div>
                <div class="col-lg-2">
                    <a href="#" class="btn btn-success btn-elevate" style="float:right;margin-bottom:10px" title="Thêm mới" data-toggle="modal" data-target="#modal_create_loan_lender" onclick="lenderListDetail.ShowModalCreateLoanLender()">
                        <i class="la la-plus"></i>
                        Tạo HĐ
                    </a>
                </div>
                <div class="col-lg-12">
                    <div id="Danhsachhopdong">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>