﻿
@{
    Layout = null;
}

<div class="modal fade" id="modal_add_edit" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="headerId">Cập nhật thông tin đơn vay</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="kt-form kt-form--label-right">
                <div class="modal-body">
                    <input type="hidden" id="hdd_loanID" value="0" />
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                            Họ và tên
                        </label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            <input class="form-control" type="text" id="CustomerName" name="CustomerName" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                            Thời gian vay (<span id="UnitTimeName"></span>)
                        </label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            <input class="form-control" type="number" id="LoanTime" name="LoanTime">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                            Ngày giải ngân
                        </label>
                        <div class="col-lg-6 col-sm-8 col-8"> 
                            <div class="input-group ">
                                <input type="text" class="form-control kt_datepicker" id="StrFromDate"/>
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                            RateType
                        </label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            <input class="form-control" type="number" id="RateType" name="RateType">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                            RateInterest
                        </label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            <input class="form-control" type="number" id="RateInterest" name="RateInterest">
                        </div>
                    </div> 
                </div>
                <div class="modal-footer row">
                    <div class="col-8 col-xl-8 col-md-8 col-sm-7">

                    </div>
                    <div class="col-4 col-xl-4 col-md-4 col-sm-5">
                        <button type="button" class="btn btn-primary" id="btn_save" onclick="loan.Save()"><i class="fa fa-save"></i>Cập nhật</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
