﻿<style>
    .m--padding-top-15 {
        padding-top: 15px !important;
    }
</style>
<div class="kt-header__topbar">
    <div class="kt-header__topbar-item kt-header__topbar-item--user">
        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px,0px" id="div_call">
            <span class="kt-header__topbar-icon kt-pulse kt-pulse--brand">
                <a href="#">
                    <i class="fa fa-phone"></i>
                </a>
            </span>
        </div>
        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl" id="div_editCall">
            <!--begin: Head -->
            <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x">
                <div class="col-md-12 row">
                    <input class="form-control" type="number" placeholder="Nhập số điện thoại" id="txt_call_cisco_manual" value="701">
                    <label class="col-md-12" style="text-align: center;font-size: 20px;color: gray ;padding-top:15px;">Lựa chọn mã quay</label>
                    <div class="col-md-4 m--padding-top-15">
                        <button title="0969286028-0936045938-0916391265" type="button" class="btn btn-outline-info btn-sm btn_call_metech" id="_call_dial_701" onclick="baseCommon.click_callMetech(701)" style="background-color: #36a3f7; color: white;">
                            701
                        </button>
                    </div>
                    <div class="col-md-4 m--padding-top-15">
                        <button title="0969289792-0936092538-0911255850" type="button" class="btn btn-outline-info btn-sm btn_call_metech" id="_call_dial_702" onclick="baseCommon.click_callMetech(702)">
                            702
                        </button>
                    </div>
                    <div class="col-md-4 m--padding-top-15">
                        <button title="0969291429-0902260938-0911648914" type="button" class="btn btn-outline-info btn-sm btn_call_metech" id="_call_dial_703" onclick="baseCommon.click_callMetech(703)">
                            703
                        </button>
                    </div>
                    <div class="col-md-4 m--padding-top-15">
                        <button title="0969301489-0903442638-0916271542" type="button" class="btn btn-outline-info btn-sm btn_call_metech" id="_call_dial_704" onclick="baseCommon.click_callMetech(704)">
                            704
                        </button>
                    </div>
                    <div class="col-md-4 m--padding-top-15">
                        <button title="0969302766-0936426499-0911218574" type="button" class="btn btn-outline-info btn-sm btn_call_metech" id="_call_dial_705" onclick="baseCommon.click_callMetech(705)">
                            705
                        </button>
                    </div>
                    <div class="col-md-4 m--padding-top-15">
                        <button title="0969303073-0934537499-0915387742" type="button" class="btn btn-outline-info btn-sm btn_call_metech" id="_call_dial_706" onclick="baseCommon.click_callMetech(706)">
                            706
                        </button>
                    </div>
                    <div class="col-md-4 m--padding-top-15">
                        <button title="0969303084-0904590038-0919073954" type="button" class="btn btn-outline-info btn-sm btn_call_metech" id="_call_dial_707" onclick="baseCommon.click_callMetech(707)">
                            707
                        </button>
                    </div>
                    <div class="col-md-4 m--padding-top-15">
                        <button title="0969303832-0934475498-0916218834" type="button" class="btn btn-outline-info btn-sm btn_call_metech" id="_call_dial_708" onclick="baseCommon.click_callMetech(708)">
                            708
                        </button>
                    </div>
                    <div class="col-md-4 m--padding-top-15">
                        <button title="0969310486-0936399661-0915027894" type="button" class="btn btn-outline-info btn-sm btn_call_metech" id="_call_dial_709" onclick="baseCommon.click_callMetech(709)">
                            709
                        </button>
                    </div>
                    <div class="col-md-4 m--padding-top-15">
                        <button title="0969310680-0904561800-0918247746" type="button" class="btn btn-outline-info btn-sm btn_call_metech" id="_call_dial_710" onclick="baseCommon.click_callMetech(710)">
                            710
                        </button>
                    </div>
                </div>
            </div>

            <!--end: Head -->
            <!--begin: Navigation -->
            <div class="kt-notification">
                <div class="kt-notification__custom kt-space-between">
                    <button type="button" class="btn btn-success" style="width: 100%;" id="btn_call_metech">
                        GỌI ĐIỆN
                    </button>
                </div>
            </div>

            <!--end: Navigation -->
        </div>
    </div>
    <div class="kt-header__topbar-item ">
        <div class="kt-header__topbar-wrapper" onclick="javascript:window.location.href='/Ticket/Index'" id="ticket_notify_toggle" data-toggle="kt-tooltip" data-html="true">
            <span class="kt-header__topbar-icon kt-pulse kt-pulse--brand">
                <a href="/Ticket/Index">
                    <i class="fa fa-history" style="color:#63646b"></i>
                    <span style="position:fixed;top: 10px" class="kt-badge kt-badge--danger font-weight-bold lbl_noti_ticket">0</span>
                </a>
            </span>
        </div>
    </div>
    <div class="kt-header__topbar-item kt-header__topbar-item--user">
        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px,0px">
            <div class="kt-header__topbar-user">
                <span class="kt-header__topbar-welcome kt-hidden-mobile">Hi,</span>
                <span class="kt-header__topbar-username kt-hidden-mobile" id="_UserFullNameId"></span>
                <img class="kt-hidden" alt="Pic" src="~/static/assets/media/users/300_25.jpg" />

                <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                <span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold" id="_UserFullNameShortId">S</span>
            </div>
        </div>
        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">

            <!--begin: Head -->
            <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" style="background-image: url(/assets/media/misc/bg-1.jpg)">
                <div class="kt-user-card__avatar">
                    <img class="kt-hidden" alt="Pic" src="~/static/assets/media/users/300_25.jpg" />

                    <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                    <span class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success" id="_UserFullNameShort2Id">S</span>
                </div>
                <div class="kt-user-card__name">
                    admin
                </div>
                <div class="kt-user-card__badge">
                    <span class="btn btn-success btn-sm btn-bold btn-font-md"></span>
                </div>
            </div>

            <!--end: Head -->
            <!--begin: Navigation -->
            <div class="kt-notification">
                <a href="javascript:;" class="kt-notification__item" onclick="baseCommon.ChangePassWord()">
                    <div class="kt-notification__item-icon">
                        <i class="flaticon2-hourglass kt-font-brand"></i>
                    </div>
                    <div class="kt-notification__item-details">
                        <div class="kt-notification__item-title kt-font-bold">
                            Đổi mật khẩu
                        </div>
                        <div class="kt-notification__item-time">
                            Thay đổi mật khẩu mới
                        </div>
                    </div>
                </a>
                <a href="/User/ChangePassword?t=1" class="kt-notification__item">
                    <div class="kt-notification__item-icon">
                        <i class="fa fa-phone kt-font-brand"></i>
                    </div>
                    <div class="kt-notification__item-details">
                        <div class="kt-notification__item-title kt-font-bold">
                            Cấu hình gọi điện
                        </div>
                        <div class="kt-notification__item-time">
                            Thay đổi cấu hình gọi điện
                        </div>
                    </div>
                </a>

                @*<a href="/User/Info/" class="kt-notification__item">
                    <div class="kt-notification__item-icon">
                    <i class="flaticon2-calendar-3 kt-font-success"></i>
                    </div>
                    <div class="kt-notification__item-details">
                    <div class="kt-notification__item-title kt-font-bold">
                    Thông tin tài khoản
                    </div>
                    <div class="kt-notification__item-time">
                    Hạn sử dụng và liên hệ
                    </div>
                    </div>
                    </a>*@
                <div class="kt-notification__custom kt-space-between">
                    <a href="~/logout.html" class="btn btn-label btn-label-brand btn-sm btn-bold">Đăng xuất</a>

                </div>
            </div>

            <!--end: Navigation -->
        </div>
    </div>

    <!--end: User Bar -->
</div>