﻿@using LMS.Common.Helper;
@{
    ViewData["Title"] = "Báo cáo về kết quả giao dịch";
    //var lstLenderStatus = Enum.GetValues(typeof(LMS.Common.Constants.Lender_IsVerified)).Cast<LMS.Common.Constants.Lender_IsVerified>();
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    kết quả giao dịch
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right">
                <div class="row align-items-center">
                    <div class="col-xl-12 kt-margin-b-10">
                        <div class="row align-items-center">
                            <input type="hidden" id="ip-page-current" name="pagecurrent" value="1" />
                            <input type="hidden" id="ip-top" name="top" value="25" />
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile" style="max-width:250px">
                                <label><b>Tên NĐT,SĐT</b></label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Tìm theo mã Tên NĐT,SĐT" id="txt_search">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile" style="max-width:250px">
                                <label><b>Từ ngày</b></label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control kt_datepicker" id="txt_search_fromDate" />
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="fa fa-calendar"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile" style="max-width:250px">
                                <label><b>Đến ngày</b></label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control kt_datepicker" id="txt_search_toDate" />
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="fa fa-calendar"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile  kt-margin-t-25">
                                <button href="#" class="btn btn-info m-btn kt-btn--air" id="btnGetData">
                                    <span>
                                        Tìm kiếm
                                    </span>
                                </button>
                                @*<button href="#" class="btn btn-success m-btn kt-btn--air">
                                    <span>
                                        Excel
                                    </span>
                                </button>*@
                                <div class="d-md-none kt--margin-bottom-10"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p><b>Tổng số tiền NDT giải ngân : <label class="kt-font-danger" id="lbl_TotalMoneyDisbursement">0</label></b></p>
                        <p><b>Tổng số tiền NDT vào tiền : <label class="kt-font-danger" id="lbl_TotalMoneyTopup">0</label></b></p>
                        <p><b>Tổng số tiền NĐT giải ngân và vào tiền : <label class="kt-font-danger" id="lbl_SumMoneyOfLender">0</label></b></p>
                        <p><b>Tổng tiền hoa hồng: <label class="kt-font-danger" id="lbl_TotalCommissionMoney">0</label></b></p>
                    </div>
                    <div id="grid"></div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>

    </div>
</div>
@section Scripts {
    <script src="~/scripts/collaboratorLender/reportTransaction_v1.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    <script>
    $(document).ready(function () {
        reportTransaction.init();
    });
    </script>
}
