﻿
@{
    ViewData["Title"] = "Quản lý định vị";
}
<style>
    .m--hide {
        display: none !important;
    }
</style>
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    @ViewData["Title"]
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right">
                <div class="row align-items-center">
                    <div class="col-xl-12 kt-margin-b-10">
                        <div class="row align-items-center">
                            <input type="hidden" id="ip-page-current" name="pagecurrent" value="1" />
                            <input type="hidden" id="ip-top" name="top" value="25" />
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                                <label><b>Tên khách hàng</b></label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Tìm theo tên khách hàng" id="txt_search_customerName">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                                <label><b>Mã HĐ</b></label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Tìm theo mã HĐ TC-xxxxx" id="txt_search_contactCode">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile  kt-margin-t-25">
                                <button class="btn btn-info m-btn kt-btn--air" id="btnGetData" onclick="appraisal.GridRefresh()">
                                    <span>
                                        Tìm kiếm
                                    </span>
                                </button>
                                <div class="d-md-none kt--margin-bottom-10"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="dv_result">

                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>

    </div>
</div>
<partial name="~/Views/Shared/Location/DetailsLocation.cshtml" />
<partial name="~/Views/Appraisal/Detail/_PartialHistoryComment.cshtml" />
<partial name="~/Views/Appraisal/Detail/_PartialChangeStatusInDepartment.cshtml" />

@section Scripts {

    <environment include="Development">
        <script src="~/static/scripts/shared/GoogleMapModule.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
        <script src="~/static/scripts/appraisal/appraisal.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
        <script src="~/static/scripts/appraisal/historyComment.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
        <script src="~/static/scripts/appraisal/chip.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
        <script src="~/static/scripts/appraisal/uploadImageDropzone.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>  
        <script src="~/static/scripts/shared/GoogleMapHistory.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
        <script src="~/static/scripts/appraisal/changeStatusInDepartment.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/static/scripts/shared/GoogleMapModule.min.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
        <script src="~/static/scripts/appraisal/appraisal.min.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
        <script src="~/static/scripts/appraisal/historyComment.min.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
        <script src="~/static/scripts/appraisal/chip.min.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
        <script src="~/static/scripts/appraisal/uploadImageDropzone.min.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>  
        <script src="~/static/scripts/shared/GoogleMapHistory.min.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
        <script src="~/static/scripts/appraisal/changeStatusInDepartment.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    </environment>
    <script type="text/javascript">
        $(document).ready(function () {
            GoogleMapModule.InitMapOnly('googleMapDiv');
            tongDai.GetServiceCallInfoByUserID("btnClickToCallCustomer"); 
        });
    </script>
}
