﻿@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{ 
    var AdminUrl = Configuration["AppSettings:AdminUrl"];
    var CookieName = FrontEnd.Common.Helpers.Constants.STATIC_USERMODEL;
    var staticCallInfoCookie = FrontEnd.Common.Helpers.Constants.STATIC_CALL_INFO_COOKIE; 
}
<!DOCTYPE html> 
<html lang="en"> 
<!-- begin::Head -->
<head>
    <base href="">
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="Updates and statistics">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
     
    <link href="~/static/assets/css/skins/header/menu/dark.css" rel="stylesheet" type="text/css" />
    <link href="~/static/assets/css/skins/header/base/dark.css" rel="stylesheet" type="text/css" />
    <environment include="Development">
        <link href="~/static/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
        <link href="~/static/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />

        <link href="~/static/assets/css/skins/aside/dark.css" rel="stylesheet" type="text/css" />
        <link href="~/static/assets/css/skins/brand/dark.css" rel="stylesheet" type="text/css" />
    </environment>
    <environment exclude="Development">
        <link href="@AdminUrl/assets/plugins/global/plugins.bundle.min.css" rel="stylesheet" type="text/css" />
        <link href="@AdminUrl/assets/css/style.bundle.min.css" rel="stylesheet" type="text/css" />

        <link href="@AdminUrl/assets/css/skins/aside/dark.min.css" rel="stylesheet" type="text/css" />
        <link href="@AdminUrl/assets/css/skins/brand/dark.min.css" rel="stylesheet" type="text/css" />
    </environment>
    
    <link href="~/static/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />

    <link href="~/static/css/customize.css" rel="stylesheet" />
    <link href="~/static/kendoUi/styles/lms.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/static/assets/media/logos/favicon.ico" type="image/x-icon" />
    <link href="~/static/viewer/css/viewer.min.css" rel="stylesheet" />
    <script type="text/javascript">

        var ApiUrl = '@Configuration["Configuration:ApiUrl"]';
        var LoginUrl = '@Configuration["AppSettings:Login"]';
        var STATIC_USERMODEL = '@CookieName';
        var STATIC_CALL_INFO_COOKIE =  '@staticCallInfoCookie'; 
    </script>
</head>

<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-page--loading">

    <!-- begin:: Page -->
    <!-- begin:: Header Mobile -->
    <partial name="~/Views/Shared/partials/_header/_base_mobile.cshtml" />
    <!-- end:: Header Mobile -->
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper" style="padding-top: 65px;">

                <!-- begin:: Header -->
                <div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">

                    <!-- begin:: Header Menu -->
                    <!-- Uncomment this to display the close button of the panel
                    <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
                    -->
                    <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
                        <div class="kt-header-logo">
                            <a href="javascript:;">
                                <img src="/static/img/logo_tima.svg" alt="logo" width="100" onclick="baseCommon.HomePage()">
                            </a>
                        </div>
                        <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-default ">
                            <!-- begin:: Menu ngang -->
                            @await Component.InvokeAsync("Menu")
                            <!-- begin:: Menu ngang -->
                        </div>
                    </div>

                    <!-- end:: Header Menu -->
                    <!-- begin:: Header Topbar -->
                    <partial name="~/Views/Shared/partials/_header/topbar/_base.cshtml" />
                    <!-- end:: Header Topbar -->
                </div>

                <!-- end:: Header -->
                <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
                    @RenderBody()
                </div>

                <!-- begin:: Footer -->
                <partial name="~/Views/Shared/partials/_footer/_base.cshtml" />
                <!-- end:: Footer -->
            </div>
        </div>
    </div>
    <partial name="~/Views/Shared/_PartialModal.cshtml" />
    <!-- end:: Page -->
    <!-- begin::Quick Panel -->
    <partial name="~/Views/Shared/partials/_quick_panel.cshtml" />
    <!-- end::Quick Panel -->
    <!-- begin::Scrolltop -->
    <div id="kt_scrolltop" class="kt-scrolltop">
        <i class="fa fa-arrow-up"></i>
    </div>

    <!-- end::Scrolltop -->
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#5d78ff",
                    "dark": "#282a3c",
                    "light": "#ffffff",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": [
                        "#c5cbe3",
                        "#a1a8c3",
                        "#3d4465",
                        "#3e4466"
                    ],
                    "shape": [
                        "#f0f3ff",
                        "#d9dffa",
                        "#afb4d4",
                        "#646c9a"
                    ]
                }
            }
        };
    </script>

    <environment include="Development">
        <script src="~/static/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
        <script src="~/static/assets/js/scripts.bundle.js" type="text/javascript"></script>
        <script src="~/static/js/scripts.min.js"></script>
        <script src="~/static/scripts/configDatatable/translate.min.js"></script>
        <script src="~/static/kendoUi/js/jszip.min.js"></script>
        <script src="~/static/kendoUi/js/kendo.all.min.js"></script>
        <script src="~/static/js/baseCommon.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
        <script src="~/static/scripts/Lib.js"></script>
        <script src="~/static/scripts/enum/constant.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
        <script src="~/static/scripts/noti/notify.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
        <script src="~/static/viewer/jquery-viewer.js"></script>
        <script src="~/static/viewer/viewer.js"></script>
        <script src="~/static/js/clipboard.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuobshh_Q2YgN8VaWnrUMcMiZFFeVouZo"></script>
        <script src="~/static/Metech/finessenongadget.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
        <script src="~/static/Metech/jabberwerx.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
        <script src="~/static/Metech/finesseC2CModule.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
        <script src="~/static/Metech/tongDai.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuobshh_Q2YgN8VaWnrUMcMiZFFeVouZo"></script>
        <script src="@AdminUrl/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
        <script src="@AdminUrl/assets/js/scripts.bundle.js" type="text/javascript"></script>
        <script src="~/static/js/scripts.min.js"></script>
        <script src="~/static/scripts/configDatatable/translate.min.js"></script>
        <script src="@AdminUrl/kendoUi/js/jszip.min.js"></script>
        <script src="@AdminUrl/kendoUi/js/kendo.all.min.js"></script>
        <script src="~/static/js/baseCommon.min.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
        <script src="~/static/scripts/Lib.min.js"></script>
        <script src="~/static/scripts/enum/constant.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
        <script src="~/static/scripts/noti/notify.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
        <script src="~/static/viewer/viewer.min.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
        <script src="~/static/viewer/jquery-viewer.min.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
        <script src="~/static/js/clipboard.min.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
        <script src="~/static/Metech/finessenongadget.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
        <script src="~/static/Metech/jabberwerx.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
        <script src="~/static/Metech/finesseC2CModule.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
        <script src="~/static/Metech/tongDai.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    </environment>
    <!--end::Page Scripts -->
    @RenderSection("Scripts", required: false)
</body>

<!-- end::Body -->
</html>
<script type="text/javascript">
    $(document).ready(function () { 
        tongDai.GetServiceCallInfoByUserID("btn_call_metech");
        $(".kt-select2").select2({
            placeholder: "Chọn giá trị"
        });
        $("input").attr("autocomplete", "off"); 
        //notify.loadCountNotify(department_KeToan, 'lbl_noti_ticket', 'ticket_notify_toggle', 'yêu cầu');
    });
</script>