﻿@{
    ViewData["Title"] = "Cập nhật thông tin đơn vay";
    var lstActionRateType = new List<int>
{
        (int)LMS.Common.Constants.PaymentSchedule_ActionRateType.RateDay,
        (int)LMS.Common.Constants.PaymentSchedule_ActionRateType.EndingBalance,
        (int)LMS.Common.Constants.PaymentSchedule_ActionRateType.ReducingBalance,
        (int)LMS.Common.Constants.PaymentSchedule_ActionRateType.RateDayMonthly,
        (int)LMS.Common.Constants.PaymentSchedule_ActionRateType.RateAmortizationMonthly,
        (int)LMS.Common.Constants.PaymentSchedule_ActionRateType.RateAmortization30DaysTopUp
    };
    var actionRateType = FrontEnd.Common.Helpers.EnumHelpers.GetValues<LMS.Common.Constants.PaymentSchedule_ActionRateType>().Where(x => lstActionRateType.Contains(x.Key)).ToList();
}
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    @ViewData["Title"]
                </h3>
            </div>
        </div>

        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right">
                <div class="row align-items-center">
                    <div class="col-xl-12 kt-margin-b-10">
                        <div class="row align-items-center">
                            <input type="hidden" id="ip-page-current" name="pagecurrent" value="1" />
                            <input type="hidden" id="ip-top" name="top" value="25" />
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile" style="max-width:300px">
                                <label><b>Mã HĐ</b></label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Tìm theo Mã HĐ, vd: TC-45203" id="txt_search">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile  kt-margin-t-25">
                                <button type="button" href="#" class="btn btn-info m-btn kt-btn--air" data-loading-text="Loading..." id="btnGetData">
                                    <span>
                                        Tìm kiếm
                                    </span>
                                </button>
                                <div class="d-md-none kt--margin-bottom-10"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <form class="kt-form kt-form--label-right">
                            <div class="modal-body">
                                <input type="hidden" id="hdd_loanID" value="0" />
                                <div class="form-group row">
                                    <label class="col-form-label col-lg-3 col-sm-4 col-4">
                                        Họ và tên
                                    </label>
                                    <div class="col-lg-6 col-sm-8 col-8">
                                        <input class="form-control" type="text" id="CustomerName" name="CustomerName" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-lg-3 col-sm-4 col-4">
                                        Thời gian vay (<span id="UnitTimeName"></span>)
                                    </label>
                                    <div class="col-lg-6 col-sm-8 col-8">
                                        <input class="form-control" type="number" id="LoanTime" name="LoanTime">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-lg-3 col-sm-4 col-4">
                                        Ngày giải ngân
                                    </label>
                                    <div class="col-lg-6 col-sm-8 col-8">
                                        <div class="input-group ">
                                            <input type="text" class="form-control kt_datepicker" id="StrFromDate" />
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="la la-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-lg-3 col-sm-4 col-4">
                                        Hình thức vay
                                    </label>
                                    <div class="col-lg-6 col-sm-8 col-8">
                                        <select class="form-control kt-select2" name="RateType" id="RateType">
                                            <option value="0">
                                                Chọn hình thức vay
                                            </option>
                                            @if (actionRateType != null && actionRateType.Count > 0)
                                            {
                                                foreach (var item in actionRateType)
                                                {
                                                    <option value="@item.Key">
                                                        @item.Value
                                                    </option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-lg-3 col-sm-4 col-4">
                                        Tiền lãi
                                    </label>
                                    <div class="col-lg-6 col-sm-8 col-8">
                                        <input class="form-control" type="number" id="RateInterest" name="RateInterest">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-lg-3 col-sm-4 col-4">
                                        Tiền tư vấn
                                    </label>
                                    <div class="col-lg-6 col-sm-8 col-8">
                                        <input class="form-control" type="number" id="RateConsultant" name="RateConsultant">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-lg-3 col-sm-4 col-4">
                                        Phí dịch vụ
                                    </label>
                                    <div class="col-lg-6 col-sm-8 col-8">
                                        <input class="form-control" type="number" id="RateService" name="RateService">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer row">
                                <div class="col-8 col-xl-8 col-md-8 col-sm-7">

                                </div>
                                <div class="col-4 col-xl-4 col-md-4 col-sm-5">
                                    <button type="button" class="btn btn-primary" id="btn_save" onclick="loan.Save()"><i class="fa fa-save"></i>Cập nhật</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>

    </div>
</div>

<!--begin::Modal LoanEdit-->
<partial name="~/Views/Loan/LoanEdit/LoanEdit.cshtml" />

<!--end::Modal-->

@section scripts {
    <environment include="Development">
        <script src="~/scripts/loan/loan.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/scripts/loan/loan.min.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    </environment> 
}
