﻿@model FrontEnd.Common.Models.Management.User.UserLoginModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var AdminUrl = Configuration["AppSettings:AdminUrl"];
    var CookieName = FrontEnd.Common.Helpers.Constants.STATIC_USERMODEL;
    ViewData["Title"] = "MENU";
    Layout = null;
}
<!DOCTYPE html>

<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 4 & Angular 8
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">

<!-- begin::Head -->
<head>
    <base href="../../../">
    <meta charset="utf-8" />
    <title>LMS | Tima</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">

    <!--end::Fonts -->
    <!--begin::Page Custom Styles(used by this page) -->
    <link href="assets/css/pages/error/error-5.css" rel="stylesheet" type="text/css" />

    <!--end::Page Custom Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="@AdminUrl/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="@AdminUrl/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />

    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <link href="@AdminUrl/assets/css/skins/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="@AdminUrl/assets/css/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="@AdminUrl/assets/css/skins/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="@AdminUrl/assets/css/skins/aside/dark.css" rel="stylesheet" type="text/css" />

    <!--end::Layout Skins -->
    <link rel="shortcut icon" href="~/assets/media/logos/favicon.ico" type="image/x-icon" />
    <script type="text/javascript">
          var ApiUrl = '@Configuration["Configuration:ApiUrl"]';
        var LoginUrl = '@Configuration["AppSettings:Login"]';
        var  STATIC_USERMODEL = '@CookieName';
    </script>
    <style>
        body { 
            font-family: none;
        }
        .titleThongBao {
            font-weight: bold;
            padding-right: 2px;
            padding-left: 2px;
            max-width: 39.66667%;
        }
        .valueThongBao {
            font-weight: bold;
            color: #5b9bd5;
            word-wrap: break-word;
            max-width: 60.66667%;
            padding-right: 2px;
            padding-left: 2px;
        }
    </style>
</head>

<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

    <!-- begin:: Page -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <!--Begin::Section-->
        <div class="row" style=" display: flex; justify-content: center; align-items: center; height: 100%; margin-top:20px">
            <div class="col-xl-12" style="width: 100%; max-width: 90%;">
                <div class="row" id="ThongBaoHeader" style="background-color:red; color:yellow">
                    <div class="col-xl-12" style="margin:20px; text-align:center">
                        <h1>
                            <b>THÔNG BÁO </b>
                        </h1>
                        <h1>
                            <b> VỀ HÀNH VI LỢI DỤNG TÍN NHIỆM CHIẾM ĐOẠT TIỀN VAY</b>
                        </h1>
                    </div>
                </div>
                <div class="row" id="ThongBaoContent">
                    <div class="col-xl-4" id="ThongBaoAnh" style="padding: 40px 20px;">
                        <img src="https://file.tima.vn/Uploads/CustomerCredit/2017/5/z673154633615_50b4f1cce300dbe449353d023d52b252_291233656.jpg" alt="Thông báo" style="max-width:100%;width:100%;" id="imageThongBao">
                    </div>
                    <div class="col-xl-8" id="ThongBaoNoiDung" style="padding: 40px 0 0 0; font-size: 30px; color: black;">
                        <div class="row" id="ThongBaoItem">
                            <div class="col-xl-6">
                                <div class="row" id="ThongBaoItem">
                                    <div class="col-xl-5 titleThongBao">
                                        Tên facebook
                                    </div>
                                    <div class="col-xl-7 valueThongBao" id="facebook">
                                        <span class="kt-spinner kt-spinner--sm kt-spinner--brand"></span>
                                    </div>
                                </div>
                                <div class="row" id="ThongBaoItem">
                                    <div class="col-xl-5 titleThongBao">
                                        Số điện thoại
                                    </div>
                                    <div class="col-xl-7 valueThongBao" id="phone">
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="row" id="ThongBaoItem">
                                    <div class="col-xl-5 titleThongBao">
                                        Họ và tên
                                    </div>
                                    <div class="col-xl-7 valueThongBao" id="fullname">
                                        
                                    </div>
                                </div>
                                <div class="row" id="ThongBaoItem">
                                    <div class="col-xl-5 titleThongBao">
                                        Năm sinh
                                    </div>
                                    <div class="col-xl-7 valueThongBao" id="dob">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding: 10px 0;">
                            <div class="col-xl-3 titleThongBao" style="max-width: 21%;">
                                Địa chỉ
                            </div>
                            <div class="col-xl-9 valueThongBao" id="adress">
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12" style="text-align:left">
                                Đối tượng đã làm hồ sơ vay của chúng tôi với số tiền <span id="TotalMoney" style="color:red; font-weight:bold" class="kt-spinner kt-spinner--sm kt-spinner--brand"></span> VNĐ <br />
                                <div style="border: 2px solid red">
                                    Đến nay đã quá hạn nhiều ngày, chúng tôi đã <b>nhiều lần liên hệ</b> nhưng vẫn <b>không thanh toán</b>, có hành vi <b>trốn tránh nhằm chiếm đoạt</b> tiền vay. Vậy nhờ Anh/Chị chuyển thông báo này tới đối tượng hoặc nếu biết thông tin của đối tượng xin báo cho Hotline

                                    <p style="text-align:center;color:red;font-size:45px" >
                                        <b>0967997366</b>
                                    </p>
                                    <h5 style="text-align:center"><b>TRÂN TRỌNG CÁM ƠN</b></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--End::Section-->
    </div>
    <!-- end:: Page -->
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#5d78ff",
                    "dark": "#282a3c",
                    "light": "#ffffff",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": [
                        "#c5cbe3",
                        "#a1a8c3",
                        "#3d4465",
                        "#3e4466"
                    ],
                    "shape": [
                        "#f0f3ff",
                        "#d9dffa",
                        "#afb4d4",
                        "#646c9a"
                    ]
                }
            }
        };
    </script>

    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="@AdminUrl/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
    <script src="@AdminUrl/assets/js/scripts.bundle.js" type="text/javascript"></script>
    <script src="~/static/scripts/Lib.js"></script>
    <script src="~/static/js/jquery.cookie.js"></script>
    <environment include="Development">
        <script src="~/static/js/baseCommon.js"></script>
        <script src="~/static/scripts/loan/thongBao/thongBao.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/static/js/baseCommon.min.js"></script>
        <script src="~/static/scripts/loan/thongBao/thongBao.min.js"></script>
    </environment>
    <!--end::Global Theme Bundle -->
</body>

<!-- end::Body -->
</html> 