﻿
@{
    ViewData["Title"] = "Dành cho trưởng phòng";
}
<style>
    .k-grid th, .k-grid td {
        border-left-color: #80808036 !important
    }

    .k-grid-content {
        width: 100%;
        min-height: 0;
        overflow: auto;
        overflow-x: auto;
        overflow-y: scroll !important;
        position: relative;
        -ms-flex: 1;
        flex: 1;
    }

    #gridLoan .k-grid-content {
        min-height: 100px !important;
        max-height: 610px !important;
    }
</style>
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Dành cho Trưởng phòng
                </h3>
            </div>
        </div>
        <div class="kt-portlet kt-portlet--tabs kt-portlet--sortable">
            <div class="kt-portlet__head ui-sortable-handle">
                <div class="kt-portlet__head-toolbar">
                    <ul class="nav nav-tabs nav-tabs-line nav-tabs-line-brand nav-tabs-line-2x nav-tabs-line-right nav-tabs-bold" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#m_tabs_nhanvien" role="tab">
                                <i class="fa fa-cloud-download-alt" aria-hidden="true"></i>Quản lý hợp đồng của nhân viên
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#m_tabs_Interaction" role="tab" id="history_interaction_manager">
                                <i class="fa fa-comment" aria-hidden="true"></i>Lịch sử tương tác
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="kt-portlet__body" style="padding-top:0px!important">
                <div class="tab-content">
                    <partial name="~/Views/DebtSettlement/partial_manager/_Tab_ManagementOfManager.cshtml" />
                    <partial name="~/Views/DebtSettlement/partial/_Tab_HistoryInteraction.cshtml" />
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="~/Views/DebtSettlement/partial_comment/HistoryComment.cshtml" />
@section Scripts {
    <script src="~/static/scripts/debtSettlement/manager/managerDebtSettlement.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    <script src="~/static/scripts/debtSettlement/manager/managerInteraction.js"></script>
}
