﻿@{
    Layout = null;
} 
<style>
    .tableId {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
</style>
<div class="row">
    <div class="col-xl-12">
        <div class="kt-section__body">
            <div class="row">
                <div class="col-lg-12"> 
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="gridLich">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>