﻿@{
    Layout = null;
}
<div>
    <div class="kt-portlet__head" style="padding-left:0px!important;border-bottom: none;">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon kt-hide">
                <i class="la la-gear"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                <i class="flaticon-clipboard"></i><b> Lịch sử xét duyệt</b>
            </h3>
        </div>
    </div>
    <!--begin::Section-->
    <div class="kt-section">
        <div class="kt-form kt-form--label-right">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="kt-section__body">
                            <div id="XetDuyet">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>