﻿@{
    Layout = null;
}
<style>
    .alignRight {
        text-align: right;
    }

    .alignLeft {
        text-align: left;
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="headerModelId">
          <span id="modalLoanDetailId"></span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>

    </div>
    <div class="modal-body">
        <div class="kt-portlet">
            <div class="kt-form kt-form--label-right">
                <div class="kt-portlet__body">
                    <partial name="~/Views/Loan/Detail/_partialDetailMain.cshtml" />
                </div>
            </div>
        </div>


        <div class="kt-portlet"> 
            <div class="kt-portlet__body">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_tabs_1_3" id="tab_paymentschedule" onclick="loanDetail.InitTabLichDongLaiPhi()">
                            <i class="la la-cloud-download"></i>  Lịch đóng lãi phí
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_tabs_1_8" onclick="loanDetail.InitTabGachNoTuyY()">
                            <i class="la la-university"></i> Gạch nợ tùy ý
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_tabs_1_9" onclick="loanDetail.InitDongHD()">
                            <i class="la la-check-square"></i> Đóng HĐ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_tabs_1_5" onclick="loanDetail.InitTabGiaHan()">
                            <i class="la la-money"></i>Gia hạn hợp đồng
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_tabs_lichsugiaodich" onclick="loanDetail.loadHistoryTransaction()">
                            <i class="la la-comment"></i> Lịch sử giao dịch
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_tabs_1_6" onclick="loanDetail.InitTabLichSuXetDuyet()">
                            <i class="la la-list"></i>Lịch sử xét duyệt
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_tabs_1_7" onclick="loanDetail.GetDataImagesLos()">
                            <i class="la la-photo"></i>Chứng từ
                        </a>
                    </li>
                    <li class="nav-item" hidden>
                        <a class="nav-link" data-toggle="tab" href="#kt_tabs_1_1">
                            <i class="la la-exclamation-triangle"></i> Tổng hợp
                        </a>
                    </li>
                    <li class="nav-item" hidden>
                        <a class="nav-link" data-toggle="tab" href="#kt_tabs_1_4">
                            <i class="la la-comment"></i> Trả bớt gốc
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_tabs_2_0" onclick="loanDetail.InitPhiPhatCham()">
                            <i class="la la-dollar"></i> Phí phạt chậm
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#kt_tabs_2_1" onclick="loanDetail.InitTabLSChuyenKhoanVay()">
                            <i class="la la-history"></i> Lịch sử chuyển khoan vay
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="kt_tabs_1_3" role="tabpanel">
                        <partial name="~/Views/Loan/Detail/_partialDetailTabLichDongLaiPhi.cshtml" />
                    </div>
                    <div class="tab-pane" id="kt_tabs_1_5" role="tabpanel">
                        <partial name="~/Views/Loan/Detail/_partialDetailTabGiaHan.cshtml" />
                    </div>
                    <div class="tab-pane" id="kt_tabs_1_1" role="tabpanel">
                        <partial name="~/Views/Loan/Detail/_partialDetailTabTongHop.cshtml" />
                    </div>
                    <div class="tab-pane" id="kt_tabs_1_6" role="tabpanel">
                        <partial name="~/Views/Loan/Detail/_partialDetailTabLichSuXetDuyet.cshtml" />
                    </div>
                    <div class="tab-pane" id="kt_tabs_1_7" role="tabpanel">
                        <partial name="~/Views/Loan/Detail/_partialDetailTabChungTu.cshtml" />
                    </div>
                    <div class="tab-pane" id="kt_tabs_1_4" role="tabpanel">
                        3
                    </div>
                    <div class="tab-pane" id="kt_tabs_lichsugiaodich" role="tabpanel">
                        <partial name="~/Views/Loan/Detail/_partialHistoryTransaction.cshtml" />
                    </div>
                    <div class="tab-pane" id="kt_tabs_1_8" role="tabpanel">
                        <partial name="~/Views/Loan/Detail/_partialDetailTabGachNo.cshtml" />
                    </div>
                    <div class="tab-pane" id="kt_tabs_1_9" role="tabpanel">
                        <partial name="~/Views/Loan/Detail/_partialDetailTabDongHD.cshtml" />
                    </div>
                    <div class="tab-pane" id="kt_tabs_2_0" role="tabpanel">
                        <partial name="~/Views/Loan/Detail/_partialDetailPhiPhatCham.cshtml" />
                    </div>
                    <div class="tab-pane" id="kt_tabs_2_1" role="tabpanel">
                        <partial name="~/Views/Loan/Detail/_partialDetailTabChuyenNhuongKhoanvay.cshtml" />
                    </div>
                </div> 
            </div>
        </div>

    </div>
</div>
 
