﻿@{
    ViewData["Title"] = "Quản lý đơn vay";
}
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Quản lý đơn vay
                </h3>
            </div>
        </div>
        <!--begin:: Widgets/Stats-->
        <div class="kt-portlet">
            <div class="kt-portlet__body  kt-portlet__body--fit">
                <div class="row row-no-padding row-col-separator-lg">
                    <div class="col-md-12 col-lg-6 col-xl-3">

                        <!--begin::Total Profit-->
                        <div class="kt-widget24">
                            <div class="kt-widget24__details">
                                <div class="kt-widget24__info">
                                    <h4 class="kt-widget24__title">
                                        Dư nợ
                                        <span class="kt-spinner kt-spinner--sm kt-spinner--brand" id="w_DebtMoneyBorrow"></span>
                                    </h4>
                                </div>
                                <span class="kt-widget24__stats kt-font-brand" id="DebtMoneyBorrow">

                                </span>
                            </div>
                        </div>

                        <!--end::Total Profit-->
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-3">

                        <!--begin::New Feedbacks-->
                        <div class="kt-widget24">
                            <div class="kt-widget24__details">
                                <div class="kt-widget24__info">
                                    <h4 class="kt-widget24__title">
                                        Tổng hợp đồng đang vay
                                        <span class="kt-spinner kt-spinner--sm kt-spinner--success" id="w_TotalLoanBorrow"></span>
                                    </h4>
                                </div>
                                <span class="kt-widget24__stats kt-font-success" id="TotalLoanBorrow">
                                </span>
                            </div>
                        </div>

                        <!--end::New Feedbacks-->
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-3">

                        <!--begin::New Orders-->
                        <div class="kt-widget24">
                            <div class="kt-widget24__details">
                                <div class="kt-widget24__info">
                                    <h4 class="kt-widget24__title">
                                        Nợ quá hạn
                                        <span class="kt-spinner kt-spinner--md kt-spinner--danger" id="w_OverDebtMoneyBorrow"></span>
                                    </h4>
                                </div>
                                <span class="kt-widget24__stats kt-font-danger" id="OverDebtMoneyBorrow">
                                </span>
                            </div>
                        </div>

                        <!--end::New Orders-->
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-3">

                        <!--begin::New Users-->
                        <div class="kt-widget24">
                            <div class="kt-widget24__details">
                                <div class="kt-widget24__info">
                                    <h4 class="kt-widget24__title">
                                        Số HĐ nợ quá hạn
                                        <span class="kt-spinner kt-spinner--lg kt-spinner--warning" id="w_TotalLoanBorrowOverDebt"></span>
                                    </h4>
                                </div>
                                <span class="kt-widget24__stats kt-font-warning" id="TotalLoanBorrowOverDebt">
                                </span>
                            </div>
                        </div>
                        <!--end::New Users-->
                    </div>
                </div>
            </div>
        </div>

        <!--end:: Widgets/Stats-->
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right">
                <div class="row align-items-center">
                    <div class="col-xl-12 kt-margin-b-10">
                        <div class="row align-items-center">
                            <input type="hidden" id="ip-page-current" name="pagecurrent" value="1" />
                            <input type="hidden" id="ip-top" name="top" value="25" />
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile" style="max-width:300px">
                                <label><b>Mã HĐ, tên KH</b></label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Tìm theo Mã HĐ, tên KH" id="txt_search">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile" style="max-width:300px">
                                <label><b>Cửa hàng</b></label>
                                <select class="form-control kt-select2" name="sl_search_shopID" id="sl_search_shopID">
                                    <option value="-111">
                                        Tất cả
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile" style="max-width:300px">
                                <label><b>Lender</b></label>
                                <select class="form-control" name="sl_search_lenderID" id="sl_search_lenderID">
                                </select>
                            </div>
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile" style="max-width:300px">
                                <label><b>Sản phẩm</b></label>
                                <select class="form-control kt-select2" name="ProductID" id="ProductID">
                                    <option value="-111">
                                        Tất cả
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile" style="max-width:300px">
                                <label><b>Trạng thái</b></label>
                                <select class="form-control kt-select2" name="sl_search_status" id="sl_search_status">
                                    <option value="1">Đang vay</option>
                                    <option value="30">Quá hạn 30 ngày</option>
                                    <option value="90">Quá hạn 90 ngày</option>
                                    <option value="102">Thanh lý</option>
                                    <option value="103">Thanh lý bảo hiểm</option>
                                    <option value="104">Đã đền bù bảo hiểm</option>
                                    <option value="101">Đã tất toán</option>
                                    <option value="-1">Đã hủy</option>
                                </select>
                            </div>
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile" style="max-width:300px">
                                <label><b>Từ ngày</b></label>
                                <div class="input-group ">
                                    <input type="text" class="form-control kt_datepicker" id="fromDate" autocomplete="off" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile" style="max-width:300px">
                                <label><b>Đến ngày</b></label>
                                <div class="input-group ">
                                    <input type="text" class="form-control kt_datepicker" id="toDate" autocomplete="off" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 kt-margin-b-20-tablet-and-mobile  kt-margin-t-25">
                                <button href="#" class="btn btn-info m-btn kt-btn--air" id="btnGetData">
                                    <span>
                                        Tìm kiếm
                                    </span>
                                </button>
                                <div class="d-md-none kt--margin-bottom-10"></div>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile  kt-margin-t-25">
                                <button class="btn btn-success m-btn kt-btn--air" onclick="loan.DownLoadFileExcel()">
                                    <i class="fa fa-download"></i>
                                    <span>
                                        Download File mẫu
                                    </span>
                                </button>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile  kt-margin-t-25" style="margin-left:-4%">
                                <button class="btn btn-success m-btn kt-btn--air" onclick="loan.ImportExcelStatus()">
                                    <i class="fa fa-file-import"></i>
                                    <span>
                                        Import excel
                                    </span>
                                </button>
                                <input type="file" id="upload-status" name="upload-status" style="display:none" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">

                        <div id="dv_result">

                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>

    </div>
</div>

<!--begin::Modal LoanEdit-->
<div class="modal fade" id="modalLoanEditId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" id="modalLoanEditBodyId">
        <partial name="~/Views/Loan/LoanEdit/LoanEdit.cshtml" />
    </div>
</div>
<partial name="~/Views/Loan/Detail/_partialLoanTransfer.cshtml" />
<!--end::Modal-->
<link href="~/static/css/slideShow.css" rel="stylesheet" />
@section scripts {
    <script src="~/static/scripts/loan/loan.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    <script src="~/static/scripts/loan/loanDetail.js"></script>
    <script src="~/static/js/SlideShow/SlideShow.min.js"></script>
    <script src="~/static/js/SlideShow/jQueryRotate.min.js"></script>
    <script src="~/static/js/SlideShow/jquery.transit.min.js"></script>
    <script src="~/static/ExcelToJSON/xlsx.full.min.js"></script>
}
