﻿@{
    ViewData["Title"] = "Quản lý đơn vay";
       var assignmentLoanType = FrontEnd.Common.Helpers.EnumHelpers.GetValues<LMS.Common.Constants.AssignmentLoan_Type>().ToList();
}

<style>

    .m-form .m-form__group {
        padding-bottom: 0;
    }

    .table-detail {
        margin-bottom: 0px;
    }

        .table-detail th, .table-detail td {
            border: unset !important
        }

    .alert {
        margin-bottom: 0;
    }

    .alert-primary:not(.m-alert--outline) {
        color: white;
        background-color: #5867dd;
        border-color: #5867dd;
    }

    .nextstep-buttons {
        float: left;
        margin: 8px;
        margin-left: 50px;
    }

    .loan-buttons:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        line-height: 0;
        border: 21px solid rgba(12,11,11,0);
        border-left: 13px solid #5d78ff;
        border-top: 30px solid #5d78ff;
        right: -34px;
        bottom: 0;
    }

    .swal-wide {
        width: 1000px !important;
        /*padding :10px !important;*/
    }

    .nav-link {
        padding: 0.7rem 0.7rem;
    }

    .nav-tabs .nav-link {
        border: none !important
    }

    table tr {
        cursor: pointer;
    }

    .tab-table th, .tab-table td {
        padding: 0.30rem !important;
    }

    .m-demo .m-demo__preview {
        background: #f4f6f8;
        border: none !important
    }

    .content-details-loan {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
    }

    .nav-tabs .nav-link.active {
        font-weight: bold !important;
    }


    .border-child {
        border-left: 1px solid rgba(34,36,38,.1) !important;
    }

    /*slideshow
                                                                                                                                                                                            .scroll {
                                                                                                                                                                                                margin: 4px, 4px;
                                                                                                                                                                                                padding: 4px;
                                                                                                                                                                                                background-color: green;
                                                                                                                                                                                                overflow-x: hidden;
                                                                                                                                                                                                overflow-x: auto;
                                                                                                                                                                                                text-align: justify;
                                                                                                                                                                                                min-height: 337px;
                                                                                                                                                                                            }
                                                                                                                                                                                                */

    .zoomImgs {
        width: 150px;
    }

    .table-detail {
        margin-bottom: 0px;
    }

        .table-detail th, .table-detail td {
            border: unset !important
        }

    .tab-table th, .tab-table td {
        padding: 0.30rem !important;
    }

    .m-demo .m-demo__preview {
        background: #f4f6f8;
        border: none !important
    }

    .content-details-loan {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
    }

    .table {
        color: white !important;
    }

    .btn.btn-default, .btn.btn-secondary {
        background: white;
        border-color: #ebedf2;
    }
</style>
<style>
    .k-grid-content {
        width: 100%;
        min-height: 0;
        overflow: auto;
        overflow-x: auto;
        overflow-y: scroll !important;
        position: relative;
        -ms-flex: 1;
        flex: 1;
    }

    #gridLoan .k-grid-content {
        min-height: 100px !important;
        max-height: 610px !important;
    }

    .k-grid-header .k-header {
        /*height: 20px;*/
        padding: 8px
    }

    .k-grid tbody tr {
        line-height: 14px;
    }

    .k-grid tbody td {
        padding: 8px;
    }
    /*header auto wapping*/
    .k-grid .k-grid-header .k-header .k-link {
        height: auto;
    }

    .k-grid .k-grid-header .k-header {
        white-space: normal;
    }
</style>
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Quản lý đơn vay
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right">
                <div class="row align-items-center">
                    <div class="col-xl-12 kt-margin-b-10">
                        <div class="row align-items-center">
                            <input type="hidden" id="ip-page-current" name="pagecurrent" value="1" autocomplete="off">
                            <input type="hidden" id="ip-top" name="top" value="25" autocomplete="off">
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <label><b>Mã HĐ, tên KH, CMT, SĐT</b></label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Tìm theo mã hợp đồng, họ tên KH, sđt, cmt" id="KeySearch" autocomplete="off">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-2 col-xl-2 kt-margin-b-20-tablet-and-mobile">
                                <label style="min-width: 100px"><b>Số ngày quá hạn</b></label>
                                <select class="form-control kt-select2" name="sl_search_DPD" id="sl_search_DPD">
                                    <option value="-111" selected>Tất cả</option>
                                    <option value="7">KH có PTP</option>
                                    <option value="0">0 ngày</option>
                                    <option value="-5">Trước hạn trên 4 ngày</option>
                                    <option value="-1">Trước hạn từ 1 - 4 ngày</option>
                                    <option value="1">Quá hạn từ 1 - 4 ngày</option>
                                    <option value="5">Quá hạn từ 5 ngày</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-xl-2 kt-margin-b-20-tablet-and-mobile" id="form_leaderHidden">
                                <label style="min-width: 100px"><b>Quản lý</b></label>
                                <select class="form-control kt-select2" name="sl_search_leader" id="sl_search_leader">
                                </select>
                            </div>
                            <div class="col-lg-2 col-xl-2 kt-margin-b-20-tablet-and-mobile">
                                <label style="min-width: 100px"><b>Nhân viên</b></label>
                                <select class="form-control kt-select2" name="sl_search_staff" id="sl_search_staff">
                                </select>
                            </div>
                             <div class="col-lg-2 col-xl-2 kt-margin-b-20-tablet-and-mobile">
                                <label style="min-width: 100px"><b>Giỏ</b></label>
                                <select class="form-control kt-select2" name="sl_assignmentLoanType" id="sl_assignmentLoanType">
                                      <option selected value="-111">Tất cả</option>
                                    @foreach (var item in assignmentLoanType)
                                    {
                                        <option value="@item.Key">@item.Value</option>
                                    }
                                </select>
                            </div>
                            <div class="col-lg-3 col-xl-2 kt-margin-b-20-tablet-and-mobile  kt-margin-t-25">
                                <button class="btn btn-info m-btn kt-btn--air" id="btnGetData">
                                    <span>
                                        Tìm kiếm
                                    </span>
                                </button>
                                <button type="button" class="btn btn-success" onclick="loan.ExportExcel()">
                                    <i class="fa fa-file-excel"></i> Xuất Excel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-5 col-sm-12" id="col1">
                        <div id="gridLoan">
                        </div>
                        <ul id="context-menu">
                            <li id="copyText"></li>
                        </ul>
                        <script type="text/x-kendo-template" id="template">
                            <div class="detailTabstrip">
                                <div>
                                    <div class="orders"></div>
                                </div>
                            </div>
                        </script>
                    </div>

                    <div class="col-xl-7 col-sm-12" id="col2">
                        <partial name="~/Views/LoanLeaderCall/Detail/_partialDetailMain.cshtml" />
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>

    </div>
</div>
<partial name="~/Views/LoanLeaderCall/Detail/_partialModalChungTu.cshtml" />
<partial name="~/Views/LoanLeaderCall/TopFriendsFacebook.cshtml" />
<partial name="~/Views/Shared/Location/DetailsLocation.cshtml" />
<partial name="~/Views/Shared/Location/RealtimeLocation.cshtml" />
<partial name="~/Views/LoanLeaderCall/Detail/_partialModalThongBao.cshtml" />

@section scripts {
<script src="~/static/scripts/loanLeaderCall/loan.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/static/scripts/loanLeaderCall/loanDetail.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/static/js/SlideShow/SlideShow.min.js"></script>
<script src="~/static/js/SlideShow/jQueryRotate.min.js"></script>
<script src="~/static/js/SlideShow/jquery.transit.min.js"></script>
<script src="~/static/scripts/loanLeaderCall/Detail/tatToanHD.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/static/scripts/loanLeaderCall/Detail/lichSuNhacNo.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/static/scripts/loanLeaderCall/Detail/lichSuXetDuyet.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/static/scripts/loanLeaderCall/Detail/duThu.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/static/scripts/loanLeaderCall/Detail/tabLichDongLaiPhi.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/static/scripts/loanLeaderCall/Detail/lichSuDongTien.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<link href="~/static/css/video-js.css" rel="stylesheet" />
<script src="~/static/js/video.min.js"></script>
<script src="~/static/scripts/loanLeaderCall/Detail/tabVideo.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/static/scripts/loanLeaderCall/Detail/tabChungTu.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/static/scripts/loanLeaderCall/Detail/tabThayDoiSdt.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/static/scripts/shared/GoogleMapModule.js"></script>
<script src="~/static/scripts/loanLeaderCall/scriptMap/scripts.bundle.js"></script>
<script src="~/static/scripts/appraisal/uploadImageDropzone.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/static/scripts/appraisal/historyComment.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script type="text/javascript">
    $(document).ready(function () {
        GoogleMapModule.Init('');
        GoogleMapModule.InitMapOnly('googleMapDiv');
        tongDai.GetServiceCallInfoByUserID("btnClickToCallCustomer");
        lichSuNhacNo.GetDataSelectReason();
    });
</script>
<script src="~/static/assets/ckeditor/ckeditor.js"></script>
<script>
    var editor = CKEDITOR.replace('txt_Note', {
        customConfig: "config.js",
    });
</script>
<script src="~/static/scripts/loanLeaderCall/Detail/tranData.js"></script>
<script src="~/static/scripts/loan/Detail/tabSms.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
}
