﻿@{
    ViewData["Title"] = "Quản lý phiếu thu chi";
    var groupInvoiceTypes = FrontEnd.Common.Helpers.EnumHelpers.GetValues<LMS.Common.Constants.GroupInvoiceType>().ToList();
    var invoice_Status = FrontEnd.Common.Helpers.EnumHelpers.GetValues<LMS.Common.Constants.Invoice_Status>().ToList();
    var groupInvoiceType = FrontEnd.Common.Helpers.EnumHelpers.GetValues<LMS.Common.Constants.GroupInvoiceType>().ToList();
    var enumInvoice_Payee = FrontEnd.Common.Helpers.EnumHelpers.GetValues<LMS.Common.Constants.Invoice_Payee>().ToList();
}
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Quản lý phiếu thu chi
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-section">
                <div class="kt-section__content">
                    <div class="row">
                        <input type="hidden" id="ip-page-current" name="pagecurrent" value="1" />
                        <input type="hidden" id="ip-top" name="top" value="25" />
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Loại phiếu</label>
                                <select class="form-control kt-select2" name="InvoiceType" id="InvoiceType">
                                    <option value="-111">
                                        Tất cả
                                    </option>
                                    @if (groupInvoiceTypes != null && groupInvoiceTypes.Count > 0)
                                    {
                                        foreach (var invoice in groupInvoiceTypes.Where(x => x.Key <= 2))
                                        {
                                            <option value="@invoice.Key">
                                                @invoice.Value
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Loại phiếu chi tiết</label>
                                <select class="form-control kt-select2" name="InvoiceSubType" id="InvoiceSubType">
                                    <option value="-111">
                                        Tất cả
                                    </option>
                                    @if (groupInvoiceTypes != null && groupInvoiceTypes.Count > 0)
                                    {
                                        foreach (var invoice in groupInvoiceTypes.Where(x => x.Key > 2 && x.Key != 2005 && x.Key != 1008 && x.Key != 2009 && x.Key != 2010 && x.Key != 2008 && x.Key != 2012 && x.Key != 2011))
                                        {
                                            <option value="@invoice.Key">
                                                @invoice.Value
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Cửa hàng</label>
                                <select class="form-control kt-select2" name="ShopID" id="ShopID">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Thẻ ngân hàng</label>
                                <select class="form-control kt-select2" name="BankCardID" id="BankCardID">
                                    <option value="-111">
                                        Tất cả
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Trạng thái</label>
                                <select class="form-control kt-select2" name="Status" id="Status">
                                    <option value="-111">
                                        Tất cả
                                    </option>
                                    @if (invoice_Status != null && invoice_Status.Count > 0)
                                    {
                                        foreach (var item in invoice_Status)
                                        {
                                            <option value="@item.Key">
                                                @item.Value
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Từ ngày</label>
                                <div class="input-group date">
                                    <input type="text" class="form-control kt_datepicker" id="fromDate" autocomplete="off" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Đến ngày</label>
                                <div class="input-group date">
                                    <input type="text" class="form-control kt_datepicker" id="toDate" autocomplete="off" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label style="padding-top: 12px;"></label>
                                <div class="input-group date">
                                    <button href="#" class="btn btn-info m-btn kt-btn--air" id="btnGetData">
                                        <span>
                                            Tìm kiếm
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->

            <div class="kt-section">
                <div class="kt-section__content">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-xl-2">
                            <input id="CreateInvoiceReceipt" style="width: 100%;" class="form-control" />
                        </div>
                        <div class="col-sm-6 col-md-4 col-xl-3">
                            <input id="CreateInvoicePay" style="width: 100%;" class="form-control" />
                        </div>
                        <div class="col-sm-4 col-md-4 col-xl-3">
                            <span id="CreateInvoiceInternal" title="" class="k-widget k-dropdown form-control" style="width: 100%;"><span class="k-dropdown-wrap k-state-default"><span id="b423a546-9216-4dcd-9b72-2e060206b30c" class="k-input"><span style="color:#0d460d; font-weight: bold; font-size: 16px;"><i class="fa fa-file-invoice-dollar"> </i> Chuyển tiền nội bộ  </span></span><span class="k-select"><span class="k-icon k-i-arrow-60-down"></span></span></span><input id="CreateInvoicePay" style="width: 100%; display: none;" class="form-control"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-section">
                <div class="kt-section__content">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="grid">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="~/Views/Invoice/Detail/_invoiceDetail.cshtml" />
<partial name="~/Views/Invoice/CreateInvoice/_partialInvoice.cshtml" />
<partial name="~/Views/Invoice/CreateInvoice/_partialOther.cshtml" />

@section Scripts {
    <script src="~/static/scripts/invoice/invoice.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    <script src="~/static/scripts/invoice/createInvoice.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    <script>
        var listBankCard = @Html.Raw(Json.Serialize((List<FrontEnd.Common.Entites.SelectItem>)ViewBag.ListBankCard));
        var enumGroupInvoiceType =  @FrontEnd.Common.Helpers.EnumHelpers.ConvertToJson(typeof(LMS.Common.Constants.GroupInvoiceType));
        var enumInvoice_Payee = @Html.Raw(Json.Serialize(enumInvoice_Payee.ToList()));
        var createInvoiceReceipt = @Html.Raw(Json.Serialize(groupInvoiceType.Where(x => x.Key < 2000 && x.Key > 2 && x.Key != 1004 && x.Key != 1008 && x.Key != 2009 && x.Key != 2010 && x.Key != 2008 && x.Key != 2012 && x.Key != 2011).ToList())); // loại bỏ phiếu chuyển tiền nội bộ 1004
        var createInvoicePay = @Html.Raw(Json.Serialize(groupInvoiceType.Where(x => x.Key >= 2000 && x.Key != 2002 && x.Key != 2005 && x.Key != 1008 && x.Key != 2009 && x.Key != 2010 && x.Key != 2008 && x.Key != 2012 && x.Key != 2011).ToList()));// loại bỏ phiếu chuyển tiền nội bộ 2002, tạm ứng cho lender 2005, Thu tiền đối tác 1008
        var statusCommon =  @FrontEnd.Common.Helpers.EnumHelpers.ConvertToJson(typeof(LMS.Common.Constants.StatusCommon));
        $(document).ready(function () {
            invoice.Init();
            createInvoice.Init();
        });
    </script>
}
