﻿<div class="tab-pane active" id="m_tabs_nhanvien" role="tabpanel">
    <div class="kt-portlet kt-portlet--mobile">
        <!--begin: Search Form -->
        <div class="row align-items-center">
            <div class="col-xl-12 kt-margin-b-10">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-xl-2 kt-margin-b-20-tablet-and-mobile">
                        <label style="min-width: 100px"></label>
                        <select class="form-control kt-select2 sl_departmentID" name="sl_departmentID" id="sl_departmentID">
                          
                        </select>
                    </div>
                    <div class="col-lg-3 col-xl-2 kt-margin-b-20-tablet-and-mobile">
                        <label style="min-width: 100px"></label>
                        <select class="form-control kt-select2" name="sl_managerID" id="sl_managerID">
                        </select>
                    </div>
                    <div class="col-lg-3 col-xl-2 kt-margin-b-20-tablet-and-mobile">
                        <label style="min-width: 100px"></label>
                        <select class="form-control kt-select2" name="sl_leaderID" id="sl_leaderID">
                        </select>
                    </div>
                    <div class="col-lg-3 col-xl-2 kt-margin-b-20-tablet-and-mobile">
                        <label style="min-width: 100px"></label>
                        <select class="form-control kt-select2" name="sl_employeeID" id="sl_employeeID">
                        </select>
                    </div>
                    <div class="col-lg-3 col-xl-2 kt-margin-b-20-tablet-and-mobile">
                        <label></label>
                        <div class="input-group date">
                            <input type="text" class="form-control kt_datepicker" id="fromDate" autocomplete="off" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xl-2 kt-margin-b-20-tablet-and-mobile" style="margin-top:19px!important">
                        <button class="btn btn-info m-btn kt-btn--air" id="btnGetData">
                            <span>
                                Tìm kiếm
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-sm-12">
                <div id="gridLoan">

                </div>
            </div>
            <div class="col-xl-8 col-sm-12">
                <partial name="~/Views/DebtSettlement/partial/TableDetail.cshtml" />
            </div>
        </div>
    </div>
    <!--end: Search Form -->
</div>
