﻿<div class="tab-pane" id="m_tabs_Interaction" role="tabpanel">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="row align-items-center">
            <div class="col-xl-12 kt-margin-b-10" style="margin-top:10px">
                <div class="row align-items-center">
                    <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                        <label><b>Mã HĐ,Tên khách hàng</b></label>
                        <div class="kt-input-icon kt-input-icon--left">
                            <input type="text" class="form-control" placeholder="Mã HĐ,Tên khách hàng" id="KeySearch_Interaction" autocomplete="off">
                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                <span><i class="la la-search"></i></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xl-2 kt-margin-b-20-tablet-and-mobile">
                        <label><b>Trưởng phòng</b></label>
                        <div class="kt-input-icon kt-input-icon--left">
                            <select class="form-control kt-select2" name="sl_employeeID" id="sl_managerID_Interaction" style="width:100%">
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xl-2 kt-margin-b-20-tablet-and-mobile">
                        <label><b>Trưởng nhóm</b></label>
                        <div class="kt-input-icon kt-input-icon--left">
                            <select class="form-control kt-select2" name="sl_employeeID" id="sl_leaderID_Interaction" style="width:100%">
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xl-2 kt-margin-b-20-tablet-and-mobile">
                        <label><b>Nhân viên</b></label>
                        <div class="kt-input-icon kt-input-icon--left">
                            <select class="form-control kt-select2" name="sl_employeeID" id="sl_employeeID_Interaction" style="width:100%">
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                        <label><b>Từ ngày</b></label>
                        <div class="input-group date">
                            <input type="text" class="form-control kt_datepicker" id="fromDate_Interaction" autocomplete="off" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                        <label><b>Đến ngày</b></label>
                        <div class="input-group date">
                            <input type="text" class="form-control kt_datepicker" id="toDate_Interaction" autocomplete="off" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="la la-calendar"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xl-2 kt-margin-b-20-tablet-and-mobile" style="margin-top:19px!important">
                        <button class="btn btn-info m-btn kt-btn--air" id="btnGetData_Interaction">
                            <span>
                                Tìm kiếm
                            </span>
                        </button>
                        <button type="button" class="btn btn-success" onclick="debtSettlementInteraction.ExportExcel()">
                            <i class="fa fa-file-excel"></i> Xuất Excel
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="dv_result_interaction">
                </div>
            </div>
        </div>
    </div>
</div>
