﻿<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon2-list-3"></i>
            </span>
            <h3 class="kt-portlet__head-title" style="font-weight:600!important">
                Danh sách hợp đồng xử lý của: <span id="userName_tableDetail"></span>
            </h3>
        </div>
    </div>
    <!--begin: Search Form -->
    <div class="kt-form kt-form--label-right">
        <div class="row align-items-center">
            <div class="col-xl-12 kt-margin-b-10">
                <div class="row align-items-center">
                    <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                        <label></label>
                        <div class="kt-input-icon kt-input-icon--left">
                            <input type="text" class="form-control" placeholder="Tìm theo Mã HĐ, tên khách hàng, SĐT" id="txt_search">
                            <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                <span><i class="la la-search"></i></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                        <label style="min-width: 100px"></label>
                        <select class="form-control kt-select2" name="sl_provinceID" id="sl_provinceID">
                        </select>
                    </div>
                    <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                        <label style="min-width: 100px"></label>
                        <select class="form-control kt-select2" name="sl_productID" id="sl_productID">
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="dv_result" class="table-responsive">

                </div>
            </div>
        </div>
    </div>
    <!--end: Search Form -->
</div>
