﻿@{
    Layout = null;
}
<div class="modal fade" id="modal_partialLoanTransfer" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="headerId">Thông tin đơn vay</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="kt-form kt-form--label-right">
                <div class="modal-body">
                    <input type="hidden" id="hdd_LoanID" value="0" />
                    <div class="form-group row">
                        <label class="col-form-label col-lg-4 col-sm-5 col-5">
                            Mã NĐT hiện tại
                        </label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            <input class="form-control" type="text" disabled id="lenderCode" name="lenderCode">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-4 col-sm-5 col-5">
                            Chọn NĐT chuyển nhượng
                        </label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            <select class="form-control col-lg-6 col-sm-8 col-8" name="sl_search_TransferLender" style="width:100%" id="sl_search_TransferLender">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-4 col-sm-5 col-5">
                            Thời gian áp dụng
                        </label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            <div class="input-group date">
                                <input type="text" class="form-control kt_datepicker" id="date_transfer" autocomplete="off" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer row">
                    <div class="col-6">
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-primary" id="btn_save_loantransfer" onclick="loan.Save_LoanTransfer()"><i class="fa fa-save"></i>Đồng ý</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
