﻿@{
    Layout = null;
}
<style>
    .padding-footer {
        padding: 7px !important
    }

    .control-label {
        padding-top: 7px !important
    }
</style>
<div>
    <div class="row">
        <input type="hidden" id="hdd_dongHD" value="0" />
        <div class="col-xl-3">
        </div>
        <div class="col-xl-6">
            <div class="kt-section__body">
                <div class="form-group row">
                    <label class="col-xl-4 col-lg-4 col-form-label alignRight">Ngày đóng HĐ:</label>
                    <div class="col-lg-4 col-xl-6">
                        <input class="form-control" id="dongHD_CloseDate" autocomplete="off" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-4 col-lg-4 col-form-label alignRight">Tiền gốc:</label>
                <div class="col-lg-8 col-xl-6 control-label">
                    <span style="color: blue" id="dongHD_MoneyOriginal"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-4 col-lg-4 col-form-label alignRight">Nợ cũ:</label>
                <div class="col-lg-8 col-xl-6 control-label">
                    <span style="color: blue" id="dongHD_MoneyFineLate"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-4 col-lg-4 col-form-label alignRight">Tiền lãi:</label>
                <div class="col-lg-8 col-xl-6 control-label">
                    <span style="color: blue" id="dongHD_MoneyInterest"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-4 col-lg-4 col-form-label alignRight">Phí tư vấn:</label>
                <div class="col-lg-8 col-xl-6 control-label">
                    <span style="color: blue" id="dongHD_MoneyConsultant"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-4 col-lg-4 col-form-label alignRight">Phí dịch vụ:</label>
                <div class="col-lg-8 col-xl-6 control-label">
                    <span style="color: blue" id="dongHD_MoneyService"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-4 col-lg-4 col-form-label alignRight">Tiền lãi + phí:</label>
                <div class="col-lg-8 col-xl-6 control-label">
                    <span style="color: blue" id="dongHD_TotalInterest"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-4 col-lg-4 col-form-label alignRight">Tiền tất toán sớm <span style="color:red">*</span></label>
                <div class="col-lg-8 col-xl-6 control-label">
                    <span style="color: blue" id="dongHD_MoneyFineOriginal"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-4 col-lg-4 col-form-label alignRight">Tổng tiền tất toán:</label>
                <div class="col-lg-8 col-xl-6 control-label">
                    <span style="color: red" id="dongHD_TotalMoneyCloseLoan"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="kt-portlet__foot padding-footer">
    <div class="kt-form__actions">
        <div class="row">
            <div class="col-xl-5 col-sm-4">
            </div>
            <div class="col-xl-7 col-sm-8">
                <button id="btn_save_dongHD" class="btn btn-brand btn-elevate kt-login__btn-primary" onclick="loanDetail.Save_DongHD()">Đóng HĐ</button>
            </div>
        </div>
    </div>
</div>
