﻿@{
    Layout = null;
}
<div>
    <label style="font-weight:bold;"><i class="flaticon-user"></i> Thông tin khách hàng </label>
</div>
<div class="kt-separator kt-separator--dashed"></div>
<div class="row">
    <div class="col-xl-6">
        <div class="kt-section__body">
            <div class="form-group row">
                <label class="col-xl-4 col-lg-4 col-form-label alignRight">Tên khách hàng:</label>
                <div class="col-lg-8 col-xl-8">
                    <span class="form-control-plaintext kt-font-bolder alignLeft">Hải Phạm</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-4 col-lg-4 col-form-label alignRight">Số dư:</label>
                <div class="col-lg-6 col-xl-6">
                    <span class="form-control-plaintext kt-font-bolder alignLeft">10,000,000</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-4 col-lg-4 col-form-label alignRight">Số tiền vay gốc:</label>
                <div class="col-lg-6 col-xl-6">
                    <span class="form-control-plaintext kt-font-bolder alignLeft">10,000,000</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-4 col-lg-4 col-form-label alignRight">Số tiền gốc còn lại:</label>
                <div class="col-lg-6 col-xl-6">
                    <span class="form-control-plaintext kt-font-bolder alignLeft">10,000,000</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-4 col-lg-4 col-form-label alignRight">Gói sản phẩm:</label>
                <div class="col-lg-6 col-xl-6">
                    <span class="form-control-plaintext kt-font-bolder alignLeft">Vay qua xe máy</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="kt-section__body">
            <div class="form-group row">
                <label class="col-xl-4 col-lg-4 col-form-label alignRight">Tên khách hàng:</label>
                <div class="col-lg-8 col-xl-8">
                    <span class="form-control-plaintext kt-font-bolder alignLeft">Hải Phạm</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-4 col-lg-4 col-form-label alignRight">Số dư:</label>
                <div class="col-lg-6 col-xl-6">
                    <span class="form-control-plaintext kt-font-bolder alignLeft">10,000,000</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-4 col-lg-4 col-form-label alignRight">Số tiền vay gốc:</label>
                <div class="col-lg-6 col-xl-6">
                    <span class="form-control-plaintext kt-font-bolder alignLeft">10,000,000</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-4 col-lg-4 col-form-label alignRight">Số tiền gốc còn lại:</label>
                <div class="col-lg-6 col-xl-6">
                    <span class="form-control-plaintext kt-font-bolder alignLeft">10,000,000</span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-4 col-lg-4 col-form-label alignRight">Gói sản phẩm:</label>
                <div class="col-lg-6 col-xl-6">
                    <span class="form-control-plaintext kt-font-bolder alignLeft">Vay qua xe máy</span>
                </div>
            </div>
        </div>
    </div>

</div>