﻿
@{
    Layout = null;
}

@*<h6 class="col-md-12">
    <i class="kt-portlet__head-text">
        <i class="fa fa-align-justify"></i> <u>Lịch sử giao dịch</u>
    </i>
</h6>*@
<div class="col-md-12" style="padding-top: 5px;">
    <table class="table kt-table  table-bordered " style=" vertical-align: middle;">
        <thead class="kt-header-blue">
            <tr>
                <th class="text-center" style="width:60px;">
                    STT
                </th>
                <th class="text-left">
                    Ngày
                </th>
                <th class="text-left">
                    Giao dịch viên
                </th>
                <th class="text-right">
                    Số tiền ghi nợ
                </th>
                <th class="text-right">
                    Số tiền ghi có
                </th>
                <th class="text-left">Loại tiền</th>
                <th class="text-left">Nội dung</th>
            </tr>
        </thead>
        <tbody id="tbl_historyTransaction">
        </tbody>
    </table>
</div>
