﻿@{
    Layout = null;
} 
<div class="row">
    <div class="col-xl-12">
        <div class="kt-section__body">
            <div class="row">
                <div class="col-lg-12">
                    <div id="XetDuyet">
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>