﻿@{
    Layout = null;
} 
<div class="row">
    <div class="col-xl-12">
        <div class="kt-section__body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="GenPaymentId" style="margin-bottom: 5px; display:none;">
                        <div class="col-lg-12">
                            <button class="btn btn-success" id="btnGenPayment" onclick="loanDetail.GenPaymentScheduleByLoanID()">
                                Tạo lịch
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" id="Lich">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>