﻿@{
    Layout = null;
}
<div class="row">
    <div class="col-xl-6 col-md-6">
        <div class="form-group form-group-xs row">
            <label class="col-4 col-form-label">Tên khách hàng:</label>
            <div class="col-8">
                <span class="form-control-plaintext kt-font-bolder" id="sp_CustomerName"></span>
            </div>
        </div>
        <div class="form-group form-group-xs row">
            <label class="col-4 col-form-label">Số tiền vay:</label>
            <div class="col-8">
                <span class="form-control-plaintext kt-font-bolder" id="sp_TotalMoneyDisbursement"></span>
            </div>
        </div>
        <div class="form-group form-group-xs row">
            <label class="col-4 col-form-label">Dự nợ gốc còn lại:</label>
            <div class="col-8">
                <span class="form-control-plaintext"><span class="kt-font-bolder" id="sp_TotalMoneyCurrent"> </span> </span>
            </div>
        </div>
        <div class="form-group form-group-xs row">
            <label class="col-4 col-form-label">Gói sản phẩm:</label>
            <div class="col-8">
                <span class="form-control-plaintext kt-font-bolder" id="sp_ProductName"></span>
            </div>
        </div>
        <div class="form-group form-group-xs row">
            <label class="col-4 col-form-label">Thời gian vay:</label>
            <div class="col-8">
                <span class="form-control-plaintext kt-font-bolder" id="sp_LoanTime"></span>
            </div>
        </div>
        <div class="form-group form-group-xs row">
            <label class="col-4 col-form-label">Ngày đóng lãi tiếp theo:</label>
            <div class="col-8">
                <span class="form-control-plaintext kt-font-bolder" id="sp_NextDate"></span>
            </div>
        </div>
        <div class="form-group form-group-xs row">
            <label class="col-4 col-form-label">Ngày đóng lãi lần cuối:</label>
            <div class="col-8">
                <span class="form-control-plaintext kt-font-bolder" id="sp_LastDateOfPay"></span>
            </div>
        </div>
        <div class="form-group form-group-xs row">
            <label class="col-4 col-form-label">Phí phạt trả chậm:</label>
            <div class="col-8">
                <span class="form-control-plaintext kt-font-bolder" id="sp_PhiPhat"></span>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-md-6">
        <div class="form-group form-group-xs row">
            <label class="col-4 col-form-label">Số dư:</label>
            <div class="col-8">
                <span class="form-control-plaintext kt-font-bolder" id="sp_CustomerTotalMoney"></span>
            </div>
        </div>
        <div class="form-group form-group-xs row">
            <label class="col-4 col-form-label">Hình thức vay:</label>
            <div class="col-8">
                <span class="form-control-plaintext kt-font-bolder" id="sp_RateTypeName"></span>
            </div>
        </div>
        <div class="form-group form-group-xs row">
            <label class="col-4 col-form-label">Ngày giải ngân:</label>
            <div class="col-8">
                <span class="form-control-plaintext kt-font-bolder" id="sp_FromDate"></span>
            </div>
        </div>
        <div class="form-group form-group-xs row">
            <label class="col-4 col-form-label">Ngày đáo hạn:</label>
            <div class="col-8">
                <span class="form-control-plaintext kt-font-bolder" id="sp_ToDate"> </span>
            </div>
        </div>
        <div class="form-group form-group-xs row">
            <label class="col-4 col-form-label">Link GCN Cho Vay:</label>
            <div class="col-8">
                <span class="form-control-plaintext kt-font-bolder" >
                    <a href="#" id="sp_linkGCNChoVay">
                    </a>
                </span> 
            </div>
        </div>
        <div class="form-group form-group-xs row">
            <label class="col-4 col-form-label">Link GCN Vay:</label>
            <div class="col-8">
                <span class="form-control-plaintext kt-font-bolder">
                    <a href="#" id="sp_linkGCNVay">
                    </a>
                </span> 
            </div>
        </div>
    </div>
</div> 