﻿
@{
    Layout = null;
    var enumBankCard_TypePurPose = FrontEnd.Common.Helpers.EnumHelpers.GetValues<LMS.Common.Constants.BankCard_TypePurpose>().ToList();
}

<div class="modal fade" id="modal_edit_bankCard" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="header_edit_bankCard"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="kt-form kt-form--label-right">
                <div class="modal-body">
                    <input type="hidden" name="BankCardID" id="hdd_edit_BankID" value="0" />
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                            Ngân hàng
                        </label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            @*<input class="form-control" type="text" id="txt_bankcode" name="BankCode" placeholder="Nhập mã ngân hàng">*@
                            <select class="form-control kt-select2" name="BankID" id="txt_bankID" style="width:100%">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                            Tên chi nhánh <span style="color:red">*</span>
                        </label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            <input class="form-control" type="text" id="txt_branchName" name="BranchName" placeholder="Nhập tên chi nhánh">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                            Số tài khoản <span style="color:red">*</span>
                        </label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            <input class="form-control" type="text" id="txt_account_number" name="NumberAccount" placeholder="Nhập số tài khoản">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                            Tên tài khoản hiển thị <span style="color:red">*</span>
                        </label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            <input class="form-control" type="text" id="txt_aliasName" name="AliasName" placeholder="Nhập tên tài khoản">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                            Chủ tài khoản <span style="color:red">*</span>
                        </label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            <input class="form-control" type="text" id="txt_account_holder_name" name="AccountHolderName" placeholder="Nhập chủ tài khoản">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                            Số tiền trong tài khoản <span style="color:red">*</span>
                        </label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            <input class="form-control" type="text" id="txt_total_money" placeholder="Nhập số tiền">
                            <input class="form-control" type="hidden" id="txt_total_money_hdd" name="TotalMoney">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                            Mục đích
                        </label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            <select class="form-control kt-select2" id="txt_typePurpose" name="TypePurpose" style="width:100%">
                                @if (enumBankCard_TypePurPose != null && enumBankCard_TypePurPose.Count > 0)
                                {
                                    foreach (var bank in enumBankCard_TypePurPose)
                                    {
                                        <option value="@bank.Key">
                                            @bank.Value
                                        </option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txt_company_creatE_Code" class="col-form-label col-lg-3 col-sm-4 col-4" style="margin-top:5px;">Hoạt động</label>
                        <div class="kt-radio-inline col-lg-6 col-sm-8 col-8 pl-2" style="margin-left:5px;">
                            <input data-switch="true" type="checkbox" checked="checked" id="kt_switch_2">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn_save_bank">Thêm mới</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_exit">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>