﻿
@{
    Layout = null;
}

<div class="modal fade " id="bankCard_shop" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-modal="true" style="padding-left: 17px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Gán thẻ <b>TM DV</b> cho các cửa hàng dùng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form>
                <input type="hidden" name="BankCardOfShop" id="hdd_BankCardIDOfShop_BankCardID" value="0" />
                <input type="hidden" name="BankCardOfShopName" id="hdd_BankCardnameOfShop_BankCardName" value="" />
                <div class="modal-body">
                    <div class="form-group">
                        <select class="form-control kt-select2" id="actionBank_shop" style="width:100%" multiple>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="exit_modal">Đóng</button>
                    <button type="button" class="btn btn-primary" id="button_bankcardOfShop" onclick="managerBankCardList.Save_BankCardOfShop()">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>
