﻿@{
    Layout = null;
}
<style>
    .k-state-selected {
        background-color: lightcoral !important;
    }

    .imgViewer {
        max-height: inherit;
    }

    .header_line_200 {
        position: relative;
        margin: 0 0 10px 0;
        font-style: italic;
    }

        .header_line_200:before {
            content: "";
            display: block;
            position: absolute;
            left: 260px;
            right: 20px;
            bottom: 8px;
            border-top: 1px solid #e8ecef;
        }

    .alignRight {
        text-align: end;
    }

    .font-bold {
        font-weight: bold;
    }

    .txt-right {
        text-align: right
    }
</style>
<div class="modal fade" id="details_profile" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lb_title" style="font-weight:bold;"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ">
                </button>
            </div>
            <div class="modal-body">
                <!--begin::modal-body-->
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <h5 id="lbl_header_table">
                            </h5>
                            <table class="table table-bordered table-hover">
                                <thead style="background:#e2efda">
                                    <tr>
                                        <th class="font-bold"><b>Tên KH<b> </th>
                                        <th colspan="4"><b><span id="lb_dl_Customer"></span></b> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="font-bold">Mã TC </td>
                                        <td><span id="lb_dl_LoanContractCode"></span></td>
                                        <td class="font-bold">Ngày giải ngân </td>
                                        <td colspan="2"><span id="lb_dl_LoanFromDate"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="font-bold">Book nợ </td>
                                        <td><span id="lb_dl_BookDebtName"></span></td>
                                        <td class="font-bold">Ngày kết thúc  </td>
                                        <td colspan="2"><span id="lb_dl_LoanToDate"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="font-bold">DPD </td>
                                        <td><span id="lb_dl_DPD"></span></td>
                                        <td class="font-bold">Nhóm sản phẩm </td>
                                        <td colspan="2"><span id="lb_dl_GroupProduct"></span></td>
                                    </tr>
                                    <tr>
                                        <td class="font-bold">Số tiền giải ngân </td>
                                        <td> <span id="lb_dl_LoanTotalMoneyDisbrusement"></span></td>
                                        <td class="font-bold">Số tiền đã thu  </td>
                                        <td colspan="2"><span id="lb_dl_LoanTotalMoneyReceived"></span></td>
                                    </tr>
                                    <tr style="background:#e2efda">
                                        <td class="font-bold" rowspan="2" style="vertical-align: middle">Cấu phần khoản vay </td>
                                        <td class="font-bold">  Tổng nghĩa vụ phải trả </td>
                                        <td class="font-bold">Số tiền thu dự kiến</td>
                                        <td class="font-bold">Số tiền đề xuất miễn giảm </td>
                                        <td class="font-bold">Tỷ lệ  miễn giảm </td>
                                    </tr>
                                    <tr>
                                        <td align="right"><span id="lb_dl_TotalMoneyNeedPay"></span></td>
                                        <td align="right"><span id="lb_dl_dk_TotalMoneyNeedPay"></td>
                                        <td align="right" class="font-bold" style="color:red"> <span id="lb_dl_dxm_TotalMoneyNeedPay"></span> </td>
                                        <td align="right"> <span id="lb_dl_tlm_TotalMoneyNeedPay"></span>% </td>
                                    </tr>
                                    <tr>
                                        <td class="font-bold">Gốc </td>
                                        <td align="right"><span id="lb_dl_MoneyOriginal"></span></td>
                                        <td align="right"><span id="lb_dl_dk_MoneyOriginal"></span></td>
                                        <td align="right"><span id="lb_dl_dxm_MoneyOriginal"></span></td>
                                        <td align="right"><span id="lb_dl_tlm_MoneyOriginal"></span>%</td>
                                    </tr>
                                    <tr>
                                        <td class="font-bold">Lãi</td>
                                        <td align="right"><span id="lb_dl_MoneyInterest"></span></td>
                                        <td align="right"><span id="lb_dl_dk_MoneyInterest"></span></td>
                                        <td align="right"><span id="lb_dl_dxm_MoneyInterest"></span></td>
                                        <td align="right"><span id="lb_dl_tlm_MoneyInterest"></span>%</td>
                                    </tr>
                                    <tr>
                                        <td class="font-bold">Nợ cũ</td>
                                        <td align="right"> <span id="lb_dl_MoneyOldDebit"></span></td>
                                        <td align="right"> <span id="lb_dl_dk_MoneyOldDebit"></span></td>
                                        <td align="right"> <span id="lb_dl_dxm_MoneyOldDebit"></span></td>
                                        <td align="right"> <span id="lb_dl_tlm_MoneyOldDebit"></span>%</td>
                                    </tr>
                                    <tr>
                                        <td class="font-bold">Phí</td>
                                        <td align="right"> <span id="lb_dl_TotalFee"></span></td>
                                        <td align="right"> <span id="lb_dl_dk_TotalFee"></span></td>
                                        <td align="right"> <span id="lb_dl_dxm_TotalFee"></span></td>
                                        <td align="right"> <span id="lb_dl_tlm_TotalFee"></span>%</td>
                                    </tr>
                                    <tr>
                                        <td><i>  -Phí tư vấn</i></td>
                                        <td align="right"> <span id="lb_dl_MoneyConsultant"></span></td>
                                        <td align="right"> <span id="lb_dl_dk_MoneyConsultant"></span></td>
                                        <td align="right"> <span id="lb_dl_dxm_MoneyConsultant"></span></td>
                                        <td align="right"> <span id="lb_dl_tlm_MoneyConsultant"></span>%</td>
                                    </tr>
                                    <tr>
                                        <td><i>  -Phí dịch vụ</i></td>
                                        <td align="right"><span id="lb_dl_MoneyService"></span></td>
                                        <td align="right"><span id="lb_dl_dk_MoneyService"></span></td>
                                        <td align="right"><span id="lb_dl_dxm_MoneyService"></span></td>
                                        <td align="right"><span id="lb_dl_tlm_MoneyService"></span>%</td>
                                    </tr>
                                    <tr>
                                        <td><i>  -Phí phạt treo</i></td>
                                        <td align="right"> <span id="lb_dl_MoneyFineLate"></span> </td>
                                        <td align="right"> <span id="lb_dl_dk_MoneyFineLate"></span> </td>
                                        <td align="right"> <span id="lb_dl_dxm_MoneyFineLate"></span> </td>
                                        <td align="right"> <span id="lb_dl_tlm_MoneyFineLate"></span>% </td>
                                    </tr>
                                    <tr>
                                        <td><i> -Phí phạt tất toán trước hạn</i></td>
                                        <td align="right">  <span id="lb_dl_MoneyFineOriginal"></span> </td>
                                        <td align="right">  <span id="lb_dl_dk_MoneyFineOriginal"></span> </td>
                                        <td align="right">  <span id="lb_dl_dxm_MoneyFineOriginal"></span> </td>
                                        <td align="right">  <span id="lb_dl_tlm_MoneyFineOriginal"></span> %</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                       <div class="row">
                            <div class="col-md-9 kt-margin-b-20-tablet-and-mobile">
                            </div>
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile" style="text-align:right" id="div-dl-button">
                                <button class="btn btn-primary">
                                    <i class="fa fa-user-check"></i>
                                    Duyệt
                                </button>
                                <button class="btn btn-danger">
                                    <i class="fa fa-window-close"></i>
                                    Hủy
                                </button>
                            </div>
                        </div>
                        <div id="dv_note_detail">
                        </div>

                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#TabMGLImg" id="tab_MGL">
                                    <i class="fa fa-file-image"></i> Đơn đề nghị MGLP
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#TabGiayToImg">
                                    <i class="fa fa-file-image"></i> Giấy tờ đi kèm
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#TabLichSu" onclick="waitingListMGL.ShowHistory()">
                                    <i class="fa fa-file-image"></i> Lịch sử
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="TabMGLImg" role="tabpanel">
                                <div class="row">
                                    <div class="m-accordion m-accordion--default m-accordion--solid col-md-3" id="m_accordion_5" role="tablist">
                                    </div>
                                    <div class="col-md-12 " style="background-color:#f2f3f8" id="div-lst-img-mgl">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="TabGiayToImg" role="tabpanel">
                                <div class="row">
                                    <div class="m-accordion m-accordion--default m-accordion--solid col-md-3" id="m_accordion_5" role="tablist">
                                    </div>
                                    <div class="col-md-12 " style="background-color:#f2f3f8" id="div-lst-img-giayto">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="TabLichSu" role="tabpanel">
                                <div class="row">
                                    <div id="dv_result_lichsu">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--end::Thông tin chứng từ-->

                    </div>
                </div>
                <!--end::modal-body-->
            </div>
            <div class="modal-footer row">
                <div class="col-12" style="text-align: right;">
                    @*<button class="btn btn-primary" style="display:none;" id="btn_VerifyInvoiceConsiderCustomer_invoice"><i class="flaticon2-circle-vol-2"></i> Xác minh</button>*@
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="flaticon-close"></i> Đóng </button>
                </div>
            </div>
        </div>
    </div>
</div>
