﻿@{
    Layout = null;
}
<style>
    .k-state-selected {
        background-color: lightcoral !important;
    }

    .imgViewer {
        max-height: inherit;
    }

    .header_line_200 {
        position: relative;
        margin: 0 0 10px 0;
        font-style: italic;
    }

        .header_line_200:before {
            content: "";
            display: block;
            position: absolute;
            left: 260px;
            right: 20px;
            bottom: 8px;
            border-top: 1px solid #e8ecef;
        }

    .alignRight {
        text-align: end;
    }
</style>
<div class="modal fade" id="model_update_profile" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lb_update_profile_title" style="font-weight:bold;"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ">
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <!--begin::modal-body-->
                    <div class="kt-portlet">
                        <div class="kt-portlet__body">
                            <div class="row SelectecdCustomer_div">
                                <!--begin::Thông tin khách hàng đã chọn-->
                                <div class="col-md-12 col-xl-6">
                                    <div class="form-group row">
                                        <label class="col-md-4 col-sm-12 col-form-label alignRight">Tên khách hàng: </label>
                                        <div class="col-md-8 col-sm-12">
                                            <label class="form-control-plaintext kt-font-bolder" id="lb_update_CustomerName"></label>
                                            <input type="hidden" id="hd_Profile_LoanExemptionID" value="0">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xl-6">
                                    <div class="form-group row">
                                        <label for="TransactionMoney" class="col-md-4 col-sm-12 col-form-label alignRight">Mã hợp đồng: </label>
                                        <div class="col-md-8 col-sm-12">
                                            <label class="col-form-label" id="lb_update_LoanContractCode"></label>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Thông tin khách hàng-->
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-xl-6">
                                    <div class="form-group row">
                                        <label for="TransactionDate" class="col-md-4 col-sm-12 col-form-label alignRight">Nguời tạo yêu cầu </label>
                                        <div class="col-md-8 col-sm-12">
                                            <label class="col-form-label" id="lb_update_CreateByFullName"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-xl-6">
                                    <div class="form-group row">
                                        <label for="TransactionMoney" class="col-md-4 col-sm-12 col-form-label alignRight">Thời gian tạo: </label>
                                        <div class="col-md-8 col-sm-12">
                                            <label class="col-form-label" id="lb_update_CreateDate"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <b>Đơn đề nghị yêu cầu miễn giảm lãi phí của khách hàng</b> <br />
                                </div>
                                <div class="col-lg-12" id="dvUpload_MGL">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <b>Giấy tờ đi kèm (Nếu có)</b> <br />
                                </div>
                                <div class="col-lg-12" id="dvUpload_GiayTo">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::modal-body-->
                </div>
                <div class="modal-footer row">
                    <div class="col-12" style="text-align: right;">
                        <button class="btn btn-primary" id="btn_updateProfile"><i class="flaticon2-circle-vol-2"></i> Xác minh</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="flaticon-close"></i> Đóng </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
