﻿@{
    Layout = null;
}
<div class="modal fade" id="model_cannelProfileMGL" role="dialog" aria-modal="true">
    <div class="modal-dialog modal-lg" role="document">
        <form class="kt-form kt-form--label-right">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Hủy hồ sơ MLG <span id="txtTitleMGL"></span></b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="kt-form kt-form--label-right">
                    <input type="hidden" id="hdd_LoanExemptionID" value="0" />
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-form-label col-4 col-lg-2 col-xl-2">
                                Lý do hủy <span style="color:red">*</span>
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <textarea class="form-control" id="txt_CannelProfileMGL_Reason" name="txt_CannelProfileMGL_Reason" rows="4" placeholder="lý do hủy" autocomplete="off"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button class="btn btn-success" id="btn_CannelProfileMGL">Xác nhận</button>
                </div>
            </div>
        </form>
    </div>
</div>