﻿
@{
    Layout = null;
}

<div class="modal fade" id="model_createMGL" role="dialog" aria-modal="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><b>Thêm mới MGL</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="kt-form kt-form--label-right">
                <input type="hidden" id="hdd_customerID" value="0" />
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-form-label col-4 col-lg-2 col-xl-2">
                            Tìm khách hàng <span style="color:red">*</span>
                        </label>
                        <div class="col-lg-3 col-sm-8 col-8">
                            <input class="form-control" type="text" id="txt_contactCode" placeholder="Tìm theo tên KH, mã HĐ" autocomplete="off">
                        </div>
                        <div class="col-lg-3">
                            <button href="#" class="btn btn-info m-btn kt-btn--air" id="btnGetCustomer" onclick="mgl.GetCustomer()">
                                <span>
                                    Tìm kiếm
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 col-lg-12 col-xl-12">
                            <div id="lstCustomer">

                            </div>
                        </div>
                    </div>
                    @*<div class="form-group row">
                            <label class="col-form-label col-4 col-lg-2 col-xl-2"><b>Mẫu trình</b></label>
                            <div class="col-8 col-lg-5 col-xl-4">
                                <select class="form-control kt-select2" name="sl_statusCreateMGLId" id="sl_statusCreateMGLId" style="width:100%">
                                </select>
                            </div>
                        </div>*@
                    <div class="form-group row">
                        <label class="col-form-label col-4 col-lg-2 col-xl-2">
                            Ngày dữ liệu
                        </label>
                        <div class="col-8 col-lg-5 col-xl-4">
                            <input type="text" class="form-control kt_datepicker" id="CutOfDate" autocomplete="off" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4 col-lg-2 col-xl-2">
                            Số tiền dự thu
                        </label>
                        <div class="col-8 col-lg-5 col-xl-4">
                            <input class="form-control" type="text" id="txt_moneyCustomer" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4 col-lg-2 col-xl-2">
                            Lý do
                        </label>
                        <div class="col-8 col-lg-5 col-xl-4">
                            <select class="form-control kt-select2" name="txt_Reason" id="txt_Reason" style="width:100%">
                                <option value="1">KH vay mượn nhiều nơi, hiện không có khả năng thanh toán, gia đình hỗ trợ trả nợ thay</option>
                                <option value="2">KH chậm trả do ảnh hưởng dịch covid</option>
                                <option value="3">Tự nhập</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" style="display:none" id="form_reason">
                        <label class="col-form-label col-4 col-lg-2 col-xl-2">
                            Nhập lý do
                        </label>
                        <div class="col-8 col-lg-5 col-xl-4">
                            <input class="form-control" type="text" id="txt_hiddenReason" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4 col-lg-2 col-xl-2">
                            Tên phòng ban
                        </label>
                        <div class="col-8 col-lg-5 col-xl-4">
                            <select class="form-control kt-select2" name="txt_departmentName" id="txt_departmentName" style="width:100%">
                                <option value="1">Team Call MB</option>
                                <option value="2">Team Call MN</option>
                                <option value="3">Team Field MB</option>
                                <option value="4">Team Field MN</option>
                                <option value="5">Team Legal MB</option>
                                <option value="6">Team Legal MN</option>
                                <option value="7">Team SPL</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4 col-lg-2 col-xl-2">
                            Tên cấp phê duyệt
                        </label>
                        <div class="col-8 col-lg-5 col-xl-4">
                            <input class="form-control" type="text" id="txt_approvalName" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4 col-lg-2 col-xl-2">
                            Thời gian hiệu lực
                        </label>
                        <div class="col-8 col-lg-5 col-xl-4">
                            <input type="text" class="form-control kt_datepicker" id="txt_effectiveTime" autocomplete="off" value="@DateTime.Now.AddDays(3).ToString("dd/MM/yyyy")" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal" id="btn_closeCreateMGL">Đóng</button>
                <button class="btn btn-success" id="btn_holdMoneyCustomer" onclick="mgl.Save_CreateMGL()">Xác nhận</button>
            </div>
        </div>
    </div>
</div>