﻿@{
    Layout = null;
}
<style>
    .k-state-selected {
        background-color: lightcoral !important;
    }

    .imgViewer {
        max-height: inherit;
    }

    .header_line_200 {
        position: relative;
        margin: 0 0 10px 0;
        font-style: italic;
    }

        .header_line_200:before {
            content: "";
            display: block;
            position: absolute;
            left: 260px;
            right: 20px;
            bottom: 8px;
            border-top: 1px solid #e8ecef;
        }

    .alignRight {
        text-align: end;
    }

    .font-bold {
        font-weight: bold;
    }

    .txt-right {
        text-align: right
    }
</style>
<div class="modal fade" id="modal-editCampaign" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lb_title_details" style="font-weight:bold;">Campaign : <span id="txt_campaignID"></span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <!--begin::modal-body-->
                <input type="hidden" id="hd_campaigID" value="0" />
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <div class="form-group row">
                            <label class="col-md-3 col-sm-12 col-form-label" style="text-align:right">Chọn nhân viên: </label>
                            <div class="col-md-6 col-sm-12">
                                <select class="form-control kt-select2" name="sl_edit_Staff" id="sl_edit_Staff" style="width:100%">
                                    <option value="-111" selected>Tất cả</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 col-sm-12 col-form-label" style="text-align:right">Thời gian chờ giữa các cuộc gọi <span style="color:red">(giây)</span></label>
                            <div class="col-md-6 col-sm-12">
                                <input class="form-control" type="text" id="txt_wrapupTime" />
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::modal-body-->
            </div>
            <div class="modal-footer row">
                <div class="col-12" style="text-align: right;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="flaticon-close"></i> Đóng </button>
                    <button class="btn btn-primary" id="btn_campaign"><i class="flaticon2-circle-vol-2"></i> Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>
