﻿@using LMS.Common;
@{
    ViewData["Title"] = "Cấu hình code giữ";
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Cấu hình code giữ
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right">
                <div class="row align-items-center">
                    <div class="col-xl-12 kt-margin-b-10">
                        <div class="row align-items-center form-group">
                            <label class="col-md-3 col-sm-3 col-form-label" style="text-align:right">Code giữ trong: </label>
                            <div class="col-md-1 col-sm-1">
                                <input type="text" class="form-control" id="txt_skiptime" />
                            </div>
                            <label class="col-md-1 col-sm-1 col-form-label" style="text-align:left">ngày</label>
                        </div>
                        <div class="row align-items-center form-group">
                            <label class="col-md-3 col-sm-3 col-form-label" style="text-align:right">Chọn code giữ: </label>
                            <div class="col-md-4 col-sm-4">
                                <select class="form-control m-select2" id="LstCodeKeep" multiple name="LstCodeKeep" style="width:100%;">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="row align-items-center form-group">
                            <div class="col-7" style="text-align: right;">
                                <button class="btn btn-primary" id="btn_save_codekeep"><i class="flaticon2-circle-vol-2"></i> Lưu</button>
                                @*   <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="flaticon-close"></i> Đóng </button>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="dv_result">
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>

    </div>
</div>
@section Scripts {
<script src="~/static/scripts/campaign/codekeep.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/static/assets/js/pages/crud/forms/widgets/bootstrap-switch.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION" type="text/javascript"></script>
<script src="~/static/scripts/meta/bindSelect.min.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/static/js/SlideShow/SlideShow.min.js"></script>
<script src="~/static/js/SlideShow/jQueryRotate.min.js"></script>
<script src="~/static/js/SlideShow/jquery.transit.min.js"></script>
<script>
     $(document).ready(function () {
      codekeep.Init();
      codekeep.CreateCodeKeep();
    });
</script>
}
