﻿.kt-font-blue {
    color: blue;
}

.kt-header-blue {
    background: #5d78ff !important;
    color: white !important;
}

#rate_stars_list {
    color: #ffc700;
}

.table-bordered th, .table-bordered td {
    border: 1px solid #d5d7dc;
}

.kt-menu__link-text {
    text-transform: uppercase !important;
}

.kt-datatable__head {
    background: #5d78ff !important;
    color: white !important;
}

.kt-datatable > .kt-datatable__table > .kt-datatable__head .kt-datatable__row > .kt-datatable__cell > span, .kt-datatable > .kt-datatable__table > .kt-datatable__foot .kt-datatable__row > .kt-datatable__cell > span {
    color: white !important;
}

.kt-aside .kt-aside-menu {
    margin: 0px;
}

.kt-datatable > .kt-datatable__table > .kt-datatable__head .kt-datatable__row > .kt-datatable__cell > span > i {
    color: white !important
}

.form-group {
    margin-bottom: 0.6rem !important;
}

.form-group-child {
    margin-bottom: 0rem !important;
}

.modal {
    overflow-y: auto;
}

.col-form-label {
    font-weight: bold !important
}

.kt-portlet .kt-portlet__head .kt-portlet__head-label .kt-portlet__head-title {
    text-transform: uppercase !important;
}

.item-desciption {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
    color: rgb(167, 171, 195);
}

.black-bold {
    font-weight: bold;
    color: black;
}

.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__head .kt-datatable__row > .kt-datatable__cell:first-child, .kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row > .kt-datatable__cell:first-child, .kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__foot .kt-datatable__row > .kt-datatable__cell:first-child {
    padding-left: 10px;
    padding-right: 5px;
}


.kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__head .kt-datatable__row > .kt-datatable__cell:last-child, .kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__body .kt-datatable__row > .kt-datatable__cell:last-child, .kt-datatable.kt-datatable--default > .kt-datatable__table > .kt-datatable__foot .kt-datatable__row > .kt-datatable__cell:last-child {
    padding-left: 10px;
    padding-right: 5px;
}

.header_line {
    position: relative;
}

    .header_line:before {
        content: "";
        display: block;
        position: absolute;
        left: 120px;
        right: 20px;
        bottom: 8px;
        border-top: 1px solid #e8ecef;
    }

.kt-font-danger {
    color: red !important;
}

.ps > .ps__rail-x {
    height: 15px;
}

    .ps > .ps__rail-x:hover, .ps > .ps__rail-x:focus {
        height: 15px;
    }

    .ps > .ps__rail-x > .ps__thumb-x {
        top: 0;
        height: 15px;
        border-radius: 4px;
    }

        .ps > .ps__rail-x > .ps__thumb-x:hover, .ps > .ps__rail-x > .ps__thumb-x:focus {
            top: 0;
            height: 15px;
        }

.k-grid th, .k-grid td {
    padding: 10px 24px;
    border-style: solid;
    border-color: inherit;
    outline: 0;
    font-weight: inherit;
    text-align: inherit;
    overflow-y: hidden !important;
    text-overflow: ellipsis;
}

.k-grid-content {
    width: 100%;
    min-height: 0;
    overflow: auto;
    overflow-x: auto;
    overflow-y: hidden !important;
    position: relative;
    -ms-flex: 1;
    flex: 1;
}

/*table > thead {
    background: #5d78ff !important;
    color: #fff !important;
}*/

.k-grid-header {
    padding-right: 0px !important;
    background: #5d78ff !important;
    color: #fff !important;
}

td {
    line-height: 1.4 !important;
}

.k-state-selected {
    background-color: #b0bed9 !important;
}
