﻿.ratexx {
    float: left;
    height: 46px;
    padding: 0 10px;
    margin-top: -5px;
}

    .ratexx:not(:checked) > input {
        position: absolute;
        top: -9999px;
    }

    .ratexx:not(:checked) > label {
        float: right;
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 30px;
        color: #ccc;
    }

        .ratexx:not(:checked) > label:before {
            content: '★ ';
        }

    .ratexx > input:checked ~ label {
        color: #ffc700;
    }

    .ratexx:not(:checked) > label:hover,
    .ratexx:not(:checked) > label:hover ~ label {
        color: #deb217;
    }

    .ratexx > input:checked + label:hover,
    .ratexx > input:checked + label:hover ~ label,
    .ratexx > input:checked ~ label:hover,
    .ratexx > input:checked ~ label:hover ~ label,
    .ratexx > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }



.rateIndex {
    /*float: left;*/
    /*height: 46px;*/
    padding: 0 10px;
}

    .rateIndex:not(:checked) > input {
        position: absolute;
        top: -9999px;
    }

    .rateIndex:not(:checked) > label {
        /*float: right;*/
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        font-size: 20px;
        color: #ccc;
    }

        .rateIndex:not(:checked) > label:before {
            content: '★ ';
        }



.rateStarDetail {
    color: #ffc700 !important;
}
