﻿@model FrontEnd.Common.Models.Management.User.UserLoginModel 
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var AdminUrl = Configuration["AppSettings:AdminUrl"]; 
    Layout = null;
} 
<!DOCTYPE html> 
<html lang="en">

<!-- begin::Head -->
<head>
    <base href="../../../">
    <meta charset="utf-8" />
    <title>LMS | Tima</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">

    <!--end::Fonts -->
    <!--begin::Page Custom Styles(used by this page) -->
    <link href="static/assets/css/pages/error/error-5.css" rel="stylesheet" type="text/css" />

    <!--end::Page Custom Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <link href="@AdminUrl/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="@AdminUrl/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />

    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <link href="@AdminUrl/assets/css/skins/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="@AdminUrl/assets/css/skins/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="@AdminUrl/assets/css/skins/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="@AdminUrl/assets/css/skins/aside/dark.css" rel="stylesheet" type="text/css" />

    <!--end::Layout Skins -->
    <link rel="shortcut icon" href="static/assets/media/logos/favicon.ico" type="image/x-icon" />
</head>

<!-- end::Head -->
<!-- begin::Body -->
<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--fixed kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">

    <!-- begin:: Page -->
    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <!--Begin::Section-->
        <div class="row">
            <div class="col-xl-12" style="text-align:center; margin:100px 0;">
                <img src="~/img/tima.png" />
            </div>
        </div>
        <!--End::Section-->
        <!--Begin::Section-->
        <div class="row" style="text-align:center; margin:0 100px;">
            <div class="col-xl-3 col-md-3 col-sm-6">
                <div class="kt-portlet kt-portlet--height-fluid">
                    <div class="kt-portlet__head kt-portlet__head--noborder">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">
                            </h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body kt-portlet__body--fit-y kt-margin-b-40">

                        <!--begin::Widget -->
                        <div class="kt-widget kt-widget--user-profile-4">
                            <div class="kt-widget__head">
                                <a href="/Home/Dashboard" class="kt-widget__username" target="_self">
                                    <div class="kt-widget__media">
                                        <img class="kt-widget__img kt-hidden" src="assets/media/users/300_21.jpg" alt="image">
                                        <div class="kt-widget__pic kt-widget__pic--success kt-font-success kt-font-boldest kt-hidden-">
                                            AD
                                        </div>
                                    </div>
                                    <div class="kt-widget__content">
                                        <div class="kt-widget__section">
                                            <span class="kt-widget__username">Quản trị</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <!--end::Widget -->
                    </div>
                </div>
            </div>
        </div>

        <!--End::Section-->
    </div>
    <!-- end:: Page -->
    <!-- begin::Global Config(global config for global JS sciprts) -->
    <script>
        var KTAppOptions = {
            "colors": {
                "state": {
                    "brand": "#5d78ff",
                    "dark": "#282a3c",
                    "light": "#ffffff",
                    "primary": "#5867dd",
                    "success": "#34bfa3",
                    "info": "#36a3f7",
                    "warning": "#ffb822",
                    "danger": "#fd3995"
                },
                "base": {
                    "label": [
                        "#c5cbe3",
                        "#a1a8c3",
                        "#3d4465",
                        "#3e4466"
                    ],
                    "shape": [
                        "#f0f3ff",
                        "#d9dffa",
                        "#afb4d4",
                        "#646c9a"
                    ]
                }
            }
        };
    </script>

    <!-- end::Global Config -->
    <!--begin::Global Theme Bundle(used by all pages) -->
    <script src="@AdminUrl/assets/plugins/global/plugins.bundle.js" type="text/javascript"></script>
    <script src="@AdminUrl/assets/js/scripts.bundle.js" type="text/javascript"></script>
    <script src="static/scripts/Lib.js"></script>
    <script src="static/js/jquery.cookie.js"></script>
     
    <!--end::Global Theme Bundle -->
    <script> 
        window.close();
    </script>
</body>

<!-- end::Body -->
</html>