﻿@{
    ViewData["Title"] = "Quản lý phiếu treo";
    var groupInvoiceTypes = FrontEnd.Common.Helpers.EnumHelpers.GetValues<LMS.Common.Constants.GroupInvoiceType>().ToList(); 
    var groupInvoiceType = FrontEnd.Common.Helpers.EnumHelpers.GetValues<LMS.Common.Constants.GroupInvoiceType>().ToList();
    var enumInvoice_Payee = FrontEnd.Common.Helpers.EnumHelpers.GetValues<LMS.Common.Constants.Invoice_Payee>().ToList();
    var invoice_Status_ = new List<int>
    {
        (int)LMS.Common.Constants.Invoice_Status.Pending,
        (int)LMS.Common.Constants.Invoice_Status.WaitingConfirm
    };
    var invoice_Status = FrontEnd.Common.Helpers.EnumHelpers.GetValues<LMS.Common.Constants.Invoice_Status>().Where(x => invoice_Status_.Contains(x.Key)).ToList();
}
<style>
    .k-grid-content {
        overflow-y: visible !important;
    }

    .k-grid-header {
        padding-right: 0px !important;
    }
</style>
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    @ViewData["Title"]
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-section">
                <div class="kt-section__content">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Từ ngày</label>
                                <div class="input-group date">
                                    <input type="text" class="form-control kt_datepicker" id="fromDate" autocomplete="off"   />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Đến ngày</label>
                                <div class="input-group date">
                                    <input type="text" class="form-control kt_datepicker" id="toDate" autocomplete="off"  />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Trạng thái</label>
                                <select class="form-control kt-select2" name="Status" id="Status">
                                    @if (invoice_Status != null && invoice_Status.Count > 0)
                                    {
                                        foreach (var item in invoice_Status)
                                        {
                                            <option value="@item.Key">
                                                @item.Value
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Ngân hàng</label>
                                <select class="form-control kt-select2" name="txt_bankID" id="txt_bankID">
                                    <option value="-111">
                                        Tất cả
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2 kt-margin-b-20-tablet-and-mobile" style="max-width:300px">
                            <label><b>Số tiền</b></label>
                            <div class="kt-input-icon kt-input-icon--left">
                                <input type="text" class="form-control" placeholder="Tìm số tiền" id="txt_search">
                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                    <span><i class="la la-search"></i></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label style="padding-top: 12px;"></label>
                                <div class="input-group date">
                                    <button href="#" class="btn btn-info m-btn kt-btn--air" id="btnGetData" onclick="verifyInvoice.GridRefresh()" style="margin-right: 5px;">
                                        <span>
                                            Tìm kiếm
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <!--end: Search Form -->
            <div class="kt-section">
                <div class="kt-section__content">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="grid">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="~/Views/VerifyInvoice/Detail/_invoiceDetail.cshtml" />
  
@section Scripts {
    <environment include="Development"> 
        <script src="~/static/scripts/verifyInvoice/verifyInvoice.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/static/scripts/verifyInvoice/verifyInvoice.min.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION" asp-append-version="true"></script> 
    </environment> 
    <script> 
        var enumGroupInvoiceType =  @FrontEnd.Common.Helpers.EnumHelpers.ConvertToJson(typeof(LMS.Common.Constants.GroupInvoiceType));
         var statusCommon =  @FrontEnd.Common.Helpers.EnumHelpers.ConvertToJson(typeof(LMS.Common.Constants.StatusCommon));
        var invoice_Status =  @FrontEnd.Common.Helpers.EnumHelpers.ConvertToJson(typeof(LMS.Common.Constants.Invoice_Status));

        var listBankCard = @Html.Raw(Json.Serialize((List<FrontEnd.Common.Entites.SelectItem>)ViewBag.ListBankCard)); 
        $(document).ready(function () { 
            verifyInvoice.UploadImageLos();
        });
    </script>
}
