﻿@using LMS.Common.Helper;
@{
    ViewData["Title"] = "Phiếu treo Lender";
    var groupInvoiceTypes = new List<LMS.Common.Constants.GroupInvoiceType>()
{
       LMS.Common.Constants.GroupInvoiceType.ReceiptCustomerConsider,
       LMS.Common.Constants.GroupInvoiceType.ReceiptLenderCapital,
       LMS.Common.Constants.GroupInvoiceType.PaySlipLenderWithdraw,
    };
}
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Tìm phiếu treo lender
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-section">
                <div class="kt-section__content">
                    <div class="row">
                        <div class="col-xl-2  col-md-3 col-sm-4 kt-margin-b-20-tablet-and-mobile">
                            <label><b>Số tiền</b></label>
                            <div class="kt-input-icon kt-input-icon--left">
                                <input type="text" class="form-control money_input" placeholder="Tìm theo số tiền" id="txt_search">
                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                    <span><i class="la la-search"></i></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-xl-2  col-md-3 col-sm-4">
                            <div class="form-group">
                                <label><b>Thẻ ngân hàng</b></label>
                                <select class="form-control kt-select2 sl-bankcard" id="BankCardID">
                                    <option value="-111">
                                        Tất cả
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-2  col-md-3 col-sm-4">
                            <div class="form-group">
                                <label>Loại phiếu chi tiết</label>
                                <select class="form-control kt-select2" name="InvoiceSubType" id="InvoiceSubType">
                                    @if (groupInvoiceTypes != null && groupInvoiceTypes.Count > 0)
                                    {
                                        foreach (var invoice in groupInvoiceTypes)
                                        {
                                            <option value="@((int)invoice)">
                                                @invoice.GetDescription()
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-3 col-sm-4">
                            <div class="form-group">
                                <label><b>Từ ngày</b></label>
                                <div class="input-group date">
                                    <input type="text" class="form-control kt_datepicker" id="fromDate" autocomplete="off" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2  col-md-3 col-sm-4">
                            <div class="form-group">
                                <label><b>Đến ngày</b></label>
                                <div class="input-group date">
                                    <input type="text" class="form-control kt_datepicker" id="toDate" autocomplete="off" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-3 col-sm-4">
                            <div class="form-group">
                                <label style="padding-top: 12px;"></label>
                                <div class="input-group date">
                                    <button href="#" class="btn btn-info m-btn kt-btn--air" id="btnGetData">
                                        <span>
                                            Tìm kiếm
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <div class="kt-section">
                <div class="kt-section__content">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="dv_result">

                            </div>
                        </div>
                        <div class="col-md-12">
                            <span class="kt-font-danger"> * Chú ý: </span> Bạn cần nhập <b>số tiền</b> để tìm được khoản đang treo
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<partial name="~/Views/Lender/partials/_verifyInvoice.cshtml" />
@section Scripts {
    <script src="~/scripts/meta/bindSelect.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    <script src="~/scripts/lender/invoice.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    <script>
        $(document).ready(function () {
            meta.loadBankCard("sl-bankcard");
            meta.loadSelectInputLender('sl-lender');
            invoice.Init();
        });
    </script>
}
