﻿@using LMS.Common.Helper;
@{
    ViewData["Title"] = "Danh sách nhà đầu tư";
    var lstUserStatus = Enum.GetValues(typeof(LMS.Common.Constants.User_Status)).Cast<LMS.Common.Constants.User_Status>();
    var lstLenderIsVerify = Enum.GetValues(typeof(LMS.Common.Constants.Lender_IsVerified)).Cast<LMS.Common.Constants.Lender_IsVerified>();

}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Danh sách nhà đầu tư
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <a href="#" class="btn btn-primary btn-elevate" title="Thêm mới" data-toggle="modal" data-target="#modal_create_lender" onclick="lenderList.ShowCreateModal()">
                    <i class="la la-plus"></i>
                    Thêm mới
                </a>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right">
                <div class="row align-items-center">
                    <div class="col-xl-12 kt-margin-b-10">
                        <div class="row align-items-center">
                            <input type="hidden" id="ip-page-current" name="pagecurrent" value="1" />
                            <input type="hidden" id="ip-top" name="top" value="25" />
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile" style="max-width:250px">
                                <label><b>Tìm kiếm</b></label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Tìm theo họ tên,sđt,cmt..." id="txt_search">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile" style="max-width:200px">
                                <label><b>Trạng thái</b></label>
                                <select class="form-control kt-select2" id="sl_search_status">
                                    <option value="@((int)LMS.Common.Constants.StatusCommon.SearchAll)">
                                        Tất cả
                                    </option>
                                    @foreach (var item in lstUserStatus)
                                    {
                                        if ((int)item != (int)LMS.Common.Constants.User_Status.Deleted)
                                        {
                                            <option value="@((int)item)">
                                                @item.GetDescription()
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile" style="max-width:200px">
                                <label><b>Xác minh</b></label>
                                <select class="form-control kt-select2" id="sl_search_isverify">
                                    <option value="@((int)LMS.Common.Constants.StatusCommon.SearchAll)">
                                        Tất cả
                                    </option>
                                    @foreach (var item in lstLenderIsVerify)
                                    {
                                        <option value="@((int)item)">
                                            @item.GetDescription()
                                        </option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile" style="max-width:200px">
                                <label><b>Ngày tạo</b></label>
                                <input type="text" class="form-control kt_datepicker" id="txt_create" name="txt_create" placeholder="Ngày tạo" />
                            </div>
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile  kt-margin-t-25">
                                <button href="#" class="btn btn-info m-btn kt-btn--air" id="btnGetData">
                                    <span>
                                        Tìm kiếm
                                    </span>
                                </button>

                                <div class="d-md-none kt--margin-bottom-10"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="grid">
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>

    </div>
</div>
<partial name="~/Views/Lender/ModalDetail.cshtml" />
<partial name="~/Views/Lender/ModalDetail.cshtml" />
<partial name="~/Views/Lender/Detail/_createContractOfLender.cshtml" />
<partial name="~/Views/Lender/partials/_createLender.cshtml" />
<partial name="~/Views/Lender/partials/_createDigitalSignatures.cshtml" />
<partial name="~/Views/Lender/partials/_configurationLender.cshtml" />
@section Scripts {

<script src="~/assets/js/pages/crud/forms/widgets/bootstrap-switch.js" type="text/javascript"></script>
<script src="~/scripts/lender/lenderList.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/scripts/lender/lenderListDetail.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/scripts/meta/bindSelect.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>

<script>
      $(document).ready(function () {
         lenderList.Init();
         lenderList.SumitFormSave();
         lenderList.CreateLenderDigitalSignature();
         lenderListDetail.UpdateLenderSpicesConfig();
         lenderListDetail.UpdateInfoLender();
         lenderListDetail.CreateUpdateLendercontract();
         lenderListDetail.HiddenModal();
         lenderListDetail.HiddenModalLenderSpicesConfig();
         meta.loadAffLender('affID');
    });
</script>
}
