﻿@{
    Layout = null;
}
<style>
    .alignRight {
        text-align: right;
    }

    .alignLeft {
        text-align: left;
    }
</style>
<div class="modal fade" id="modal_details_lender" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document" id="">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông tin nhà đầu tư :
                    <b><span id="title_infor_lender"></span></b>
                    <input type="hidden" id="hdd_UserID_Value" value="0" />
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active tab-active" data-toggle="tab" href="#kt_tabs_1_1">
                                    <i class="la la-exclamation-triangle"></i> Thông tin NĐT
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#kt_tabs_1_2"  onclick="lenderListDetail.GetDanhsachhopdong()">
                                    <i class="la la-photo"></i> Hợp đồng
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane tab-active active" id="kt_tabs_1_1" role="tabpanel">
                                <partial name="~/Views/Lender/Detail/_partialDetailTabUpdateLender.cshtml" />
                            </div>
                            <div class="tab-pane" id="kt_tabs_1_2" role="tabpanel">
                                <partial name="~/Views/Lender/Detail/_partialDetailLoanLender.cshtml" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

