﻿@{
    ViewData["Title"] = "Thanh toán tiền NĐT";
    DateTime firstDate = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
    DateTime lastDate = firstDate.AddMonths(1).AddDays(-1);
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Thanh toán cho NDT theo từng kỳ
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right">
                <div class="row align-items-center">
                    <div class="col-xl-12 kt-margin-b-10">
                        <div class="row align-items-center">
                            <input type="hidden" id="ip-page-current" name="pagecurrent" value="1" />
                            <input type="hidden" id="ip-top" name="top" value="25" />
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile" style="max-width:250px">
                                <label><b>Tên cửa hàng</b></label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Tên cửa hàng ... " id="txt_search">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile" style="max-width:250px">
                                <label><b>Kỳ thanh toán</b></label>
                                <select class="form-control kt-select2" id="sl_search_payment">
                                    @for (int i = 0; i < 3; i++)
                                    {
                                        if (i == 2)
                                        {
                                            lastDate = firstDate.AddMonths(1).AddDays(-1);

                                        }
                                        else
                                        {
                                            lastDate = firstDate.AddDays(i * 10 + 9);
                                        }
                                        <option value="@i">
                                            @firstDate.AddDays(i*10).ToString("dd/MM/yyyy") -  @lastDate.ToString("dd/MM/yyyy")
                                        </option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-8 kt-margin-b-20-tablet-and-mobile  kt-margin-t-25">
                                <button href="#" class="btn btn-info m-btn kt-btn--air" id="btnGetData">
                                    <i class="fa fa-search"></i>
                                    <span>
                                        Tìm kiếm
                                    </span>
                                </button>
                                <button href="#" class="btn btn-info m-btn kt-btn--air">
                                    <i class="fa fa-sync"></i>
                                    <span>
                                        Lấy dữ liệu kì tiếp theo
                                    </span>
                                </button>
                                <button href="#" class="btn btn-success m-btn kt-btn--air">
                                    <i class="fa fa-file-excel"></i>
                                    <span>
                                        Xuất excel
                                    </span>
                                </button>
                                <button href="#" class="btn btn-success m-btn kt-btn--air">
                                    <i class="fa fa-file-excel"></i>
                                    <span>
                                        Xuất excel chi tiết
                                    </span>
                                </button>

                                <div class="d-md-none kt--margin-bottom-10"></div>
                            </div>
                            <div class="col-lg-12   kt-margin-t-15">
                                <button href="#" class="btn btn-success m-btn kt-btn--air">
                                    <i class="fa fa-download"></i>
                                    <span>
                                        Tải mẫu excel thanh toán theo kỳ
                                    </span>
                                </button>
                                <button href="#" class="btn btn-success m-btn kt-btn--air">
                                    <i class="fa fa-upload"></i>
                                    <span>
                                        Upload excel thanh lý theo kì
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="dv_data_paymentMoney">
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>
    </div>
</div>

@section Scripts {
<script src="~/scripts/lender/paymentLender.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script>
    $(document).ready(function () {
        paymentLender.init();
    });
</script>
}
