﻿@using LMS.Common.Helper;
@{
    ViewData["Title"] = "Quản lý yêu cầu";
    var ticketType = new List<LMS.Common.Constants.Ticket_Type>()
{
       LMS.Common.Constants.Ticket_Type.LenderRutVon,
       LMS.Common.Constants.Ticket_Type.LenderTamUng,
    };
        var statusType = new List<LMS.Common.Constants.Ticket_Status>()
{
       LMS.Common.Constants.Ticket_Status.Waiting,
       LMS.Common.Constants.Ticket_Status.Active,
       LMS.Common.Constants.Ticket_Status.Delete,
    };
}
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Quản lý ticket tới kế toán
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <a href="#" class="btn btn-primary btn-elevate" title="Thêm mới" data-toggle="modal" data-target="#modal_add_edit_ticket" onclick="ticketLender.loadDetailTicket()">
                    <i class="la la-plus"></i>
                    Thêm mới
                </a>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-section">
                <div class="kt-section__content">
                    <div class="row">
                        <div class="col-xl-2  col-md-3 col-sm-4">
                            <div class="form-group">
                                <label><b>Loại yêu cầu</b></label>
                                <select class="form-control kt-select2 sl-ticket" id="type_ticketID">
                                    <option value="-111">
                                        Tất cả
                                    </option>
                                    @foreach (var item in ticketType)
                                    {
                                        <option value="@((int)item)">
                                            @item.GetDescription()
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-xl-2 col-md-3 col-sm-4">
                            <div class="form-group">
                                <label><b>Từ ngày</b></label>
                                <div class="input-group date">
                                    <input type="text" class="form-control kt_datepicker" id="fromDate" autocomplete="off" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2  col-md-3 col-sm-4">
                            <div class="form-group">
                                <label><b>Đến ngày</b></label>
                                <div class="input-group date">
                                    <input type="text" class="form-control kt_datepicker" id="toDate" autocomplete="off" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2  col-md-3 col-sm-4">
                            <div class="form-group">
                                <label><b>Trạng thái</b></label>
                                <select class="form-control kt-select2 sl-ticket" id="status_ticketID">
                                    <option value="-111">
                                        Tất cả
                                    </option>
                                    @foreach (var item in statusType)
                                    {
                                        <option value="@((int)item)">
                                            @item.GetDescription()
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-2 col-md-3 col-sm-4">
                            <div class="form-group">
                                <label style="padding-top: 12px;"></label>
                                <div class="input-group date">
                                    <button href="#" class="btn btn-info m-btn kt-btn--air" id="btnGetData">
                                        <span>
                                            Tìm kiếm
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <div class="kt-section">
                <div class="kt-section__content">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="dv_result">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<partial name="~/Views/Lender/partials/_partialAddTicket.cshtml" />
@section Scripts {
    <script src="~/scripts/ticket/index.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    <script src="~/scripts/meta/bindSelect.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    <script>
        $(document).ready(function () {
            $('#status_ticketID').val(0);
            ticketLender.Init();
            ticketLender.sumitFormSave();
            meta.loadDepartmentSelect('sl-department');
        });
    </script>
}
