﻿@{
    Layout = null;
}
<div class="modal fade" id="model_createSetting" role="dialog" aria-modal="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lbl_modal_setting"><b>Cấu hình MGLP</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="kt-form kt-form--label-right">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                            <label style="min-width: 100px"><b>Book nợ</b></label>
                            <select class="form-control kt-select2 sl_create_bookDebtID" id="sl_setting_bookDebtID" style="width:100%">
                            </select>
                        </div>
                        <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                            <label style="min-width: 100px"><b>CẤP PHÊ DUYỆT</b></label>
                            <select class="form-control kt-select2 sl_create_approvalLevelBookDebtID" id="sl_setting_ApprovalLevelBookDebtID" style="width:100%">
                            </select>
                        </div>
                    </div>
                    <div class="row kt-margin-t-10">
                        <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                            <label style="min-width: 100px"><b>Năm nợ xấu</b></label>
                            <input type="text" class="form-control kt_datepicker" id="sl_setting_applyTo" disabled />
                        </div>
                        <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                            <label style="min-width: 100px"><b>DPD từ</b></label>
                            <input type="text" class="form-control number_input" id="sl_setting_dpdFrom" disabled />
                        </div>
                        <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                            <label style="min-width: 100px"><b>DPD đến</b></label>
                            <input type="text" class="form-control number_input" id="sl_setting_dpdTo" disabled />
                        </div>
                    </div>
                    <table class="table table-bordered table-hover kt-margin-t-20">
                        <thead>
                            <tr>
                                <td>Loại phí</td>
                                <td>Tối đa % miễn giảm</td>
                                <td>Số tiền không được vượt quá</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-left" style="vertical-align:middle">Phí tư vấn</td>
                                <td><input type="text" class="form-control decimal_input kt-align-right" id="create_consultant_percent" /></td>
                                <td><input type="text" class="form-control money_input kt-align-right" id="create_consultant_totalMoney" /></td>
                            </tr>
                            <tr>
                                <td class="text-left" style="vertical-align:middle">Phí dịch vụ</td>
                                <td><input type="text" class="form-control decimal_input kt-align-right" id="create_service_percent" /></td>
                                <td><input type="text" class="form-control money_input kt-align-right" id="create_service_totalMoney" /></td>
                            </tr>
                            <tr>
                                <td class="text-left" style="vertical-align:middle">Phí phạt chậm trả</td>
                                <td><input type="text" class="form-control decimal_input kt-align-right" id="create_interestLate_percent" /></td>
                                <td><input type="text" class="form-control money_input kt-align-right" id="create_interestLate_totalMoney" /></td>
                            </tr>
                            <tr>
                                <td class="text-left" style="vertical-align:middle">Phí tất toán trước hạn</td>
                                <td><input type="text" class="form-control decimal_input kt-align-right" id="create_paybefore_percent" /></td>
                                <td><input type="text" class="form-control money_input kt-align-right" id="create_paybefore_totalMoney" /></td>
                            </tr>
                            <tr>
                                <td class="text-left" style="vertical-align:middle">Nợ cũ</td>
                                <td><input type="text" class="form-control decimal_input kt-align-right" id="create_debt_percent" /></td>
                                <td><input type="text" class="form-control money_input kt-align-right" id="create_debt_totalMoney" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button class="btn btn-success" id="btn_saveSetting" onclick="settingMGLP.saveSetting()">Lưu cấu hình</button>
            </div>
        </div>
    </div>
</div>
