﻿
@{
    Layout = null;
}

<div class="modal fade" id="model_create_config_user" role="dialog" aria-modal="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lbl_modal_setting"><b>Cấu hình tài khoản - cấp phê duyệt</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="kt-form kt-form--label-right">
                <div class="modal-body">
                    <input type="hidden" id="hdd_create_userApprovalLevelID" />
                    <div class="form-group row">
                        <label class="col-form-label col-4 col-lg-3 col-xl-3">
                            Tên tài khoản
                        </label>
                        <div class="col-8 col-lg-9 col-xl-9">
                            <input class="form-control " type="text" id="txt_create_username" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4 col-lg-3 col-xl-3">
                            Tạo MGLP
                        </label>
                        <div class="col-8 col-lg-9 col-xl-9">
                            <label class="kt-checkbox" style="margin-top: 8px">
                                <input type="checkbox" id="ck_create_mglp"> Tạo tờ trình
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row" id="hdd_Approval">
                        <label class="col-form-label col-4 col-lg-3 col-xl-3">
                            Cấp phê duyệt
                        </label>
                        <div class="col-8 col-lg-9 col-xl-9">
                            <select class="form-control kt-select2 sl_create_approvalLevelBookDebtID" id="sl_create_approvalLevelBookDebtID" style="width:100%">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row" style="display:none" id="hdd_movetoApproval">
                        <label class="col-form-label col-4 col-lg-3 col-xl-3">
                            Đẩy lên cấp phê duyệt
                        </label>
                        <div class="col-8 col-lg-9 col-xl-9">
                            <select class="form-control kt-select2 sl_create_approvalLevelBookDebtID" id="sl_money_moveapprovalLevelBookDebtID" style="width:100%">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4 col-lg-3 col-xl-3">
                            Trạng thái
                        </label>
                        <div class="col-8 col-lg-9 col-xl-9">
                            <div class="kt-radio-inline">
                                <label class="kt-radio">
                                    <input type="radio" checked name="txt_create_Status" value="1"> Hoạt động
                                    <span></span>
                                </label>
                                <label class="kt-radio">
                                    <input type="radio" name="txt_create_Status" value="0"> Dừng
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button class="btn btn-success" id="btn_save_userSetting" onclick="configUser.saveData()">Lưu cấu hình</button>
            </div>
        </div>
    </div>
</div>
