﻿
@{
    ViewData["Title"] = "_setting_totalMoney_month";
    Layout = null;
}
<div class="modal fade" id="model_createSetting_totalMoney" role="dialog" aria-modal="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lbl_modal_setting"><b>Cấu hình MGLP</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="kt-form kt-form--label-right">
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-form-label col-4 col-lg-3 col-xl-3">
                            CẤP PHÊ DUYỆT
                        </label>
                        <div class="col-8 col-lg-5 col-xl-4">
                            <select class="form-control kt-select2 sl_create_approvalLevelBookDebtID" id="sl_money_approvalLevelBookDebtID" style="width:100%">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4 col-lg-3 col-xl-3">
                            Số tiền tối đa
                        </label>
                        <div class="col-8 col-lg-5 col-xl-4">
                            <input class="form-control money_input" type="text" id="txt_money_totalMax" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-4 col-lg-3 col-xl-3">
                            Các loại tiền sẽ trừ
                        </label>
                        <div class="col-8 col-lg-5 col-xl-4">
                            <div class="kt-checkbox-list">
                                <label class="kt-checkbox">
                                    <input type="checkbox" name="ck_typeMoney" value="4" checked> Phí tư vấn
                                    <span></span>
                                </label>
                                <label class="kt-checkbox">
                                    <input type="checkbox" name="ck_typeMoney" value="3" checked> Phí Dịch vụ
                                    <span></span>
                                </label>
                                <label class="kt-checkbox">
                                    <input type="checkbox" name="ck_typeMoney" value="5" checked> Phí phạt chậm trả
                                    <span></span>
                                </label>
                                <label class="kt-checkbox">
                                    <input type="checkbox" name="ck_typeMoney" value="7" checked> Phí tất toán trước hạn
                                    <span></span>
                                </label>
                                <label class="kt-checkbox">
                                    <input type="checkbox" name="ck_typeMoney" value="9" checked> Nợ cũ
                                    <span></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button class="btn btn-success" id="btn_saveSetting_totalMoney" onclick="settingMGLP.saveSettingMoney()">Lưu cấu hình</button>
            </div>
        </div>
    </div>
</div>
