﻿@{
    ViewData["Title"] = "Tima"; 
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="kt-grid kt-grid--ver kt-grid--root">
    <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v3 kt-login--signin" id="kt_login">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" style="background-image: url(assets/media/bg/bg-3.jpg);">
            <div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
                <div class="kt-login__container">
                    <div class="kt-login__logo">
                        <a href="#"> 
                            <img src="~/img/logo.png" />
                        </a>
                    </div>
                    <div class="kt-login__signin">
                        <div class="kt-login__head">
                            <h3 class="kt-login__title">Đăng nhập</h3><br />
                            <p class="kt-login__title" id="preCheckLogin"><i class="kt-spinner kt-spinner--lg kt-spinner--warning"></i></p> 
                        </div> 
                        <form class="kt-form" id="formLogin" style="display:none;">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Tên đăng nhập" name="UserName" autocomplete="off" id="Username">
                            </div>
                            <div class="input-group">
                                <input class="form-control" type="password" placeholder="Mật khẩu" name="Password" id="Password">
                            </div>
                            <div class="row kt-login__extra">
                                <div class="col">
                                    <label class="kt-checkbox">
                                        <input type="checkbox" name="remember" id="remember"> ghi nhớ
                                        <span></span>
                                    </label>
                                </div>
                                <div class="col kt-align-right">
                                </div>
                            </div>
                            <div class="kt-login__actions">
                                <button id="kt_login_signin_submit" class="btn btn-brand btn-elevate kt-login__btn-primary">Đăng nhập</button>
                            </div>
                        </form>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div> 
<script> 
    ApiUrl = '@ViewBag.ApiUrl';
</script>
