﻿
@{
    Layout = null;
}

<div class="modal fade" id="modal_edit_InsuranceStatus" role="dialog" aria-hidden="true" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="header_changeInsuranceStatus"><b></b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="kt-form kt-form--label-right">
                <input type="hidden" id="txtInsuranceStatus_loanID" value="">
                <input type="hidden" id="txtInsuranceStatus_status" value="">
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                            Nội dung
                        </label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            <textarea class="form-control" rows="3" id="txtInsuranceStatus_Note" name="txtInsuranceStatus_Note" placeholder="Nhập nội dung"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                        
                        </label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            <button type="button" class="btn btn-primary" id="btn_save_InsuranceStatus">Xác nhận</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_exit_InsuranceStatus">Hủy</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
