﻿@{
    Layout = null;
}
<style>
    .k-state-selected {
        background-color: lightcoral !important;
    }

    .imgViewer {
        max-height: inherit;
    }

    .header_line_200 {
        position: relative;
        margin: 0 0 10px 0;
        font-style: italic;
    }

        .header_line_200:before {
            content: "";
            display: block;
            position: absolute;
            left: 260px;
            right: 20px;
            bottom: 8px;
            border-top: 1px solid #e8ecef;
        }

    .alignRight {
        text-align: end;
    }
</style>
<div class="modal fade" id="Modal_create_RequestCloseContract" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="VerifyInvoiceHeaderId" style="font-weight:bold;">Tạo request đóng hợp đồng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <!--begin::modal-body-->
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <!--begin::Thông tin khách hàng-->
                        <div id="CustomerDiv">
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Tìm khách hàng:</label>
                                <div class="col-lg-3">
                                    <input type="text" class="form-control" id="CustomerKeySearch" placeholder="Nhập tên KH, CMT, SĐT">
                                    @*value="Nguyễn Thị Thanh Nhàn"*@
                                </div>
                                <label class="col-form-label"> </label>
                                <div class="col-lg-3">
                                    <button href="#" class="btn btn-info m-btn kt-btn--air" id="btnGetCustomer" onclick="searchLoan.FindCustomer()">
                                        <span>
                                            Tìm kiếm
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group row Class_Invoice_Customer">
                                <div class="col-md-12">
                                    <div id="GridCustomer_Verify">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row dv-customer" hidden>
                            <div class="col-md-12 col-xl-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-sm-12 col-form-label alignRight">Tên khách hàng: </label>
                                    <div class="col-md-8 col-sm-12">
                                        <label class="col-form-label" id="txt_reqClose_Customer"></label>
                                        <input type="hidden" value="0" id="hdd_TimaLoanID">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xl-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-sm-12 col-form-label alignRight">Mã hợp đồng: </label>
                                    <div class="col-8">
                                        <div class="input-group ">
                                            <label class="col-form-label" id="txt_reqClose_ContractCode"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row dv-customer" hidden>
                            <div class="col-md-12 col-xl-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-sm-12 col-form-label alignRight">Sản phẩm: </label>
                                    <div class="col-md-8 col-sm-12">
                                        <label class="col-form-label" id="txt_reqClose_Product"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xl-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-sm-12 col-form-label alignRight">Trạng thái: </label>
                                    <div class="col-8">
                                        <div class="input-group ">
                                            <label class="col-form-label" id="txt_reqClose_Status"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row dv-customer" hidden>
                            <div class="col-md-12 col-xl-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-sm-12 col-form-label alignRight">Ngày đóng hợp đồng: </label>
                                    <div class="col-md-8 col-sm-12">
                                        <input type="text" class="form-control kt_datepicker" id="txt_create_closeDate" value="@DateTime.Now.ToString("dd/MM/yyyy")" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xl-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-sm-12 col-form-label alignRight">Lý do đóng HĐ: </label>
                                    <div class="col-md-8 col-sm-12">
                                        <select class="form-control kt-select2" name="sl_reqClose_Reason" style="width:100%" id="sl_reqClose_Reason">
                                            <option value="-111" selected>Chọn lý do</option>
                                            <option value="1">KH có nhiều hợp đồng</option>
                                            <option value="2">Tất toán lùi ngày</option>
                                            <option value="3">Đủ tiền, trả cavet cho KH</option>
                                            <option value="4">Lý do khác</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row div-Reason" hidden>
                            <div class="col-md-12 col-xl-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-sm-12 col-form-label alignRight">Lý do khác: </label>
                                    <div class="col-md-8 col-sm-12">
                                        <textarea id="txt_reqClose_Reason" rows="4" cols="53"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::modal-body-->
            </div>
            <div class="modal-footer row">
                <div class="col-12" style="text-align: right;">
                    <button class="btn btn-primary" id="btn_Save_ReqCloseContract"><i class="flaticon2-circle-vol-2"></i> Lưu</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="searchLoan.ClearModal()"><i class="flaticon-close"></i> Đóng </button>
                </div>
            </div>
        </div>
    </div>
</div>
