﻿
@{
    ViewData["Title"] = "Danh sách Log Call Ag";
}

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Danh sách Log Call Ag
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right">
                <div class="row align-items-center">
                    <div class="col-xl-12 kt-margin-b-10">
                        <div class="row align-items-center">
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile" style="max-width:250px">
                                <label><b>LinkUrl</b></label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Tìm theo Link Url" id="txt_search_linkUrl">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile" style="max-width:250px">
                                <label><b>DataPost</b></label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Tìm theo DataPost" id="txt_search_dataPost">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <label><b>Ngày tạo</b></label>
                                <div class="input-group ">
                                    <input type="text" class="form-control kt_datepicker" id="datetimeSearch" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile" style="max-width:200px">
                                <label><b>Trạng thái</b></label>
                                <select class="form-control kt-select2" name="sl_search_status" id="sl_search_status">
                                    <option value="0">Chờ call</option>
                                    <option value="1">Call Success</option>
                                    <option value="2" selected>Call Fail</option>
                                    <option value="3">Đã Block</option>
                                </select>
                            </div>
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile  kt-margin-t-25">
                                <button href="#" class="btn btn-info m-btn kt-btn--air" id="btnGetData">
                                    <span>
                                        Tìm kiếm
                                    </span>
                                </button>
                                <div class="d-md-none kt--margin-bottom-10"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="grid">

                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/scripts/logCallAg/logCall.js"></script>
}
