﻿
@{
    Layout = null;
}


<div class="modal fade" id="modal_edit_permission" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="header_edit_permission"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="kt-form kt-form--label-right">
                <div class="modal-body">
                    <input type="hidden" id="hdd_edit_permissionID" value="0" />
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                            Link Api
                        </label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            <input class="form-control" type="text" id="txt_edit_LinkApi" name="LinkApi" placeholder="Nhập link API">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label col-lg-3 col-sm-4 col-4">
                            Miêu tả
                        </label>
                        <div class="col-lg-6 col-sm-8 col-8">
                            <textarea class="form-control kt-input" id="txt_edit_DisplayText" rows="4" name="DisplayText" type="text" placeholder="Nhập miêu tả"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="txt_company_creatE_Code" class="col-form-label col-lg-3 col-sm-4 col-4" style="margin-top:5px;">Hoạt động</label>
                        <div class="kt-radio-inline col-lg-6 col-sm-8 col-8 pl-2">
                            <input data-switch="true" type="checkbox" checked="checked" id="kt_switch_2">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-3">

                    </div>
                    <div class="col-9">
                        <button type="button" class="btn btn-primary" id="btn_save_permission"><i class="fa fa-save"></i>Thêm mới</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btn_exit_permission">Đóng</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
