﻿@{
    ViewData["Title"] = "Quản lý tiền vào ra của thẻ ngân hàng";
}
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Báo cáo tiền vào ra của thẻ ngân hàng
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right">
                <div class="row align-items-center">
                    <div class="col-xl-12 kt-margin-b-10">
                        <div class="row align-items-center">
                            <input type="hidden" id="ip-page-current" name="pagecurrent" value="1" />
                            <input type="hidden" id="ip-top" name="top" value="25" />

                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                                <label><b>Từ ngày</b></label>
                                <div class="input-group date">
                                    <input type="text" class="form-control" value="@DateTime.Now.ToString("dd-MM-yyyy")" id="fromDate" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                                <label><b>Đến ngày</b></label>
                                <div class="input-group date">
                                    <input type="text" class="form-control" value="@DateTime.Now.ToString("dd-MM-yyyy")" id="toDate" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                                <label style="min-width: 50px"><b>Thẻ ngân hàng</b></label>
                                <select class="form-control kt-select2" name="BankCardID" id="BankCardID">
                                    <option value="0">
                                        --Tất cả--
                                    </option>
                                    @foreach (var item in ViewBag.LstBankCard)
                                    {
                                        <option value="@item.Value">
                                            @item.Text
                                        </option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile  kt-margin-t-25">
                                <button href="#" class="btn btn-info m-btn kt-btn--air" id="btnGetData">
                                    <span>
                                        Tìm kiếm
                                    </span>
                                </button>
                                <div class="d-md-none kt--margin-bottom-10"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div id="grid">

                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>
    </div>
</div>
<partial name="~/Views/Bank/Detail/_BankCardDetailsInvoice.cshtml" />
@section Scripts {
    <environment include="Development">
        <script src="~/static/scripts/Bank/bank.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/static/scripts/Bank/bank.min.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    </environment>
    <script>

        $(document).ready(function () {
            bank.Init();
        });
    </script>
}
