﻿
@{
    ViewData["Title"] = "Quản lý SMS";
    var smsAnalytics_Status = FrontEnd.Common.Helpers.EnumHelpers.GetValues<LMS.Common.Constants.SmsAnalytics_Status>().ToList();
} 
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    @ViewData["Title"]
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-section">
                <div class="kt-section__content"> 
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Trạng thái</label>
                                <select class="form-control kt-select2" name="Status" id="Status">
                                    <option value="-111">
                                        Tất cả
                                    </option>
                                    @if (smsAnalytics_Status != null && smsAnalytics_Status.Count > 0)
                                    {
                                        foreach (var item in smsAnalytics_Status)
                                        {
                                            <option value="@item.Key">
                                                @item.Value
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Từ ngày</label>
                                <div class="input-group date">
                                    <input type="text" class="form-control kt_datepicker" id="fromDate" autocomplete="off" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Đến ngày</label>
                                <div class="input-group date">
                                    <input type="text" class="form-control kt_datepicker" id="toDate" autocomplete="off" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="la la-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label style="padding-top: 12px;"></label>
                                <div class="input-group date">
                                    <button href="#" class="btn btn-info m-btn kt-btn--air" id="btnGetData" onclick="smsManage.GridRefresh()">
                                        <span>
                                            Tìm kiếm
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <div class="kt-section">
                <div class="kt-section__content">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="grid">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
@section Scripts {
    <environment include="Development">
        <script src="~/static/scripts/Bank/smsManage.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/static/scripts/Bank/smsManage.min.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION" asp-append-version="true"></script>
    </environment>
    <script> 
    </script>
}
