﻿@{
    Layout = null;
}
<style>
    .k-state-selected {
        background-color: lightcoral !important;
    }

    .imgViewer {
        max-height: inherit;
    }

    .header_line_200 {
        position: relative;
        margin: 0 0 10px 0;
        font-style: italic;
    }

        .header_line_200:before {
            content: "";
            display: block;
            position: absolute;
            left: 260px;
            right: 20px;
            bottom: 8px;
            border-top: 1px solid #e8ecef;
        }

    .alignRight {
        text-align: end;
    }

    #div_infor {
        display: none;
    }
</style>
<div class="modal fade" id="model_CreateDocument" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="lb_update_profile_title" style="font-weight:bold;">Thêm mới tài liệu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <!--begin::modal-body-->
                <div class="kt-portlet">
                    <div class="kt-portlet__body">
                        <div class="row SelectecdCustomer_div">
                            <input type="hidden" value="0" id="hd_LoanID">
                             <input type="hidden" value="0" id="hd_ContractCode">
                            
                            <div class="col-md-12 col-xl-12">
                                <div class="form-group row">
                                    <label class="col-md-2 col-sm-12 col-form-label">Thông tin khách hàng <span style="color:red">*</span> </label>
                                    <div class="col-md-6 col-sm-12">
                                        <input type="text" class="form-control" id="CustomerKeySearch" value="" placeholder="Nhập tên KH, CMT, SĐT">
                                    </div>
                                    <div class="col-md-2 col-sm-12">
                                        <button class="btn btn-primary" id="btnGetCustomer" onclick="createdocument.FindCustomer()">
                                            <i class="fa fa-search"></i>
                                            Tìm kiếm
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group row Class_Invoice_Customer">
                                    <div class="col-md-12">
                                        <div id="GridCustomer_Verify">
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div id="div_infor">
                                    <div class="form-group row">
                                        <label class="col-md-2  col-form-label">Loại tài liệu <span style="color:red">*</span> </label>
                                        <div class="col-md-4">
                                            <select class="form-control kt-select2" style="width:100%" name="sl_create_reportId" id="sl_create_reportId">
                                                <option value="-111" selected>Tất cả</option>
                                                <option value="@((int)LMS.Common.Constants.ExcelReport_TypeReport.PropertySeizure)">Quyết định thu giữ tài sản</option>
                                                <option value="@((int)LMS.Common.Constants.ExcelReport_TypeReport.DebtRestructuring)">Tái cấu trúc nợ</option>
                                                <option value="@((int)LMS.Common.Constants.ExcelReport_TypeReport.UnsecuredFinalDebtNotice)">Thông báo nợ lần cuối tín chấp</option>
                                                <option value="@((int)LMS.Common.Constants.ExcelReport_TypeReport.NotifyPropertySeizure)">Thông báo thu giữ tài sản</option>
                                                <option value="@((int)LMS.Common.Constants.ExcelReport_TypeReport.NotifyVoluntarilyHandingOverPropertye)">Thông báo tự nguyện bàn giao tài sản</option>
                                            </select>
                                        </div>
                                        <label class="col-md-2 col-form-label" style="text-align:right">Số CVTB <span style="color:red">*</span> </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="txt_cvtb" placeholder="Số CVTB">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2  col-form-label">Ngày tất toán </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control kt_datepicker" id="txt_DateCloseLoan" value="@DateTime.Now.ToString("dd/MM/yyyy")" placeholder="Ngày tất toán" />
                                        </div>
                                        <label class="col-md-2  col-form-label" style="text-align:right">Ngày chậm nhất thanh toán </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control kt_datepicker" id="txt_DateFinshCloseLoan" placeholder="Ngày chậm nhất thanh toán" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2  col-form-label">Thời gian thu giữ xe </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control kt_datepicker" id="txt_NumberDayKeep" placeholder="Thời gian thu giữ xe">
                                        </div>
                                        <label class="col-md-2  col-form-label" style="text-align:right">Tên chuyên viên XLN </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="txt_NameEmployess" placeholder="Tên chuyên viên XLN" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2  col-form-label">Số ĐT chuyên viên XLN </label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id="txt_PhoneEmployees" placeholder="Số ĐT chuyên viên XLN" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--end::modal-body-->
            </div>
            <div class="modal-footer row">
                <div class="col-12" style="text-align: right;">
                    <button class="btn btn-success" id="btn_updateProfile" onclick="createdocument.AddExport()"><i class="flaticon2-circle-vol-2"></i> Lưu</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="flaticon-close"></i> Đóng </button>
                </div>
            </div>

        </div>
    </div>
</div>
