﻿@{
    ViewData["Title"] = "Tìm kiếm đơn vay";
}

<style>

    .m-form .m-form__group {
        padding-bottom: 0;
    }

    .table-detail {
        margin-bottom: 0px;
    }

        .table-detail th, .table-detail td {
            border: unset !important
        }

    .alert {
        margin-bottom: 0;
    }

    .alert-primary:not(.m-alert--outline) {
        color: white;
        background-color: #5867dd;
        border-color: #5867dd;
    }

    .nextstep-buttons {
        float: left;
        margin: 8px;
        margin-left: 50px;
    }

    .loan-buttons:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        line-height: 0;
        border: 21px solid rgba(12,11,11,0);
        border-left: 13px solid #5d78ff;
        border-top: 30px solid #5d78ff;
        right: -34px;
        bottom: 0;
    }

    .swal-wide {
        width: 1000px !important;
        /*padding :10px !important;*/
    }

    .nav-link {
        padding: 0.7rem 0.7rem;
    }

    .nav-tabs .nav-link {
        border: none !important
    }

    table tr {
        cursor: pointer;
    }

    .tab-table th, .tab-table td {
        padding: 0.30rem !important;
    }

    .m-demo .m-demo__preview {
        background: #f4f6f8;
        border: none !important
    }

    .content-details-loan {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
    }

    .nav-tabs .nav-link.active {
        font-weight: bold !important;
    }


    .border-child {
        border-left: 1px solid rgba(34,36,38,.1) !important;
    }

    /*slideshow*/
    .scroll {
        margin: 4px, 4px;
        padding: 4px;
        background-color: green;
        overflow-x: hidden;
        overflow-x: auto;
        text-align: justify;
        min-height: 372px;
    }


    .zoomImgs {
        width: 150px;
    }

    .table-detail {
        margin-bottom: 0px;
    }

        .table-detail th, .table-detail td {
            border: unset !important
        }

    .tab-table th, .tab-table td {
        padding: 0.30rem !important;
    }

    .m-demo .m-demo__preview {
        background: #f4f6f8;
        border: none !important
    }

    .content-details-loan {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
    }

    .table {
        color: white !important;
    }

    .btn.btn-default, .btn.btn-secondary {
        background: white;
        border-color: #ebedf2;
    }
</style>
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Tìm kiếm đơn vay
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right">
                <div class="row align-items-center">
                    <div class="col-xl-12 kt-margin-b-10">
                        <div class="row align-items-center">
                            <input type="hidden" id="ip-page-current" name="pagecurrent" value="1" autocomplete="off">
                            <input type="hidden" id="ip-top" name="top" value="25" autocomplete="off">
                            <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                                <label><b>Mã HĐ, tên KH, CMT, SĐT</b></label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Tìm theo mã hợp đồng, họ tên KH, sđt, cmt" id="KeySearch" autocomplete="off">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-4 kt-margin-b-20-tablet-and-mobile  kt-margin-t-25">
                                <button class="btn btn-info m-btn kt-btn--air" id="btnGetData">
                                    <span>
                                        Tìm kiếm
                                    </span>
                                </button>
                                <div class="d-md-none kt--margin-bottom-10"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-5 col-sm-12" id="col1">
                        <div class="row">
                            <div class="col-xl-12">
                                <div id="gridLoan">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-sm-12" id="col2">
                        <partial name="~/Views/SearchLoan/Detail/_partialDetailMain.cshtml" />
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>

    </div>
</div>
<partial name="~/Views/SearchLoan/Detail/_partialModalChungTu.cshtml" />
<partial name="~/Views/SearchLoan/TopFriendsFacebook.cshtml" />
<partial name="~/Views/SearchLoan/Location/DetailsLocation.cshtml" />
<partial name="~/Views/SearchLoan/Location/RealtimeLocation.cshtml" />
<partial name="~/Views/Shared/Loan/_partialModalThongBao.cshtml" />

@section scripts {
<script src="~/static/scripts/searchLoan/loan.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/static/scripts/searchLoan/loanDetail.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/static/js/SlideShow/SlideShow.min.js"></script>
<script src="~/static/js/SlideShow/jQueryRotate.min.js"></script>
<script src="~/static/js/SlideShow/jquery.transit.min.js"></script>
<script src="~/static/scripts/searchLoan/Detail/tatToanHD.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/static/scripts/searchLoan/Detail/lichSuNhacNo.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/static/scripts/searchLoan/Detail/lichSuXetDuyet.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/static/scripts/searchLoan/Detail/duThu.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/static/scripts/searchLoan/Detail/tabLichDongLaiPhi.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/static/scripts/searchLoan/Detail/lichSuDongTien.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<link href="~/static/css/video-js.css" rel="stylesheet" />
<script src="~/static/js/video.min.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/static/scripts/searchLoan/Detail/tabVideo.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/static/scripts/searchLoan/Detail/tabChungTu.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/static/scripts/shared/GoogleMapModule.js"></script>
<script src="~/static/scripts/loan/scriptMap/scripts.bundle.js"></script>
<script src="~/static/scripts/shared/thongBaoNo.min.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/static/scripts/appraisal/uploadImageDropzone.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script src="~/static/scripts/appraisal/historyComment.js?t=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
<script type="text/javascript">
    $(document).ready(function () {
        GoogleMapModule.Init('');
        GoogleMapModule.InitMapOnly('googleMapDiv');
        tongDai.GetServiceCallInfoByUserID("btnClickToCallCustomer");
        lichSuNhacNo.GetDataSelectReason();
    });
</script>
<script src="~/static/assets/ckeditor/ckeditor.js"></script>
<script>
    var editor = CKEDITOR.replace('txt_Note', {
        customConfig: "config.js",
    });
</script>
<script src="~/static/scripts/searchLoan/Detail/tranData.js"></script>
}
