﻿@{
    Layout = null;
}

<div class="modal fade" id="modal_add_edit_aff" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="headerId"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="kt-form kt-form--label-right">
                <div class="modal-body">
                    <input type="hidden" id="hdd_AffID" value="0" />
                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Mã CTV <span class="kt-font-danger">*</span>
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <input class="form-control" type="text" id="txt_create_FullName" name="Code" disabled placeholder="Nhập Mã CTV">
                            </div>
                        </div>
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                SĐT <span class="kt-font-danger">*</span>
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <input class="form-control" type="text" id="txt_create_Phone" name="Phone" placeholder="Nhập SĐT">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Tên CTV <span class="kt-font-danger">*</span>
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <input class="form-control" type="text" id="txt_create_AffName" name="AffName" placeholder="Nhập tên CTV">
                            </div>
                        </div>
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                CMND/CCCD
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <input class="form-control" type="text" id="txt_create_NumberCard" name="NumberCard" placeholder="Nhập CMND/CCCD">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Email <span class="kt-font-danger">*</span>
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <div class="input-group ">
                                    <input type="text" class="form-control" id="txt_create_Email" name="Email" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Ngày sinh
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <div class="input-group ">
                                    <input type="text" class="form-control kt_datepicker" id="txt_create_StrBirthDay" name="BirthDay" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Địa chỉ
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <input class="form-control" type="text" id="txt_create_Address" name="Address" placeholder="Nhập Địa chỉ">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Mã số thuế
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <div class="input-group ">
                                    <input type="text" class="form-control" id="txt_create_TaxNumber" name="TaxNumber" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Hệ số hoa hồng
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <div class="input-group ">
                                    <input type="number" class="form-control" id="txt_create_PercentCommision" name="PercentCommision" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Ngày kí HĐ
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <div class="input-group ">
                                    <input type="text" class="form-control kt_datepicker" id="txt_create_ContractDate" name="ContractDate" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Hết hợp đồng
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <div class="input-group ">
                                    <input type="text" class="form-control kt_datepicker" id="txt_create_FinishContractDate" name="FinishContractDate" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Số tài khoản
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <div class="input-group ">
                                    <input type="text" class="form-control" id="txt_create_BankNumber" name="BankNumber" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Ngân hàng
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <select class="form-control kt-select2 sl_create_Bank" style="width:100%" name="BankID" id="sl_create_Bank">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Chi nhánh
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <input class="form-control" type="text" id="txt_create_BankPlace" name="BankPlace" placeholder="Nhập Địa chỉ">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6 row">
                            <label class="col-form-label col-lg-4 col-sm-4 col-4">
                                Chuyên viên kinh doanh <span class="kt-font-danger">*</span>
                            </label>
                            <div class="col-lg-8 col-sm-8 col-8">
                                <select class="form-control kt-select2 sl_create_StaffID" style="width:100%" name="StaffID" id="sl_create_StaffID">
                                </select>
                                <span class="form-text text-muted"></span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer row">
                    <div class="col-3">
                    </div>
                    <div class="col-9" style="text-align: right;">
                        <button type="button" class="btn btn-primary" id="btn_save"><i class="fa fa-save"></i>Thêm mới</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


