﻿<div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
    <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-default ">
        <ul class="kt-menu__nav ">
            <li data-toggle="kt-tooltip" data-placement="right" data-original-title="Chuyển cửa hàng khác" class="kt-menu__item kt-menu__item--submenu kt-menu__item--rel kt-menu__item--open-dropdown" aria-haspopup="true" data-ktmenu-submenu-toggle="click">
                <a href="javascript:;" class="kt-menu__link kt-menu__toggle">
                    <span class="kt-menu__link-icon">
                        <i class="i-con-bar m-menu__link-icon flaticon-line-graph"></i>
                    </span><span class="kt-menu__link-text">Tima </span> <i class="kt-menu__hor-arrow la la-angle-down"></i>
                </a>
                <div class="kt-menu__submenu  kt-menu__submenu--fixed kt-menu__submenu--left" style="width:1000px">
                    <span class="kt-menu__arrow kt-menu__arrow--adjust"></span>
                    <div class="kt-menu__subnav">
                        <ul class="kt-menu__content">
                            <li class="kt-menu__item" routerLinkActive="kt-menu__item--active" routerLinkActiveOptions="{ exact: true }">
                                <div class="kt-menu__toggle col-12 text-center" style="margin-top:10px">
                                    <h4> Danh sách các cửa hàng</h4>
                                </div>
                                <div class="m-content">
                                    <div class="col-md-12">
                                        <div class="row" id="dv_result_shop">

                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>