﻿@{
    Layout = null;
}

<div class="modal fade" id="modal_DetailAssignmentLoan" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="headerId">Thông tin hợp đồng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form class="kt-form kt-form--label-right">
                <div class="modal-body">
                    <div id="detailAssignmentLoan">
                    </div>
                </div>
                <div class="modal-footer row">
                    <div class="col-3">
                    </div>
                    <div class="col-9" style="text-align: right;">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="hiddenModal_create_loan_lender">Thoát</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


