﻿@{
    ViewData["Title"] = "Danh sách Chia đơn";
}
<style>
    #dv_result .k-grid-content {
        min-height: 100px;
    }
</style>
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                    <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                    Danh sách Chia đơn
                </h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-actions">
                    <button class="btn btn-success m-btn kt-btn--air" onclick="keepCar.DownLoadFileExcel()">
                        <i class="fa fa-download"></i>
                        <span>
                            Download File mẫu
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right">
                <div class="row align-items-center">
                    <div class="col-xl-12 kt-margin-b-10">
                        <div class="row align-items-center">
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <label><b>Mã hợp đồng</b></label>
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Mã TC" id="txt_search">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <label style="min-width: 100px"><b>Giỏ</b></label>
                                <select class="form-control kt-select2" name="sl_Type" id="sl_Type">
                                    <option value="-111">Tất cả</option>
                                    <option value="0">Giỏ nợ</option>
                                    <option value="1">Thu giữ xe</option>
                                </select>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <label style="min-width: 100px"><b>Trạng thái chia đơn</b></label>
                                <select class="form-control kt-select2" name="sl_Status" id="sl_Status">
                                    <option value="-111">Tất cả</option>
                                    <option value="1">Đã chia</option>
                                    <option value="0">Chưa chia</option>
                                </select>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                                <label style="min-width: 100px"><b>Nhân viên</b></label>
                                <select class="form-control kt-select2" name="sl_Employees" id="sl_Employees">
                                </select>
                            </div>
                            <div class="col-md-2 kt-margin-b-20-tablet-and-mobile  kt-margin-t-25">
                                <button class="btn btn-info m-btn kt-btn--air" id="btnGetData">
                                    <span>
                                        Tìm kiếm
                                    </span>
                                </button>
                                <div class="d-md-none kt--margin-bottom-10"></div>
                                <button class="btn btn-success m-btn kt-btn--air" onclick="keepCar.ImportExcelStatus()">
                                    <i class="fa fa-file-import"></i>
                                    <span>
                                        Import excel
                                    </span>
                                </button>
                                <input type="file" id="upload-status" name="upload-status" style="display:none" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="dv_result">
                        </div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
        </div>

    </div>
</div>
<partial name="~/Views/KeepCar/_partialDetailAssignmentLoan.cshtml" />
@section Scripts {
    <script src="~/static/scripts/keepCar/list.js?t1=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    <script src="~/static/scripts/xlsx.full.min.js"></script>
    <script src="~/static/scripts/meta/bindSelect.min.js?t1=@FrontEnd.Common.Helpers.Constants.STATIC_VERSION"></script>
    <script>
        $(document).ready(function () {
            keepCar.Init();
        });
    </script>
}
